<div class="inner">
  <header class="mobile-show">
    <h2>Latest user stories</h2>
  </header>

  <div id="storiesLatestView" class="m-latest-stories">
    <ul id="storiesLatestListView" class="m-latest-list">
      {{#each stories}}
        <li class="m-latest-story {{#if @first}}-active{{/if}}">
          <article class="info">
            <h3>LATEST USER STORIES</h3>
            <h2><a href="/stories/{{id}}">{{title}}</a></h2>
            <p>{{truncate details 295}}</p>
          </article>

          <div class="img">
            <div class="bg" style="background-image: url({{image}})">
            </div>
          </div>
        </li>
      {{/each}}
    </ul>

    <ul id="storiesLatestNavigationView" class="m-latest-navigation">
      {{#each stories}}
        <li class="{{#if @first}}-active{{/if}}">
          <div class="img">
            <div class="bg" style="background-image: url({{image}})">
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
