<section class="header-stories">
  <div class="inner">
    <header>
      <a class="back-btn desktop-show" href="/stories/crowdsourcedstories">
        <svg><use xlink:href="#shape-fast-forward-left"></use></svg>
        Back to crowdsourced stories
      </a>

      <h2>{{story.title}}</h2>

      <p>
        {{#if story.location}}
          <span>{{story.location}}</span>
          <span>&middot;</span>
        {{/if}}

        <span>{{formattedDate}}</span>
        {{#unless story.hideUser}}
          {{#if story.name}}
            <span>&middot;</span>
            <span>Submitted by {{story.name}}</span>
          {{/if}}
        {{/unless}}
      </p>
    </header>
  </div>
</section>

<section class="content-stories">
  <div class="inner">
    <div id="carrousel-stories" class="story-carrousel">
      {{#if media}}
        <a href='#' data-direction="prev" class='btn-nav previous'></a>
        <a href='#' data-direction="next" class='btn-nav next'></a>
      {{/if}}

      <ul>
        {{#each media}}
          {{#if this.embed}}
            <li class='slide'>{{{this.embed}}}</li>
          {{/if}}
        {{/each}}

        <li class="slide">
          <div class="bg is-cover" style="background-image: url({{map}});"></div>
        </li>
      </ul>

      <div id="paginationView" class="main-slider-pagination"></div>
    </div>

    <div class='story-content'>
      <p>
        {{story.details}}
      </p>
    </div>

    <div class="story-share_buttons">
      <div id="fb-root"></div>
      <a href="http://twitter.com/share" target="_blank" class="twitter-share-button share-button" data-url="{{currentUrl}}" data-text="Global Forest Watch">Tweet</a>
      <div class="g-plusone share-button" data-size="medium" data-href="{{currentUrl}}"></div>
      <div class="fb-like share-button" data-href="{{currentUrl}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
  </div>
</section>

<div id="fullScreenView" class="story-modal"></div>

<section class="more-stories-section">
</section>

<section id="interestingView" class="interesting-section"></section>
