<a href="/stories/{{story.id}}">
  <figure>
    <div class="bg" style="background-image: url({{icon_url}})"></div>
  </figure>

  <article class="info">
    <h4>{{story.id}} {{story.title}}</h4>
    <p>{{story.details}}</p>
    <button class="btn gray medium">More</button>
  </article>
</a>
