<div class="analysis-downloads-overlay"></div>
<div class="analysis-downloads-window">
  <a href="#" class="btn-analysis-downloads close">
    <svg><use xlink:href="#shape-close"></use></svg>
  </a>
  <h2>Download data</h2>
	<ul>
    {{#if downloads.svg}}
	    <li><a class="download-mobile-link" data-type="forest-change" href="{{{downloads.svg}}}" target="_blank">SVG</a></li>
    {{/if}}
    {{#if downloads.geojson}}
      <li><a class="download-mobile-link" data-type="forest-change" href="{{{downloads.geojson}}}" target="_blank">GeoJSON</a></li>
    {{/if}}
    {{#if downloads.shp}}
      <li><a class="download-mobile-link" data-type="forest-change" href="{{{downloads.shp}}}" target="_blank">SHP</a></li>
    {{/if}}
    {{#if downloads.kml}}
      <li><a class="download-mobile-link" data-type="forest-change" href="{{{downloads.kml}}}" target="_blank">KML</a></li>
    {{/if}}
    {{#if downloads.csv}}
      <li><a class="download-mobile-link" data-type="forest-change" href="{{{downloads.csv}}}" target="_blank">CSV</a></li>
    {{/if}}
    {{#if downloads.json}}
      <li><a class="download-mobile-link" data-type="forest-change" href="{{{downloads.json}}}" target="_blank">JSON</a></li>
    {{/if}}
    {{#if downloads.cdb}}
	  <li><a class="download-mobile-link" data-type="forest-change" href="http://oneclick.carto.com/?file={{downloads.cdb}}&provider=gfw'" target="_blank">Open in Carto DB</a></li>
    {{/if}}
	</ul>
  <p>By downloading data you agree to the <a href="/terms">GFW Terms of Service</a></p>
</div>
