<div class="c-home-applications">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-home-applications__title text -title-xs -color-1">BROWSE APPLICATIONS</div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="c-home-applications__app-button -left js_slide_prev">
        <svg class="icon">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </div>
      <div class="c-home-applications__app-button -right js_slide_next">
        <svg class="icon">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
  <ul class="c-home-applications__list">
    <div class="slider js_slider">
      <div class="frame js_frame">
        <ul class="slides js_slides">
          <% apps.each_with_index do |app, i| %>
            <li class="slide js_slide" data-section="<%= app['key'] %>" data-position="<%= i %>">
              <div class="c-home-applications__section">
                <div>
                  <svg class="icon">
                    <use xlink:href="#icon-app-<%= app['key'] %>"></use>
                  </svg>
                  <div class="c-home-applications__section-title text -title-big -light -color-1"><%= app['title'] %></div>
                </div>
                <div class="c-home-applications__section-description text -paragraph -color-1"><%= app['description'] %></div>
                <div class="c-home-applications__background">
                  <img src="<%= app['background'] %>" />
                </div>
                <a href="<%= app['link'] %>" target="_blank" class="c-home-applications__linker js-home-applications-linker"></a>
              </div>
              <div class="c-home-applications__background-color"></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </ul>
</div>
