<div class="c-home-summary">
  <div class="row">
    <div class="small-12 columns">
      <div class="slider js_slider">
        <div class="frame js_frame">
          <ul class="slides js_slides">
            <% cards.each_with_index do |card, index| %>
              <li class="slide js_slide <% if index == 0 %>active<% end %>">
                <div class="c-home-summary-item">
                  <div class="c-home-summary-item__title text -title -light -color-2"><%= card['title'] %></div>
                  <div class="c-home-summary-item__paragraph text -paragraph -color-2"><%= card['paragraph'] %></div>
                  <div class="c-home-summary-item__button">
                    <%= render 'shared/buttons/regular', text: card['button'], color: 'green', url: card['url'], buttonClass: 'js-home-summary-item-linker' %>
                  </div>
                  <img class="c-home-summary-item__background -<%= card['background_orientation'] %>" src="/assets/home/card-<%= index %>.png" width="482" />
                </div>
              </li>
            <% end %>
          </ul>
          <div class="c-home-summary__arrow-button -left -hidden js_slide_prev">
            <%= render 'shared/buttons/arrow', orientation: 'left' %>
          </div>
          <div class="c-home-summary__arrow-button -right js_slide_next">
            <%= render 'shared/buttons/arrow', orientation: 'right' %>
          </div>
        </div>
        <div class="c-home-summary__slider-dots js_slider_dots">
          <%= render 'shared/slider_dots', count: cards.size, color: 'green' %>
        </div>
      </div>
    </div>
  </div>
</div>
