<%= render 'layouts/svg_icons' %>
<%= render 'shared/svg_icons_countries' %>
<%= render 'shared/modal' %>

<% content_for :css do %>
  <%= stylesheet_link_tag "countries" %>

  <style>
    .overview_graph { margin: 0; }

    .overview_graph__title,
    .countries_list { display: none; }

    .overview_graph__years { border: 0; }
  </style>
<% end %>
<header class="embed-header">
  <h1><a href="http://www.globalforestwatch.org/" target="_blank">Global Forest Watch</a></h1>
</header>

<div id="countryOverviewView">
  <%= render 'shared/overview' %>
</div>
<div id='sources' class="sources is-hidden">
  <h2 class='source_category_title'>Countries overview</h2>

  <ul class='sources'>
    <li id='canopy' class='source-item first'>
      <div class='source_header'>
        <strong class='source_title'>Threshold Settings Info Window</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_download'>
        </div>

        <div class='source_table'>
          <p>Drag the handle to adjust the minimum tree cover canopy (TCC) density for UMD/Google tree cover and tree cover loss displayed in the graphs and rankings. TCC density represents the estimated percent of a UMD/Google pixel that was covered by tree canopy in the year 2000, as determined from the analysis of satellite imagery. For the tree cover loss data, TCC density therefore corresponds to the density of tree cover <u>before</u> loss occurred.</p>
          <p>Adjustments to the minimum TCC density will only affect UMD/Google tree cover and tree cover loss. This feature does not pertain to UMD/Google tree cover gain or to other GFW data layers or statistics. UMD/Google tree cover gain is displayed with a set minimum TCC density greater than 50%.</p>
          <p>This feature is also available for the map visualization, analysis, and for individual country profiles. The TCC density minimum selected for the overview graphs and rankings will not be applied automatically to other areas of the website.</p>
        </div>
      </div>
    </li>
    <li id='total_loss'>
      <div class='source_body'>
        <p><strong class='source_title'>TREE COVER LOSS</strong></p>


        <p>The graph displays global tree cover loss per year from 2001 through 2013 in millions of hectares (Mha).</p>

        <p>The rankings list countries from greatest to least tree cover loss from 2001 through 2013. The infographics located within the rankings highlight the trend of tree cover loss.</p>

        <p>The graph and rankings visualize tree cover loss data from the University of Maryland (UMD)/Google. Due to variation in research methodology and/or date of content, this data cannot be compared accurately against tree cover and tree cover gain. Accordingly, “net” loss cannot be calculated by subtracting tree cover gain from tree cover loss, and current (or post-2000) tree cover cannot be determined by subtracting annual tree cover loss from year 2000 tree cover.  For more information on this data set, please visit the <a href="http://data.globalforestwatch.org/datasets/93ecbfa0542c42fdaa8454fa42a6cc27" target="_blank">data page</a>.</p>

        <p>Please also note that “tree cover” does not equate to “forest cover.” “Tree cover” refers to the biophysical presence of trees, which may be a part of natural forests or tree plantations. Thus, loss of tree cover may occur for many reasons, including deforestation, fire, and logging within the course of sustainable forestry operations.</p>
      </div>
    </li>

    <li id='percent_loss'>
      <div class='source_body'>
        <p><strong class='source_title'>TREE COVER GAIN</strong></p>


        <p>The figure represents global tree cover gain from 2001 through 2012 in millions of hectares (Mha).</p>

        <p>The rankings list countries from greatest to least tree cover gain from 2001 through 2012.</p>

        <p>The graph and rankings visualize tree cover gain data from the University of Maryland (UMD)/Google. Due to variation in research methodology and/or date of content, this data cannot be compared accurately against tree cover and tree cover loss. Accordingly, “net” loss cannot be calculated by subtracting tree cover gain from tree cover loss.  For more information on this data set, please visit the <a href="http://data.globalforestwatch.org/datasets/6c9f379a362e4926ad24b58444f4ba67" target="_blank">data page</a>.</p>

        <p>Please also note that “tree cover” does not equate to “forest cover.” “Tree cover” refers to the biophysical presence of trees, which may be a part of natural forests or tree plantations. Thus, tree cover gain may indicate the growth of tree canopy within natural or managed forests.</p>
      </div>
    </li>

    <li id='total_extent'>
      <div class='source_body'>
        <p><strong class='source_title'>TREE COVER</strong></p>

        <p>The figure displays global tree cover in 2000 in millions of hectares (Mha).</p>

        <p>The rankings list countries from greatest to least tree cover in 2000.</p>

        <p>The graph and rankings visualize tree cover data from the University of Maryland(UMD)/Google. Due to variation in research methodology and/or date of content, this data cannot be compared accurately against tree cover loss and gain. Accordingly, current (or post-2000) tree cover cannot be determined by subtracting annual tree cover loss from year 2000 tree cover.  For more information on this data set, please visit the <a href="http://data.globalforestwatch.org/datasets/7876b225f8034a0ebba79fad4afb80ad" target="_blank">data page</a>.</p>

        <p>Please also note that “tree cover” does not equate to “forest cover.” “Tree cover” refers to the biophysical presence of trees, which may be a part of natural forests or tree plantations.</p>

      </div>
    </li>

    <li id='ratio'>
      <div class='source_body'>
        <p><strong class='source_title'>Cover Loss relative to Cover Gain</strong></p>

        <p>The graph and rankings below were created using tree cover, loss, and gain data from the University of Maryland/Google. For more information on this dataset, please visit the <a href="http://data.globalforestwatch.org/datasets/93ecbfa0542c42fdaa8454fa42a6cc27" target="_blank"> data page</a>.</p>

        <p>This graph plots the ratio of tree cover loss (2001-2013) to gain (2001-2012) against tree cover in 2000. Points that fall above the dotted line (ratio = 1) represent countries that have more loss than gain between 2001 and 2012, whereas points that fall below the line represent the opposite -- countries that have more gain than loss within the same time period. The higher the point, the greater the ratio of tree cover loss to gain.</p>

        <p>The horizontal position of the points correlates to the 2000 tree cover of the corresponding country. Points that fall far to the right represent countries with greater tree cover in 2000, whereas points that fall far to the left represent countries with less tree cover.</p>

        <p>The rankings below list all countries from greatest to least ratio of tree cover loss to gain (loss/gain), for the period of 2001-2012. Large numbers (and all numbers >1) indicate a greater degree of tree cover loss, relative to gain, whereas small numbers (all numbers <1) indicate a greater degree of tree cover gain, relative to loss.</p>

        <p><b>Note:</b>Although the graph and rankings compare tree cover loss and gain, the sum of tree cover loss and gain does not equal “net loss.”</p>
      </div>
    </li>

    <li id='domains'>
      <div class='source_body'>
        <p><strong class='source_title'>CLIMATE DOMAIN</strong></p>


        <p>The infographic displays total tree cover loss per year by climate domain from 2001-2013, with loss represented by bubble size (e.g., domains with greater tree cover loss are represented by larger bubbles).</p>

        <ul class='bullets'>
          <li>Boreal Domain consists of boreal coniferous forest, boreal mountain system, boreal tundra woodland</li>
          <li>Subtropical Domain consists of subtropical dry forest, subtropical humid forest, subtropical mountain system, subtropical steppe, subtropical desert</li>
          <li>Temperate Domain consists of temperate mountain system, temperate oceanic forest, temperate continental forest, temperate desert, temperate steppe</li>
          <li>Tropical Domain consists of tropical shrubland, tropical dry forest, tropical desert, tropical moist deciduous forest, tropical mountain system</li>
        </ul>

        <p>The rankings below list climate domains from greatest to least tree cover loss for the period of 2001-2013.</p>

        <p>The graph and rankings visualize tree cover loss data from the University of Maryland(UMD)/Google. Due to variation in research methodology and/or date of content, this data cannot be compared accurately against tree cover and tree cover gain. Accordingly, “net” loss cannot be calculated by subtracting tree cover gain from tree cover loss.  For more information on this data set, please visit the <a href="http://data.globalforestwatch.org/datasets/93ecbfa0542c42fdaa8454fa42a6cc27" target="_blank"> data page</a>.</p>

        <p>Please also note that “tree cover” does not equate to “forest cover.” “Tree cover” refers to the biophysical presence of trees, which may be a part of natural forests or tree plantations. Thus, loss of tree cover may occur for many reasons, including deforestation, fire, and logging within the course of sustainable forestry operations. Similarly, tree cover gain may indicate the growth of tree canopy within natural or managed forests.</p>

      </div>
    </li>
  </ul>
</div>


<%= render "shared/js_footer" %>
