<div class="shadow"></div>
<div class="application-modal-content">
  <a href="#" class="btn-direction is-left" data-dir="left">Izq</a>
  <a href="#" class="btn-direction is-right" data-dir="right">Der</a>
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="application-modal-header">
    <div class="icon"><svg><use xlink:href="{{app.svg}}"></use></svg></div>
    <header>
      <h2>{{app.name}}</h2>
      <small>{{app.source}}</small>
    </header>
  </div>
  <div class="application-modal-info">
    {{app.content}}
  </div>
  <footer>
    <a href="{{app.href}}" class="{{app.classname}}">{{app.link_text}}</a>
  </footer>
</div>
