  <div class="explanation">
    This is a test
  </div>

<div class="demo">
  <h3>Buttons</h3>

  <%= snippet %(
  <a href="#" class="btn">
    <span>Hi, I'm a button</span>
  </a>), '— This is the <strong>canonical</strong> way for creating buttons.' %>

  <%= snippet %(
  <a href="#" class="btn hollow">
    <span>Hi, I'm a hollow button</span>
  </a>) %>

  <%= snippet %(
  <a href="#" class="btn disabled">
    <span>Hi, I'm a disabled button</span>
  </a>) %>
</div>

<div class="demo">
  <h3>Checkboxes</h3>

  <%= snippet %(
  <a href="#" class="checkbox">
    This is a checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox checked">
    This is a selected checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox disabled">
    This is a diabled checkbox
  </a>) %>
  
</div>

<div class="demo">
  <h3>Forms</h3>


  <%= snippet %(
  <div class="input-field">
    <input type="text" />
  </div>
  ) %>

  <%= snippet %(
  <div class="textarea">
    <textarea></textarea>
  </div>
  ) %>

</div>
