<div class="explanation">
  This is a test
</div>

<div class="demo">
  <h3>Legend</h3>

  <%= snippet %(
<div class="legend">
  <div class="header">
    <strong>Title</strong>
    <a href="#" class="handle"></a>
    <a href="#" class="close"></a>
  </div>
  <div class="content">
    <ul>
      <li>Concession 1</li>
      <li>Concession 2</li>
      <li>Concession 3</li>
      <li>Concession 3</li>
      <li>Concession 3</li>
      <li>Concession 3</li>
      <li>Concession 3</li>
    </ul>
  </div>
  <div class="t"></div><div class="b"></div>
</div>) %>
</div>

<div class="demo">
  <h3>Buttons</h3>

  <%= snippet %(
  <a href="#" class="btn">
    <span>Hi, I'm a button</span>
  </a>), { :comment => '— This is the <strong>canonical</strong> way for creating buttons.', :snippet_class => :dark } %>

  <%= snippet %(
  <a href="#" class="btn hollow">
    <span>Hi, I'm a hollow button</span>
  </a>) %>

  <%= snippet %(
  <a href="#" class="btn disabled">
    <span>Hi, I'm a disabled button</span>
  </a>) %>
</div>

<div class="demo">
  <h3>Checkboxes and radiobuttons</h3>

  <%= snippet %(
  <a href="#" class="radio checked"\n data-name="test">
    A radio button
  </a>

  <a href="#" class="radio"\n data-name="test">
    Another radio button
  </a>), { :comment => "— Don't forget to add the data-name", :snippet_class => :dark } %>

  <%= snippet %(
  <a href="#" class="radio checked fire"\n data-name="test-2">
    A radio button
  </a>

  <a href="#" class="radio fire"\n data-name="test-2">
    Another radio button
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox">
    This is a checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox concessions">
    This is a checkbox with a class
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox checked">
    This is a selected checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox disabled">
    This is a diabled checkbox
  </a>) %>

</div>

<div class="demo">
  <h3>Forms</h3>


  <%= snippet %(
  <div class="input-field">
    <input type="text" />
  </div>
  ) %>

  <%= snippet %(
  <div class="textarea">
    <textarea></textarea>
  </div>
  ) %>

</div>


<div class="demo">
  <h3>Colors</h3>
  <p>Scss shorthand / RGB code.</p>

  <div class="snippet">

    <h4>Basics</h4>
    <ul class="colors">
      <li><%= color '#75ADB5', "cBackground" %></li>
      <li><%= color '#74ACB4', "cGreen" %></li>
      <li><%= color '#264C59', "cDarkGreen" %></li>
      <li><%= color '#F7BD63', "cLink" %></li>
      <li><%= color '#F2B257', "cGold" %></li>
    </ul>

    <h4>Grays</h4>
    <ul class="colors">
      <li><%= color '#FFFFFF', "cWhite" %></li>
      <li><%= color '#CCCCCC', "cGray4" %></li>
      <li><%= color '#999999', "cGray3" %></li>
      <li><%= color '#666666', "cGray2" %></li>
      <li><%= color '#333333', "cGray1" %></li>
      <li><%= color '#000000', "cGray0" %></li>
    </ul>

    <h4>Filters</h4>
    <ul class="colors">
      <li><%= color '#FF6699', "cConcessions" %></li>
      <li><%= color '#C04B73', "cConcessionsHover" %></li>
      <li><%= color '#00CED0', "cProtectedAreas" %></li>
      <li><%= color '#F2B257', "cMining" %></li>
      <li><%= color '#B2D26E', "cForest" %></li>
      <li><%= color '#E95850', "cFire" %></li>
    </ul>

    <h4>Blog</h4>
    <ul class="colors">
      <li><%= color 'rgba(117, 173, 181, 0.8)', "cTop" %></li>
      <li><%= color '#73ACB3', "cPostTitle" %></li>
      <li><%= color '#444444', "cPostBody" %></li>
    </ul>
  </div>
</div>



<div class="demo">
  <h3>Charts</h3>
  <div class="charts"></div>
</div>
