<div class="explanation">
  This is a test
</div>

<div class="demo">
  <h3>Buttons</h3>

  <%= snippet %(
  <a href="#" class="btn">
    <span>Hi, I'm a button</span>
  </a>), '— This is the <strong>canonical</strong> way for creating buttons.' %>

  <%= snippet %(
  <a href="#" class="btn hollow">
    <span>Hi, I'm a hollow button</span>
  </a>) %>

  <%= snippet %(
  <a href="#" class="btn disabled">
    <span>Hi, I'm a disabled button</span>
  </a>) %>
</div>

<div class="demo">
  <h3>Checkboxes</h3>

  <%= snippet %(
  <a href="#" class="checkbox">
    This is a checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox checked">
    This is a selected checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox disabled">
    This is a diabled checkbox
  </a>) %>

</div>

<div class="demo">
  <h3>Forms</h3>


  <%= snippet %(
  <div class="input-field">
    <input type="text" />
  </div>
  ) %>

  <%= snippet %(
  <div class="textarea">
    <textarea></textarea>
  </div>
  ) %>

</div>


<div class="demo">
  <h3>Colors</h3>
  <p>Scss shorthand / RGB code.</p>

  <div class="snippet">

    <h4>Basics</h4>
    <ul class="colors">
      <li><%= color '#75ADB5', "cBackground" %></li>
      <li><%= color '#74ACB4', "cGreen" %></li>
      <li><%= color '#264C59', "cDarkGreen" %></li>
      <li><%= color '#F7BD63', "cLink" %></li>
      <li><%= color '#F2B257', "cGold" %></li>
    </ul>

    <h4>Grays</h4>
    <ul class="colors">
      <li><%= color '#FFFFFF', "cWhite" %></li>
      <li><%= color '#CCCCCC', "cLightGray" %></li>
      <li><%= color '#999999', "cDarkGray" %></li>
      <li><%= color '#666666', "cNormalGray" %></li>
      <li><%= color '#333333', "cGray" %></li>
      <li><%= color '#000000', "cBlack" %></li>
    </ul>

    <h4>Filters</h4>
    <ul class="colors">
      <li><%= color '#FF6699', "cConcessions" %></li>
      <li><%= color '#C04B73', "cConcessionsHover" %></li>
      <li><%= color '#00CED0', "cProtectedAreas" %></li>
      <li><%= color '#F2B257', "cMining" %></li>
      <li><%= color '#B2D26E', "cForest" %></li>
      <li><%= color '#E95850', "cFire" %></li>
    </ul>

    <h4>Blog</h4>
    <ul class="colors">
      <li><%= color 'rgba(117, 173, 181, 0.8)', "cTop" %></li>
      <li><%= color '#73ACB3', "cPostTitle" %></li>
      <li><%= color '#444444', "cPostBody" %></li>
    </ul>
  </div>

</div>
