<section class='section country_graphs'>
  <div class='inner'>
    <ul class='columns'>
      <li class='column three graph forma ghost'>
        <a href='#' class='info' data-source='forma'><span>i</span></a>
        <div class='graph-title'>FORMA Alerts</div>
        <div class='graph-subtitle'><span>Humid Tropics</span></div>
        <div class='graph-amount'></div>
        <div class='graph-date'></div>
        <div class='coming_soon'>Not yet available for this country</div>
        <div class='frame'><div class='frame_bkg'></div></div>
        <a href='#' class='action disabled forma_dropdown-link' title='This chart of FORMA alerts only displays data from the humid tropics, which may or may not cover the extent of this country.'></a>
        <div class='forma_dropdown-menu'>
          <ul>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.svg?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>SVG</a></li>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.geojson?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>GeoJSON</a></li>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.shp?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>SHP</a></li>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.kml?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>KML</a></li>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.csv?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>CSV</a></li>
          </ul>
        </div>
        <div class='graph-action-subtitle'></div>
        <div class='graph-action-subtitle'>Download</div>
      </li>

      <li class='column three graph forest_loss ghost'>
        <a href='#' class='info' data-source='umd_tree_loss_gain'><span>i</span></a>
        <div class='graph-title'>UMD Tree Cover</div>
        <div class='graph-subtitle'><a href='#' class='hansen_dropdown-link'>Loss</a></div>
        <div class='hansen_dropdown-menu'>
          <ul>
            <li><a href='#' data-slug='loss'>Loss</a></li>
            <li><a href='#' data-slug='extent'>Extent</a></li>
            <li><a href='#' data-slug='countries_gain'>Loss vs. Gain</a></li>
          </ul>
        </div>
        <div class='graph-amount'></div>
        <div class='graph-date'></div>
        <div class='coming_soon'>Not yet available for this country</div>
        <div class='frame'><div class='frame_bkg'></div></div>
        <a href='#' class='action disabled' title='Download coming soon'></a>
        <div class='graph-action-subtitle'>Download coming soon</div>
      </li>

      <li class='column three graph map'>
        <a href='<%= map_coords %>' target="<%= controller_name === 'embed' ? '_blank' : '' %>" class='info' data-source='forest_map'><span>i</span></a>
        <a href='<%= map_coords %>' target="<%= controller_name === 'embed' ? '_blank' : '' %>">
          <div class='frame'>
            <%= image_tag static_map("#{@country['lat']}, #{@country['lng']}", '266x266', 4), :alt => @country['name'] %>
          </div>
        </a>
        <a href='<%= map_coords %>' class='action' title='Analyze forest change' target="<%= controller_name === 'embed' ? '_blank' : '' %>"></a>
        <div class='graph-action-subtitle'>Analyze</div>
      </li>
    </ul>
  </div>
</section>
