<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SEO -->
<title><%= @title && "#{@title} | " %>Global Forest Watch</title>
<meta name="keywords" content="<%= @keywords %>">
<meta name="author" content="World Resources Institute">
<meta name="description" content='<%= @desc %>' />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@globalforests" />
<meta name="twitter:description" content='<%= @desc %>' />

<!-- Open graph -->
<meta property="og:title" content='<%= @og_title || @title && "#{@og_title || @title} | " %>Global Forest Watch' />
<meta property="og:description" content='<%= @desc %>' />
<meta property="og:type" content="website" />
<meta property="og:image" content='<%= @img ? image_url(@img) : '/assets/preview.png' %>'>
<meta property="og:url" content='<%= request.original_url %>' />

<!-- Google verification -->
<meta name="google-translate-customization" content="95a31ce28e08eaf2-a31ff49177f3ed6f-g9553d70b9ef10300-15" />
<meta name="google-site-verification" content="xx82D6cZ40Hvf-TT9jkhfsVi11yIeShPcK0zcc7m7ak" />

<!-- keys -->
<%= csrf_meta_tags %>

<script><%= raw "window.metadata = #{@metadata.to_json};" %></script>
