<section class="section section_dark more_stories">
  <div class="inner">
    <h2 class="section-title"><%= t('stories.more_stories.title') %></h2>
    <p><%= t("stories.more_stories.text_html", :browse => link_to(t('stories.more_stories.browse'), map_path), :submit => link_to(t('stories.more_stories.submit'), new_story_path)) %></p>

    <ul class='columns'>
      <% @stories.each do |story| %>
        <li class='column five'>
          <%= link_to image_tag(story_image_or_map(story['media'][0]['preview_url'], story['coordinates'])), story_path(story['id']), :class => 'frame' %>

          <div class='infowindow'>
            <strong><%= link_to truncate(story['title'], :length => 20), story_path(story['id']) %></strong>
            <span><%= t("stories.more_stories.submitted_by", :name => story['name']) %></span>
            <div class="tip"></div>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="section-footer">
      <%= link_to (content_tag :span, t('stories.more_stories.submit_your')), new_story_path, :class => "btn dark_glow" %>
    </div>
  </div>
</section>
