<nav class="first-nav">
  <div class="scroll-none">
    <ul>
      <li class="nav-item mobile-hide">
        <div class="shape-house link <% if controller?("landing") %>current<% end %>">
          <svg class="icon shape-house"><use xlink:href="#icon-h-home"></use></svg>
          <span class="tooltip1 dark">Home</span>
        </div>

        <%= render 'shared/home_menu' %>
      </li>
      <li id="btnAppsMenu" class="nav-item">

        <div class="shape-apps link">
          <svg class="icon shape-apps"><use xlink:href="#icon-h-apps"></use></svg>
          <svg class="icon shape-close" style="display:none;"><use xlink:href="#icon-h-close"></use></svg>
          <span class="tooltip1 dark">Apps</span>
        </div>

        <%= render 'shared/apps_menu' %>

      </li>
    </ul>
  </div>
  <button class="btn-menu mobile-show" id="btn-menu">
    <svg class="icon hamburguer"><use xlink:href="#icon-h-menu"></use></svg>
    <svg class="icon close"><use xlink:href="#icon-h-close"></use></svg>
    <span>Menu</span>
  </button>
</nav>
<nav class="second-nav mobile-hide">
  <div>
    <ul>
      <li class="nav-item">
        <a href="http://blog.globalforestwatch.org">
          <svg class="icon shape-blog"><use xlink:href="#icon-h-blog"></use></svg>
          <span>Blog</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/howto" class="link <% if controller?("static") && action?("howto") %>current<% end %>">
          <svg class="icon"><use xlink:href="#icon-h-howto"></use></svg>
          <span>How to</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="http://data.globalforestwatch.org/" class="link <% if controller?("static") && action?("data") %>current<% end %>">
          <div class="home_data link">
            <svg class="icon"><use xlink:href="#icon-h-downloaddata"></use></svg>
            <span>Open Data Portal</span>
          </div>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="/my_gfw" class="link">
          <svg class="icon"><use xlink:href="#icon-h-mygfw"></use></svg>
          <span>My GFW</span>
        </a>
        <ul class="submenu-tooltip top">
          <li><a href="#" id="connect-my-gfw">Log in</a></li>
        </ul>
      </li> -->
      <li class="nav-item">
        <div class="link">
          <form action="/search">
            <svg class="icon"><use xlink:href="#icon-h-search"></use></svg>
            <input type="text" name="query" id="search-input" placeholder="Search GFW website">
          </form>
        </div>
      </li>
      <li id="google_translate_element_box1"><div id="google_translate_element"></div></li>
    </ul>
  </div>
</nav>
<script>
  if (! !!window.gfw) {
    var gfw = window.gfw = {
      config: {
        GFW_API_HOST: "<%= ENV['GFW_API_HOST'] %>",
        GFW_MOBILE: 1000
      },
      cacheVersion: "<%= ENV['CACHE_VERSION'] %>",
      layer_spec: "<%= ENV['LAYER_SPEC'] %>"
    };
  }
</script>
