<% content_for :title do %>
  <% t('.title') %>
<% end %>

<% content_for :splash_title do %>
  <% t('.splash_title_html') %>
<% end %>

<% content_for :js do %>
  <script type="text/javascript">
    var summary = { count: "<%= number_with_delimiter(@alerts_count) %>", title: "Forest clearing alerts in the last six months" }
  </script>
<% end %>

<% content_for :filters do %>
  <div id="filters">
    <div class="filters hide">
      <div class="inner">
        <ul></ul>
      </div>

      <a href="#" class="advance"></a>
      <div class="white-shadow"></div>
    </div>

    <div id="layer">
      <a href="#" class="title"></a>
      <div class="scroll">
        <ul class="links"></ul>
      </div>

      <div class="icon"></div>
      <div class="line"></div>
    </div>
  </div>
<% end %>

<%= render "common/map" %>

<div class="actions">
  <ul>
    <li class="community">
    <div class="icon"></div>
    <h2><%= t('.icons.community.title') %></h2>
    <p><%= t('.icons.community.text') %></p>
    <a href="https://groups.google.com/d/forum/globalforestwatch" class="btn green darker_glow community" target="_blank"><span><%= t('.icons.community.link') %></span></a>
    </li>

    <li class="analysis_tool">
    <div class="icon"></div>
    <h2><%= t('.icons.analysis.title') %></h2>
    <p><%= t('.icons.analysis.text') %></p>
    <%= link_to (content_tag :span, t('.icons.analysis.link')), {}, :class => "btn green darker_glow analysis" %>
    </li>

    <li class="submit_story">
    <div class="icon"></div>
    <h2><%= t('.icons.submit_story.title') %></h2>
    <p><%= t('.icons.submit_story.text') %></p>
    <%= link_to (content_tag :span, t('.icons.submit_story.link')), new_story_path, :class => "btn green darker_glow submit_story" %>

    </li>
  </ul>
</div>

<div class="home-stories">

  <h3>Stories about forest change</h3>
  <p>Browse <%= link_to "featured user stories", stories_path%> or <%= link_to "explore all in the map", map_path%>.</p>

  <ul>
    <% @featured.each do |story| %>
      <li>

      <a href="<%= story_path(story.id) %>">
        <%= image_tag(story_image_or_map(story.thumbnail_url.first, story.coords)) %>
        <div class="gradient"></div>
        <div class="frame"></div>
        <div class="title">
          <span><%= story.title %></span>
          <%= content_tag :strong, 'Read more' %>
        </div>
      </a>

      </li>
    <% end %>
  </ul>
  <div class="submit_story">
    <p>Do you have a story? Participate in detecting forest change.</p>
    <p><%= link_to (content_tag :span, "Submit your story"), new_story_path, :class => "btn green darker_glow" %></p>
  </div>

</div>

<div id="sources" class="sources">
  <%= render 'common/sources' %>
</div>

