<% content_for :title do
  t('.title')
end %>

<div class="infowindow">
  <div class="header">
    <a href="#" class="handler"></a>
    <strong>CGO. CONCE. 2011</strong>
    <a href="#" class="close"></a>
  </div>
  <div class="content">
    <ul>
      <li>Concession 1</li>
      <li>Concession 2</li>
      <li>Concession 3</li>
    </ul>
  </div>

  <div class="t"></div><div class="b"></div>
</div>

<div id="map_container">
  <div class="inner">
    <ul class="filters hidden">
      <li class="concessions"><%= link_to t('.map.filters.concessions') %><div class="line"></div></li><li class="protected-areas"><%= link_to t('.map.filters.protected_areas') %><div class="line"></div></li><li class="intact-forest"><%= link_to t('.map.filters.intact_forest') %><div class="line"></div></li><li class="mining"><%= link_to t('.map.filters.mining') %><div class="line"></div></li><li class="forest-cover"><%= link_to t('.map.filters.forest_cover') %><div class="line"></div></li><li class="forest"><%= link_to t('.map.filters.forest') %><div class="line"></div></li><li class="fire"><%= link_to t('.map.filters.fire') %><div class="line"></div></li><li class="carbon"><%= link_to t('.map.filters.carbon') %><div class="line"></div></li><li class="biodiversity"><%= link_to t('.map.filters.biodiversity') %><div class="line"></div></li></ul>
  </div>
  <div id="map" class="map"></div>
</div>

<div class="actions">
  <ul>
    <li class="crowdsourcing">
    <div class="icon"></div>
    <h2><%= t('.icons.crowdsourcing.title') %></h2>
    <p><%= t('.icons.crowdsourcing.text') %></p>
    <%= link_to (content_tag :span, t('.icons.crowdsourcing.link')), {}, :class => :btn %>
    </li>

    <li class="analysis">
    <div class="icon"></div>
    <h2><%= t('.icons.analysis.title') %></h2>
    <p><%= t('.icons.analysis.text') %></p>
    <%= link_to (content_tag :span, t('.icons.analysis.link')), {}, :class => "btn disabled" %>
    </li>

    <li class="keep_updated">
    <div class="icon"></div>
    <h2><%= t('.icons.keep_updated.title') %></h2>
    <p><%= t('.icons.keep_updated.text') %></p>
    <%= link_to (content_tag :span, t('.icons.keep_updated.link')), {}, :class => :btn %>
    </li>
  </ul>
</div>
