<% content_for :title do %>
  <h1 class="header-title"><%= t('.title') %></h1>
<% end %>

<% content_for :js do %>
  <script>
    var circleSummary = <%= @circles.to_json.html_safe %>;
  </script>
<% end %>

<% content_for :inner_header do %>
  <%= link_to ('Check out '+content_tag(:span, "GFW-Commodities")).html_safe, "http://commodities.globalforestwatch.org/",       class: 'gfw_sticker for_business', :target => '_blank' %>
  <%= link_to ('Check out '+content_tag(:span, "GFW-Fires")).html_safe,       "http://fires.globalforestwatch.org/", class: 'gfw_sticker fires', :target => '_blank' %>
<% end %>

<% content_for :filters do %>
  <div id='filters'>
    <div class='inner'>
      <div class='filters hide'>
        <ul class='filters-list'></ul>
      </div>

      <div id='layer'>
        <a href='#' class='filter-title'></a>

        <div class='filter-scroll'>
          <ul class='filter-links'></ul>
        </div>

        <div class='filter-icon'></div>
        <div class='filter-line'></div>
      </div>
    </div>
  </div>
<% end %>

<section class='map-container'>
  <div id='map' class='map'></div>
</section>

<section class='section section_dark home_actions'>
  <div class='inner'>
    <ul class='columns'>
      <li class='column three community'>
        <i></i>
        <h3><%= t('.actions.community.title') %></h3>
        <p><%= t('.actions.community.text') %></p>
        <a href='https://groups.google.com/d/forum/globalforestwatch' class='btn darker_glow community' target='_blank'><%= t('.actions.community.link') %></a>
      </li>

      <li class='column three analysis_tool'>
        <i></i>
        <h3><%= t('.actions.analysis.title') %></h3>
        <p><%= t('.actions.analysis.text') %></p>
        <%= link_to t('.actions.analysis.link'), map_path, :class => 'btn darker_glow map ajax analyzing' %>
      </li>

      <li class='column three submit_story'>
        <i></i>
        <h3><%= t('.actions.submit_story.title') %></h3>
        <p><%= t('.actions.submit_story.text') %></p>
        <%= link_to t('.actions.submit_story.link'), new_story_path, :class => 'btn darker_glow' %>
      </li>
    </ul>
  </div>
</section>

<%= render 'shared/stories' %>
<div id='sources' class='sources notranslate'>
  <%= render 'shared/sources' %>
</div>
