<% content_for :title do
  t('.title')
end %>

<% content_for :js do %>

  <script type="text/javascript">
    var summary = { count: "<%= number_with_delimiter(@alerts_count) %>", title: "Forest clearing alerts in the last six months" }
  </script>

<% end %>

<% content_for :download do %>
<div class="download">
  <div class="inner">
    <%= content_tag :h1, (raw t('layouts.application.footer.download.title', :url => "/countries")) %>
    <%= content_tag :p, (raw t('layouts.application.footer.download.data_html', :url => "/sources")) %>
</div>
</div>
<% end %>


<% content_for :filters do %>
<div id="filters"><%= render "common/filters" %></div>
<% end %>

<%= render "common/map" %>
<%= render "common/crowdsourcing" %>

<div class="actions">
  <ul>
    <li class="community">
    <div class="icon"></div>
    <h2><%= t('.icons.community.title') %></h2>
    <p><%= t('.icons.community.text') %></p>
    <a href="https://groups.google.com/forum/?fromgroups#!forum/gfw2" class="btn green white_glow community" target="_blank"><span><%= t('.icons.community.link') %></span></a>
    </li>

    <li class="analysis">
    <div class="icon"></div>
    <h2><%= t('.icons.analysis.title') %></h2>
    <p><%= t('.icons.analysis.text') %></p>
    <%= link_to (content_tag :span, t('.icons.analysis.link')), {}, :class => "btn green white_glow analysis" %>
    </li>

    <li class="keep_updated">
    <div class="icon"></div>
    <h2><%= t('.icons.keep_updated.title') %></h2>
    <p><%= t('.icons.keep_updated.text') %></p>
    <%= link_to (content_tag :span, t('.icons.keep_updated.link')), {}, :class => "btn green white_glow subscribe" %>
    </li>
  </ul>
</div>

<div class="home-stories">

  <h3>Stories about forest change</h3>
  <p>Browse <%= link_to "featured case studies", stories_path%> or <%= link_to "explore all in the map", map_path%>.</p>

  <ul>
    <% @featured.each do |story| %>
      <li>
      <a href="<%= story_path(story) %>">
        <%= image_tag(story_image_or_map(story.thumbnail_url, story.coords)) %>
        <div class="gradient"></div>
        <div class="frame"></div>
        <div class="title">
          <span><%= story.title %></span>
          <%= content_tag :strong, 'Read more' %>
        </div>
      </a>

      </li>
    <% end %>
  </ul>
  <div class="submit_story">
    <p>Do you have a story? Participate in detecting forest change.</p>
    <p><%= link_to (content_tag :span, "Submit your story"), new_story_path, :class => "btn green white_glow" %></p>
  </div>

</div>

