<% content_for :title do
  t('.title')
end %>

<div id="icons">

  <div class="crowdsourcing">
    <h2><%= t('.icons.crowdsourcing.title') %></h2>
    <p><%= t('.icons.crowdsourcing.text') %></p>
    <%= link_to t('.icons.crowdsourcing.link') %>>
  </div>

  <div class="analysis">
    <h2><%= t('.icons.analysis.title') %></h2>
    <p><%= t('.icons.analysis.text') %></p>
    <%= link_to t('.icons.analysis.link') %>>
  </div>

  <div class="keep_updated">
    <h2><%= t('.icons.keep_updated.title') %></h2>
    <p><%= t('.icons.keep_updated.text') %></p>
    <%= link_to t('.icons.keep_updated.link') %>>
  </div>

</div>

<div id="map_container">
  <ul class="filters">
    <li><%= link_to t('.map.filters.concessions') %></li>
    <li><%= link_to t('.map.filters.protected_areas') %></li>
    <li><%= link_to t('.map.filters.intact_forest') %></li>
    <li><%= link_to t('.map.filters.mining') %></li>
    <li><%= link_to t('.map.filters.forest_cover') %></li>
    <li><%= link_to t('.map.filters.forest') %></li>
    <li><%= link_to t('.map.filters.fire') %></li>
    <li><%= link_to t('.map.filters.carbon') %></li>
    <li><%= link_to t('.map.filters.biodiversity') %></li>
  </ul>
  <div id="map"></div>
</div>
