<% content_for :title do
  t('.title')
end %>

<div class="infowindow">
  <div class="header">
    <a href="#" class="handle"></a>
    <strong>CGO. CONCE. 2011</strong>
    <a href="#" class="close"></a>
  </div>
  <div class="content">
    <ul>
      <li>Concession 1</li>
      <li>Concession 2</li>
      <li>Concession 3</li>
    </ul>
  </div>

  <div class="t"></div><div class="b"></div>
</div>

<%= render "common/map" %>

<div class="actions">
  <ul>
    <li class="crowdsourcing">
    <div class="icon"></div>
    <h2><%= t('.icons.crowdsourcing.title') %></h2>
    <p><%= t('.icons.crowdsourcing.text') %></p>
    <%= link_to (content_tag :span, t('.icons.crowdsourcing.link')), {}, :class => :btn %>
    </li>

    <li class="analysis">
    <div class="icon"></div>
    <h2><%= t('.icons.analysis.title') %></h2>
    <p><%= t('.icons.analysis.text') %></p>
    <%= link_to (content_tag :span, t('.icons.analysis.link')), {}, :class => "btn disabled" %>
    </li>

    <li class="keep_updated">
    <div class="icon"></div>
    <h2><%= t('.icons.keep_updated.title') %></h2>
    <p><%= t('.icons.keep_updated.text') %></p>
    <%= link_to (content_tag :span, t('.icons.keep_updated.link')), {}, :class => :btn %>
    </li>
  </ul>
</div>

<% content_for :js do %>
  <script type="text/javascript">
    var summary = {
        count: "2,931",
        title: "Forest clearing alerts in the last 15 days"
      }
  </script>
<% end %>
