<% content_for :title do
  t('.title')
end %>

<div id="icons">

  <div class="crowdsourcing">
    <h2><%= t('.icons.crowdsourcing.title') %></h2>
    <p><%= t('.icons.crowdsourcing.text') %></p>
    <a href="#"><%= t('.icons.crowdsourcing.link') %></a>
  </div>

  <div class="analysis">
    <h2><%= t('.icons.analysis.title') %></h2>
    <p><%= t('.icons.analysis.text') %></p>
    <a href="#"><%= t('.icons.analysis.link') %></a>
  </div>

  <div class="keep_updated">
    <h2><%= t('.icons.keep_updated.title') %></h2>
    <p><%= t('.icons.keep_updated.text') %></p>
    <a href="#"><%= t('.icons.keep_updated.link') %></a>
  </div>

</div>
