<% content_for :title do
  t('.title')
end %>

<% content_for :download do %>
<div class="download">
  <div class="inner">
    <%= content_tag :h1, (raw t('layouts.application.footer.download.title', :url => "/countries")) %>
    <%= content_tag :p, (raw t('layouts.application.footer.download.data_html', :url => "/sources")) %>
</div>
</div>
<% end %>

<%= render "common/map" %>
<%= render "common/subscribe" %>
<%= render "common/analysis" %>
<%= render "common/crowdsourcing" %>

<div class="actions">
  <ul>
    <li class="crowdsourcing">
    <div class="icon"></div>
    <h2><%= t('.icons.crowdsourcing.title') %></h2>
    <p><%= t('.icons.crowdsourcing.text') %></p>
    <%= link_to (content_tag :span, t('.icons.crowdsourcing.link')), {}, :class => "btn crowdsourcing" %>
    </li>

    <li class="analysis">
    <div class="icon"></div>
    <h2><%= t('.icons.analysis.title') %></h2>
    <p><%= t('.icons.analysis.text') %></p>
    <%= link_to (content_tag :span, t('.icons.analysis.link')), {}, :class => "btn analysis" %>
    </li>

    <li class="keep_updated">
    <div class="icon"></div>
    <h2><%= t('.icons.keep_updated.title') %></h2>
    <p><%= t('.icons.keep_updated.text') %></p>
    <%= link_to (content_tag :span, t('.icons.keep_updated.link')), {}, :class => "btn subscribe" %>
    </li>
  </ul>
</div>

<div class="home-stories">

  <h3>Stories behind forest clearing</h3>
  <p>Browse <a href="">all stories</a> or <a href="">submit yours</a>. Participate in detecting forest change.</p>

  <ul>
    <% @featured.each do |story| %>
      <li>
        <%= image_tag 'tmp/stories1.png' %>
        <div class="gradient"></div>
        <div class="title">
          <span><%= story.title %></span>
          <%= link_to 'Read more', story_path(story) %>
        </div>
      </li>
    <% end %>
  </ul>

</div>

<%= render "common/js_templates" %>
