<% content_for :title do
  t('.title')
end %>

<% content_for :download do %>
<div class="download">
  <div class="inner">
    <%= content_tag :h1, (raw t('layouts.application.footer.download.title', :url => "#")) %>
    <%= content_tag :p, (raw t('layouts.application.footer.download.data_html', :url => "#")) %>
</div>
</div>
<% end %>

<%= render "common/map" %>

<div class="actions">
  <ul>
    <li class="crowdsourcing">
    <div class="icon"></div>
    <h2><%= t('.icons.crowdsourcing.title') %></h2>
    <p><%= t('.icons.crowdsourcing.text') %></p>
    <%= link_to (content_tag :span, t('.icons.crowdsourcing.link')), {}, :class => :btn %>
    </li>

    <li class="analysis">
    <div class="icon"></div>
    <h2><%= t('.icons.analysis.title') %></h2>
    <p><%= t('.icons.analysis.text') %></p>
    <%= link_to (content_tag :span, t('.icons.analysis.link')), {}, :class => "btn disabled" %>
    </li>

    <li class="keep_updated">
    <div class="icon"></div>
    <h2><%= t('.icons.keep_updated.title') %></h2>
    <p><%= t('.icons.keep_updated.text') %></p>
    <%= link_to (content_tag :span, t('.icons.keep_updated.link')), {}, :class => :btn %>
    </li>
  </ul>
</div>


<% content_for :js do %>
  <script type="text/javascript">
    var summary = {
      count: "2,931",
      title: "Forest clearing alerts in the last 15 days"
    }
  </script>

  <script id="infowindow-item-template" type="text/x-underscore-template">
    <li id="{{ id }}" class="{{ c }}"><a href="#">{{ name }}</a></li>
  </script>

  <script id="infowindow-template" type="text/x-underscore-template">
    <div class="infowindow">
      <div class="header">
        <strong>Legend</strong>
        <a href="#" class="handle"></a>
        <a href="#" class="close"></a>
      </div>
      <div class="content">
        <ul>
          {{ layers }}
        </ul>
      </div>

      <div class="t"></div><div class="b"></div>
    </div>
  </script>

  <script id="layer-item-radio-template" type="text/x-underscore-template">
    <li class="{{ c }}"><a href="#" class="radio" data-name={{ c }}>{{name}}</a></li>
  </script>

  <script id="layer-item-checkbox-template" type="text/x-underscore-template">
    <li class="{{ c }}"><a href="#" class="checkbox">{{name}}</a></li>
  </script>

  <script id="filter-template" type="text/x-underscore-template">
    <li class="{{ c }}" data-id="{{ data }}">
    <div class="icon"></div>
    <a href="#">{{ name }}</a>
    <div class="line"></div>
    <div class="box"></div>
    </li>
  </script>

  <script id="circle-template" type="text/x-underscore-template">
    <div class="circle">
      <div class="inner">
        <div class="counter">{{count}}</div>
        <div class="title">{{title}}</div>
        <div class="background"></div>
        <div class="explore">Explore the map</div>
      </div>
    </div>
  </script>
<% end %>
