<div class="widget -big-separation">
  <div class="back-loading back-loading-annual-cover-loss -show"></div>
  <h4 class="title -icons">
    Annual Tree cover loss
    <div class="widget-actions">
      <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
      <svg class="icon icon-gray-share js-share-link" data-share-embed-url="/embed/country_widget/tree_cover_loss/{{iso}}{{#if region}}/{{region}}{{/if}}" data-share-embed-width="600" data-share-embed-height="420"><use xlink:href="#icon-gray-share"></use></svg>
    </div>
  </h4>
  <div class="m-widget-annual-tree-cover-loss">
    <div class="filter-list -mobile">
      <ul class="list-mobile">
        <li>Time range <span class="data data-time-range js-open-tree-cover-loss-modal"></span></li>
        <li>Canopy density <span class="data data-thresh js-open-tree-cover-loss-modal"></span></li>
        <li>Measurement <span class="data data-measure js-open-tree-cover-loss-modal"></span>, Data source <span class="data data-source js-open-tree-cover-loss-modal"></span></li>
      </ul>
    </div>
    <div class="filter-list -desktop">
      <div class="filter -time-range-container">
        <div class="select-container">
          <span class="label -separation-bottom">Time range</span>
          <div class="c-select">
            <div class="wrapper">
              <select id="annual-tree-cover-loss-start-year">
                {{#each years}}
                  <option value="{{this.year}}" {{#if this.selectedMin}}selected{{/if}}>{{this.year}}</option>
                {{/each}}
              </select>
              <div class="select-clear" style="display: none;">✕</div>
              <svg class="icon arrow-select select-arrow -green-icon"><use xlink:href="#arrow-select"></use></svg>
            </div>
          </div>
        </div>
        <div class="text-container">
          <span class="label">to</span>
        </div>
        <div class="select-container">
          <div class="c-select">
            <div class="wrapper">
              <select id="annual-tree-cover-loss-end-year">
                {{#each years}}
                  <option value="{{this.year}}" {{#if this.selectedMax}}selected{{/if}}{{#if this.enable}}{{else}}disabled{{/if}}>{{this.year}}</option>
                {{/each}}
              </select>
              <div class="select-clear" style="display: none;">✕</div>
              <svg class="icon arrow-select select-arrow -green-icon"><use xlink:href="#arrow-select"></use></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="filter">
        <div class="label">Canopy density</div>
        <div class="container">
          <div class="c-select">
            <div class="wrapper">
              <select id="annual-tree-cover-loss-thresh">
                {{#each thresh}}
                  <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>>{{this.value}}</option>
                {{/each}}
              </select>
              <div class="select-clear" style="display: none;">✕</div>
              <svg class="icon arrow-select select-arrow -green-icon"><use xlink:href="#arrow-select"></use></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="filter">
        <div class="label">Measurement</div>
        <div class="container">
          <div class="c-switch">
            <ul class="options">
              <li class="active">ha</li>
              <li class="disabled">%</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="filter">
        <div class="label">Data source</div>
        <div class="container">
          <div class="c-switch">
            <ul class="options">
              <li class="active">GFW</li>
              <li class="disabled">FAO</li>
              <li class="disabled">PRODES</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row annual-tree-cover-loss-row">
      <div class="column small-12 annual-tree-cover-loss-container">
        <div class="total-loss">
          <div class="name">Total cover loss ({{minYear}} - {{maxYear}})</div>
          <div class="value">{{totalCoverLoss}} <span class="unit">ha</span></div>
          <div class="area-info-total-loss" id="area-aprox-total-value">(Aprox.: Extent of <span id="country-aprox-annual-tree-cover-loss"></span>)</div>
        </div>
      </div>
      <div class="column small-12 annual-tree-cover-loss-container">
        <div class="row container-data-graph">
          <div class="column small-4 container-annual-data">
            <div class="datasets">
              <div class="name">View tree cover loss within:</div>
              <div class="radio-group js-datasets">
                {{#each datasets}}
                  <div class="custom-radio">
                    <input id="dataset-{{slug}}" class="js-dataset" data-slug="{{slug}}" name="signup" type="radio" value="{{slug}}" {{#if @first}}checked{{/if}}>
                    <label for="dataset-{{slug}}"><span class="icon"></span>{{name}}</label>
                    <div class="value">
                      {{value}} <span class="unit">ha</span><span class="percentage"> ({{percentage}}%)</span>
                      <div class="aprox-area" id="dataset-country-aprox-{{slug}}"></div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
          <div class="column small-8 container-annual-graph">
            <div class="chart">
              <div class="m-grouped-chart">
                <div id="annual-tree-cover-loss-graph"></div>
              </div>
            </div>
            <div class="m-widget-tree-cover-loss-legend">
              <div id="widget-annual-tree-cover-loss-legend">
                <div class="legend-container">
                  <ul>
                    <li><div class="circle -outside" data-color="red"></div>Annual tree cover loss outside of plantations</li>
                    <li><div class="circle -within" data-color="pink"></div>Annual tree cover loss within plantations  (only for 2013 and later)</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="m-widget-tree-cover-loss-ranking -mobile">
              <div id="widget-annual-tree-cover-loss-ranking"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
