<div class="widget -short">
  <div class="row collapse">
    <div class="column small-12 big-bottom-separation">
      <h4 class="title -icons">
        Annual reforestation rate
      <div class="widget-actions">
        <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
        <svg class="icon icon-gray-share js-share-link" data-share-embed-url="/embed/country_widget/tree_cover_reforestation/{{iso}}" data-share-embed-width="600" data-share-embed-height="246"><use xlink:href="#icon-gray-share"></use></svg>
      </div>
      </h4>
    </div>
    <div class="small-12 reforestation-rate-container">
      <div class="small-6 medium-6">
        <div class="column contain-country-information">
          <p class="text">In 2010, the rate of reforestation was <span class="value">{{totalReforestation}} ha/year</span></p>
        </div>
      </div>
      <div class="small-6 medium-6">
        {{#each data}}
          {{#if this.hasData}}
            <div class="column small-12 medium-12 icons-name-container">
              <div class="name-country">
                <span>
                  <div>{{this.position}}</div>{{this.name}}
                </span>
              </div>
              <div class="m-widget-tree-cover-reforestation">
                {{#if this.icons}}
                  <ul class="measure-list">
                  {{#each this.icons.number}}
                    <li class="measure-icon"><span></span></li>
                  {{/each}}
                  {{#if this.icons.percentage}}
                    <li class="measure-icon"> <span style="transform: scaleY({{icons.percentage}});"</span> </li>
                  {{/if}}
                  </ul>
                {{/if}}
              </div>
            </div>
          {{else}}
            No data available
          {{/if}}
        {{/each}}
        <div class="legend column small-12 medium-12 legend-reforestation-container">
          <span class="measure-icon"><span></span></span>
          <span class="measure-value">= {{unitMeasure}} ha/year</span>
        </div>
      </div>
    </div>
  </div>
</div>
