<div class="widget -short">
  <div class="row collapse">
    <div class="column small-12 big-bottom-separation">
      <h4 class="title -icons">
        Annual reforestation rate
      <div class="widget-actions">
        <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
        <svg class="icon icon-gray-share"><use xlink:href="#icon-gray-share"></use></svg>
      </div>
      </h4>
    </div>

    {{#if hasData}}
      <div class="column small-12 medium-6">
        <p class="text">In 2010, the rate of reforestation was <span class="value">{{value}} {{unit}} Ha/year</span></p>
      </div>
      <div class="column small-12 medium-6">
        <div class="m-widget-tree-cover-reforestation">
          {{#if icons}}
            <ul class="measure-list">
            {{#each icons.number}}
              <li class="measure-icon"><span></span></li>
            {{/each}}
            {{#if icons.percentage}}
              <li class="measure-icon"> <span style="transform: scaleY({{icons.percentage}});"</span> </li>
            {{/if}}
            </ul>
          {{/if}}
          <div class="legend">
            <span class="measure-icon"><span></span></span>
            <span class="measure-value">= {{unitMeasure}} Ha/year</span>
          </div>
        </div>
      </div>
    {{else}}
      No data available
    {{/if}}
  </div>
</div>
