import React, { PureComponent } from 'react';
import PropTypes from 'prop-types';

// import styles from './{{ kebabCase name }}-styles.scss';

class {{ properCase name }} extends PureComponent { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <div>
        I am your {{properCase name}} component
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
