
<%= form_for :story, :url => @url do |f| %>

  <div class="field">
    <div class="input_title">
      <%= f.label      :title %>
      <%= error_message_for(@story, :title) %>
    </div>
    <div class="input-field huge<%= ' error' if !@story.errors[:title].empty? %>">
      <%= f.text_field :title, :placeholder => 'E.g. “Northern forests of Galizia”, “Coastal forest in Mozambique”...' %>
    </div>
  </div>

  <div class="field affected-area">

    <div class="input_title<%= ' error' if !@story.errors[:the_geom].empty? %>">
      <%= error_message_for(@story, :the_geom) %>
      <%= f.label 'Affected area' %>

      <% if @story.errors[:the_geom].empty? %>
        <span class="map-help">Drop a pin or draw a shape on the map around the affected area</span>
      <% end %>

    </div>

    <%= f.hidden_field :the_geom %>
    <%= f.hidden_field :uploads_ids %>

    <div id="map-container"<%= raw " class='error'" if !@story.errors[:the_geom].empty? %>>
      <a href="#" class="remove">Remove</a>
      <div id="zoom_controls"></div>
      <div id="stories_map" class="stories_map map"></div>
    </div>

  </div>

  <div class="field">
    <div class="optional">
      <%= f.label      :when_did_it_happen %>
      <span>Optional</span>
    </div>
    <div class="input-field huge">
      <%= f.text_field :when_did_it_happen, :placeholder => '“November 2010”, “Since 2005”, etc.' %>
    </div>
  </div>

  <div class="field">
    <div class="optional">
      <%= f.label      :details %>
      <span>Optional</span>
    </div>
    <div class="input-field textarea">
      <%= f.text_area :details, :placeholder => 'Affected species, deforestation type, source, etc.' %>
    </div>
  </div>

  <div class="field media">

    <%= f.label :media %>

    <div class="inner_media">

      <ul class="thumbnails">
        <li><%= link_to '', '#', :class => 'upload_picture' %></li>

        <% (@story.media || []).each do |media| %>
          <li id="photo_<%= media.cartodb_id %>" class="thumbnail">
            <img src="<%= media.thumbnail_url %>">
          </li>
        <% end %>

        <% (@story.unlinked_media || []).each do |media| %>
          <li id="photo_<%= media.cartodb_id %>" class="thumbnail">
            <img src="<%= media.thumbnail_url %>">
          </li>
        <% end %>

      </ul>

    </div>
    <p class="hint">Drag & drop images and videos to reorder them within the carrousel. The first one will be considered as the preferred one.</p>
  </div>


  <div class="field">

    <div class="input_title short">
      <%= f.label      :your_name %>
      <%= error_message_for(@story, :your_name) %>
    </div>

    <div class="input-field short<%= ' error' if !@story.errors[:your_name].empty? %>">
      <%= f.text_field :your_name %>
    </div>
    <p class="hint">Your story and name will be visible in Global Forest Watch site, but your email will never be published.</p>

  </div>

  <div class="field">

    <div class="input_title short">
      <%= f.label :your_email %>
      <%= error_message_for(@story, :your_email) %>
    </div>

    <div class="input-field short<%= ' error' if !@story.errors[:your_email].empty? %>">
      <%= f.text_field :your_email %>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Submit story' %>
  </div>

<% end %>

<div class="files"></div>
<input id="fileupload" type="file" name="media[image]" data-url="/media" multiple>

<aside>
<h3>Why submit stories</h3>
<p>User participation is crucial in forest monitoring. The more people who participate in sharing information, the better.</p>

<h3>HOW YOUR STORIES WILL BE USED</h3>
<p>Story information will be aggregated, processed and used by our data analysis algorithms for defining global forest status and detect trends and threads.</p>

<p>Your stories and photos will help improve forest clearing detection and spur action to stop forest clearing that should not be taking place.</p>

</aside>


