<% content_for :js do %>
  <script>
    $(function() {
      cdb.init(function() {
        window.stories_edit = new gfw.ui.view.StoriesEdit();
      });
    });
  </script>
<% end %>

<%= form_for :story, :url => @url, :method => (@method || :post) do |f| %>
  <div class="field <%= ' with_error' if !@story.errors[:title].empty? %>">
    <%= f.label :title %>

    <%= f.text_field :title, :placeholder => 'Illegal Logging in National Park' %>
  </div>

  <div class="field">
    <div class='optional'>
      <%= label_tag 'Affected areas' %> <span>Drop a pin on the map near the affected area</span>
    </div>

    <div class="stories_map-container" class="<%= 'error' if !@story.errors[:the_geom].empty? %>">
      <a href="/#remove" class="remove_story-link">Remove</a>
      <div id="zoom_controls"></div>
      <div id="stories_map" class="map stories_map"></div>
    </div>

    <%= f.hidden_field :the_geom %>
    <%= f.hidden_field :uploads_ids %>
  </div>

  <div class="field">
    <div class="optional">
      <%= f.label :where_did_it_happen %>
      <span>Optional</span>
    </div>

    <%= f.text_field :where_did_it_happen, :placeholder => '“Katingan Peatland area, Indonesia,” “Near Ambanja, Mozambique”' %>
  </div>

  <div class="field">
    <div class="optional short">
      <%= f.label :when_did_it_happen %>
      <span>Optional</span>
    </div>

    <%= f.date_field :when_did_it_happen %>
  </div>

  <div class="field">
    <div class="optional">
      <%= f.label :details %>
      <span>Optional</span>
    </div>

    <%= f.text_area :details, :placeholder => '“Selective logging with chainsaws,” “Burning peatland,” “Forest cleared for agriculture,” “Affected species”' %>
  </div>

  <div class="field">
    <div class="optional">
      <%= f.label :video %>
      <span>Optional</span>
    </div>

    <%= f.text_field :video, :placeholder => 'http://www.youtube.com/watch?v=lTG-0brb98I' %>
  </div>

  <div class="field">
    <%= f.label :media %>

    <ul class="thumbnails">
      <li><a href='#' class='upload_picture'></a></li>

      <% @story.media.each do |media| %>
        <% if media['thumbnail_url'].present? %>
          <li class="thumbnail sortable">
            <img src="<%= media['thumbnail_url'] %>" alt="" />
            <a href='#' class='destroy'></a>
          </li>
        <% end %>
      <% end %>
    </ul>

    <p class="hint">Drag & drop images and videos to reorder them within the carrousel. The first one will be considered as the preferred one.</p>
  </div>


  <div class="field">

    <div class="input_title short optional">
      <%= f.label      :your_name %>
      <span>Optional</span>
    </div>

    <div class="input-field short<%= ' error' if !@story.errors[:your_name].empty? %>">
      <%= f.text_field :your_name %>
    </div>
    <p class="hint">Your story and name will be visible in Global Forest Watch site, but your email will never be published.</p>

  </div>

  <div class="field">

    <div class="input_title short">
      <%= f.label :your_email %>
    </div>

    <div class="input-field short<%= ' error' if !@story.errors[:your_email].empty? %>">
      <%= f.text_field :your_email %>
    </div>
  </div>

  <% if action_name == 'edit' %>
  <div class="field with_checkbox">

    <a href="#" class="checkbox styled<%= @story.featured ? " checked" : "" %>">
      Show it as Story
      <input name="story[featured]" type="hidden" value="<%= @story.featured %>" />
    </a>

  </div>
  <% end %>

  <div class="field">
    <%= f.submit 'Submit story' %>
  </div>

<% end %>

<input id="fileupload" type="file" name="media[image]" multiple>
