
<%= form_for :story, :url => @url, :method => (@method || :post) do |f| %>
  <% if @story.errors.present? %>
    <div class="field field_with_errors">
      <p>Sorry, there was an error while submitting your story.</p>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div class="field field_with_errors">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <div class="field required">
    <%= f.label :title %>
    <span>Required</span>

    <%= f.text_field :title, :placeholder => 'Illegal Logging in National Park' %>
  </div>

  <div class="field required">
    <div class="<%= 'field_with_errors' if @story.errors[:the_geom].present? %>">
      <%= label_tag 'Affected areas' %>
    </div>
    <span class='drop_pin'>Drop a pin on the map near the affected area</span>

    <div class="<%= 'field_with_errors' if @story.errors[:the_geom].present? %>">
      <div class="stories_map-container">
        <a href="/#remove" class="remove_story-link">Remove</a>
        <div id="stories_map" class="map stories_map"></div>
        <input class="map-search-input" type="text" placeholder="SEARCH..."/>
      </div>
    </div>

    <%= f.hidden_field :the_geom %>
    <%= f.hidden_field :uploads_ids %>
  </div>

  <div class="field">
    <%= f.label :location %>

    <%= f.text_field :location, :placeholder => '“Katingan Peatland area, Indonesia,” “Near Ambanja, Mozambique”' %>
  </div>

  <div class="field short">
    <%= f.label :date %>

    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :details %>

    <%= f.text_area :details, :placeholder => '“Selective logging with chainsaws,” “Burning peatland,” “Forest cleared for agriculture,” “Affected species”' %>
  </div>

  <div class="field">
    <%= f.label :video %>

    <%= f.text_field :video, :placeholder => 'http://www.youtube.com/watch?v=lTG-0brb98I' %>
  </div>

  <p class="hint">Drag & drop images and videos to reorder them within the carrousel. The first one will be considered as the preferred one.</p>
  <div class="field">
    <%= f.label :media %>

    <ul class="thumbnails">
      <li><a href='#' class='upload_picture'></a></li>

      <% (@story.media ||= []).each do |media| %>
        <% if media['thumbnail_url'].present? %>
          <li class="thumbnail sortable">
            <img src="<%= media['thumbnail_url'] %>" alt="" />
            <a href='#' class='destroy'></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <p class="hint">If you share your name, it will be visible on the GFW website, but your email will not be published.</p>
  <div class="field short">
    <%= f.label :name %>

    <%= f.text_field :name %>
  </div>
  <p class="hint_mobile hidden">If you share your name, it will be visible on the GFW website, but your email will not be published.</p>

  <p class="hint">In some areas, forest clearing information is considered to be highly sensitive—users are encouraged to be cautious when sharing their names.</p>
  <div class="field short required">
    <%= f.label :email %>
    <span>Required</span>

    <%= f.text_field :email %>
  </div>
  <p class="hint_mobile hidden">In some areas, forest clearing information is considered to be highly sensitive—users are encouraged to be cautious when sharing their names.</p>

  <div class="field">
    <%= f.submit 'Submit story', class: 'btn dark_glow' %>
  </div>
<% end %>

<input id="fileupload" type="file" name="media[image]" multiple>
