<% content_for :js do %>
  <script>
    $(function() {
      cdb.init(function() {
        window.stories_edit = new gfw.ui.view.StoriesEdit();
      });
    });
  </script>
<% end %>

<%= form_for :story, :url => @url, :method => (@method || :post) do |f| %>
  <div class="field">
    <%= f.label :title %>

    <div class="error">
      <%= f.text_field :title, :placeholder => 'Illegal Logging in National Park' %>
    </div>
  </div>

  <div class="field">
    <div class="error">
      <%= f.label 'Affected area' %>

      <span class="map-help">Drop a pin on the map near the affected area</span>
    </div>

    <div class="stories_map-container" class="error">
      <a href="/#remove" class="remove_story-link">Remove</a>
      <div id="stories_map" class="map stories_map"></div>
    </div>

    <%= f.text_field :the_geom %>
  </div>

  <div class="field">
    <%= f.label :where_did_it_happen %>
    <span>Optional</span>

    <%= f.text_field :where_did_it_happen, :placeholder => 'E.g. "Katingan Peatland area, Indonesia,”  “Near Ambanja, Mozambique"' %>
  </div>

  <div class="field">
    <%= f.label :when_did_it_happen %>
    <span>Optional</span>

    <%= f.text_field :when_did_it_happen, :placeholder => '“November 2013”, “Since 2005”, etc.' %>
  </div>

  <div class="field">
    <%= f.label :details %>
    <span>Optional</span>

    <%= f.text_area :details, :placeholder => '“Selective logging with chainsaws”, “Burning peatland”, “Forest cleared for agriculture”, “Affected species”' %>
  </div>

  <div class="field">
    <%= f.label :media %>
    <%= f.hidden_field :media %>

    <ul class="thumbnails">
      <li><%= link_to '', '#', :class => 'upload_picture' %></li>

      <% (@story.media || []).each do |media| %>
        <li id="photo_<%= @story.id %>" class="thumbnail sortable">
          <img src="<%= media['url'] %>">
          <%= link_to '', media, :class => "destroy" %>
        </li>
      <% end %>
    </ul>

    <p class="hint">Drag and drop images and videos to upload them or reorder them in the carrousel. The first one will appear as the featured image.</p >
  </div>

  <div class="field">
    <%= f.label :name %>

    <div class="error">
      <%= f.text_field :name %>
    </div>
    <p class="hint"><em>If you share your name, it will be visible on the GFW website, but your e-mail will not be published. In some areas, forest clearing information is considered to be highly sensitive—users are encouraged to be cautious when sharing their names.</em></p>
  </div>

  <div class="field">
    <%= f.label :email %>

    <div class="error">
      <%= f.text_field :email %>
    </div>
  </div>

  <% if action_name == 'edit' %>
  <div class="field with_checkbox">
    <a href="#" class="checkbox styled<%= @story.featured ? " checked" : "" %>">
      Show it as Story
      <input name="story[featured]" type="hidden" value="<%= @story.featured %>" />
    </a>
  </div>
  <% end %>

  <div class="field">
    <%= f.submit 'Submit story' %>
  </div>
<% end %>

<% if action_name == 'new' %>
<aside>
  <h3>Why submit stories?</h3>
  <p>Your participation can greatly improve understanding of what is happening to forests around the world.</p>

  <h3>How your stories will be used</h3>
  <p>Your stories will be immediately displayed as a layer on the GFW map and will be visible to all visitors to the site. WRI is not responsible for how this information is used by these visitors, and it reserves the right to remove stories that are inappropriate or not related to forest issues.</p>

  <p>You can submit a story by sharing text, image, video or web links showing how forests are being managed, cleared, or protected in your area. Submit a story to:</p>
  <ul>
    <li>confirm or refute remotely sensed data;</li>
    <li>report illegal activities;</li>
    <li>call attention to a threat or conflict in your area;</li>
    <li>tell a forest conservation sucess story; or</li>
    <li>share your local expertise.</li>
  </ul>
</aside>
<% end %>
