<% content_for :header do %>
  <h1><a href="/">Global Forest Watch</a></h1>
  <nav id="nav-mobile">
    <ul class="mobile-hide">
      <li>
        <a <% if controller?("stories") && action?("crowdsourcedstories") %>class="current"<% end %> href="/stories">Crowdsourced stories</a>
      </li>
      <li>
        <a <% if controller?("stories") && action?("new") %>class="current"<% end %> href="/stories/new">Submit a story</a>
      </li>
    </ul>
  </nav>
<% end %>

<section class="m-header-static">
  <div class="inner">
    <header>
      <h2><%= @title %></h2>
      <h3>Read stories from Global forest Watch users about what is happening in forests on the ground</h3>
    </header>
    <ul class="row">
      <li><a href="/stories/new" class="btn green uppercase">Submit a story</a></li>
    </ul>
  </div>
</section>

<section id="storiesResetPosition" class="m-section-static">
  <div id="storiesSpinner" class="m-spinner -fixed">
    <div class="loader"><svg><use xlink:href="#shape-spinner"></use></svg></div>
  </div>

  <div class="inner">    
    <header>
      <h2>Stories from GFW users</h2>
    </header>
    <div id="storiesListView" class="m-list-stories">
      <!-- Pagination -->
      <ul id="storiesList">
        <% @total_stories_paginated.each do |story| %>
          <li class="m-list-story">
            <a href="<%= story_path(story['id']) %>">
              <div class="img"><div class="bg" style="background-image: url(<%= story_image_or_map(story['media'], "#{story['lat']}, #{story['lng']}") %>)"></div></div>
              <article class="info">
                <h4><%= story['title'] %></h4>
                <p><%= truncate(story['details'], :length => 295) %></p>
                <button class="btn gray medium">More</button>
              </article>
            </a>
          </li>
        <% end %>
      </ul>
      <!-- Pagination -->
      <div id="storiesPagination" data-page="<%= @page %>" data-perpage="<%= @stories_per_page %>" data-total="<%= @total_stories %>"></div>
    </div> 
  </div>
</section>

<section class="m-section-static">
  <div class="inner">
    <a class="btn-cta" href="/stories/new">
      <svg><use xlink:href="#icon-plus"></use></svg>
      <span>Submit a story</span>
    </a>
  </div>
</section>

<section class="m-section-static">
  <div class="inner">
    <header>
      <h2>You may find this interesting</h2>
    </header>
    <ul class="m-interesting">
      <li class="m-interesting-item">
        <div class="img">
          <a href="http://blog.globalforestwatch.org/" target="_blank">
            <div class="bg" style="background-image: url('/assets/interesting/interesting-blog.jpg')"></div>
          </a>
        </div>
        <div class="info">        
          <h3><a href="http://blog.globalforestwatch.org/" target="_blank">BLOG</a></h3>
          <!-- <p>View and analyze data on the GFW Interactive Map.</p> -->
        </div>
      </li>

      <li class="m-interesting-item">
        <div class="img">
          <a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">
            <div class="bg" style="background-image: url('/assets/interesting/interesting-forum.jpg')"></div>
          </a>
        </div>
        <div class="info">        
          <h3><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">DISCUSSION FORUM</a></h3>
          <p>Read conversations about forest change data, learn about interesting applications of GFW, and view other data-related questions.</p>
        </div>
      </li>
    </ul> 
  </div>
</section>
