<% content_for :title do %>
  <h1 class="header-title big"><%= t('.title') %></h1>
<% end %>

<section class='section'>
  <div class="inner">

    <h2 class='header-title header-subtitle'>These stories are submitted by GFW users to report what is happening in forests on the ground.</h2>

    <ul>
      <% @featured.each do |story| %>
        <li class="featured_story <%= cycle('left', 'right') %>">
          <div class="featured_story-content">
            <h2><%= link_to story['title'], story_path(story['id']), :class => 'featured_story-title' %></h2>
            <p><%= truncate(story['details'], :length => 295) %></p>
            <%= link_to t('.read_more'), story_path(story['id']) %>
          </div>

          <a href="<%= story_path(story['id']) %>">
            <div class="frame">
              <%= image_tag(story_image_or_map(story['media'][0]['preview_url'], story['coordinates'])) %>
            </div>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="section-footer">
      <%= link_to content_tag(:span, t('.previous')), previous_page_link(@page), :class => "btn dark_glow" if @page > 1%>
      <%= link_to content_tag(:span, t('.next')), next_page_link(@page), :class => "btn dark_glow" unless last_page?%>
    </div>
  </div>
</section>

<%= render 'shared/more_stories' %>
