<div class="wrap">
  <div class="layout-content">
    <div id="storiesSpinner" class="m-spinner -fixed -start">
      <div class="spinner-box">
        <div class="icon"></div>
      </div>
    </div>

    <%= render 'shared/icons/svg_icons_footer' %>
    <%= render 'shared/icons/svg_icons_map' %>
    <%= render 'shared/modal' %>
    <%= render 'shared/notifications' %>
    <%= render 'shared/google_carto' %>
    <%= render 'shared/js_footer' %>
  </div>
</div>
