<div class="title">
  <h2>Case Studies</h2>
</div>

<div class="featured">

  <div class="inner">

    <ul>
      <% @featured.each do |story| %>
        <li class="<%= left_or_right_class = cycle('left', 'right') %>">
          <%= image_tag story.main_thumbnail.try(:thumbnail_url) if left_or_right_class == 'left' %>
          <div>
            <h2><%= link_to story.title, story%></h2>
            <p><%= truncate(story.details, :length => 295) %></p>
            <%= link_to 'Read more', story %>
          </div>
          <%= image_tag story.main_thumbnail.try(:thumbnail_url) if left_or_right_class == 'right' %>
        </li>
      <% end %>
    </ul>

    <div class="pagination">
      <%= link_to content_tag(:span, 'Previous case studies'), '#', :class => "btn hollow" if @page > 1%>
      <%= link_to content_tag(:span, 'Next case studies'), '#', :class => "btn hollow" unless last_page?%>
    </div>

  </div>

</div>

<%= render 'common/reported_stories' %>
