<% content_for :title do
  title_or_flash
end %>

<% content_for :inner_header do
  link_to (content_tag :span, 'Edit case study'), edit_story_path(@story.token), :class => "btn green dark_glow edit"  if access_through_token?(@story)
end %>

<div class="story">

  <div class="inner">
    <div class="header">
      <h1><%= @story.title %></h1>
      <div class="when-and-who">
        <% if @story.when_did_it_happen.present?  %>
          <span><%= @story.when_did_it_happen %></span>
        <% end %>
        <% if @story.when_did_it_happen.present? && @story.your_name.present? %>
          <span>&middot;</span>
        <% end %>
        <% if @story.your_name.present?  %>
          <span>Submitted by <%= @story.your_name %></span>
        <% end %>
      </div>
    </div>

    <% if @story.media.present? %>

      <div class="carrousel">

        <div class="frame">

          <%= image_tag(static_map(@story)) %>

        </div>

        <% if @story.media.size > 1 %>
          <%= link_to '', '#', :class => 'previous' %>
          <%= link_to '', '#', :class => 'next' %>
        <% end %>

        <ul>
          <% @story.media.map(&:big_url).each do |image_url| %>
            <li> <%= image_tag image_url %> </li>
          <% end %>
        </ul>

      </div>
    <% end %>

    <div class="details">
      <%= simple_format raw("<span class='dropcap'>#{@story.details[0, 1]}</span>") + @story.details[1, @story.details.length - 1] %>
    </div>

  </div>


</div>

<%= render 'common/reported_stories' %>
