{{#if layer}}
  <div class="analysis-info">
    {{!-- <span class="analysis-title">
      {{#if iso}}
        {{iso}}
      {{else}}
        User defined area
      {{/if}}
    </span> --}}
  </div>
  <ul class="analysis-stats">
    {{#if totalArea}}
      <li>
        <span class="stats-title">Total selected area</span>
        <span class="stats-count"><strong>{{totalArea}}</strong> ha</span>
      </li>
    {{/if}}
    {{#if loss}}
      <li>
        <span class="stats-title">Loss {{lossDateRange}}<span class="stats-threshold" title="Click the gear icon located on the map to change the tree cover canopy density">with >{{threshold}}% canopy density</span></span>
        <span class="stats-count" style="color: {{layer.category_color}};"><strong>{{lossAlerts}}</strong> ha</span>
      </li>
      {{#if both}}
      <li>
        <span class="stats-title">Gain 2001-2012</span>
        <span class="stats-count" style="color: #6D6DE5;"><strong>{{gainAlerts}}</strong> ha</span>
      </li>
      {{/if}}
      <li>
        <div class="stats-notice">This algorithm approximates the results by sampling the selected area. Results are more accurate at closer zoom levels.</div>
      </li>
    {{else}}
      {{#if forestgain}}
        <li>
          <span class="stats-title">Gain 2001-2012</span>
          <span class="stats-count" style="color: #6D6DE5;"><strong>{{gainAlerts}}</strong> ha</span>
        </li>
        {{!-- {{#if iso}}
        <li>
          <div class="stats-notice">This algorithm approximates the results by sampling the selected area. Results are more accurate at closer zoom levels.</div>
        </li>
        {{/if}} --}}

      {{else}}
        {{#if imazon}}
          <li>
            <span class="stats-title">Deforestation alerts ({{dateRange}})</span>
            <span class="stats-count" style="color: {{layer.title_color}};"><strong>{{defor}}</strong> Ha</span>
          </li>
          <li>
            <span class="stats-title">Degradation alerts</span>
            <span class="stats-count" style="color: {{layer.category_color}};"><strong>{{degrad}}</strong> Ha</span>
          </li>
        {{else}}
          <li>
            <span class="stats-title">Total alerts ({{dateRange}})</span>
            <span class="stats-count" style="color: {{layer.category_color}};"><strong>{{totalAlerts}}</strong> {{alertsName}}</span>
          </li>
        {{/if}}
      {{/if}}
    {{/if}}
  </ul>
{{/if}}

<footer class="analysis-footer">
  <ul>
    <li>
      {{#if loss}}
        <a href="http://www.earthenginepartners.appspot.com/science-2013-global-forest/download.html" target="_blank">
          <span class="tooltip1">Download data</span>
          <svg class="icon"><use xlink:href="#icon-analysis-download"></use></svg>
        </a>
      {{else}}
        <a href="#">
          <span class="tooltip1">Download data</span>
          <svg class="icon"><use xlink:href="#icon-analysis-download"></use></svg>
          <ul class="download-dropdown hidden">
            <li><a href="{{download.csv}}" target="_blank">SVG</a></li>
            <li><a href="{{download.geojson}}" target="_blank">GeoJSON</a></li>
            <li><a href="{{download.shp}}" target="_blank">SHP</a></li>
            <li><a href="{{download.kml}}" target="_blank">KML</a></li>
            <li><a href="{{download.csv}}" target="_blank">CSV</a></li>
          </ul>
        </a>
      {{/if}}
    </li>
    <li id="analysis-delete"><span class="tooltip1">Remove analysis</span><svg class="icon"><use xlink:href="#icon-analysis-remove"></use></svg></li>
    <li id="analysis-subscribe"><span class="tooltip1">Subscribe</span><svg class="icon"><use xlink:href="#icon-analysis-alerts"></use></svg></li>
  </ul>
</footer>


{{!-- <div class="analysis-footer">
  <ul class="analysis-control">
    <li class="analysis-control-subscribe" id="subscribeButton"><svg><use xlink:href="#shape-alerts"></use></svg></li>
    <li class="analysis-control-delete"></li>
  </ul>
  <ul class="analysis-control-names"><li><span id="subscribeButton-title">subscribe</span></li><li><span>delete</span></li></ul>
</div>
 --}}
