<div class="widget-box">
  <div class="widget-toggle widget-toggle-grey"></div>
  <div class="widget-content">

    <div class="widget-closed">
      <span class="analysis-title">
        {{#if iso}}
          {{iso}}
        {{else}}
          User defined area
        {{/if}}
      </span>
    </div>

    <div class="widget-opened">
      {{#if layer}}
        <div class="analysis-info">
          <span class="analysis-title">
            {{#if iso}}
              {{iso}}
            {{else}}
              User defined area
            {{/if}}
          </span>
          {{#unless loss}}
            <span class="analysis-date-range">{{dateRange}}</span>
          {{/unless}}
        </div>
        <ul class="analysis-stats">
          {{#if totalArea}}
            <li>
              <span class="stats-title">Total selected area</span>
              <span class="stats-count"><strong>{{totalArea}}</strong> ha</span>
            </li>
          {{/if}}
          {{#if loss}}
            <li>
              <span class="stats-title">Loss {{lossDateRange}}<span class="stats-threshold" title="Click the gear icon located on the map to change the tree cover canopy density">with >{{threshold}}% canopy density</span></span>
              <span class="stats-count" style="color: {{layer.category_color}};"><strong>{{lossAlerts}}</strong> ha</span>
            </li>
            {{#if both}}
            <li>
              <span class="stats-title">Gain 2001-2012</span>
              <span class="stats-count" style="color: #6D6DE5;"><strong>{{gainAlerts}}</strong> ha</span>
            </li>
            {{/if}}
            <li>
              <div class="stats-notice">This algorithm approximates the results by sampling the selected area. Results are more accurate at closer zoom levels.</div>
            </li>
          {{else}}
            {{#if forestgain}}
              <li>
                <span class="stats-title">Gain 2001-2012</span>
                <span class="stats-count" style="color: #6D6DE5;"><strong>{{gainAlerts}}</strong> ha</span>
              </li>
              <li>
                <div class="stats-notice">This algorithm approximates the results by sampling the selected area. Results are more accurate at closer zoom levels.</div>
              </li>
            {{else}}
              {{#if imazon}}
                <li>
                  <span class="stats-title">Deforestation alerts</span>
                  <span class="stats-count" style="color: {{layer.title_color}};"><strong>{{defor}}</strong> Ha</span>
                </li>
                <li>
                  <span class="stats-title">Degradation alerts</span>
                  <span class="stats-count" style="color: {{layer.category_color}};"><strong>{{degrad}}</strong> Ha</span>
                </li>
              {{else}}
                <li>
                  <span class="stats-title">Total alerts</span>
                  <span class="stats-count" style="color: {{layer.category_color}};"><strong>{{totalAlerts}}</strong> {{alertsName}}</span>
                </li>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if loss}}
            <li class="download-links">
              <span><a href="http://www.earthenginepartners.appspot.com/science-2013-global-forest/download.html" target="_blank">Download entire data set at project website</a></span>
            </li>
          {{else}}
            <li class="download-links">
              <span>download</span>
              <ul class="download-dropdown hidden">
                <li><a href="{{download.csv}}" target="_blank">SVG</a></li>
                <li><a href="{{download.geojson}}" target="_blank">GeoJSON</a></li>
                <li><a href="{{download.shp}}" target="_blank">SHP</a></li>
                <li><a href="{{download.kml}}" target="_blank">KML</a></li>
                <li><a href="{{download.csv}}" target="_blank">CSV</a></li>
              </ul>
            </li>
          {{/if}}
        </ul>
      {{/if}}

      <div class="analysis-footer">
        <ul class="analysis-control">
          <li class="analysis-control-subscribe" id="subscribeButton"></li>
          <li class="analysis-control-delete"></li>
        </ul>
      </div>

    </div> {{!-- /widget-opened --}}

  </div>
</div>
