<div class="cartodb-popup">
  <a href="#close" class="cartodb-popup-close-button close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="cartodb-popup-content-wrapper {{#if content.data.analysis}}analysis-active{{/if}}">
    <div class="cartodb-popup-header">
      {{#if content.data.image}}
        {{#if content.data.name}}
          <h2>{{content.data.name}}</h2>
        {{/if}}

        {{!-- <div class="thumb-mask" style="background-image: url({{content.data.image}})"> --}}
          <div class="thumb-mask" style="background-image: url({{content.data.image}})"></div>
          {{#if content.data.image_source}}
            <span class="image-legend">{{ content.data.image_source }}</span>
          {{/if}}
      {{/if}}
    </div>
    {{#if content.data.analysis}}
    <div id="cartodb-popup-fixed" class="cartodb-popup-fixed">
        <a style="cursor:pointer;" class="analyze-shape btn green uppercase" data-layer="{{content.data.id}}" data-useid="{{content.data.cartodb_id}}" data-use="{{content.data.tablename}}" data-wdpaid="{{content.data.id}}">analyze</a>
        <a style="cursor:pointer;" class="subscribe-shape btn green uppercase" data-layer="{{content.data.id}}" data-useid="{{content.data.cartodb_id}}" data-use="{{content.data.tablename}}" data-wdpaid="{{content.data.id}}">subscribe</a>
    </div>
    {{/if}}
    <div class="cartodb-popup-content scroll-thin-dark">
      <div class="cartodb-popup-content-inside">
        {{#if content.data.project_name}}
          {{#if content.data.project_ur}}
            <h2><a href="{{content.data.project_ur}}" target="_blank">{{content.data.project_name}}</a></h2>
          {{else}}
            <h2>{{content.data.project_name}}</h2>
          {{/if}}
        {{/if}}
        {{#if content.data.project_na}}
          {{#if content.data.project_ur}}
            <h2><a href="{{content.data.project_ur}}" target="_blank">{{content.data.project_na}}</a></h2>
          {{else}}
            <h2>{{content.data.project_na}}</h2>
          {{/if}}
        {{/if}}
        {{#unless content.data.image}}
          {{#if content.data.name}}
            <h2>{{content.data.name}}</h2>
          {{/if}}
        {{/unless}}
        {{#if content.data.local_name}}
          <h4>Local name:</h4>
          <p>{{content.data.local_name}}</p>
        {{/if}}
        {{#if content.data.desig_eng}}
          <h4>Legal designation:</h4>
          <p>{{content.data.desig_eng}}</p>
        {{/if}}

        {{#if content.data.ebaname}}
          <h4>Name:</h4>
          <p><a href="http://{{content.data.factsheet}}" target="_blank">{{content.data.ebaname}}</a></p>
        {{/if}}
        {{#if content.data.project_id}}
          <h4>Project ID:</h4>
          <p>{{content.data.project_id}}</p>
        {{/if}}

        {{#if content.data.id}}
          <h4>ID:</h4>
          <p>{{content.data.id}}</p>
        {{/if}}
        {{#if content.data.description}}
          <p class="no-float">{{{substring content.data.description 0 120}}}</p>
        {{/if}}
        {{#if content.data.type}}
          <h4>Type:</h4>
          <p>{{content.data.type}}</p>
        {{/if}}
        {{#if content.data.dates}}
          <h4>Loss alert date:</h4>
          <p>{{content.data.dates}}</p>
        {{/if}}
        {{#if content.data.date_issued}}
          <h4>Date issued:</h4>
          <p>{{content.data.date_issued}}</p>
        {{/if}}
        {{#if content.data.expiry_date}}
          <h4>Expiry date:</h4>
          <p>{{content.data.expiry_date}}</p>
        {{/if}}
        {{#if content.data.mineral}}
          <h4>Mineral:</h4>
          <p>{{content.data.mineral}}</p>
        {{/if}}
        {{#if content.data.datesign}}
          <h4>Signed Date:</h4>
          <p>{{content.data.datesign}}</p>
        {{/if}}
        {{#if content.data.resources}}
          <h4>Resources:</h4>
          <p>{{content.data.resources}}</p>
        {{/if}}
        {{#if content.data.contractsi}}
          <h4>Contract Type:</h4>
          <p>{{content.data.contractsi}}</p>
        {{/if}}
        {{#if content.data.duration}}
          <h4>Contract Duration:</h4>
          <p>{{content.data.duration}}</p>
        {{/if}}
        {{#if content.data.contractst}}
          <h4>Contract Status:</h4>
          <p>{{content.data.contractst}}</p>
        {{/if}}
        {{#if content.data.agency}}
          <h4>Supervising Agency:</h4>
          <p>{{content.data.agency}}</p>
        {{/if}}
        {{#if content.data.pcompcount}}
          <h4>Parent Company County:</h4>
          <p>{{content.data.pcompcount}}</p>
        {{/if}}
        {{#if content.data.pcompany}}
          <h4>Parent Company:</h4>
          <p>{{content.data.pcompany}}</p>
        {{/if}}
        {{#if content.data.status}}
          <h4>Status:</h4>
          <p>{{content.data.status}}</p>
        {{/if}}
        {{#if content.data.capacity}}
          <h4>Capacity:</h4>
          <p>{{content.data.capacity}} MW</p>
        {{/if}}
        {{#if content.data.basin_name}}
          <h4>Basin:</h4>
          <p>{{content.data.basin_name}}</p>
        {{/if}}
        {{#if content.data.rivers}}
          <h4>River:</h4>
          <p>{{content.data.rivers}}</p>
        {{/if}}
        {{#if content.data.company}}
          <h4>Company:</h4>
          <p>{{content.data.company}}</p>
        {{/if}}
        {{#if content.data.group}}
          <h4>Group/Affiliation:</h4>
          <p>{{content.data.group}}</p>
        {{/if}}
        {{#if content.data.last_update}}
          <h4>Last update:</h4>
          <p>{{content.data.last_update}}</p>
        {{/if}}
        {{#if content.data.permit_num}}
          <h4>Permit Num:</h4>
          <p>{{content.data.permit_num}}</p>
        {{/if}}
        {{#if content.data.permit_date}}
          <h4>Permit Date:</h4>
          <p>{{content.data.permit_date}}</p>
        {{/if}}
        {{#if content.data.substance}}
          <h4>Substance:</h4>
          <p>{{content.data.substance}}</p>
        {{/if}}
				{{#if content.data.project_pr}}
          <h4>Project Proponent :</h4>
          <p><a href="{{content.data.proponent_}}" target="_blank">{{content.data.project_pr}}</a></p>
        {{/if}}
        {{#if content.data.country}}
          <h4>Country:</h4>
          <p>{{content.data.country}}</p>
        {{/if}}
        {{#if content.data.nat_origin}}
          <h4>Nat Origin:</h4>
          <p>{{content.data.nat_origin}}</p>
        {{/if}}
        {{#if content.data.estimated_}}
          <h4>Estimated Annual Carbon Emission Reduction (Tons of CO<sub>2</sub> equivalent):</h4>
          <p>{{content.data.estimated_}}</p>
        {{/if}}
        {{#if content.data.additional}}
          <h4>Additional certifications:</h4>
          <p>{{content.data.additional}}</p>
        {{/if}}
         {{#if content.data.date}}
          <h4>Date:</h4>
          <p>{{content.data.date}}</p>
        {{/if}}
        {{#if content.data.management}}
          <h4>Management:</h4>
          <p>{{content.data.management}}</p>
        {{/if}}
        {{#if content.data.provider}}
          <h4>Source:</h4>
          <p>{{content.data.provider}}</p>
        {{/if}}
        {{#if content.data.location}}
          <h4>Location:</h4>
          <p>{{content.data.location}}</p>
        {{/if}}
        {{#if content.data.zone}}
          <h4>Zone:</h4>
          <p>{{content.data.zone}}</p>
        {{/if}}
        {{#if content.data.area_hectares}}
          <h4>Area hectares:</h4>
          <p>{{content.data.area_hectares}}</p>
        {{/if}}
        {{#if content.data.national_legal_term}}
          <h4>National Legal Term:</h4>
          <p>{{content.data.national_legal_term}}</p>
        {{/if}}
        {{#if content.data.legal_recognition}}
          <h4>Legal recognition:</h4>
          <p>{{content.data.legal_recognition}}</p>
        {{/if}}
        {{#if content.data.category}}
          <h4>Category:</h4>
          <p>{{content.data.category}}</p>
        {{/if}}
        {{#if content.data.latitude}}
          <h4>Latitude:</h4>
          <p>{{content.data.latitude}}</p>
        {{/if}}
        {{#if content.data.longitude}}
          <h4>Longitude:</h4>
          <p>{{content.data.longitude}}</p>
        {{/if}}
        {{#if content.data.brightness}}
          <h4>Brightness:</h4>
          <p>{{content.data.brightness}}</p>
        {{/if}}
        {{#if content.data.confidence}}
          <h4>Confidence:</h4>
          <p>{{content.data.confidence}}</p>
        {{/if}}
        {{#if content.data.developer_en}}
          <h4>Developer:</h4>
          <p>{{content.data.developer_en}}</p>
        {{/if}}
        {{#if content.data.inv_intent}}
          <h4>Investment intention:</h4>
          <p>{{content.data.inv_intent}}</p>
        {{/if}}
        {{#if content.data.contracting_authority}}
          <h4>Contracting authority:</h4>
          <p>{{content.data.contracting_authority}}</p>
        {{/if}}
        {{#if content.data.contract_date}}
          <h4>Contract date:</h4>
          <p>{{content.data.contract_date}}</p>
        {{/if}}
        {{#if content.data.contract_duration}}
          <h4>Contract duration:</h4>
          <p>{{content.data.contract_duration}} years</p>
        {{/if}}
        {{#if content.data.original_size_h}}
          <h4>Original size ha:</h4>
          <p>{{content.data.original_size_h}}</p>
        {{/if}}
        {{#if content.data.adjustment_classification}}
          <h4>Adjustment:</h4>
          <p>{{content.data.adjustment_classification}}</p>
        {{/if}}
        {{#if content.data.acq_date}}
          <h4>Acquisition date:</h4>
          <p>{{content.data.acq_date}}</p>
        {{/if}}
        {{#if content.data.year}}
          <h4>Year:</h4>
          <p>{{content.data.year}}</p>
        {{/if}}
        {{#if content.data.iucn_cat}}
          <h4>IUCN Category:</h4>
          <p>{{content.data.iucn_cat}}</p>
        {{/if}}
        {{#if content.data.year_created}}
          <h4>Year created:</h4>
          <p>{{content.data.year_created}}</p>
        {{/if}}
        {{#if content.data.date_created}}
          <h4>Date of creation:</h4>
          <p>{{content.data.date_created}}</p>
        {{/if}}
        {{#if content.data.date_create}}
          <h4>Date:</h4>
          <p>{{content.data.date_create}}</p>
        {{/if}}
        {{#if content.data.acq_time}}
          <h4>Acquisition time:</h4>
          <p>{{content.data.acq_time}}</p>
        {{/if}}
        {{#if content.data.realm}}
          <h4>Biogeographical Realm:</h4>
          <p>{{content.data.realm}}</p>
        {{/if}}
        {{#if content.data.biome}}
          <h4>Biome:</h4>
          <p>{{content.data.biome}}</p>
        {{/if}}
        {{#if content.data.doc_status}}
          <h4>Status:</h4>
          <p>{{content.data.doc_status}}</p>
        {{/if}}
        {{#if content.data.source}}
          <h4>Source:</h4>
          <p>{{content.data.source}}</p>
        {{/if}}
        {{#if content.data.mapid}}
          <h4>ID:</h4>
          <p>{{content.data.mapid}}</p>
        {{/if}}
        {{#if content.data.eco_num}}
          <h4>ECO Number:</h4>
          <p>{{content.data.eco_num}}</p>
        {{/if}}
        {{#if content.data.eco_id}}
          <h4>ECO ID:</h4>
          <p>{{content.data.eco_id}}</p>
        {{/if}}
        {{#if content.data.title_holder}}
          <h4>Title Holder:</h4>
          <p>{{content.data.title_holder}}</p>
        {{/if}}
        {{#if content.data.province}}
          <h4>Province:</h4>
          <p>{{content.data.province}}</p>
        {{/if}}
        {{#if content.data.record_date}}
          <h4>Record Date:</h4>
          <p>{{content.data.record_date}}</p>
        {{/if}}
        {{#if content.data.expiry_date}}
          <h4>Expiry Date:</h4>
          <p>{{content.data.expiry_date}}</p>
        {{/if}}
        {{#if content.data.department}}
          <h4>Department:</h4>
          <p>{{content.data.department}}</p>
        {{/if}}
        {{#if content.data.contract}}
          <h4>Contract:</h4>
          <p>{{content.data.contract}}</p>
        {{/if}}
        {{#if content.data.supervision}}
          <h4>Supervision:</h4>
          <p>{{content.data.supervision}}</p>
        {{/if}}
        {{#if content.data.ebaaltmin}}
          <h4>Min elevation:</h4>
          <p>{{content.data.ebaaltmin}}</p>
        {{/if}}
        {{#if content.data.ebaaltmax}}
          <h4>Max elevation:</h4>
          <p>{{content.data.ebaaltmax}}</p>
        {{/if}}
        {{#if content.data.species}}
          <h4>Species:</h4>
          <p>{{content.data.species}}</p>
        {{/if}}
        {{#if content.data.esmthldr}}
          <h4>Easement Holder:</h4>
          <p>{{content.data.esmthldr}}</p>
        {{/if}}
        {{#if content.data.eholdtyp}}
          <h4>Easement Holder Type:</h4>
          <p>{{content.data.eholdtyp}}</p>
        {{/if}}
        {{#if content.data.owner}}
          <h4>Owner:</h4>
          <p>{{content.data.owner}}</p>
        {{/if}}
        {{#if content.data.owntype}}
          <h4>Landowner Type:</h4>
          <p>{{content.data.owntype}}</p>
        {{/if}}
        {{#if content.data.purpose}}
          <h4>Conservation Purpose:</h4>
          <p>{{content.data.purpose}}</p>
        {{/if}}
        {{#if content.data.pubaccess}}
          <h4>Public Access:</h4>
          <p>{{content.data.pubaccess}}</p>
        {{/if}}
        {{#if content.data.duration}}
          <h4>Duration:</h4>
          <p>{{content.data.duration}}</p>
        {{/if}}
        {{#if content.data.state}}
          <h4>State:</h4>
          <p>{{content.data.state}}</p>
        {{/if}}
        {{#if content.data.rep_acres}}
          <h4>Reported Area:</h4>
          <p>{{content.data.rep_acres}} acres</p>
        {{/if}}
        {{#if content.data.gis_acres}}
          <h4>GIS Area:</h4>
          <p>{{content.data.gis_acres}} acres</p>
        {{/if}}
        {{#if content.data.datapvdr}}
          <h4>Data Provider:</h4>
          <p>{{content.data.datapvdr}}</p>
        {{/if}}
        {{#if content.data.dataagg}}
          <h4>Data Aggregator:</h4>
          <p>{{content.data.dataagg}}</p>
        {{/if}}
        {{#if content.data.doc_legal}}
          <h4>Legal documentation:</h4>
          <p>{{content.data.doc_legal}}</p>
        {{/if}}
        {{#if content.data.region}}
          <h4>Region:</h4>
          <p>{{content.data.region}}</p>
        {{/if}}
        {{#if content.data.plantation}}
          <h4>Plantation:</h4>
          <p>{{content.data.plantation}}</p>
        {{/if}}
        {{#if content.data.membership}}
          <h4>Membership:</h4>
          <p>{{content.data.membership}}</p>
        {{/if}}
        {{#if content.data.rspo_cert}}
          <h4>RSPO Certified:</h4>
          <p>{{content.data.rspo_cert}}</p>
        {{/if}}
        {{#if content.data.type_text}}
          <h4>Plantation type:</h4>
          <p>{{content.data.type_text}}</p>
        {{/if}}
        {{#if content.data.spec_simp}}
          <h4>Species:</h4>
          <p>{{content.data.spec_simp}}</p>
        {{/if}}
        {{#if content.data.percent}}
          <h4>Percent plantation coverage:</h4>
          <p>{{content.data.percent}}</p>
        {{/if}}
        {{#if content.data.area_ha}}
          <h4>Area HA:</h4>
          <p>{{content.data.area_ha}}</p>
        {{/if}}
        {{#if content.data.acquired}}
          <h4>Acquisition date:</h4>
          <p>{{content.data.acquired}}</p>
        {{/if}}
        {{#if content.data.platform}}
          <h4>Platform:</h4>
          <p>{{content.data.platform}}</p>
        {{/if}}
        {{#if content.data.sensor_platform}}
          <h4>Sensor platform:</h4>
          <p>{{content.data.sensor_platform}}</p>
        {{/if}}
        {{#if content.data.cloud_coverage}}
          <h4>Cloud coverage:</h4>
          <p>{{content.data.cloud_coverage}}%</p>
        {{/if}}
        {{#if content.data.alerts_last_semester}}
          <h4 style="width: 100%">Glad alerts in the last six months:</h4>
          <p style="width:200px;height:100px;" id="graphSlope"></p>
        {{/if}}
        {{#if content.data.slope_semester}}
          <h4>Glad alerts slope trend for last six months:</h4>
          <p id="slopeTotal">{{content.data.slope_semester}}</p>
        {{/if}}
        {{#if content.data.validity}}
          <h4>Validity:</h4>
          <p>{{content.data.validity}}</p>
        {{/if}}
        {{#if content.data.avg_score}}
          <h4>Average score:</h4>
          <p>{{content.data.avg_score}}</p>
        {{/if}}
        {{#if content.data.total_alerts}}
          <h4>Total alerts:</h4>
          <p>{{content.data.total_alerts}}</p>
        {{/if}}
        {{#if content.data.tipo}}
          <h4>Tipo:</h4>
          <p>{{content.data.tipo}}</p>
        {{/if}}
        {{#if content.data.tipo_solic}}
          <h4>Applicant type:</h4>
          <p>{{content.data.tipo_solic}}</p>
        {{/if}}
        {{#if content.data.ano}}
          <h4>Year:</h4>
          <p>{{content.data.ano}}</p>
        {{/if}}
        {{#if content.data.floresta}}
          <h4>National Forest:</h4>
          <p>{{content.data.floresta}}</p>
        {{/if}}
        {{#if content.data.umf}}
          <h4>UMF:</h4>
          <p>{{content.data.umf}}</p>
        {{/if}}
        {{#if content.data.fmu_number}}
          <h4>Title:</h4>
          <p>{{content.data.fmu_number}}</p>
        {{/if}}
        {{#if content.data.licensee}}
          <h4>Licensee:</h4>
          <p>{{content.data.licensee}}</p>
        {{/if}}
        {{#if content.data.volume_m3}}
          <h4>Timber harvest 2014 (m3):</h4>
          <p>{{content.data.volume_m3}}</p>
        {{/if}}
        {{#if content.data.certif}}
          <h4>Certification:</h4>
          <p>{{content.data.certif}}</p>
        {{/if}}
        {{#if content.data.certification_status}}
          <h4>Certification status:</h4>
          <p>{{content.data.certification_status}}</p>
        {{/if}}
        {{#if content.data.license_no}}
          <h4>License No:</h4>
          <p>{{content.data.license_no}}</p>
        {{/if}}
        {{#if content.data.timber_src}}
          <h4>Timber Source:</h4>
          <p>{{content.data.timber_src}}</p>
        {{/if}}
        {{#if content.data.score}}
          <h4>Score from model:</h4>
          <p>{{content.data.score}}</p>
        {{/if}}
        {{#if content.data.grid_id}}
          <h4>Grid id:</h4>
          <p>{{content.data.grid_id}}</p>
        {{/if}}
        {{#if content.data.datestamp}}
          <h4>Datestamp:</h4>
          <p>{{content.data.datestamp}}</p>
        {{/if}}
        {{#if content.data.glad_count}}
          <h4>Number of glad alerts from the last month:</h4>
          <p>{{content.data.glad_count}}</p>
        {{/if}}
        {{#if content.data.ptw_score}}
          <h4>Score:</h4>
          <p>{{content.data.ptw_score}}</p>
        {{/if}}
        {{#if content.data.emissions_sum}}
          <h4>Emissions:</h4>
          <p>{{content.data.emissions_sum}}</p>
        {{/if}}
        {{#if content.data.fire_freq}}
          <h4>Fire Frequency:</h4>
          <p>{{content.data.fire_freq}}</p>
        {{/if}}
        {{#if content.data.legal_des}}
          <h4>Legal Designation:</h4>
          <p>{{content.data.legal_des}}</p>
        {{/if}}
        {{#if content.data.data_funct}}
          <h4>Function:</h4>
          <p>{{content.data.data_funct}}</p>
        {{/if}}
        {{#if content.data.plt_year}}
          <h4>Year planted:</h4>
          <p>{{content.data.plt_year}}</p>
        {{/if}}
        {{#if content.data.date_crea}}
          <h4>Date created:</h4>
          <p>{{content.data.date_crea}}</p>
        {{/if}}
        {{#if content.data.start_date}}
          <h4>Start date:</h4>
          <p>{{content.data.start_date}}</p>
        {{/if}}
        {{#if content.data.end_date}}
          <h4>End date:</h4>
          <p>{{content.data.end_date}}</p>
        {{/if}}
        {{#if content.data.jurisdicti}}
          <h4>Jurisdiction:</h4>
          <p>{{content.data.jurisdicti}}</p>
        {{/if}}
        {{#if content.data.class}}
          <h4>Class:</h4>
          <p>{{content.data.class}}</p>
        {{/if}}
        {{#if content.data.overlap_pa}}
          <div class="checkbox-wrapper">
            <h4 class="inline">Protected area:</h4>
            <span class="checkbox -checked"></span>
          </div>
        {{/if}}
        {{#if content.data.overlap_ifl}}
          <div class="checkbox-wrapper">
            <h4 class="inline">IFL:</h4>
            <span class="checkbox -checked"></span>
          </div>
        {{/if}}
    </div>
    </div>
    {{#if content.data.actions}}
      <div id="cartodb-popup-fixed" class="cartodb-popup-actions">
      {{#if content.data.analize}}
        <span style="cursor:pointer;" data-zoom="true" class="js-ptw-track analyze-shape btn green uppercase zoom-analyze" data-ptw-key="zoom_{{content.data.cartodb_id}}" data-layer="{{content.data.id}}" data-useid="{{content.data.cartodb_id}}" data-use="{{content.data.tablename}}" data-wdpaid="{{content.data.id}}" data-bbox="{{content.data.bbox}}">zoom</span>
      {{/if}}
      {{#if content.data.readmore}}
        <a style="cursor:pointer;" data-readmore="true" class="js-ptw-track btn green uppercase" data-ptw-key="readmore_{{content.data.cartodb_id}}" href="{{content.data.link}}" target="_blank" rel="noopener">read more</a>
      {{/if}}
      </div>
    {{/if}}
  </div>
</div>
