<div class="cartodb-popup">
  <a href="#close" class="cartodb-popup-close-button close">x</a>
  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-header">
      {{#if content.data.image}}
        {{#if content.data.title}}
          <h2>{{content.data.title}}</h2>
        {{/if}}
        <img style="width: 100%" src="{{content.data.image}}"></src>
      {{/if}}
    </div>
    <div class="cartodb-popup-content">
      {{#unless content.data.image}}
        {{#if content.data.name}}
          <h4>Name:</h4>
          <p>{{content.data.name}}</p>
        {{/if}}
      {{/unless}}

      {{#if content.data.company}}
        <h4>Company:</h4>
        <p>{{content.data.company}}</p>
      {{/if}}
      {{#if content.data.permit_num}}
        <h4>Permit Num:</h4>
        <p>{{content.data.permit_num}}</p>
      {{/if}}
      {{#if content.data.country}}
        <h4>Country:</h4>
        <p>{{content.data.country}}</p>
      {{/if}}
      {{#if content.data.nat_origin}}
        <h4>Nat Origin:</h4>
        <p>{{content.data.nat_origin}}</p>
      {{/if}}
      {{#if content.data.area_ha}}
        <h4>Area HA:</h4>
        <p>{{content.data.area_ha}}</p>
      {{/if}}

      {{#if content.data.latitude}}
        <h4>Latitude:</h4>
        <p>{{content.data.latitude}}</p>
      {{/if}}
      {{#if content.data.longitude}}
        <h4>Longitude:</h4>
        <p>{{content.data.longitude}}</p>
      {{/if}}
      {{#if content.data.brightness}}
        <h4>Brightness:</h4>
        <p>{{content.data.brightness}}</p>
      {{/if}}
      {{#if content.data.confidence}}
        <h4>Confidence:</h4>
        <p>{{content.data.confidence}}</p>
      {{/if}}
      {{#if content.data.acq_date}}
        <h4>Acquisition date:</h4>
        <p>{{content.data.acq_date}}</p>
      {{/if}}
      {{#if content.data.acq_time}}
        <h4>Acquisition time:</h4>
        <p>{{content.data.acq_time}}</p>
      {{/if}}
    </div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>
