<span class="category-name">
  {{this.countryName}} DATA
  <i id="forest_clearing-category-num" class="category-num"></i>
</span>
<div id="country-layers-nav" class="layers-nav">
  <div class="layers-nav-header">
    <div class="category-icon"><svg><use xlink:href="#icon-layer-country"></use></svg></div>
    <span class="category-name notranslate">
      {{this.countryName}} DATA
    </span>
  </div>

  {{#if country}}
    {{!-- TITLE --}}
    <div class="country-title">{{this.countryName}}
      <span id="layers-country-reset"><svg><use xlink:href="#shape-close"></use></svg></span>
      <ul class="m-btncontainer is-space-between">
        <li>
          <a class="btn-icon download-mobile-link" target="_blank" href="http://data.globalforestwatch.org/datasets?keyword={{this.country}}">
            <span class="tooltipmap">Data</span>
            <svg><use xlink:href="#icon-country-download"></use></svg>
          </a>
        </li>
        <li>
          <a class="btn-icon" href="/country/{{this.country}}" target="_blank">
            <span class="tooltipmap">Profile</span>
            <svg><use xlink:href="#icon-country-country"></use></svg>
          </a>
        </li>
        <li>
          <a id="layers-country-analyze" class="btn-icon" href="#" target="_blank">
            <span class="tooltipmap">Analyze</span>
            <svg><use xlink:href="#icon-country-analysis"></use></svg>
          </a>
        </li>
        <li>
          <a class="btn-icon" href="/my_gfw/subscriptions/new?aoi=country&country={{this.country}}" target="_blank">
            <span class="tooltipmap">Subscribe</span>
            <svg><use xlink:href="#icon-mail"></use></svg>
          </a>
        </li>
        {{!-- <li id="layers-country-atlas"></li> --}}
      </ul>
    </div>

    <div id="module-tabs" class="module module-tabs module-toggle -layer-nav">
      <header>
        <nav class="noselect">
          <ul class="tab-list">
            <li id="country-layers-gfw-data-tab-button" class="tab active" data-tab="country-layers-gfw-data-tab">GFW Data</li>
            <li id="country-layers-users-data-tab-button" class="tab inactive" data-tab="country-layers-users-data-tab">User Data</li>
          </ul>
        </nav>
      </header>
      <div class="content active">
        <ul>
          <li id="country-layers-gfw-data-tab" class="tab-content selected">
            {{!-- LAYERS --}}
            {{#if countryGFWLayers}}
            <ul class="layers-list scroll-thin-dark">
              {{#each countryGFWLayers}}
                <li class="{{#if this.does_wrapper}}wrapped-layer{{else}}layer{{/if}}" data-layer="{{this.slug}}" data-layeriso="{{this.iso}}">
                  <span class="onoffswitch"><span></span></span>
                  <span class="layer-title">
                    {{this.title}}
                    {{#if this.source_json}}
                      <a href='#' data-source='{{this.source_json}}' class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a>
                    {{else}}
                      <a href='#' data-source='{{this.slug}}' class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a>
                    {{/if}}
                  </span>
                  {{#if this.subtitle}}
                    <span class="layer-info">{{this.subtitle}}</span>
                  {{/if}}
                  {{#if this.does_wrapper}}
                    <span class="does_wrapper">
                      <span class="layer-info">
                        {{#each this.wrappers}}
                        <label data-layer="{{this.slug}}" class="layer wrapped">
                          <span></span>
                          <input type="radio" />{{this.radio_title}}
                        </label>
                        {{/each}}
                      </span>
                    </span>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
            {{else}}
              <div class="country-description">
                <p>GFW doesn't have additional data for this country yet. You can:</p>
                <ul>
                  <li><a href="#" class="source" data-source="view_existing_global_data">View global datasets</a> for this area</li>
                  <li><a href="/contribute-data" target="_blank">Add your own data</a> to the GFW Interactive Map</li>
                  <li><a href="/country/{{this.country}}" target="_blank">View the country profile</a> page</li>
                </ul>
                {{!-- <p>For now, <a href="#" class="source" data-source="view_existing_global_data">view global datasets</a> for this area, <a href="#" class="data-suggestion-link" target="_blank">suggest your own</a>, or use the buttons below to see statistics and infographics for this country.</p> --}}
              </div>
            {{/if}}
          </li>
          <li id="country-layers-users-data-tab" class="tab-content">
            {{!-- LAYERS --}}
            {{#if countryUserLayers}}
            <ul class="layers-list scroll-thin-dark">
              {{#each countryUserLayers}}
                <li class="{{#if this.does_wrapper}}wrapped-layer{{else}}layer{{/if}}" data-layer="{{this.slug}}" data-layeriso="{{this.iso}}">
                  <span class="onoffswitch"><span></span></span>
                  <span class="layer-title">
                    {{this.title}}
                    {{#if this.source_json}}
                      <a href='#' data-source='{{this.source_json}}' class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a>
                    {{else}}
                      <a href='#' data-source='{{this.slug}}' class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a>
                    {{/if}}
                  </span>
                  {{#if this.subtitle}}
                    <span class="layer-info">{{this.subtitle}}</span>
                  {{/if}}
                  {{#if this.does_wrapper}}
                    <span class="does_wrapper">
                      <span class="layer-info">
                        {{#each this.wrappers}}
                        <label data-layer="{{this.slug}}" class="layer wrapped">
                          <span></span>
                          <input type="radio" />{{this.radio_title}}
                        </label>
                        {{/each}}
                      </span>
                    </span>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
            {{else}}
              <div class="country-description">
                <p>GFW doesn't have additional data for this country yet. You can:</p>
                <ul>
                  <li><a href="#" class="source" data-source="view_existing_global_data">View global datasets</a> for this area</li>
                  <li><a href="/contribute-data" target="_blank">Add your own data</a> to the GFW Interactive Map</li>
                  <li><a href="/country/{{this.country}}" target="_blank">View the country profile</a> page</li>
                </ul>
                {{!-- <p>For now, <a href="#" class="source" data-source="view_existing_global_data">view global datasets</a> for this area, <a href="#" class="data-suggestion-link" target="_blank">suggest your own</a>, or use the buttons below to see statistics and infographics for this country.</p> --}}
              </div>
            {{/if}}

            <div class="country-description">
              <div class="country-add">
                <p><a href="/contribute-data" target="_blank">Add your own data</a> to the GFW Interactive Map</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>


  {{else}}
    <select data-placeholder="Select country" class="chosen-select country-select notranslate" id="layers-country-select">
      <option></option>
      {{#each this.countries}}
        <option value="{{this.iso}}">{{this.name}}</option>
      {{/each}}
    </select>
  {{/if}}

</div>
