<section class="header-static">
  <div class="inner">
    <header>
      <h2><%= @title %></h2>
      <h3>Global Forest Watch (GFW) is a dynamic online forest monitoring and alert system that empowers people everywhere to better manage forests. For the first time, Global Forest Watch unites satellite technology, open data, and crowdsourcing to guarantee access to timely and reliable information about forests. GFW is free and follows an open data approach in putting decision-relevant information in the hands of governments, companies, NGOs, and the public.</h3>
      <p>GFW is supported by a diverse partnership of organizations that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. See a full list of partners below.</p>

    </header>
    <div class="carrousel" id="carrouselView">
      <div class='carrousel-box'>
        <ul>
          <li id="site_overview" class='slide visible'>
            <iframe width='860' height='484' src='http://www.youtube.com/embed/lTG-0brb98I' frameborder='0' allowfullscreen></iframe>
          </li>
        </ul>
      </div>
      <ul class="row">
        <li><a href="#" class="btn white uppercase">About commodities</a></li>
        <li><a href="http://staging.blueraster.com/wri/gfw-fires/#v=about&x=&y=&l=&lyrs="class="btn white uppercase">About fires</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'The GFW Partnership', "#{about_path}/the-gfw-partnership", :"data-slug" => 'the-gfw-partnership', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item the-gfw-partnership' %></li>
          <li><%= link_to 'Videos', "#{about_path}/videos", :"data-slug" => 'videos', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item videos' %></li>
          <li><%= link_to 'Awards & Testimonals', "#{about_path}/awards_and_testimonials", :"data-slug" => 'awards_and_testimonials', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item awards_and_testimonials' %></li>
          <li><%= link_to 'Outcomes', "#{about_path}/outcomes", :"data-slug" => 'outcomes', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item outcomes' %></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id='gfw' class='source-article'>
            <header>
              <h2>About GFW</h2>
            </header>
            <div class="content">
              <ul class='faq-list'>
                <li>
                  <h3>History</h3>
                  <p>Global Forest Watch originally began in 1997 as an initiative to establish a global forest monitoring network around the world, convened by the World Resources Institute and partners. It began as part of WRI’s Forest Frontiers Initiative. The original GFW achieved many outcomes toward the conservation of large intact forest areas.</p>

                  <p>WRI has continued the work that Global Forest Watch started, working to improve <a href='http://www.wri.org/our-work/topics/forests' target='_blank'>forest information</a> by merging the latest technology with on-the-ground partnerships. In the  <a href='http://www.wri.org/our-work/project/congo-basin-forest-atlases' target='_blank'>Congo Basin</a> countries, WRI has published Forest Atlases that help decision makers achieve sustainable management of forest resources through strengthened land-use planning and monitoring. These are now available for <a href='http://www.wri.org/our-work/project/congo-basin-forests/cameroon#project-tabs' target='_blank'>Cameroon</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/central-african-republic#project-tabs' target='_blank'>Central African Republic</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/congo#project-tabs' target='_blank'>Republic of the Congo</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/democratic-republic-congo#project-tabs' target='_blank'>Democratic Republic of the Congo</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/equatorial-guinea#project-tabs' target='_blank'>Equatorial Guinea</a>, and <a href='http://www.wri.org/our-work/project/congo-basin-forests/gabon#project-tabs' target='_blank'>Gabon</a>. The <a href='http://www.wri.org/our-work/project/forests-and-landscapes-indonesia' target='_blank'>Forest and Landscapes in Indonesia</a> project works to support government and civil society actions for effective and equitable land use in Indonesia. This work now continues as part of WRI’s work on forests and is integrated with Global Forest Watch. In addition to the countries listed above, GFW published state of the forest reports for <a href='http://www.wri.org/publication/canadas-large-intact-forest-landscapes-2006-update' target='_blank'>Canada</a>, <a href='http://www.wri.org/publication/chiles-frontier-forests' target='_blank'>Chile</a>, <a href='http://www.wri.org/publication/last-intact-forest-landscapes-northern-european-russia' target='_blank'>Russia</a>, and <a href='http://www.wri.org/publication/all-glitters-not-gold' target='_blank'>Venezuela</a> and related policy reports for <a href='http://www.wri.org/publication/profit-without-plunder' target='_blank'>Guyana</a> and <a href='http://www.wri.org/publication/backs-wall-suriname' target='_blank'>Suriname</a>.</p>

                  <p>The GFW network also developed the methods for mapping <a href='http://www.intactforests.org' target='_blank'>Intact Forest Landscapes</a> by piloting this method in Russia and Canada and then expanding it to the global level for the year 2000. Monitoring of these areas continues, with an ongoing update for the year 2012 underway.</p>

                  <p>Leveraging the advent of new technologies and increased global connectivity, work on the next generation Global Forest Watch began in 2011 with an expanded group of partners and powerful new monitoring capabilities. Help be part of GFW’s future by participating in and contributing to the GFW system.</p>
                </li>
                <li>
                  <h3>Staff</h3>
                  <p>View a <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>list of staff</a> who work on Global Forest Watch. </p>
                </li>
                <li>
                  <h3>Contact us</h3>
                  <p><a href='mailto:gfw@wri.org'>gfw@wri.org</a></p>
                </li>
              </ul>
            </div>
          </article>



          <article id='the-gfw-partnership' class="source-article">
            <header>
              <h2>The GFW Partnership</h2>
            </header>
            <div class="content">
              <ul class="faq-list double-margin">
                <li>
                  <h3><%= t('static.about.partners')%></h3>
                  <ul class='logo-list'>
                    <li><a target='_blank' href='http://www.wri.org' class='wri'></a></li>
                    <li><a target='_blank' href='http://earthengine.google.org/' class='google'></a></li>
                    <li><a target='_blank' href='http://www.geog.umd.edu/' class='universitymaryland'></a></li>
                    <li><a target='_blank' href='http://www.esri.com/gfw' class='esri'></a></li>
                    <li><a target='_blank' href='http://www.unep.org/' class='unep'></a></li>
                    <li><a target='_blank' href='http://www.imazon.org.br/pagina-inicial-en?set_language=en&cl=en' class='imazon'></a></li>
                    <li><a target='_blank' href='http://osfac.net/index.php?lang=en' class='osfac'></a></li>
                    <li><a target='_blank' href='http://www.cgdev.org/' class='cfgd'></a></li>
                    <li><a target='_blank' href='http://globalforestwatch.ca/' class='gfwca'></a></li>
                    <li><a target='_blank' href='http://www.scanex.ru/en/' class='scanex'></a></li>
                    <li><a target='_blank' href='http://www.janegoodall.org/' class='goodall'></a></li>
                    <li><a target='_blank' href='http://www.cartodb.com' class='cartodb'></a></li>
                    <li><a target='_blank' href='http://www.vizzuality.com' class='vizzuality'></a></li>
                    <li><a target='_blank' href='http://www.blueraster.com' class='blueraster'></a></li>
                    <li><a target='_blank' href='http://www.transparentworld.ru/ru' class='twrus'></a></li>
                  </ul>
                </li>
                <li>
                  <h3>Funders</h3>
                  <ul class='logo-list'>
                    <li><a target='_blank' href='http://www.regjeringen.no/en/dep/kld/kampanjer/the-governments-climate-and-tree-project.html?id=733947' class='norwegian'></a></li>
                    <li><a target='_blank' href='http://www.usaid.gov/' class='usaid'></a></li>
                    <li><a target='_blank' href='http://www.thegef.org/gef/' class='gef'></a></li>
                    <li><a target='_blank' href='https://www.gov.uk/government/organisations/department-for-international-development' class='ukaid'></a></li>
                    <li><a target='_blank' href='http://tiliafund.org/' class='tilia'></a></li>
                    <li><a target='_blank' href='http://www.sida.se/english/' class='sida'></a></li>
                    <li><a target='_blank' href='#' class='bobolink'></a></li>
                    <li><a target='_blank' href='http://um.dk/en/danida-en/' class='danida'></a></li>
                  </ul>
                </li>
                <li>
                  <h3>Additional partners, collaborators, & data providers</h3>
                  <ul class='bullets'>
                    <li>Baker & McKenzie</li>
                    <li>Climate and Land Use Alliance</li>
                    <li>Conservation International</li>
                    <li>Food and Agriculture Organization of the United Nations</li>
                    <li>Global Witness</li>
                    <li>Greenpeace</li>
                    <li>International Union for Conservation of Nature</li>
                    <li>NASA Ames Research Center</li>
                    <li>NASA Fire Information for Resource Management System</li>
                    <li>NASA Jet Propulsion Laboratory</li>
                    <li>Mongabay</li>
                    <li>Planet Labs</li>
                    <li>Rainforest Foundation UK</li>
                    <li>Tierra Minada</li>
                    <li>UNEP World Conservation Monitoring Centre</li>
                    <li>Winrock International</li>
                  </ul>
                </li>
                <li>
                  <h3>Applications</h3>
                  <ul class='app-list'>
                    <li><a class="app" href="/map"><svg class="icon"><use xlink:href="#shape-world"></use></svg>Explore the map</a></li>
                    <li><a class="app" href="/countries"><svg class="icon"><use xlink:href="#shape-country"></use></svg>Country profiles & rankings</a></li>
                    <li><a class="app" href="http://staging.blueraster.com/wri/gfw-fires/#v=home&x=&y=&l=&lyrs=&dirty=true"><svg class="icon"><use xlink:href="#shape-fire"></use></svg>Fires</a></li>
                    <li><a class="app" href="http://staging.blueraster.com/wri/gfw-commodities/#v=home"><svg class="icon"><use xlink:href="#shape-commodities"></use></svg>Commodities</a></li>
                    <!-- <li><a class="app" href="/map"><svg class="icon"><use xlink:href="#shape-biodiversity"></use></svg>Biodiversity</a></li>
                    <li><a class="app" href="/map"><svg class="icon"><use xlink:href="#shape-carbon"></use></svg>Carbon</a></li> -->
                    <li><a class="app" href="/getinvolved/develop-your-own-app"><svg class="icon"><use xlink:href="#shape-develop"></use></svg>Develop your own app</a></li>
                  </ul>
                </li>
                <li>
                  <h3>Website designed by</h3>
                  <ul class='logo-list'>
                    <li><a target='_blank' href='http://www.vizzuality.com/' class='vizzuality-big'></a></li>
                  </ul>
                  <p>We welcome others to join our growing GFW partnership.</p>
                  <a href='mailto:mailto:gfw@wri.org' class="btn gray medium">Email us</a>
                </li>
              </ul>
            </div>
          </article>


          <article id='videos' class="source-article">
            <header>
              <h2>Videos</h2>
              <h3>Here’s a brief video introduction from the GFW team, presented in six of our key languages:</h3>
            </header>
            <div class='content'>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/BZx2edin9do' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/L8jA8ush7d8' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/d3xUkSjlNjQ' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/0K684H-yKWQ' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/metb4Cm9Zh0' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/ayqMDX-672g' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/z5QNluSbMuU' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/BY4VUQRe9pU' frameborder='0' allowfullscreen></iframe></p>
              <ul class="faq-list">                
                <li>
                  <h3>Other videos pages</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
                  <a href="#" class="btn gray medium">Link to other page</a>
                  <a href="#" class="btn gray medium">Link to other page</a>
                </li>                
              </ul>

            </div>
          </article>



          <article id='awards_and_testimonials' class="source-article">
            <header>
              <h2>Awards & Testimonials</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Awards</h3>
                  <ul class='awards_logo-list'>
                    <li><a target="_blank" href="http://events.esri.com/conference/sagList/"><%= image_tag('backgrounds/awards1.png')%></a></li>
                    <li><a target="_blank" href=" http://www.unglobalpulse.org/big-data-climate-challenge-winners-announced"><%= image_tag('backgrounds/awards.png')%></a></li>
                  </ul>
                </li>
                <li>
                  <h3>Testimonials</h3>
                  <ul class="testimonial-list">
                    <li class="testimonial">
                      <div class="testimonial-quote">Managing the world’s forest resources is both a local and global undertaking, and technology has provided Global Forest Watch with an unprecedented opportunity to connect not only information and data, but people – whether they are forest managers, businesses and private sector, or consumers across the globe. This is a great example of a community coming together and providing the world with a truly groundbreaking and pioneering product. Hopefully in a few years’ time we will be able to monitor the impact and the results in terms of what actually happens on the ground – that will be the greatest affirmation that the time for this idea had come.</div>
                      <span class="author"><strong>Achim steiner</strong> UNEP Executive Director and Under-Secretary-General of the United Nations</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Our common goal is to fight climate change, to promote green growth, and to preserve the livelihoods and homes of millions of people and species, but in order to succeed we need open, transparent, and timely information. In this sense, Global Forest Watch is a unique tool that hopefully will help change the way we manage our forests. Sometimes, ideas can change the world – we now have a wonderful new tool at our disposal, and it is up to us to put it to good use.</div>
                      <span class="author"><strong>Tine Sundtoft</strong> Minister of Climate and Environment, Norway</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Global Forest Watch has a hugely important role to play in bringing transparency into forest conservation. Using satellite imagery, new processing technology, and the power of human networks, it will allow rapid identification of deforestation in the hands of those who can best use it. That is transparency in action, and with transparency comes accountability.</div>
                      <span class="author"><strong>Lynne Featherstone</strong> Parliamentary Under-Secretary of State for International Development, United Kingdom</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Wonderful advances in recent years in the use of satellite data and technology have empowered communities to monitor their own forests. Global Forest Watch connects the best of these systems, pulling all of this technology together on a single platform that provides access to high-quality data for the entire world. It will dramatically benefit all those working to protect our forests, and help us identify new threats to chimpanzees and prioritize our conservation efforts.</div>
                      <span class="author"><strong>Jane Goodall</strong> Founder, Jane Goodall Institute</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <h3>Other testimonials</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
                  <a href="#" class="btn gray medium">Link to other page</a>
                  <a href="#" class="btn gray medium">Link to other page</a>
                </li>                
              </ul>
            </div>
          </article>

          <article id='outcomes' class="source-article">
            <header>
              <h2>Outcomes</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Lorem ipsum dolor sit amet</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#" class="btn gray medium">Outcomes fires</a>
                  <a href="#" class="btn gray medium">Outcomes communities</a>
                </li>
              </ul>
            </div>
          </article>

<!-- 
          <article id='users' class="source-article">
            <header>
              <h2>Users</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <p>GFW aims to radically improve the availability, quality, and accessibility of forest data for a diverse range of forest stakeholders. For example:</p>
                  <ul class='bullets'>
                    <li><strong>Governments</strong> can use GFW to detect illegal forest clearing and target forest law enforcement efforts.</li>
                    <li><strong>Companies</strong> can monitor the impacts of commodity supply chains on forests and demonstrate compliance with sustainability commitments and certifications.</li>
                    <li><strong>NGOs</strong> can identify deforestation hotspots and bolster their investigations, advocacy, and campaigns.</li>
                    <li><strong>Indigenous communities</strong> can monitor their territories and raise an alarm when their customary forests are threatened.</li>
                    <li><strong>Media</strong> can gather evidence for reporting.</li>
                    <li><strong>Researchers</strong> can analyze forest trends on a global scale.</li>
                    <li><strong>Concerned citizens everywhere</strong> can learn more about the state of forests and participate in forest monitoring.</li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>
 -->




        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
