<section class="header-static">
  <div class="inner">
    <header>
      <h2><%= @title %></h2>
      <h3>Global Forest Watch (GFW) is an interactive online forest monitoring and alert system designed to empower people everywhere with the information they need to better manage and conserve forest landscapes. Global Forest Watch uses cutting edge technology and science to provide the timeliest and most precise information about the status of forest landscapes worldwide, including near-real-time alerts showing suspected locations of recent tree cover loss. GFW is free and simple to use, enabling anyone to create custom maps, analyze forest trends, subscribe to alerts, or download data for their local area or the entire world. Users can also contribute to GFW by sharing data and stories from the ground via GFW’s crowdsourcing tools, blogs, and discussion groups. Special “apps” provide detailed information for companies that wish to reduce the risk of deforestation in their supply chains, users who want to monitor fires across Southeast Asia, and more. GFW serves a variety of users including governments, the private sector, NGOs, journalists, universities, and the general public.</h3>
      <h3>GFW is a growing partnership of organizations contributing data, technology, funding, and expertise. The GFW partnership is convened by the World Resources Institute. See a full list of partners below.</h3>

    </header>
    <div class="carrousel" id="carrouselView">
      <div class='carrousel-box'>
        <ul>
          <li id="site_overview" class='slide visible'>
            <div id="playerCarrousel" data-default="lTG-0brb98I" class="player"></div>
          </li>
        </ul>
      </div>
      <ul class="row">
        <li><a href="#" class="btn white uppercase">About commodities</a></li>
        <li><a href="http://fires.globalforestwatch.org/#v=about&x=&y=&l=&lyrs="class="btn white uppercase">About fires</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="sidebarNavView" class="content-static">
  <a id="back-btn" class="back-btn mobile-show" href="#"><svg><use xlink:href="#shape-fast-forward-left"></use></svg><ABBR>About</ABBR></a>
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'About GFW', "#{about_path}/about-gfw", :"data-slug" => 'about-gfw', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item about-gfw' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'The GFW partnership', "#{about_path}/the-gfw-partnership", :"data-slug" => 'the-gfw-partnership', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item the-gfw-partnership' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Videos', "#{about_path}/videos", :"data-slug" => 'videos', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item videos' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Awards & Testimonials', "#{about_path}/awards_and_testimonials", :"data-slug" => 'awards_and_testimonials', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item awards_and_testimonials' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Contact us', "#{about_path}/contact-us", :"data-slug" => 'contact-us', :"data-interesting" => 'explore_the_map, keep_updated, get_involved', :class => 'nav-item contact-us' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id='about-gfw' class='source-article'>
            <header>
              <h2>About GFW</h2>
            </header>
            <div class="content">
              <ul class='faq-list'>
                <li>
                  <h3>History</h3>
                  <p>Global Forest Watch originally began in 1997 as an initiative to establish a global forest monitoring network, convened by the World Resources Institute and partners. It began as part of WRI’s Forest Frontiers Initiative. The original GFW achieved many outcomes toward the conservation of large intact forest areas.</p>

                  <p>WRI has continued the work that Global Forest Watch started, working to improve forest information by merging the latest technology with on-the-ground partnerships. In the Congo Basin countries, WRI has published Forest Atlases that help decision makers achieve sustainable management of forest resources through strengthened land-use planning and monitoring. These are now available for Cameroon, Central African Republic, Republic of the Congo, Democratic Republic of the Congo, Equatorial Guinea, and Gabon. The Forest and Landscapes in Indonesia project works to support government and civil society actions for effective and equitable land use in that country. This work now continues as part of WRI’s work on forests and is integrated with Global Forest Watch. In addition to the countries listed above, GFW published state of the forest reports for Canada, Chile, Russia, and Venezuela and related policy reports for Guyana and Suriname.</p>

                  <p>The GFW network also developed the methods for mapping Intact Forest Landscapes by piloting this method in Russia and Canada and then expanding it to the global level for the year 2000. Monitoring of these areas continues, with an update for the year 2013 published recently.</p>

                  <p>Leveraging the advent of new technologies and increased global connectivity, work on the next generation Global Forest Watch began in 2011 with an expanded group of partners and powerful new monitoring capabilities. Help be part of GFW’s future by participating in and contributing to the GFW system.</p>
                </li>
                <li>
                  <h3>Staff</h3>
                  <p>View a list of <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>staff</a> who work on Global Forest Watch. </p>
                </li>
              </ul>
            </div>
          </article>



          <article id='the-gfw-partnership' class="source-article">
            <header>
              <h2>The GFW partnership</h2>
            </header>
            <div class="content">
              <ul class="faq-list double-margin">
                <li>
                  <h3><%= t('static.about.partners')%></h3>
                  <ul class='logo-list'>
                    <li><a target='_blank' href='http://www.wri.org' class='wri'></a></li>
                    <li><a target='_blank' href='http://earthengine.google.org/' class='google'></a></li>
                    <li><a target='_blank' href='http://www.esri.com/gfw' class='esri'></a></li>
                    <li><a target='_blank' href='http://www.geog.umd.edu/' class='universitymaryland'></a></li>
                    <li><a target='_blank' href='http://www.unep.org/' class='unep'></a></li>
                    <li><a target='_blank' href='http://www.imazon.org.br/pagina-inicial-en?set_language=en&cl=en' class='imazon'></a></li>
                    <li><a target='_blank' href='http://www.cgdev.org/' class='cfgd'></a></li>
                    <li><a target='_blank' href='http://osfac.net/index.php?lang=en' class='osfac'></a></li>
                    <li><a target='_blank' href='http://globalforestwatch.ca/' class='gfwca'></a></li>
                    <li><a target='_blank' href='http://www.scanex.ru/en/' class='scanex'></a></li>
                    <li><a target='_blank' href='http://www.transparentworld.ru/ru' class='twrus'></a></li>
                    <li><a target='_blank' href='http://www.janegoodall.org/' class='goodall'></a></li>
                    <li><a target='_blank' href='http://foreststreesagroforestry.org/' class='cgiar'></a></li>
                    <li><a target='_blank' href='http://www.cartodb.com' class='cartodb'></a></li>
                    <li><a target='_blank' href='http://www.vizzuality.com' class='vizzuality'></a></li>
                    <li><a target='_blank' href='http://www.blueraster.com' class='blueraster'></a></li>
                  </ul>
                </li>
                <li>
                  <h3>Funders</h3>
                  <ul class='logo-list'>
                    <li><a target='_blank' href='https://www.regjeringen.no/en/topics/climate-and-environment/climate/klima--og-skogprosjektet/id2000712/' class='norwegian'></a></li>
                    <li><a target='_blank' href='http://www.usaid.gov/' class='usaid'></a></li>
                    <li><a target='_blank' href='http://www.thegef.org/gef/' class='gef'></a></li>
                    <li><a target='_blank' href='https://www.gov.uk/government/organisations/department-for-international-development' class='ukaid'></a></li>
                    <li><a target='_blank' href='http://www.moore.org/' class='moore'></a></li>
                    <li><a target='_blank' href='http://tiliafund.org/' class='tilia'></a></li>
                    <li class='last'><a target='_blank' href='http://www.government.nl/ministries/bz' class='dutchforeign'></a></li>
                    <li><a target='_blank' href='http://www.sida.se/english/' class='sida'></a></li>
                    <li><a target='_blank' href='#' class='bobolink'></a></li>
                    <li><a target='_blank' href='http://um.dk/en/danida-en/' class='danida'></a></li>
                  </ul>
                </li>
                <li>
                  <h3>Additional partners & collaborators</h3>
                  <ul class='bullets'>
                    <li>Baker & McKenzie</li>
                    <li>Climate and Land Use Alliance</li>
                    <li>Conservation International</li>
                    <li>Food and Agriculture Organization of the United Nations</li>
                    <li>Global Witness</li>
                    <li>Greenpeace</li>
                    <li>International Center for Tropical Agriculture (CIAT)</li>
                    <li>International Union for Conservation of Nature (IUCN)</li>
                    <li>Mongabay</li>
                    <li>NASA Ames Research Center</li>
                    <li>NASA Fire Information for Resource Management System</li>
                    <li>NASA Jet Propulsion Laboratory</li>
                    <li>Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre (OSINFOR)</li>
                    <li>Planet Labs</li>
                    <li>Rainforest Foundation UK</li>
                    <li>Reforestamos Mexico</li>
                    <li>RESOLVE</li>
                    <li>UNEP World Conservation Monitoring Centre</li>
                    <li>University of Minnesota</li>
                    <li>Winrock International</li>
                    <li>Woods Hole Research Center</li>
                  </ul>
                </li>
                <li>
                  <h3>View partners, funders, & collaborators of GFW applications</h3>
                  <ul class='app-list'>
                    <li><a class="app" href="http://fires.globalforestwatch.org/#v=about&x=&y=&l=&lyrs="><svg class="icon fire"><use xlink:href="#shape-fire"></use></svg>Fires</a></li>
                    <li><a class="app" href="http://commodities.globalforestwatch.org/#v=about&n=Partners"><svg class="icon commodities"><use xlink:href="#shape-commodities"></use></svg>Commodities</a></li>
                    <!-- <li><a class="app" href="/map"><svg class="icon"><use xlink:href="#shape-biodiversity"></use></svg>Biodiversity</a></li>
                    <li><a class="app" href="/map"><svg class="icon"><use xlink:href="#shape-carbon"></use></svg>Carbon</a></li> -->
                  </ul>
                </li>
                <li>
                  <h3>Website designed by</h3>
                  <ul class='logo-list'>
                    <li><a target='_blank' href='http://www.vizzuality.com/' class='vizzuality-big'></a></li>
                  </ul>
                  <p>We welcome others to join the growing GFW partnership.</p>
                  <a href='mailto:mailto:gfw@wri.org' class="btn gray medium">Email us</a>
                </li>
              </ul>
            </div>
          </article>


          <article id='videos' class="source-article">
            <header>
              <h2>Videos</h2>
              <h3>Here’s a brief video introduction from the GFW team, presented in six of our key languages:</h3>
            </header>
            <div class='content'>
              <div id="videoView" class="video-box">
                <div class="player">
                  <div id="player" data-default="BZx2edin9do"></div>
                </div>
                <ul class="video-list">
                  <li class="btn-video current" data-video="BZx2edin9do">WRI | What's the Big Idea? | Global Forest Watch</li>
                  <li class="btn-video" data-video="L8jA8ush7d8">WRI | ¿CUÁL ES LA GRAN IDEA? Global Forest Watch</li>
                  <li class="btn-video" data-video="d3xUkSjlNjQ">WRI | QUAL É A GRANDE IDEIA? Global Forest Watch</li>
                  <li class="btn-video" data-video="0K684H-yKWQ">WRI | QUELLE EST CETTE MERVEILLEUSE IDÉE? Global Forest Watch</li>
                  <li class="btn-video" data-video="metb4Cm9Zh0">WRI | APA IDE BESARNYA? Global Forest Watch</li>
                  <li class="btn-video" data-video="ayqMDX-672g">WRI | B ЧЁМ НАША ГЛАВНАЯ ИДЕЯ? Global Forest Watch</li>
                  <li class="btn-video" data-video="z5QNluSbMuU">Voices for Global Forest Watch | UNEP, Norway, UK</li>
                  <li class="btn-video" data-video="BY4VUQRe9pU">Voices for Global Forest Watch | Unilever, Indonesia, Jane Goodall</li>
                </ul>
              </div>

              <!--<p><iframe id="player-iframe" width='606' height='341' src='//www.youtube.com/embed/BZx2edin9do' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/L8jA8ush7d8' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/d3xUkSjlNjQ' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/0K684H-yKWQ' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/metb4Cm9Zh0' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/ayqMDX-672g' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/z5QNluSbMuU' frameborder='0' allowfullscreen></iframe></p>
              <p><iframe width='606' height='341' src='//www.youtube.com/embed/BY4VUQRe9pU' frameborder='0' allowfullscreen></iframe></p>-->


            </div>
          </article>



          <article id='awards_and_testimonials' class="source-article">
            <header>
              <h2>Awards & testimonials</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Awards</h3>
                  <ul class='awards_logo-list'>
                    <li><a target="_blank" href="http://events.esri.com/conference/sagList/"><%= image_tag('backgrounds/awards1.png')%></a></li>
                    <li><a target="_blank" href=" http://www.unglobalpulse.org/big-data-climate-challenge-winners-announced"><%= image_tag('backgrounds/awards.png')%></a></li>
                  </ul>
                </li>
                <li>
                  <h3>Testimonials</h3>
                  <ul class="testimonial-list">
                    <li class="testimonial">
                      <div class="testimonial-quote">Managing the world’s forest resources is both a local and global undertaking, and technology has provided Global Forest Watch with an unprecedented opportunity to connect not only information and data, but people – whether they are forest managers, businesses and private sector, or consumers across the globe. This is a great example of a community coming together and providing the world with a truly groundbreaking and pioneering product. Hopefully in a few years’ time we will be able to monitor the impact and the results in terms of what actually happens on the ground – that will be the greatest affirmation that the time for this idea had come.</div>
                      <span class="author"><strong>Achim steiner</strong> UNEP Executive Director and Under-Secretary-General of the United Nations</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Our common goal is to fight climate change, to promote green growth, and to preserve the livelihoods and homes of millions of people and species, but in order to succeed we need open, transparent, and timely information. In this sense, Global Forest Watch is a unique tool that hopefully will help change the way we manage our forests. Sometimes, ideas can change the world – we now have a wonderful new tool at our disposal, and it is up to us to put it to good use.</div>
                      <span class="author"><strong>Tine Sundtoft</strong> Minister of Climate and Environment, Norway</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Global Forest Watch has a hugely important role to play in bringing transparency into forest conservation. Using satellite imagery, new processing technology, and the power of human networks, it will allow rapid identification of deforestation in the hands of those who can best use it. That is transparency in action, and with transparency comes accountability.</div>
                      <span class="author"><strong>Lynne Featherstone</strong> Parliamentary Under-Secretary of State for International Development, United Kingdom</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Wonderful advances in recent years in the use of satellite data and technology have empowered communities to monitor their own forests. Global Forest Watch connects the best of these systems, pulling all of this technology together on a single platform that provides access to high-quality data for the entire world. It will dramatically benefit all those working to protect our forests, and help us identify new threats to chimpanzees and prioritize our conservation efforts.</div>
                      <span class="author"><strong>Jane Goodall</strong> Founder, Jane Goodall Institute</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>

          <article id='outcomes' class="source-article">
            <header>
              <h2>Outcomes</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Lorem ipsum dolor sit amet</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#" class="btn gray medium">Outcomes fires</a>
                  <a href="#" class="btn gray medium">Outcomes communities</a>
                </li>
              </ul>
            </div>
          </article>

          <article id='contact-us' class="source-article">
            <header>
              <h2>Contact Us</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Questions or comments? Send us an email, contact us at the adress below, or visit the feedback page.</h3>
                  <p><strong>Mailing Address:</strong></p>
                  <p>Global Forest Watch</p>
                  <p>World Resources Institute</p>
                  <p>10 G St. NE, Washington, DC 20002</p>
                  <p>USA</p>

                  <a class="btn gray medium" href="mailto:gfw@wri.org">email us</a>
                  <a class="btn gray medium" href="http://gfw-nav.herokuapp.com/getinvolved/provide-feedback">feedback</a>
                </li>
              </ul>
            </div>
          </article>

<!--
          <article id='users' class="source-article">
            <header>
              <h2>Users</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <p>GFW aims to radically improve the availability, quality, and accessibility of forest data for a diverse range of forest stakeholders. For example:</p>
                  <ul class='bullets'>
                    <li><strong>Governments</strong> can use GFW to detect illegal forest clearing and target forest law enforcement efforts.</li>
                    <li><strong>Companies</strong> can monitor the impacts of commodity supply chains on forests and demonstrate compliance with sustainability commitments and certifications.</li>
                    <li><strong>NGOs</strong> can identify deforestation hotspots and bolster their investigations, advocacy, and campaigns.</li>
                    <li><strong>Indigenous communities</strong> can monitor their territories and raise an alarm when their customary forests are threatened.</li>
                    <li><strong>Media</strong> can gather evidence for reporting.</li>
                    <li><strong>Researchers</strong> can analyze forest trends on a global scale.</li>
                    <li><strong>Concerned citizens everywhere</strong> can learn more about the state of forests and participate in forest monitoring.</li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>
 -->




        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
