<div class='inner'>
  <div class='header_block header_block_howto'>
    <div class='header_block__body' id='video'>
      <h1 class='header_block__title'>About</h1>
      <p>Global Forest Watch (GFW) is a dynamic online forest monitoring and alert system that empowers people everywhere to better manage forests. For the first time, Global Forest Watch unites satellite technology, open data, and crowdsourcing to guarantee access to timely and reliable information about forests. GFW is free and follows an open data approach in putting decision-relevant information in the hands of governments, companies, NGOs, and the public.</p>

      <p class='header_block__description'>GFW is supported by a diverse partnership of organizations that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. See a full list of partners below.</p>

      <iframe width='860' height='484' src='http://www.youtube.com/embed/lTG-0brb98I' frameborder='0' allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class='inner'>
  <div class='static-inner'>
    <div class='navigation_left'>
      <ul>
        <!-- <li class='item_title'><i class='caret_down'></i></li> -->
        <li><%= link_to 'About GFW', "#{about_path}/gfw", :"data-slug" => 'gfw', :class => 'nav-item selected' %></li>
        <li><%= link_to 'Partners', "#{about_path}/partners", :"data-slug" => 'partners', :class => 'nav-item' %></li>
        <li><%= link_to 'Users', "#{about_path}/users", :"data-slug" => 'users', :class => 'nav-item' %></li>
        <li><%= link_to 'Videos', "#{about_path}/videos", :"data-slug" => 'videos', :class => 'nav-item' %></li>
        <li><%= link_to 'Small Grants Fund', "#{about_path}/small_grants_fund", :"data-slug" => 'small_grants_fund', :class => 'nav-item' %></li>
        <li><%= link_to 'Awards & Testimonals', "#{about_path}/awards_and_testimonials", :"data-slug" => 'awards_and_testimonials', :class => 'nav-item' %></li>
        <li><%= link_to 'Become a tester!', "#{about_path}/testers", :"data-slug" => 'testers', :class => 'nav-item' %></li>
      </ul>
    </div>

    <div class='content_right'>
      <article id='gfw' class='selected'>
        <h2 class='source_category_title'>About GFW</h2>

        <div class='source_body'>
          <h3 class='overview_title'>History</h3>
          <p>Global Forest Watch originally began in 1997 as an initiative to establish a global forest monitoring network around the world, convened by the World Resources Institute and partners. It began as part of WRI’s Forest Frontiers Initiative. The original GFW achieved many outcomes toward the conservation of large intact forest areas.</p>

          <p>WRI has continued the work that Global Forest Watch started, working to improve <a href='http://www.wri.org/our-work/topics/forests' target='_blank'>forest information</a> by merging the latest technology with on-the-ground partnerships. In the  <a href='http://www.wri.org/our-work/project/congo-basin-forest-atlases' target='_blank'>Congo Basin</a> countries, WRI has published Forest Atlases that help decision makers achieve sustainable management of forest resources through strengthened land-use planning and monitoring. These are now available for <a href='http://www.wri.org/our-work/project/congo-basin-forests/cameroon#project-tabs' target='_blank'>Cameroon</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/central-african-republic#project-tabs' target='_blank'>Central African Republic</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/congo#project-tabs' target='_blank'>Republic of the Congo</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/democratic-republic-congo#project-tabs' target='_blank'>Democratic Republic of the Congo</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/equatorial-guinea#project-tabs' target='_blank'>Equatorial Guinea</a>, and <a href='http://www.wri.org/our-work/project/congo-basin-forests/gabon#project-tabs' target='_blank'>Gabon</a>. The <a href='http://www.wri.org/our-work/project/forests-and-landscapes-indonesia' target='_blank'>Forest and Landscapes in Indonesia</a> project works to support government and civil society actions for effective and equitable land use in Indonesia. This work now continues as part of WRI’s work on forests and is integrated with Global Forest Watch. In addition to the countries listed above, GFW published state of the forest reports for <a href='http://www.wri.org/publication/canadas-large-intact-forest-landscapes-2006-update' target='_blank'>Canada</a>, <a href='http://www.wri.org/publication/chiles-frontier-forests' target='_blank'>Chile</a>, <a href='http://www.wri.org/publication/last-intact-forest-landscapes-northern-european-russia' target='_blank'>Russia</a>, and <a href='http://www.wri.org/publication/all-glitters-not-gold' target='_blank'>Venezuela</a> and related policy reports for <a href='http://www.wri.org/publication/profit-without-plunder' target='_blank'>Guyana</a> and <a href='http://www.wri.org/publication/backs-wall-suriname' target='_blank'>Suriname</a>.</p>

          <p>The GFW network also developed the methods for mapping <a href='http://www.intactforests.org' target='_blank'>Intact Forest Landscapes</a> by piloting this method in Russia and Canada and then expanding it to the global level for the year 2000. Monitoring of these areas continues, with an ongoing update for the year 2012 underway.</p>

          <p>Leveraging the advent of new technologies and increased global connectivity, work on the next generation Global Forest Watch began in 2011 with an expanded group of partners and powerful new monitoring capabilities. Help be part of GFW’s future by participating in and contributing to the GFW system.</p>

          <h3 class='overview_title'>Staff</h3>
          <p>View a <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>list of staff</a> who work on Global Forest Watch. </p>

          <h3 class='overview_title'>Contact us</h3>
          <p><a href='mailto:gfw@wri.org'>gfw@wri.org</a></p>
        </div>
      </article>

      <article id='users'>
        <h2 class='source_category_title'>Users</h2>
        <div class='source_body'>
          <p>GFW aims to radically improve the availability, quality, and accessibility of forest data for a diverse range of forest stakeholders. For example:</p>
          <ul class='bullets'>
            <li><strong>Governments</strong> can use GFW to detect illegal forest clearing and target forest law enforcement efforts.</li>
            <li><strong>Companies</strong> can monitor the impacts of commodity supply chains on forests and demonstrate compliance with sustainability commitments and certifications.</li>
            <li><strong>NGOs</strong> can identify deforestation hotspots and bolster their investigations, advocacy, and campaigns.</li>
            <li><strong>Indigenous communities</strong> can monitor their territories and raise an alarm when their customary forests are threatened.</li>
            <li><strong>Media</strong> can gather evidence for reporting.</li>
            <li><strong>Researchers</strong> can analyze forest trends on a global scale.</li>
            <li><strong>Concerned citizens everywhere</strong> can learn more about the state of forests and participate in forest monitoring.</li>
          </ul>
        </div>
      </article>

      <article id='partners'>
        <h3 class='overview_title first center'><%= t('static.about.partners')%></h3>
        <ul class='logo_list'>
          <li><a target='_blank' href='http://www.wri.org' class='wri'></a></li>
          <li><a target='_blank' href='http://earthengine.google.org/' class='google'></a></li>
          <li><a target='_blank' href='http://www.esri.com/gfw' class='esri'></a></li>
          <li class='last'><a target='_blank' href='http://www.geog.umd.edu/' class='universitymaryland'></a></li>
          <li><a target='_blank' href='http://www.unep.org/' class='unep'></a></li>
          <li class='last'><a target='_blank' href='http://www.imazon.org.br/pagina-inicial-en?set_language=en&cl=en' class='imazon'></a></li>
          <li><a target='_blank' href='http://www.cgdev.org/' class='centerglobaldevelopment'></a></li>
          <li><a target='_blank' href='http://osfac.net/index.php?lang=en' class='osfac'></a></li>
          <li class='last'><a target='_blank' href='http://globalforestwatch.ca/' class='gfwca'></a></li>
          <li><a target='_blank' href='http://www.scanex.ru/en/' class='scanex'></a></li>
          <li class="last"><a target='_blank' href='http://www.transparentworld.ru/ru' class='twrus'></a></li>
          <li><a target='_blank' href='http://www.janegoodall.org/' class='goodall'></a></li>
          <li class='last'><a target='_blank' href='http://www.cartodb.com' class='carto'></a></li>
          <li><a target='_blank' href='http://www.vizzuality.com' class='vizz'></a></li>
          <li><a target='_blank' href='http://www.blueraster.com' class='blue'></a></li>
        </ul>

        <h3 class='overview_title center'>Funders</h3>
        <ul class='logo_list'>
          <li><a target='_blank' href='http://www.regjeringen.no/en/dep/kld/kampanjer/the-governments-climate-and-tree-project.html?id=733947' class='norwegian'></a></li>
          <li><a target='_blank' href='http://www.usaid.gov/' class='usaid'></a></li>
          <li class='last'><a target='_blank' href='http://www.thegef.org/gef/' class='gef'></a></li>
          <li><a target='_blank' href='https://www.gov.uk/government/organisations/department-for-international-development' class='ukaid'></a></li>
          <li><a target='_blank' href='http://tiliafund.org/' class='tilafund'></a></li>
          <li class='last'><a target='_blank' href='http://www.government.nl/ministries/bz' class='dutchforeign'></a></li>
          <li><a target='_blank' href='http://www.sida.se/english/' class='sida'></a></li>
          <li><span class='bobolink'></span></li>
          <li class='last'><a target='_blank' href='http://um.dk/en/danida-en/' class='danida'></a></li>
        </ul>

        <h3 class='overview_title center'>Additional partners, collaborators, & data providers</h3>
        <div class='source_body'>
          <ul class='bullets'>
            <li>Baker & McKenzie</li>
            <li>Climate and Land Use Alliance</li>
            <li>Conservation International</li>
            <li>Food and Agriculture Organization of the United Nations</li>
            <li>Global Witness</li>
            <li>Greenpeace</li>
            <li>International Union for Conservation of Nature</li>
            <li>NASA Ames Research Center</li>
            <li>NASA Fire Information for Resource Management System</li>
            <li>NASA Jet Propulsion Laboratory</li>
            <li>Mongabay</li>
            <li>Planet Labs</li>
            <li>Rainforest Foundation UK</li>
            <li>Tierra Minada</li>
            <li>UNEP World Conservation Monitoring Centre</li>
            <li>Winrock International</li>
          </ul>
        </div>

        <h3 class='overview_title center'>Website designed by</h3>
        <div class='source_body'>
          <ul class='logo_list'>
            <li class='last'><a target='_blank' href='http://www.simbiotica.es' class='simbiotica'></a></li>
          </ul>

          <p>We welcome others to join our growing GFW partnership. <a href='mailto:mailto:gfw@wri.org'>Email us</a>.</p>
        </div>
      </article>

      <article id='videos'>
        <h2 class='source_category_title'>Videos</h2>
        <p class='source_category_description'>Here’s a brief video introduction from the GFW team, presented in six of our key languages:</p>

        <div class='source_body videos_list'>
          <p><iframe width='606' height='341' src='//www.youtube.com/embed/BZx2edin9do' frameborder='0' allowfullscreen></iframe></p>
          <p><iframe width='606' height='341' src='//www.youtube.com/embed/L8jA8ush7d8' frameborder='0' allowfullscreen></iframe></p>
          <p><iframe width='606' height='341' src='//www.youtube.com/embed/d3xUkSjlNjQ' frameborder='0' allowfullscreen></iframe></p>
          <p><iframe width='606' height='341' src='//www.youtube.com/embed/0K684H-yKWQ' frameborder='0' allowfullscreen></iframe></p>
          <p><iframe width='606' height='341' src='//www.youtube.com/embed/metb4Cm9Zh0' frameborder='0' allowfullscreen></iframe></p>
          <p><iframe width='606' height='341' src='//www.youtube.com/embed/ayqMDX-672g' frameborder='0' allowfullscreen></iframe></p>
          <p><iframe width='606' height='341' src='//www.youtube.com/embed/z5QNluSbMuU' frameborder='0' allowfullscreen></iframe></p>
          <p><iframe width='606' height='341' src='//www.youtube.com/embed/BY4VUQRe9pU' frameborder='0' allowfullscreen></iframe></p>
        </div>
      </article>

      <article id='small_grants_fund'>
        <h2 class='source_category_title'>Small Grants Fund</h2>

        <div class='source_body'>
          <p><strong>The 2014 application period is now closed. Please check back next year for funding opportunities.</strong></p>
          <p>GFW has pledged $375,000 for grant-making in 2014 to fund innovative, on-the-ground use of the platform. The GFW Small Grants Fund, which offers grants ranging from 10,000 – 40,000 USD, funds civil society organizations to use GFW to improve forest management and rural livelihoods.</p>
          <p>Visit the <strong><a href='https://sites.google.com/site/gfwsgf/about' target='_blank'>GFW Small Grants Fund website</a></strong>.</p>

          <h3 class='overview_title'>What we fund</h3>
          <p>Through this new initiative, we hope to promote innovative, tangible uses of GFW in countries around the world. We are seeking applications for:</p>

          <ul class='bullets last'>
            <li>Projects that extend the value of GFW information to forest-dependent communities, grassroots organizations and other local stakeholders in ways that positively impact their lives (e.g., helping impacted communities use GFW information to monitor local forest resources).</li>
            <li>Projects that that use information in the GFW platform to conduct research or carry out advocacy to improve forest governance and law enforcement (e.g., through changes in laws, institutions, and/or practices).</li>
            <li>Projects that provide new information to or validate existing information on GFW (e.g., creation of a new data layer, validating areas of tree cover loss).</li>
            <li>Other innovative projects that use GFW to empower civil society to better manage forests and sustain or mobilize local communities.</li>
          </ul>

          <h3 class='overview_title'>Who can apply?</h3>
          <p>The Small Grants Fund is intended for non-profit, civil society organizations with full-time, paid staff.  The fund is not intended for large, international NGOs or any for-profit establishments or government agencies.</p>
          <p>Applicant eligibility will be further determined through completion of the pre-application, located on the Small Grants Fund website.</p>

          <h3 class='overview_title'>Grant Disbursement</h3>
          <p>Administered by WRI, the Small Grants Fund supports projects ranging from 10,000 USD to 40,000 USD with a completion date of no later than December 31, 2014. Funds will be dispersed upon signing of an agreement with the World Resources Institute (WRI) and grant recipients will be required to meet reporting requirements during the agreement period.</p>
          <p>The amount of funding requested in an application will not affect funding decisions. However, WRI may not be able to support all activities or deliverables within an application.  In such cases, WRI may negotiate with successful applicants to select a smaller number of activities/deliverables for funding.</p>

          <h3 class='overview_title'>How to apply</h3>
          <p>Applications are accepted on a rolling basis. Organizations are encouraged to apply as soon as possible.</p>
          <p><strong>Submit the pre-application.</strong> Visit the GFW Small Grants Fund website and click “APPLY NOW!” to submit the pre-application. The pre-application helps determine whether applicants meet the minimum requirements to receive funding from WRI. Applicants will be notified within two weeks whether or not they are eligible to apply for a small grant.</p>
          <p><strong>Submit a full application.</strong> Eligible applicants will be asked to submit a full application, which will be included as an attachment to the acceptance email with instructions for submission. Applications will be reviewed by the Small Grants Fund board on a rolling basis and applicants will be notified within two to four weeks by email if their application is accepted or rejected. In some cases, the fund board may express interest in the application, but ask for additional information and/or clarity before offering funds.</p>
          <p><strong>File Paperwork and Receive Funds.</strong> Accepted applicants will be notified of next steps, including the process for disbursement of funds.</p>

          <h3 class='overview_title'>Important Dates</h3>
          <p><strong>March 10, 2014:</strong> Application is open</p>
          <p><strong>June 1, 2014:</strong> Deadline to submit pre-application</p>
          <p><strong>June, 30, 2014:</strong> Deadline to submit full application</p>
          <p><strong>December 31, 2014:</strong> Project completion deadline</p>

        </div>
      </article>

      <article id='awards_and_testimonials'>
        <div class='source_body'>
          <h3 class='overview_title'>Awards</h3>
          <ul class='awards_logo_list'>
            <li><a target="_blank" href="http://events.esri.com/conference/sagList/" class='esri'></a></li>
            <li><a target="_blank" href=" http://www.unglobalpulse.org/big-data-climate-challenge-winners-announced" class='bigdata_climate_change'></a></li>
          </ul>
          <h3 class='overview_title'>Testimonials</h3>
          <ul class="testimonials">
            <li class="testimonial">
              <span class="author"><strong>Achim steiner</strong>, UNEP Executive Director and Under-Secretary-General of the United Nations</span>
              <div class="testimonial-quote">“Managing the world’s forest resources is both a local and global undertaking, and technology has provided Global Forest Watch with an unprecedented opportunity to connect not only information and data, but people – whether they are forest managers, businesses and private sector, or consumers across the globe. This is a great example of a community coming together and providing the world with a truly groundbreaking and pioneering product. Hopefully in a few years’ time we will be able to monitor the impact and the results in terms of what actually happens on the ground – that will be the greatest affirmation that the time for this idea had come.”</div>
            </li>
            <li class="testimonial">
              <span class="author"><strong>Tine Sundtoft</strong>, Minister of Climate and Environment, Norway</span>
              <div class="testimonial-quote">“Our common goal is to fight climate change, to promote green growth, and to preserve the livelihoods and homes of millions of people and species, but in order to succeed we need open, transparent, and timely information. In this sense, Global Forest Watch is a unique tool that hopefully will help change the way we manage our forests. Sometimes, ideas can change the world – we now have a wonderful new tool at our disposal, and it is up to us to put it to good use.”</div>
            </li>
            <li class="testimonial">
              <span class="author"><strong>Lynne Featherstone</strong>, Parliamentary Under-Secretary of State for International Development, United Kingdom</span>
              <div class="testimonial-quote">“Global Forest Watch has a hugely important role to play in bringing transparency into forest conservation. Using satellite imagery, new processing technology, and the power of human networks, it will allow rapid identification of deforestation in the hands of those who can best use it. That is transparency in action, and with transparency comes accountability.”</div>
            </li>
            <li class="testimonial">
              <span class="author"><strong>Jane Goodall</strong>, Founder, Jane Goodall Institute</span>
              <div class="testimonial-quote">“Wonderful advances in recent years in the use of satellite data and technology have empowered communities to monitor their own forests. Global Forest Watch connects the best of these systems, pulling all of this technology together on a single platform that provides access to high-quality data for the entire world. It will dramatically benefit all those working to protect our forests, and help us identify new threats to chimpanzees and prioritize our conservation efforts.”</div>
            </li>
          </ul>
        </div>
      </article>
      <article id="testers">
        <h2 class='source_category_title'>Become a tester!</h2>
        <div class="source_body">
          <h3 class='overview_title'>Testers</h3>

          <p>Help Improve GFW! We are recruiting GFW testers to evaluate new website features!  If you are interested in working with us to help find solutions to reduce deforestation and don't mind completing a short task or survey every 3 months, please email <a href="mailto:abarrett@wri.org">abarrett@wri.org</a> to be added to the list of testers.</p>
        </div>
      </article>
    </div>
  </div>
</div>
