<div id="loader-mobile" class="m-spinner -fixed -start">
  <div class="spinner-box">
    <div class="icon"></div>
  </div>
</div>

<section class="header-static">
  <div class="inner">
    <header>
      <h2><%= @title %></h2>
      <h3>Global Forest Watch (GFW) is an interactive online forest monitoring and alert system designed to empower people everywhere with the information they need to better manage and conserve forest landscapes. Global Forest Watch uses cutting edge technology and science to provide the timeliest and most precise information about the status of forest landscapes worldwide, including near-real-time alerts showing suspected locations of recent tree cover loss. GFW is free and simple to use, enabling anyone to create custom maps, analyze forest trends, subscribe to alerts, or download data for their local area or the entire world. Users can also contribute to GFW by sharing data and stories from the ground via GFW’s crowdsourcing tools, blogs, and discussion groups. Special “apps” provide detailed information for companies that wish to reduce the risk of deforestation in their supply chains, users who want to monitor fires across Southeast Asia, and more. GFW serves a variety of users including governments, the private sector, NGOs, journalists, universities, and the general public.</h3>
      <h3>GFW is a growing partnership of organizations contributing data, technology, funding, and expertise. The GFW partnership is convened by the World Resources Institute. See a full list of partners below.</h3>

    </header>
    <div class="carrousel" id="carrouselView">
      <div class='carrousel-box'>
        <ul>
          <li id="site_overview" class='slide visible'>
            <div id="playerCarrousel" data-default="lTG-0brb98I" class="player"></div>
          </li>
        </ul>
      </div>
      <ul class="row">
        <li><a href="http://commodities.globalforestwatch.org/#v=about&n=GFW&x=114.37&y=-4.14&l=5&lyrs=tcc%2Closs" class="mobile-friendly btn white uppercase">About GFW commodities</a></li>
        <li><a href="http://fires.globalforestwatch.org/#v=about&x=&y=&l=&lyrs="class="mobile-friendly btn white uppercase">About GFW fires</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="sidebarNavView" class="content-static">
  <a id="back-btn" class="back-btn mobile-show" href="#"><svg><use xlink:href="#shape-fast-forward-left"></use></svg><ABBR>About</ABBR></a>
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'About GFW', "#{about_path}/about-gfw", :"data-slug" => 'about-gfw', :"data-interesting" => 'about_fires, about_commodities, faqs', :class => 'nav-item about-gfw' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'The GFW partnership', "#{about_path}/the-gfw-partnership", :"data-slug" => 'the-gfw-partnership', :"data-interesting" => 'about_fires, about_commodities, faqs', :class => 'nav-item the-gfw-partnership' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Videos', "#{about_path}/videos", :"data-slug" => 'videos', :"data-interesting" => 'about_fires, about_commodities, faqs', :class => 'nav-item videos' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Awards & Testimonials', "#{about_path}/awards_and_testimonials", :"data-slug" => 'awards_and_testimonials', :"data-interesting" => 'about_fires, about_commodities, faqs', :class => 'nav-item awards_and_testimonials' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Data Policy', "#{about_path}/data-policy", :"data-slug" => 'data_policy', :"data-interesting" => 'about_fires, about_commodities, faqs', :class => 'nav-item data_policy' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Contact us', "#{about_path}/contact-us", :"data-slug" => 'contact_us', :"data-interesting" => '', :class => 'nav-item contact_us' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="m-spinner -start">
            <div class="spinner-box">
              <div class="icon"></div>
            </div>
          </div>

          <article id='about-gfw' class='source-article'>
            <header>
              <h2>About GFW</h2>
            </header>
            <div class="content">
              <ul class='faq-list'>
                <li>
                  <h3>History</h3>
                  <p>Global Forest Watch originally began in 1997 as an initiative to establish a global forest monitoring network, convened by the World Resources Institute and partners. It began as part of WRI’s Forest Frontiers Initiative. The original GFW achieved many outcomes toward the conservation of large intact forest areas.</p>

                  <p>WRI has continued the work that Global Forest Watch started, working to improve forest information by merging the latest technology with on-the-ground partnerships. In the Congo Basin countries, WRI has published Forest Atlases that help decision makers achieve sustainable management of forest resources through strengthened land-use planning and monitoring. These are now available for Cameroon, Central African Republic, Republic of the Congo, Democratic Republic of the Congo, Equatorial Guinea, and Gabon. The Forest and Landscapes in Indonesia project works to support government and civil society actions for effective and equitable land use in that country. This work now continues as part of WRI’s work on forests and is integrated with Global Forest Watch. In addition to the countries listed above, GFW published state of the forest reports for Canada, Chile, Russia, and Venezuela and related policy reports for Guyana and Suriname.</p>

                  <p>The GFW network also developed the methods for mapping Intact Forest Landscapes by piloting this method in Russia and Canada and then expanding it to the global level for the year 2000. Monitoring of these areas continues, with an update for the year 2013 published recently.</p>

                  <p>Leveraging the advent of new technologies and increased global connectivity, work on the next generation Global Forest Watch began in 2011 with an expanded group of partners and powerful new monitoring capabilities. Help be part of GFW’s future by participating in and contributing to the GFW system.</p>
                </li>
                <li>
                  <h3>Staff</h3>
                  <p>View a list of <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>staff</a> who work on Global Forest Watch. </p>
                </li>
              </ul>
            </div>
          </article>



          <article id='the-gfw-partnership' class="source-article center">
            <header>
              <h2>The GFW partnership</h2>
            </header>
            <div class="content">
              <ul class="faq-list double-margin">
                <li>
                  <h3>Founding Partners</h3>
                  <ul class='logo-list logo-ul'>
                    <li><a title="Bobolink" href='#' class='bobolink'></a></li>
                    <li><a target='_blank' title="Blue Raster" href='http://www.blueraster.com' class='blueraster'></a></li>
                    <li><a target='_blank' title="CartoDB" href='http://www.cartodb.com' class='cartodb'></a></li>
                    <li><a target='_blank' title="Center for Global Development" href='http://www.cgdev.org/' class='cfgd'></a></li>
                    <li><a target='_blank' href='http://um.dk/en/danida-en/' class='danida'></a></li>
                    <li><a target='_blank' title="ESRI" href='http://www.esri.com/gfw' class='esri'></a></li>
                    <li><a target='_blank' href='http://www.thegef.org/gef/' class='gef'></a></li>
                    <li><a target='_blank' title="Global Forest Watch Canada" href='http://globalforestwatch.ca/' class='gfwca'></a></li>
                    <li><a target='_blank' title="Google Earth Engine" href='http://earthengine.google.org/' class='google'></a></li>
                    <li><a target='_blank' title="Imazon" href='http://www.imazon.org.br/pagina-inicial-en?set_language=en&cl=en' class='imazon'></a></li>
                    <li><a target='_blank' href='http://www.government.nl/ministries/bz' class='dutchforeign'></a></li>
                    <li><a target='_blank' href='https://www.regjeringen.no/en/topics/climate-and-environment/climate/klima--og-skogprosjektet/id2000712/' class='norwegian'></a></li>
                    <li><a target='_blank' title="OSFAC" href='http://osfac.net/index.php?lang=en' class='osfac'></a></li>
                    <li><a target='_blank' title="Scanex" href='http://www.scanex.ru/en/' class='scanex'></a></li>
                    <li><a target='_blank' href='http://www.sida.se/english/' class='sida'></a></li>
                    <li><a target='_blank' title="The Jane Goodall Institute" href='http://www.janegoodall.org/' class='goodall'></a></li>
                    <li><a href='http://tiliafund.org/' title="The Tilia Fund" class="tilia" target='_blank'></a></li>
                    <li><a target='_blank' title="Transparent World" href='http://www.transparentworld.ru/ru' class='twrus'></a></li>
                    <li><a target='_blank' title="UNEP" href='http://www.unep.org/' class='unep'></a></li>
                    <li><a target='_blank' title="University of Maryland" href='http://www.geog.umd.edu/' class='universitymaryland'></a></li>
                    <li><a target='_blank' href='https://www.gov.uk/government/organisations/department-for-international-development' class='ukaid'></a></li>
                    <li><a target='_blank' href='http://www.usaid.gov/' class='usaid'></a></li>
                    <li><a target='_blank' title="Vizzuality" href='http://www.vizzuality.com' class='vizzuality'></a></li>
                    <li><a target='_blank' title="World Resources Institute" href='http://www.wri.org' class='wri'></a></li>
                  </ul>
                </li>
                <div class="content">
                  <ul class="faq-list double-margin">
                    <li>
                      <h3>Partners & collaborators</h3>
                      <ul class='logo-list logo-ul'>
                        <li><a target='_blank' title="Agence française de développement international" href='http://www.afd.fr/home' class="afc"></a></li>
                        <li><a target="_blank" title="Agro satélite" href="http://agrosatelite.com.br/" class="agrosatelite"></a></li>
                        <li><a target='_blank' title="Airbus" href='http://airbusdefenceandspace.com/' class="airbus"></a></li>
                        <li><a target='_blank' title="Astro Digital" href='https://astrodigital.com/' class="astrodigital"></a></li>
                        <li><a target='_blank' title="Badan Nasional Penanggulangan Bencana" href='http://bnpb.go.id/' class="bnpb"></a></li>
                        <li><a target="_blank" title="Banking Environment Initiative" href="http://www.cisl.cam.ac.uk/banking" class="footer-logo bei"></a></li>
                        <li><a target="_blank" title="Cambridge Institute for Sustainability Leadership" href="http://www.cisl.cam.ac.uk/" class="cambridge"></a></li>
                        <li><a target='_blank' title="Cargill" href='http://www.cargill.com/' class='cargill'></a></li>
                        <li><a target='_blank' title="CGIAR" href='http://foreststreesagroforestry.org/' class='cgiar'></a></li>
                        <li><a target='_blank' title="CIAT" href='http://ciat.cgiar.org/' class='ciat'></a></li>
                        <li><a target='_blank' title="Climate and Land Use Alliance" href='http://www.climateandlandusealliance.org/' class='clua'></a></li>
                        <li><a target='_blank' title="CONAFOR" href='http://www.conafor.gob.mx' class='conafor'></a></li>
                        <li><a target="_blank" title="Conservation international" href="http://www.conservation.org" class="conservationinternational"></a></li>
                        <li><a target='_blank' title="Digital Globe" href='https://www.digitalglobe.com/' class="digitalglobe"></a></li>
                        <li><a target='_blank' title="Earth Journalism" href='http://earthjournalism.net/' class='ejn'></a></li>
                        <li><a target="_blank" href='http://www.ewmi.org' class='ewmi'></a></li>
                        <li><a target='_blank' title="HAKA" href='http://www.haka.or.id/' class='haka'></a></li>
                        <li><a target="_blank" href="http://www.icf.gob.hn/" class="footer-logo icf"></a></li>
                        <li><a target="_blank" href='http://www.inab.gob.gt/' class='footer-logo inab'></a></li>
                        <li><a target='_blank' title="IOI Loders Croklaan" href='http://europe.croklaan.com/taking-responsibility' class='ioi'></a></li>
                        <li><a target="_blank" title="Laboratório de Processamento de Imagens e Geoprocessamento" href="https://www.lapig.iesa.ufg.br/lapig/" class="lapig"></a></li>
                        <li><a target='_blank' title="MINEPAT" href='http://www.minepat.gov.cm/index.php/en/?lang=en' class='minepat'></a></li>
                        <li><a target='_blank' title="Le Ministère des Forêts et de la Faune" href='http://www.minfof.cm/' class='ministiere'></a></li>
                        <li><a target='_blank' title="Moises Bertoni" href='http://www.mbertoni.org.py/v1/en' class='mbertoni'></a></li>
                        <li><a target='_blank' title="Mongabay" href='http://www.mongabay.com/' class='mongabay'></a></li>
                        <li><a target='_blank' title="ONG Muyissi" href='http://www.ongmuyissi.org/' class='muyissi'></a></li>
                        <li><a target="_blank" href='http://www.opendevelopmentcambodia.net/' class='opendevcam'></a></li>
                        <li><a target="_blank" href='http://orbitalinsight.com/' class='orbital'></a></li>
                        <li><a target='_blank' title="OSINFOR" href='http://www.osinfor.gob.pe/portal/index.php' class='osinfor'></a></li>
                        <li><a target='_blank' title="Rain Forest Foundation" href='http://www.rainforestfoundationuk.org/' class="rfuk"></a></li>
                        <li><a target="_blank" href='http://raisg.socioambiental.org/' class="footer-logo raisg"></a></li>
                        <li><a target='_blank' title="REDD Indonesia" href='http://www.redd-indonesia.org/' class="redd"></a></li>
                        <li><a target='_blank' title="Reforestamos Mexico" href='http://www.reforestamosmexico.org/' class="rm"></a></li>
                        <li><a target='_blank' title="Resolve" href='http://www.resolv.org/site-BiodiversityWildlifeSolutions/' class="resolve"></a></li>
                        <li><a target='_blank' title="RSPO" href='http://www.rspo.org/' class="rspo"></a></li>
                        <li><a target='_blank' title="RTRS" href='http://www.responsiblesoy.org/?lang=en' class="rtrs"></a></li>
                        <li><a target='_blank' title="UNEP-WCMC" href='http://www.unep-wcmc.org/' class='unepwcmc'></a></li>
                        <li><a target='_blank' title="Unilever" href='http://www.unilever.com/' class="unilever"></a></li>
                        <li><a target="_blank" href="https://www.urthecast.com/" class="urthecast"></a></li>
                        <li><a target='_blank' title="Woods Hole Research Center" href='http://www.whrc.org/' class='whrc'></a></li>
                        <li><a target='_blank' title="ZSL" href='http://www.zsl.org/' class='zsl'></a></li>
                      </ul>
                      <ul class='bullets center'>
                        <li><a href='http://www.bakermckenzie.com/' target='_blank'>Baker & McKenzie</a></li>
                        <li><a href='http://www.fao.org/home/en//' target='_blank'>Food and Agriculture Organization of the United Nations</a></li>
                        <li><a href='http://www.iucn.org/' target='_blank'>International Union for Conservation of Nature</a></li>
                        <li><a href='https://www.planet.com/' target='_blank'>Planet Labs</a></li>
                        <li><a href='http://www.sarvision.nl/' target='_blank'>SarVision</a></li>
                        <li><a href='http://www.puter.or.id' target='_blank'>Yayasan Puter Indonesia</a></li>
                      </ul>
                    </li>
                    <li>
                      <h3>Funders</h3>
                      <p><strong>Current Funders</strong></p>
                      <ul class='logo-list logo-ul'>
                        <li><a target='_blank' title="Cargill" href='http://www.cargill.com/' class='cargill'></a></li>
                        <li><a target='_blank' href='http://www.thegef.org/gef/' class='gef'></a></li>
                        <li><a target="_blank" href="https://www.genfound.org/" class="genfound"></a></li>
                        <li><a target="_blank" href="http://www.iadb.org/en/inter-american-development-bank,2837.html" class="idb"></a></li>
                        <li><a target='_blank' href='https://www.macfound.org/' class='macarthur'></a></li>
                        <li><a target='_blank' href='https://www.regjeringen.no/en/topics/climate-and-environment/climate/klima--og-skogprosjektet/id2000712/' class='norwegian'></a></li>
                        <li><a target='_blank' href='https://www.gov.uk/government/organisations/department-for-international-development' class='ukaid'></a></li>
                        <li><a target='_blank' href='http://www.usaid.gov/' class='usaid'></a></li>
                        <li><a target='_blank' href='http://www.wilburforce.org/' class='wilburforce'></a></li>
                      </ul>
                      <ul class='bullets center'>
                        <li>WRI received core bilateral funding from the following donors: <a href='http://www.government.nl/ministries/bz' target='_blank'>Ministry of Foreign Affairs of the Netherlands</a>, <a href='http://um.dk/en/danida-en/' target='_blank'>Royal Danish Ministry of Foreign Affairs</a>, <a href='http://www.sida.se/english/' target='_blank'>Swedish International Development Cooperation Agency</a>, and <a href='https://www.irishaid.ie/' target='_blank'>Irish Aid</a></li>
                      </ul>
                      <p><strong>Past Funders</strong></p>
                      <ul class='bullets center'>
                        <li>Bobolink Foundation</li>
                        <li><a href='http://www.eurasia.org/' target='_blank'>Eurasia Foundation</a></li>
                        <li><a href='https://www.moore.org/' target='_blank'>Gordon and Betty Moore Foundation</a></li>
                        <li><a href='http://www.ifc.org/wps/wcm/connect/regprojects_ext_content/ifc_external_corporate_site/bacp/projects/projsummary_wri' target='_blank'>International Finance Corporation</a></li>
                        <li><a href='http://www.jnj.com/' target='_blank'>Johnson & Johnson</a> (funded GFW Commodities)</li>
                        <li><a href='http://www.morganfamilyfdn.org/' target='_blank'>Morgan Family Fund</a></li>
                        <li><a href='https://www.fmo.nl/' target='_blank'>Netherlands Development Finance Company (FMO)</a></li>
                        <li><a href='http://lander.versoco.com/' target='_blank'>NewPage</a> (funded GFW Commodities)</li>
                        <li><a href='http://www.rainforest-alliance.org/' target='_blank'>Rainforest Alliance</a></li>
                        <li><a href='http://www.tetratech.com/' target='_blank'>Tetra Tech</a></li>
                        <li><a href='http://tiliafund.org/' target='_blank'>The Tilia Fund</a></li>
                        <li><a href='http://www.unep.org/' target='_blank'>United Nations Environment Programme</a></li>
                        <li><a href='http://foundation.walmart.com/' target='_blank'>Walmart Foundation</a> (funded GFW Commodities)</li>
                        <li><a href='http://www.worldbank.org/' target='_blank'>World Bank</a></li>
                      </ul>
                    </li>
                    <li>
                      <h3>Data providers</h3>
                      <p>Visit the <a href="http://data.globalforestwatch.org/" target="_blank">Global Forest Watch Open Data Portal</a> to view the many organizations that contribute data to GFW.</p>
                    </li>
                    <li>
                      <h3>Website designed by</h3>
                      <ul class='logo-list logo-ul'>
                        <li><a target='_blank' href='http://www.vizzuality.com/' class='vizzuality-big'></a></li>
                      </ul>
                      <p>We welcome others to join the growing GFW partnership.</p>
                      <a href='mailto:mailto:gfw@wri.org' class="btn gray medium contact-link">Email us</a>
                    </li>
                  </ul>
                </div>
          </article>

          <article id='videos' class="source-article">
            <header>
              <h2>Videos</h2>
              <h3>Here’s a brief video introduction from the GFW team, presented in six of our key languages:</h3>
            </header>
            <div class='content'>
              <div id="videoView" class="video-box">
                <div class="player">
                  <div id="player" data-default="BZx2edin9do"></div>
                </div>
                <ul class="video-list">
                  <li class="btn-video current" data-video="BZx2edin9do">WRI | What's the Big Idea? | Global Forest Watch</li>
                  <li class="btn-video" data-video="L8jA8ush7d8">WRI | ¿CUÁL ES LA GRAN IDEA? Global Forest Watch</li>
                  <li class="btn-video" data-video="d3xUkSjlNjQ">WRI | QUAL É A GRANDE IDEIA? Global Forest Watch</li>
                  <li class="btn-video" data-video="0K684H-yKWQ">WRI | QUELLE EST CETTE MERVEILLEUSE IDÉE? Global Forest Watch</li>
                  <li class="btn-video" data-video="metb4Cm9Zh0">WRI | APA IDE BESARNYA? Global Forest Watch</li>
                  <li class="btn-video" data-video="ayqMDX-672g">WRI | B ЧЁМ НАША ГЛАВНАЯ ИДЕЯ? Global Forest Watch</li>
                  <li class="btn-video" data-video="z5QNluSbMuU">Voices for Global Forest Watch | UNEP, Norway, UK</li>
                  <li class="btn-video" data-video="BY4VUQRe9pU">Voices for Global Forest Watch | Unilever, Indonesia, Jane Goodall</li>
                  <li class="btn-video" data-video="xwWTkcXUxr8">Tracking Palm Oil Fires with Satellite Imagery</li>
                </ul>
              </div>
            </div>
          </article>

          <article id='awards_and_testimonials' class="source-article">
            <header>
              <h2>Awards & testimonials</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Awards</h3>
                  <ul class='awards_logo-list'>
                    <li><a target="_blank" href="http://events.esri.com/conference/sagList/"><%= image_tag('backgrounds/awards1.png')%></a></li>
                    <li><a target="_blank" href="http://www.unglobalpulse.org/big-data-climate-challenge-winners-announced"><%= image_tag('backgrounds/awards.png')%></a></li>
                    <li><a target="_blank" href="http://www.socialtech.org.uk/projects/global-forest-watch/"><%= image_tag('backgrounds/awards2.png')%></a></li>
                    <li><a target="_blank" href="http://www.computerworld.com/article/2977562/data-analytics/world-resources-institute.html"><%= image_tag('backgrounds/awards3.png')%></a></li>
                  </ul>
                </li>
                <li>
                  <h3>Testimonials</h3>
                  <ul class="testimonial-list">
                    <li class="testimonial">
                      <div class="testimonial-quote">Managing the world’s forest resources is both a local and global undertaking, and technology has provided Global Forest Watch with an unprecedented opportunity to connect not only information and data, but people – whether they are forest managers, businesses and private sector, or consumers across the globe. This is a great example of a community coming together and providing the world with a truly groundbreaking and pioneering product. Hopefully in a few years’ time we will be able to monitor the impact and the results in terms of what actually happens on the ground – that will be the greatest affirmation that the time for this idea had come.</div>
                      <span class="author"><strong>Achim Steiner</strong> UNEP Executive Director and Under-Secretary-General of the United Nations</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Our common goal is to fight climate change, to promote green growth, and to preserve the livelihoods and homes of millions of people and species, but in order to succeed we need open, transparent, and timely information. In this sense, Global Forest Watch is a unique tool that hopefully will help change the way we manage our forests. Sometimes, ideas can change the world – we now have a wonderful new tool at our disposal, and it is up to us to put it to good use.</div>
                      <span class="author"><strong>Tine Sundtoft</strong> Minister of Climate and Environment, Norway</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Global Forest Watch has a hugely important role to play in bringing transparency into forest conservation. Using satellite imagery, new processing technology, and the power of human networks, it will allow rapid identification of deforestation in the hands of those who can best use it. That is transparency in action, and with transparency comes accountability.</div>
                      <span class="author"><strong>Lynne Featherstone</strong> Parliamentary Under-Secretary of State for International Development, United Kingdom</span>
                    </li>
                    <li class="testimonial">
                      <div class="testimonial-quote">Wonderful advances in recent years in the use of satellite data and technology have empowered communities to monitor their own forests. Global Forest Watch connects the best of these systems, pulling all of this technology together on a single platform that provides access to high-quality data for the entire world. It will dramatically benefit all those working to protect our forests, and help us identify new threats to chimpanzees and prioritize our conservation efforts.</div>
                      <span class="author"><strong>Jane Goodall</strong> Founder, Jane Goodall Institute</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>

          <article id='outcomes' class="source-article">
            <header>
              <h2>Outcomes</h2>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Lorem ipsum dolor sit amet</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#" class="btn gray medium">Outcomes fires</a>
                  <a href="#" class="btn gray medium">Outcomes communities</a>
                </li>
              </ul>
            </div>
          </article>

          <article id='data_policy' class="source-article">
            <header>
              <h2>Data policy & standards</h2>
              <h3>Learn more about Global Forest Watch’s commitment to high quality, open data:</h3>
            </header>
            <div class="content">
              <ul class='faq-list'>
                <li id='data_standards' class='source-item first'>
                  <h3>Data standards</h3>
                  <div class='source_body'>
                    <div class='source_summary'>
                      <p>Global Forest Watch is committed to providing the highest-quality data on the world’s forests that is currently available. All of the data provided on GFW have been assessed with respect to several indicators of quality, including timeliness, accuracy, completeness, geographic coverage, innovation, and objectivity.</p>

                      <p>In some cases, the best available data still have known shortcomings with respect to one or more of these indicators. In those cases, we provide a “caution” explaining known issues or inaccuracies.</p>

                      <p>Global Forest Watch has an open data policy and commits to make our data, and that of our partners, open, discoverable, downloadable, and usable. We believe that open data enables the innovation, information sharing, analysis, and transparency required to support policies that better manage and sustain the world’s forests.</p>

                      <p>For more information about how Global Forest Watch acquires and incorporates new data to the GFW system, see our <a href="http://gfw.blog.s3.amazonaws.com/Data%20Playbook/GFW%20Data%20Playbook%20v3.pdf" target="_blank">Data Playbook</a>.</p>
                    </div>
                  </div>
                </li>

                <li id='open_data' class='source-item'>
                  <h3>Open data policy</h3>
                  <div class='source_body'>
                    <div class='source_summary'>
                      <p>Global Forest Watch has an open data policy, intended to provide information free of constraints and restrictions on use. All of the data, graphics, charts and other material we produce carry the <a href='https://creativecommons.org/licenses/by/4.0/' target='_blank'>Creative Commons CC BY 4.0</a> licensing. This means you are able to download, share, and adapt the data for any use, including commercial and noncommercial uses. You must attribute the data appropriately, using the information provided in the data set description.</p>

                      <p>Some data displayed on the Global Forest Watch platform was developed by other organizations and may carry other licensing or permissions. For data sets not produced by GFW, we provide links to download data from the original source when they are available. Please refer to the original licensing for these data sets.</p>

                      <p>Most of the photographs featured on this site have either been licensed under non-transferable terms, or have been acquired from photo sharing sites that have their own policies for public use. Unless indicated otherwise, the Creative Commons license described above does not apply to photographs and images used on this site.</p>
                    </div>
                  </div>
                </li>

                <li id='data_sharing' class='source-item'>
                  <h3>Data sharing</h3>
                  <div class='source_body'>
                    <div class='source_summary'>
                      <h4 class='overview_title'>Terms of use</h4>
                      <ul class='bullets'>
                        <li>For data sets produced by GFW, you are free to use, distribute, copy, modify, and display the data for commercial and noncommercial purposes.</li>
                        <li>You are free to use maps, graphics, charts, and other representations of data on the GFW website, with the <a href='https://creativecommons.org/licenses/by/4.0/' target='_blank'>Creative Commons CC BY 4.0</a> license.</li>
                        <li>Licensing is determined for each individual data set—please refer to the licensing text for detailed information.</li>
                        <li>You must attribute the data as indicated in the metadata or licensing for each individual data set.</li>
                        <li>You must not imply that Global Forest Watch endorses your use of the data, or use the Global Forest Watch logo in conjunction with such use.</li>
                        <li>Through accessing the GFW site you have acknowledged and agreed to our <%= link_to "Terms of Service", terms_path, :target => '_blank' %>.</li>
                      </ul>

                      <h4 class='overview_title'>Permissions & licensing</h4>
                      <p>Except as noted below, all material on this site carries the <a href='https://creativecommons.org/licenses/by/4.0/' target='_blank'>Creative Commons CC BY 4.0</a> license, which permits unrestricted reuse of GFW content when proper attribution is provided. This means you are free to copy, display, and distribute GFW’s work, or include our content in derivative works, under the following conditions:</p>

                      <ul class='bullets'>
                        <li><strong>Attribution.</strong> You must clearly attribute the work and provide a link back to the work on www.globalforestwatch.org. Doing so ensures that people access the latest available information, in the event that the publication is revised or more research is published. Click <a href='https://creativecommons.org/licenses/by/4.0/legalcode' target='_blank'>here</a> for the full legal code of Creative Commons CC BY 4.0 license. Some content on this site may carry additional copyright restrictions. GFW has made every effort to clearly label such content.</li>

                        <li><strong>Photographs.</strong> Most of the photographs featured on this site have either been licensed under nontransferable terms, or have been acquired from photo-sharing sites such as Flickr that have their own policies for public use. Unless indicated otherwise, the Creative Commons CC BY 4.0 license described above does not apply to photographs and images used on this site.</li>

                        <li><strong>Charts, Graphs, & Maps.</strong> Charts, graphs, and maps produced by GFW may be used according to the Creative Commons CC BY 4.0 license. Where graphs employ data from third parties, we may not be able to grant permissions to the original data used in these charts, although such permissions may be granted by the owners of the data. In these cases, please contact the third-party organizations directly to ask about permissions. If you have any questions about citing or reusing GFW content, please visit the <a href='/howto'>How To page</a> or <a class="data-suggestion-link" href='mailto:gfw@wri.org'>contact us</a>.</li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </article>

          <article id='contact_us' class="source-article">
            <div class="m-spinner">
              <div class="spinner-box">
                <div class="icon"></div>
              </div>
            </div>
            <div>
              <ul class="steps">
                <!-- STEP CONTACT -->
                <li class="step -active" data-step="contact">
                  <header>
                    <h2>Contact us & feedback</h2>
                    <h3>Question, comment, request, feedback? We want to hear from you! Help us improve Global Forest Watch by completing the form below.</h3>
                  </header>
                  <div class="step-content">
                    <form id="contact-form">
                      <div class="field -default">
                        <label for="contact-email">Email *</label>
                        <input id="contact-email" type="email" name="email">
                      </div>
                      <div class="field -default">
                        <label for="contact-topic">Topic *</label>
                        <div class="m-select">
                          <select id="contact-topic" class="js- chosen-select default required" name="topic" data-placeholder="Please select a topic so that we can best respond">
                            <option value="">Select a topic</option>
                            <option value="report-a-bug-or-error-on-gfw">Report a bug or error on GFW</option>
                            <option value="provide-feedback">Provide feedback</option>
                            <option value="media-request">Media request</option>
                            <option value="data-related-inquiry">Data related inquiry or suggestion</option>
                            <option value="gfw-commodities-inquiry">GFW Commodities inquiry</option>
                            <option value="gfw-fires-inquiry">GFW Fires inquiry</option>
                            <option value="gfw-climate-inquiry">GFW Climate inquiry</option>
                            <option value="gfw-water-inquiry">GFW Water inquiry</option>
                            <option value="general-inquiry">General inquiry</option>
                          </select>
                        </div>
                      </div>
                      <div class="field -default">
                        <label for="contact-message">Message *</label>
                        <textarea id="contact-message" name="message" placeholder="How can we help you?"></textarea>
                      </div>
                      <div class="field -default">
                        <h3>INTERESTED IN TESTING NEW FEATURES ON GFW?</h3>
                        <p>Sign up and become an official GFW tester!</p>
                        <div class="radio-box -inline">
                          <div class="custom-radio">
                            <input id="contact-signup-true" type="radio" name="signup" value="true">
                            <label for="contact-signup-true">
                              <span></span> Yes, sign me up.
                            </label>
                          </div>
                          <div class="custom-radio">
                            <input id="contact-signup-false" type="radio" name="signup" value="false" checked>
                            <label for="contact-signup-false">
                              <span></span> No thanks.
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="m-btncontainer">
                        <button class="btn green medium huge-padding uppercase step-btn js-dinamic-color js-btn-submit -active">Submit</button>
                      </div>
                    </form>
                  </div>
                </li>

                <!-- STEP SUCCESS -->
                <li class="step" data-step="success">
                  <div class="m-newsletter">
                    <header>
                      <h3>Thank you for contacting Global Forest Watch! Check your inbox for a confirmation email.</h3>

                      <div>
                        <h4>Interested in getting news and updates from us?</h4>
                        <a class="btn green uppercase js-newsletter-sign-up" href="/?show_newsletter=true">Sign up for our newsletter</a>
                      </div>
                    </header>
                    <!-- Pardot team newsletter -->
                    <div id="newsletter"></div>
                  </div>
                </li>

                <!-- STEP ERROR -->
                <li class="step" data-step="error">
                  <header>
                    <h2>We're sorry, </br>but something went wrong</h2>
                  </header>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
