<% content_for :title do
  t('.title')
end %>

<% content_for :download do %>
<div class="download">
  <div class="inner">
      <%= content_tag :h1, (raw t('layouts.application.footer.download.title2', :url => "/sources")) %></div></div>
</div>
<% end %>

<div class="navigation">
  <ul>
    <li><a href="#about"><%= t('static.about.about_link')%></a></li>
    <li><a href="#partners"><%= t('static.about.partners')%></a> </li>    
    <li><a href="#funders"><%= t('static.about.funders')%></a> </li>
    <li><a href="#supporters"><%= t('static.about.supporters_providers')%></a> </li>
    <li><a href="#websiteteam"><%= t('static.about.website_team')%></a></li>
    <li><a href="#contactus"><%= t('static.about.contact_us')%></a></li>
  </ul>
</div>

<div class="narrow_column">

  <section>
  <article>
  <%= raw t('static.about.introduction') %>
</p>
  </article>

  <article>
  <h1><a href="#" name="partners"></a><%= t('static.about.partners')%></h1>
    <ul class="logo_list">
      <li><a target="_blank" href="http://www.cgdev.org/" id="centerglobaldevelopment"></a></li>
      <li><a target="_blank" href="http://earthengine.google.org/" id="google"></a></li>
      <li><a target="_blank" href="http://www.imazon.org.br/pagina-inicial-en?set_language=en&cl=en" id="imazon"></a></li>
      <li><a target="_blank" href="http://www.geog.umd.edu/" id="universitymaryland"></a></li>
      <li><a target="_blank" href="http://www.wri.org" id="wri"></a></li>
      <li><a target="_blank" href="http://www.esri.com/" id="esri"></a></li>
      <li><a target="_blank" href="http://www.unep.org/" id="unep"></a></li>            
    </ul>
  </article>

  <article>
  <h1><a href="#" name="funders"></a><%= t('static.about.funders')%></h1>
    <ul class="logo_list">
      <li><a target="_blank" href="http://tiliafund.org/" id="tilafund"></a></li>
      <li><span id="bobolink">Bobolink</span></li>
      <li><a target="_blank" href="http://www.minbuza.nl/en" id="dutchforeign"></a></li>
    </ul>
  </article>

  <article>
  <h1><a href="#" name="supporters"></a><%= t('static.about.supporters_providers')%></h1>
    <ul class="logo_list">
      <li><a target="_blank" href="http://carpe.umd.edu/" id="carpe"></a></li>
      <li><a target="_blank" href="http://um.dk/en/danida-en/" id="danida"></a></li>
      <li><a target="_blank" href="http://www.nasa.gov/" id="nasa"></a></li>
      <li><a target="_blank" href="http://www.sekala.net/" id="sekala"></a></li>
      <li><a target="_blank" href="http://www.usaid.gov/" id="usaid"></a></li>
    </ul>
  </article>

  <article>
  <h1><a href="#" name="websiteteam"></a><%= t('static.about.website_team')%></h1>
    <ul class="logo_list">
      <li><a target="_blank" href="http://www.vizzuality.com" id="vizzuality"></a></li>
      <li><a target="_blank" href="http://www.wri.org" id="wri"></a></li>
      <li><a target="_blank" href="http://earthengine.google.org/" id="googleearthengine"></a></li>
    </ul>
  </article>
  
  <article class="contact">
  <h1><a href="#" name="contactus"></a><%= t('static.about.contact_us')%></h1>
  <p>
    Susan Minnemeyer<br/>
    <span class="subtitle">
      Mapping & Data Manager ·
      <a href="mailto:susan.minnemeyer@wri.org" class="email">susan.minnemeyer@wri.org</a>
    </span>
  </p>

  </article>

  </section>

</div>
