<% content_for :js do %>
  <script>
    $(function() {
      var StaticRouter = Backbone.Router.extend({

        routes: {
          'forest_change':  'change',
          'forest_cover':   'change',
          'forest_use':     'change',
          'conservation':   'change',
          'people':         'change',
          'stories':        'change',
          'base_maps':      'change',
          'code':           'change',
          'earth_engine':   'change',
          'arcgis':         'change',
          'data_policy':    'change'
        },

        initialize: function() {},

        change: function() {
          var tab = window.location.hash.replace('#/','');

          window.static_data._onNavChange(tab);
        }
      });

      cdb.init(function() {
        window.static_data = new gfw.ui.view.Static();

        var router = new StaticRouter();
        Backbone.history.start();
      });
    });
  </script>
<% end %>

<div class='inner'>
  <div class='header_block'>
    <div class='header_block__body'>
      <h1 class='header_block__title'>Data sources</h1>
      <p class='header_block__description'>Global Forest Watch hosts a wealth of data relating to forests. Some data have been developed by WRI or by GFW partner organizations. Other data are in the public domain and have been developed by governments, NGOs, and companies. The data vary in accuracy, resolution, frequency of update, and geographic coverage. The summaries below include links to further information such as methods and technical documents.  Full download of the data sets is available for almost all sources.</p>
    </div>

    <ul class='header_block__footer'>
      <li class='header_block__link three'>
        <%= link_to "Download by country #{content_tag(:i)}".html_safe, countries_path %>
      </li>

      <li class='header_block__link three'>
        <a href='mailto:gfw@wri.com'>Missing a data set?<i></i></a>
      </li>

      <li class='header_block__link three last'>
        <a href='https://groups.google.com/forum/#!forum/globalforestwatch' target='_blank'>Join the discussion<i></i></a>
      </li>
    </ul>
  </div>
</div>

<div class='inner static-inner'>
  <div class='navigation_left'>
    <ul>
      <li class='item_title'><i class='caret_down'></i></li>
      <li><%= link_to "Forest Change", "#{sources_path}/#/forest_change", :class => 'selected nav-item', :'data-slug' => 'forest_change' %></li>
      <li><%= link_to "Forest cover", "#{sources_path}/#/forest_cover", :class => 'nav-item', :'data-slug' => 'forest_cover' %></li>
      <li><%= link_to "Forest use", "#{sources_path}/#/forest_use", :class => 'nav-item', :'data-slug' => 'forest_use' %></li>
      <li><%= link_to "Conservation", "#{sources_path}/#/conservation", :class => 'nav-item', :'data-slug' => 'conservation' %></li>
      <li><%= link_to "People", "#{sources_path}/#/people", :class => 'nav-item', :'data-slug' => 'people' %></li>
      <li><%= link_to "Stories", "#{sources_path}/#/stories", :class => 'nav-item', :'data-slug' => 'stories' %></li>
      <li><%= link_to "Base maps", "#{sources_path}/#/base_maps", :class => 'nav-item', :'data-slug' => 'base_maps' %></li>
      <li><%= link_to "Code", "#{sources_path}/#/code", :class => 'nav-item', :'data-slug' => 'code' %></li>
      <li><%= link_to "GFW on Google Earth Engine", "#{sources_path}/#/earth_engine", :class => 'nav-item', :'data-slug' => 'earth_engine' %></li>
      <li><%= link_to "GFW on ArcGIS Online", "#{sources_path}/#/arcgis", :class => 'nav-item', :'data-slug' => 'arcgis' %></li>
      <li><%= link_to "Data policy", "#{sources_path}/#/data_policy", :class => 'nav-item', :'data-slug' => 'data_policy' %></li>
    </ul>
  </div>

  <div class='content_right'>
    <%= render 'shared/sources' %>
  </div>
</div>
