<%= render 'shared/svg_icons_applications' %>
<div id="loader-mobile" class="loader-mobile">
  <div class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
</div>
<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Help make Global Forest Watch better! Join GFW’s growing community of contributing users by providing data, helping us improve existing data, developing your own ”app” or project using the GFW platform, or by simply joining the discussion about GFW. You can also provide feedback to help us improve the Global Forest Watch platform.</h3>
      </header>
      <ul class="row row2">
        <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank" class="btn white uppercase">Join the discussion</a></li>
        <li><%= link_to 'Submit a story', new_story_path, :class => 'btn white uppercase' %></li>
      </ul>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <a id="back-btn" class="back-btn mobile-show" href="#"><svg><use xlink:href="#shape-fast-forward-left"></use></svg>Get involved</a>
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'Develop your own app', "#{getinvolved_path}/develop-your-own-app", :"data-slug" => 'develop-your-own-app', :"data-interesting" => 'explore_applications, stay_informed, how_to', :class => 'nav-item develop-your-own-app' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Share data', "#{getinvolved_path}/share-data", :"data-slug" => 'share-data', :"data-interesting" => 'explore_the_map, stay_informed, contact_us', :class => 'nav-item share-data' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Help improve data', "#{getinvolved_path}/help-improve-data", :"data-slug" => 'help-improve-data', :"data-interesting" => 'explore_the_map, explore_applications, contact_us', :class => 'nav-item help-improve-data' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Apply to the Small Grants Fund', "#{getinvolved_path}/apply-to-the-small-grants-fund", :"data-slug" => 'apply-to-the-small-grants-fund', :"data-interesting" => 'explore_applications, stories_on_the_map, about_GFW', :class => 'nav-item apply-to-the-small-grants-fund' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <!-- <li><%#= link_to 'Provide Feedback', "#{getinvolved_path}/provide-feedback", :"data-slug" => 'provide-feedback', :"data-interesting" => 'explore_the_map, stay_informed, how_to', :class => 'nav-item provide-feedback' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li> -->
          <li><%= link_to 'Help improve translations', "#{getinvolved_path}/help-improve-translations", :"data-slug" => 'help-improve-translations', :"data-interesting" => 'explore_the_map, stay_informed, how_to', :class => 'nav-item help-improve-translations' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id="develop-your-own-app" class="source-article">
            <header>
              <h2>Develop your own app</h2>
              <p>Do you ever wish that Global Forest Watch could be customized for your geography or issue of interest? Do you have a great idea for how GFW data could help solve a specific problem? Using GFW’s public Application Programming Interface (API) and open source code, anyone can build on GFW data and technology to create customized web-based or mobile applications (“apps”). This section contains the tools and information you need to develop applications that harness Global Forest Watch data and technology.</p>
            </header>
              <div class="content">
                <ul class="faq-list">
                  <li>
                    <h3>Public API</h3>
                    <p>The Global Forest Watch public Application Programming Interface (API) is currently in beta. The API enables any website to easily access GFW data. The following forest change data are now available through the API:
                    <ul class='bullets'>
                      <li>University of Maryland (UMD)/Google tree cover loss & gain</li>
                      <li>FORMA alerts</li>
                      <li>IMAZON SAD alerts</li>
                      <li>QUICC alerts</li>
                      <li>Terra-i alerts</li>
                      <li>NASA active fires</li>
                    </ul>
                    </p>
                    <a class="btn gray uppercase medium" href="https://github.com/wri/gfw-api" target="_blank">API Repository</a>
                  </li>
                  <li>
                    <h3>Code</h3>
                    <p>The Global Forest Watch website and public API are both collaborative and open-source projects hosted on <a href="https://github.com/" target="_blank">GitHub</a>. If you would like to access or contribute to our source code, please visit <a href="https://github.com/Vizzuality/gfw" target="_blank">GFW on GitHub</a>, where you can send pull requests to our website repository or API repository. All Global Forest Watch source code is released under the MIT License (MIT).</p>
                    <a class="btn gray uppercase medium" href="https://github.com/Vizzuality/gfw" target="_blank">Global Forest Watch</a>
                    <a class="btn gray uppercase medium" href="https://github.com/wri/gfw-commodities-app" target="_blank">Commodities</a>
                    <a class="btn gray uppercase medium" href="https://github.com/wri/gfw-fires-app" target="_blank">Fires</a>
                    <a class="btn gray uppercase medium" href="https://github.com/Vizzuality/gfw-climate" target="_blank">Climate</a>
                  </li>
                  <li>
                    <h3>Coming soon</h3>
                    <ul class='bullets'>
                      <li><strong>Client libraries</strong> for accessing the Global Forest Watch API from JavaScript and Python</li>
                      <li><strong>Style guide</strong> for branding Global Forest Watch applications and tools</li>
                      <li><strong>The Seed Fund</strong> for supporting developers to build applications using Global Forest Watch data</li>
                    </ul>
                  </li>
                <li>
                  <h3>Useful links</h3>
                  <a class="btn gray uppercase medium mobile-friendly" href="http://vizzuality.github.io/gfw-style-guides/" target="_blank">GFW style guides</a>
                  <a class="btn gray uppercase medium mobile-friendly" href="http://data.globalforestwatch.org/">Download data</a>
                  <a class="btn gray uppercase medium" href="https://earthengine.google.org/" target="_blank">Google Earth Engine</a>
                  <a class="btn gray uppercase medium" href="https://developers.arcgis.com/en/">ESRI's api info</a>
                  <a class="btn gray uppercase medium" href="mailto:datalab@wri.org">App Development Support</a>
                </li>
              </ul>
           </div>
          </article>

          <article id='apply-to-the-small-grants-fund' class="source-article">
            <header>
              <h2>Apply to the Small Grants Fund</h2>
              <h3>Welcome to the Global Forest Watch Small Grants Fund!</h3>
              <div class="intro">
                <p class="img-cont"><%= image_tag('logos/sgflogo.jpg')%></p>
                <div class="text-cont">
                  <p>The Small Grants Fund seeks to promote uptake of Global Forest Watch by civil society organizations to use in their research, advocacy, and fieldwork. The fund provides grants between US$10,000 and US$40,000 and technical support to civil society organizations for project implementation. Additionally, grant recipients have the opportunity to form part of a unique network of environmental organizations, working around the globe towards objectives like increasing women’s participation in land use decision-making in Indonesia, protecting jaguars in Nicaragua, mapping mangroves in Madagascar, monitoring the impact of mega-dam projects in Brazil, and more.</p>
                </div>
              </div>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Projects may include, but are not limited to:</h3>
                  <ul class="bullets">
                    <li><strong>Forest management, monitoring and law enforcement</strong> - Use GFW’s near real-time <a href="#" target="_blank">alerts</a> to monitor deforestation, notify authorities, target ranger patrols, or guide legal investigations.</li>
                    <li><strong>Advocacy / campaigning</strong> - Use GFW data to generate evidence to campaign against illegal deforestation, land grabbing, and environmental injustice.</li>
                    <li><strong>Journalism and storytelling</strong> - Raise public awareness about the threats to forests and forest-dependent communities by publishing stories or training local journalists using GFW data.</li>
                    <li><strong>Data collection or generation</strong> - Contribute to GFW’s mission to increase forest transparency by promoting disclosure of geospatial data, aggregating and surfacing existing forest data, or developing new geospatial data, and making it publically available.</li>
                    <li><strong>Scientific or policy research</strong> - Use GFW data to generate original research or analysis discerning spatial or temporal trends in land use, forest change or drivers of deforestation to make forest policy recommendations.</li>
                    <li><strong>Education and training / capacity building</strong> - Design training modules and create materials to further the understanding of how GFW can be used.</li>
                  </ul>
                </li>
                <li>
                  <h3>How to apply</h3>
                  <p>The 2016 Small Grants Fund application period is now closed. To be notified of future open application cycles, please send an email to <a href="mailto:GFWFUND@WRI.ORG">gfwfund@wri.org</a>.</p>
                </li>
                <li>
                  <h3>Small Grants Fund Projects</h3>
                  <p>To learn more about our Small Grants Fund recipients, see our interactive <a href="https://gfw.maps.arcgis.com/apps/MapJournal/index.html?appid=4c3a290ba73e46139fcc40d387a8d17d" target="_blank">Story Map</a> below of our 2015 grantees, or our <a href="https://gfw.maps.arcgis.com/apps/MapJournal/index.html?appid=0a56f3905f88466b93ed5696ef6fde81" target="_blank">Story Map</a> of 2014 grantees. You can also read this <a href="http://blog.globalforestwatch.org/2016/04/announcing-the-2016-recipients-of-the-small-grants-fund/" target="_blank">blog post</a> highlighting our 2016 winners.</p>
                  <p><a href="https://gfw.maps.arcgis.com/apps/MapJournal/index.html?appid=4c3a290ba73e46139fcc40d387a8d17d" target="_blank">Visit the Story Map</a></p>
                  <p><a href="https://gfw.maps.arcgis.com/apps/MapJournal/index.html?appid=4c3a290ba73e46139fcc40d387a8d17d" target="_blank"><%= image_tag('backgrounds/sgf-story.png')%></a></p>
                </li>
                <li>
                  <h3>Frequently asked questions</h3>
                  <p><strong>How can I learn more about how Global Forest Watch can be used, and determine whether this platform can be used for my project?</strong></p>
                  <ul class='bullets'>
                    <li>All applications must clearly articulate how GFW will play a critical role in the project. To find out more information about GFW, visit the How To page for video tutorials and step by step instructions on how to subscribe to alerts, visualize data, view statistics, analyze forest change, download data through our Open Data Portal, and more.</li>
                  </ul>
                  <p><strong>I’m seeking funding for a small component of a larger project. Can I apply?</strong></p>
                  <ul class='bullets'>
                    <li>Yes, in fact, we encourage applications that can clearly demonstrate how GFW contributes to existing work.</li>
                  </ul>
                  <p><strong>Our larger project won’t be completed by December 31, 2015. Can I still apply?</strong></p>
                  <ul class='bullets'>
                    <li>Yes. However, in your application, you must describe the activities and outcomes that can be achieved in the time allotted, and how they tie into the larger project goal.</li>
                  </ul>
                  <p><strong>Can the application be filled out in languages other than English?</strong></p>
                  <ul class='bullets'>
                    <li>Unfortunately, we can only accept applications in English.</li>
                  </ul>
                  <p><strong>My project seeks funding to purchase equipment or other materials. Can I use the SGF award for this purpose?</strong></p>
                  <ul class='bullets'>
                    <li>You may use the some of the funds to purchase equipment directly related to the project. Total equipment purchases should not exceed $5,000.</li>
                  </ul>
                  <p><strong>Can I apply on behalf of a university or research institution?</strong></p>
                  <ul class='bullets'>
                    <li>Unfortunately, only certified non-profit organizations are eligible to apply.</li>
                  </ul>
                  <p><strong>Can I apply as an individual, not as an organization?</strong></p>
                  <ul class='bullets'>
                    <li>No. Unfortunately, only organizations are eligible to apply. Please see the <a href="https://s3.amazonaws.com/gfw-files/Guidelines_for_Applicants_2016_final_v2.pdf" target="_blank">Guidelines for Applicants</a> for more information.</li>
                  </ul>
                  <p><strong>I applied to the SGF last year, but was not accepted. Will my application be given special consideration?</strong></p>
                  <ul class='bullets'>
                    <li>No. All applications will be reviewed against the same criteria. However, we encourage previous unsuccessful applicants to apply.</li>
                  </ul>
                  <p><strong>I work for a large, international organization, but we’re implementing a project with a local partner. Can I still apply?</strong></p>
                  <ul class='bullets'>
                    <li>Yes. International organizations are eligible to apply if the proposed project is at the national or subnational level. In this case, organizations are encouraged to work with local partners.</li>
                  </ul>
                  <p><strong>I’m implementing a project in conjunction with a partner organization. Can I apply on behalf of our partnership? </strong></p>
                  <ul class='bullets'>
                    <li>Unfortunately, funding can only be granted to one organization per application, although you may work with other partners to implement the project.</li>
                  </ul>
                </li>
                <li>
                  <p>Do you have a question that’s not on this list? Please consult the <a href="https://s3.amazonaws.com/gfw-files/Guidelines_for_Applicants_2016_final_v2.pdf" target="_blank">Guidelines for Applicants</a> or email <a href="mailto:GFWFUND@WRI.ORG">GFWFUND@WRI.ORG</a></p>
                </li>
                <li>
                  <h3>Webinar for Prospective Applicants</h3>
                  <p>Watch the recording of the webinar for prospective applicants.</p>
                  <a target="_blank" class="btn green medium uppercase" href="https://www.youtube.com/watch?v=RtcrS7dmhcI">Watch now!</a>
                </li>
              </ul>
            </div>
          </article>
          <article id="develop-your-own-app" class="source-article">
            <header>
              <h2>Build your own app</h2>
              <h3>This page contains the tools and information you need to develop applications that harness Global Forest Watch data and technology.</p>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>Public API</h3>
                  <p>The Global Forest Watch public Application Programming Interface (API) is currently in beta. The API enables any website to easily access GFW data. The following forest change data are now available through the API:
                  <ul class='bullets'>
                    <li>University of Maryland (UMD)/Google tree cover loss & gain</li>
                    <li>FORMA tree clearing alerts</li>
                    <li>IMAZON SAD alerts</li>
                    <li>QUICC alerts</li>
                    <li>Terra-i alerts</li>
                    <li>NASA active fires</li>
                  </ul>
                  </p>
                  <a class="btn gray uppercase medium" href="https://github.com/wri/gfw-api" target="_blank">API Repository</a>
                </li>
                <li>
                  <h3>Code</h3>
                  <p>The Global Forest Watch website and public API are both collaborative and open-source projects hosted on <a href="https://github.com/" target="_blank">GitHub</a>. If you would like to access or contribute to our source code, please visit <a href="https://github.com/Vizzuality/gfw" target="_blank">GFW on GitHub</a>, where you can send pull requests to our website repository or API repository. All Global Forest Watch source code is released under the MIT License (MIT).</p>
                  <a class="btn gray uppercase medium" href="https://github.com/Vizzuality/gfw">Website Repository</a>
                </li>
                  <li>
                    <h3>Coming soon</h3>
                    <ul class='bullets'>
                      <li><strong>Client libraries</strong> for accessing the Global Forest Watch API from JavaScript and Python</li>
                      <li><strong>Style guide</strong> for branding Global Forest Watch applications and tools</li>
                      <li><strong>The Seed Fund</strong> for supporting developers in their building of applications using Global Forest Watch data</li>
                    </ul>
                </li>
                <li>
                  <h3>Useful links</h3>
                  <a class="btn gray uppercase medium" href="/explore">View existing applications</a>
                  <a class="btn gray uppercase medium" href="https://earthengine.google.org/" target="_blank">Google Earth Engine</a>
                  <a class="btn gray uppercase medium" href="#">ESRI's api info</a>
                  <a class="btn gray uppercase medium" href="mailto:datalab@wri.org">App Development Support</a>
                </li>
              </ul>
           </div>
          </article>
          <article id="submit-a-story" class="source-article">
            <header>
              <h2>Submit a story</h2>
              <p>User stories provide critical context to forest change data. Using the button below, add a story to the GFW interactive map. By adding a story, you can improve our understanding of what is happening to forests around the world. Submit a story to confirm or refute remotely sensed data; report illegal activities; call attention to a threat or conflict in your area; tell a forest conservation success story; or share your local expertise.</p>
              <a class="btn green uppercase medium" href="/stories/new">Submit a story</a>
            </header>
          </article>
          <article id="share-data" class="source-article">
            <header>
              <h2>Share data</h2>
              <p>Are we missing important data? Global Forest Watch compiles data from many different sources, and we are always excited to work with new data providers. Contact us at <a href="mailto:gfw@wri.org">gfw@wri.org</a> to share your data or point us to open data we may have missed.</p>
              <p>Global Forest Watch has an <a href="http://gfw-nav.herokuapp.com/about/data_policy">open data policy</a> and seeks to make data open, discoverable, downloadable, and usable. We believe that open data and transparency support efforts to better manage and sustain the world’s forests by promoting innovation and enabling informed, participatory, and accountable decision-making.</p>
              <p>See our <a href="http://gfw.blog.s3.amazonaws.com/Data%20Playbook/GFW%20Data%20Playbook%20v3.pdf" target="_blank">Data Playbook</a> for more information about how Global Forest Watch acquires and incorporates new data.</p>
              <p>Use the links below to view our existing data and contact us at <a href="mailto:gfw@wri.org">gfw@wri.org</a> if you know of data that should be on Global Forest Watch.</p>
              <a class="btn gray uppercase medium mobile-friendly" href="http://data.globalforestwatch.org">View & download existing data</a>
              <a class="btn gray uppercase medium" href="mailto:gfw@wri.org">Email us</a>
            </header>
          </article>
          <article id="help-improve-data" class="source-article">
            <header>
              <h2>Help improve data</h2>
              <p>Global Forest Watch is a global effort to monitor forest landscapes, and anyone can contribute. From your computer or smartphone, you can help make GFW data better. Use these applications to contribute your own data from the ground, compare GFW alerts against the latest satellite imagery, and provide feedback about GFW data.</p>
            <a class="btn gray uppercase medium" href="mailto:gfw@wri.org">Email GFW about incorrect data</a>
            </header>
            <div class="content">
              <section class="applications-section">
                <div class="inner">
                  <div class="row">
                    <div class="col">
                      <a href="http://loggingroads.org/" target="_blank" class="little-card mobile-friendly">
                        <div class="icon"><svg class="icon"><use xlink:href="#shape-logging-roads"></use></svg></div>
                        <header>
                          <h2>Logging Roads</h2>
                          <small>Source: World Resources Institute</small>
                        </header>
                        <!-- <div class="content">
                          <p>Help make GFW’s tree cover loss alerts more reliable by analyzing satellite images and telling the world what you see.</p>
                        </div>
                        <footer>
                          <span class="btn soon">coming soon</span>
                        </footer>
                        <div class="description">
                          <div class="additional-info">
                            <h2>Deforestation Finder App</h2>
                            <p>Sometimes the human eye is more powerful at spotting deforestation than computer algorithms. This simple app displays recent satellite images from areas with recent tree cover loss alerts and asks users to tell us what they see. User contributions can help us figure out which alerts are most concerning and require action on the ground.</p>
                          </div>
                        </div> -->
                      </a>
                    </div>
                    <div class="col">
                      <a href="mailto:gfw@wri.org" target="_blank" class="little-card">
                        <div class="icon"><svg class="icon"><use xlink:href="#shape-globe-mobile"></use></svg></div>
                        <header>
                          <h2>Forest Watcher Mobile App</h2>
                          <small>Source: Jane Goodall Institute, Google, TouchLab, and World Resources Institute</small>
                          <p>The beta version is now live! Contact us to become a beta tester.</p>
                        </header>
<!--                         <div class="content">
                          <p>The beta version is now live! Contact us to become a beta tester.</p>
                        </div>
 -->                        <!-- <footer>
                          <span class="btn soon">coming soon</span>
                        </footer>
                        <div class="description">
                          <div class="additional-info">
                            <h2>Forest Watcher Mobile App</h2>
                            <p>This easy-to-use app enables anyone with limited Internet connectivity to find GFW alerts in their forests and upload observations like photos and other data from the field.  The Jane Goodall Institute, in partnership with Global Forest Watch, Google, and TouchLab, is currently piloting this app in Uganda to improve local forest monitoring.</p>
                          </div>
                        </div> -->
                      </a>
                    </div>
                    <div class="col">
                      <a href="http://www.tomnod.com/campaign/gfw2_2014/map/2qwx1oy6u" target="_blank" class="little-card mobile-friendly">
                        <div class="icon"><svg class="icon"><use xlink:href="#shape-tomnod"></use></svg></div>
                        <header>
                          <h2>Global Forest Watch: Sumatra campaign on Tomnod</h2>
                          <small>Source: Digital Globe</small>
                        </header>
                        <!-- <div class="content">
                          <p>Help Global Forest Watch Fires track the illegal fires and preserve the health of people and forests in Southeast Asia.</p>
                        </div>
                        <footer>
                          <a href="http://www.tomnod.com/campaign/gfw2_2014/map/2qwx1oy6u" target="_blank" class="btn green medium">Launch App</a>
                        </footer> -->
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </article>
          <article id="provide-feedback" class="source-article">
            <header>
              <h2>Provide Feedback</h2>
              <h3><strong>We want to hear from you!</strong> Global Forest Watch is a user-driven platform and your input is critical. Help us improve the website by completing the feedback form below or by signing up to become an official GFW tester.</h3>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <%= form_tag({controller: "static", action: "feedback"}, method: "get", class: "feedback_form", id: "feedbackView") do %>
                    <h3><strong>We are interested in hearing:</strong></h3>
                    <ul class="bullets">
                      <li>Why you visited GFW</li>
                      <li>How you use GFW</li>
                      <li>If and how the information provided by GFW is useful for your work</li>
                      <li>If any additional features and/or data would be useful</li>
                      <li>If anything was confusing or difficult to use</li>
                      <li>If you encountered any bugs or problems while using GFW</li>
                      <li>Anything else you would like to tell us!</li>
                    </ul>
                    <p>
                      <%#= label_tag :feedback %>
                      <%= text_area_tag :feedback, nil, :id => "feedback-textarea" %>
                    </p>
                    <p>Interested in testing new features and helping to improve the website?  Sign up to <strong>become an official GFW tester!</strong></p>
                    <div class="radio-box">
                      <div class="custom-radio">
                        <%= radio_button_tag(:signup, true) %>
                        <%= label_tag(:signup_true, "<span></span> Yes, sign me up.".html_safe) %>
                      </div>
                      <div class="custom-radio">
                        <%= radio_button_tag(:signup, false, checked = true) %>
                        <%= label_tag(:signup_false, "<span></span> No thanks.".html_safe) %>
                      </div>
                    </div>
                    <p>
                      <%#= label_tag :email %>
                      <%= email_field_tag :email, nil, :placeholder => "Email", :id => "feedback-email" %>
                    </p>
                    <p>
                      <%= button_tag "Send", :class=> "btn green medium" %>
                    </p>
                  <% end %>
                </li>
                <li>
                  <h3><strong>Users have spoken and we have listened!</strong></h3>
                  <p>Below are examples of changes and additions we’ve made to the website in response to feedback from users like you:</p>
                  <ul class="bullets">
                    <li>Threshold settings for the UMD/Google tree cover loss data (read more <a href="http://blog.globalforestwatch.org/2014/09/four-ways-gfw-just-became-more-useful/">here</a>)</li>
                    <li>Enhanced analysis functionality (i.e., for protected areas, subnational jurisdictions, and forest use concessions) (read more <a href="http://blog.globalforestwatch.org/2014/09/four-ways-gfw-just-became-more-useful/">here</a>)</li>
                    <li>Time slider for the NASA active fires data and information about each fire</li>
                    <li>“Share this map view” feature (read more <a href="http://blog.globalforestwatch.org/2014/05/five-gfw-site-updates/">here</a>)</li>
                    <li>A new homepage that better directs users to what they are looking for and communicates a clearer purpose</li>
                  </ul>
                  <p>Do you have questions about how to use GFW? Be sure to visit the <a href="/howto">How To</a> page, and if you still need help email <a href="mailto:gfw@wri.org">gfw@wri.org</a>. You can also connect with us on social media or by posting a comment to the <a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">GFW Discussion Forum</a>.</p>
                </li>
              </ul>
            </div>
          </article>
          <article id="help-improve-translations" class="source-article">
            <header>
              <h2>Help improve translations</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>Do you notice an incorrect text translation? Follow the steps below to easily correct a word or phrase in a translated page.</h3>
                  <p><strong>1.</strong>  Hover your mouse over the translation you would like to change. A window will then appear that displays the original text.</p>
                  <p><strong>2.</strong>  If you are not signed in to your Google Account, click “Sign in.”</p>
                  <p><strong>3.</strong>  Click “Contribute a better translation” and follow the instructions provided.</p>

                  <p>If there is an incorrect translation that you are unable to edit, please email <a href="mailto:gfw@wri.org">gfw@wri.org</a>.</p>
                </li>
              </ul>
           </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
