<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Global Forest Watch depends on a strong user community. Get involved and join us in a movement to stop deforestation. Using the information and links below, learn how to develop your own application or innovative project, add to or improve existing data, and join the discussion. You can also provide feedback to help us improve the platform.</h3>
      </header>
      <ul class="row row2">
        <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank" class="btn white uppercase">Join the discussion</a></li>
        <li><%= link_to 'Submit a story', new_story_path, :class => 'btn white uppercase' %></li>
      </ul>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'Develop your own app', "#{getinvolved_path}/develop-your-own-app", :"data-slug" => 'develop-your-own-app', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item develop-your-own-app' %></li>
          <li><%= link_to 'Share data', "#{getinvolved_path}/share-data", :"data-slug" => 'share-data', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item share-data' %></li>
          <li><%= link_to 'Validate data', "#{getinvolved_path}/validate-data", :"data-slug" => 'validate-data', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item validate-data' %></li>
          <li><%= link_to 'Apply to the Small Grants Fund', "#{getinvolved_path}/apply-to-the-small-grants-fund", :"data-slug" => 'apply-to-the-small-grants-fund', :"data-interesting" => 'explore_the_map, stories_on_the_map, download_the_data', :class => 'nav-item apply-to-the-small-grants-fund' %></li>
          <li><%= link_to 'Provide Feedback', "#{getinvolved_path}/provide-feedback", :"data-slug" => 'provide-feedback', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item provide-feedback' %></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id='apply-to-the-small-grants-fund' class="source-article">
            <header>
              <h2>Apply to the Small Grants Fund</h2>
              <h3>Welcome to the Global Forest Watch Small Grants Fund!</h3>
              <div class="intro">
                <p class="img-cont"><%= image_tag('logos/sgflogo.jpg')%></p>
                <div class="text-cont">
                  <p>Established in 2014, the Small Grants Fund seeks to promote broad uptake and innovative use of Global Forest Watch by civil society around the world. The SGF provides financial and technical support to empower civil society organizations to apply Global Forest Watch data and technology in support of their work to strengthen local forest management and conservation practices, conduct evidence-based advocacy and campaigning, and promote greater transparency in the forest sector.</p>
                  <p><strong>The 2015 application period is now open. Please read below for information on how to apply.</strong></p>
                </div>
              </div>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Eligibility</h3>
                  <p>The Small Grants Fund seeks applications for projects that use or improve Global Forest Watch by supporting the following areas of work:</p>
                  <ul class='bullets'>
                    <li>Monitoring of forest loss or forest fires to improve management practices, advocacy, and/or conservation using GFW</li>
                    <li>Evidence-based advocacy, campaigning, and/or educating using GFW and/or GFW data</li>
                    <li>Increasing forest transparency by (a) promoting disclosure of geospatial data (land use concessions, land rights, etc.) by companies, governments or communities, by (b) aggregating and surfacing existing forest data, or by (c) developing new geospatial data compatible with GFW</li>
                    <li>Evidence-based storytelling/journalism about forest issues using GFW or GFW data</li>
                    <li>Inspired, innovative applications of GFW that may fall outside of the aforementioned areas of work</li>
                  </ul>
                </li>
                <li>
                  <p>Elibility is restricted to organizations that meet the following requirements:</p>
                  <ul class='bullets'>
                    <li>Certified non-profit and non-governmental</li>
                    <li>Non-international, or implementing projects at a national or subnational-scale</li>
                    <li>Budget of greater than US $30,000</li>
                    <li>Computerized financial systems</li>
                    <li>Ability to fill out an organizational assessment document (containing questions regarding organization finances) in fluent English</li>
                  </ul>
                </li>
                <li>
                  <p><strong>Other considerations:</strong> Although not required, projects that promote gender equity or benefit women in the forest sector will be given special consideration. Previous applicants are encouraged to apply.</p>
                  <p>For more information regarding project or organization eligibility, please download the Guidelines for Prospective Applicants.  Consult the guidelines before applying.</p>
                </li>
                <li>
                  <h3>How to apply</h3>
                  <p>The application period for the 2015 cycle is now open. All applications must be submitted by <strong>March 1, 2015.</strong> The review process is not rolling; all applications will be reviewed after March 1 (see timeline below for more detail).</p>
                  <p>To apply, please click on the button below, which will take you to the online application. All applications must be submitted electronically to be considered.</p>
                  <a class="btn green medium" href='https://gfw.fluidreview.com' target='_blank'>APPLY NOW</a>
                  </li>
                <li>
                  <h3>Timeline</h3>
                  <p><strong>January 6</strong>  Application period open</p>
                  <p><strong>March 1</strong>  Application submission deadline</p>
                  <p><strong>March 16-27</strong>  Shortlisted candidates notified</p>
                  <p><strong>April 1</strong>  Accepted candidates notified</p>
                  <p><strong>May 1</strong>  Projects initiated (all paperwork finalized)</p>
                  <p><strong>December 31</strong>  All projects completed</p>
                </li>
                <li>
                  <h3>Frequently asked questions</h3>
                  <p><strong>I’m implementing a project in conjunction with a number of organizations. Can I apply on behalf of multiple organizations?</b></strong>
                  <p>Unfortunately, funding can only be granted to one organization per application, although you may work with other partners to implement the project.</p>
                  <p><strong>I’m seeking funding for a small component of a larger project. Can I apply?</strong></p>
                  <p>Yes. The purpose of the fund is to promote uptake and innovative use of Global Forest Watch. However, you must articulate how GFW will be used for the relevant component of your project.</p>
                  <p><strong>I won’t be able to finish the project by December 31, 2015. Can I apply?</strong></p>
                  <p>Yes. However, in your application, you must describe the activities and outcomes that can be achieved in the time allotted, and how they tie into the larger project goal.</p>
                  <p><strong>Can the application be filled out in languages other than English?</strong></p>
                  <p>Unfortunately, we can only accept applications in English. However, we can provide some level of guidance in Spanish, Portuguese, Bahasa and in select other languages as needed. Please contact gfwfund@wri.org.</p>
                  <p><strong>My project seeks funding to purchase equipment, seedlings, or other materials. Can I use the SGF award for this purpose?</strong></p>
                  <p>No. Given the short term of projects, we cannot award funding for this purpose. However, a portion of funding requested may go towards equipment, such as portable internet sticks, but we typically request that this amount be below 5,000 USD.</p>
                  <p><strong>I applied to the SGF last year, but was not accepted. Will my application be given special consideration?</strong></p>
                  <p>No. All applications will be reviewed against the same criteria. However, we encourage previous applicants to apply.</p>
                  <p><strong>I’m not sure what Global Forest Watch is. How can I determine whether this platform can be used for my project?</strong></p>
                  <p>All applications must describe how GFW will play a critical role in the project. To find out more information about GFW, visit the about or how to pages. You can also view a summary of previous projects in the Guidelines for Prospective Applicants.</p>
                  <p><strong>Can I apply as an individual, not as an organization?</strong></p>
                  <p>No. Unfortunately, only organizations are eligible to apply. Please see the Guidelines for Prospective Applicants for more information.</p>
                  <p><strong>I work for a large, international organization, but we’re implementing a project with a local partner. Can I still apply?</strong></p>
                  <p>Yes. International organizations are eligible to apply if the proposed project is at the national or subnational level. In this case, organizations are encouraged to work with local partners.</p>
                  <p></p>
                  <p>Do you have a question that’s not on this list? Please consult the Guidelines for Prospective Applicants or email <a class="btn gray uppercase medium" href="mailto:gfwfund@wri.org">gfwfund@wri.org</a>.</p>
                </li>
              </ul>
            </div>
          </article>
          <article id="develop-your-own-app" class="source-article">
            <header>
              <h2>Develop your own app</h2>
              <h3>The resources on this page provide developers with the tools and information needed to create their own applications that harness Global Forest Watch data. [More text coming soon].</p>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>API - Rest API</h3>
                  <p>[Text coming soon].</p>
                  <a class="btn gray uppercase medium" href="https://github.com/wri/gfw-api" target="_blank">API Repository</a>
                </li>
                <li>
                  <h3>Code</h3>
                  <p>The Global Forest Watch website and Global Forest Watch API are both collaborative and open-source projects hosted on GitHub. If you would like to contribute source code, please send pull requests to our website repository or API repository. All Global Forest Watch source code is released under The MIT License (MIT).</p>
                  <a class="btn gray uppercase medium" href="https://github.com/Vizzuality/gfw">Website Repository</a>
                </li>
                <li>
                  <h3>Data</h3>
                  <p>[Text coming soon, with link to Data Portal].</p>
                  </li>
                  <li>
                    <h3>Coming soon</h3>
                    <ul class='bullets'>
                      <li>Client library</li>
                      <li>Style guide</li>
                      <li>Seed fund</li>
                    </ul>
                </li>
                <li>
                  <h3>Useful links</h3>
                  <a class="btn gray uppercase medium" href="/applications">View existing applications</a>
                  <a class="btn gray uppercase medium" href="https://earthengine.google.org/" target="_blank">Google Earth Engine</a>
                  <a class="btn gray uppercase medium" href="#">ESRI's api info</a>
                </li>
              </ul>
           </div>
          </article>
          <article id="submit-a-story" class="source-article">
            <header>
              <h2>Submit a story</h2>
              <p>User stories provide critical context to forest change data. Using the button below, add a story to the GFW interactive map. By adding a story, you can improve our understanding of what is happening to forests around the world. Submit a story to confirm or refute remotely sensed data; report illegal activities; call attention to a threat or conflict in your area; tell a forest conservation success story; or share your local expertise.</p>
              <a class="btn green uppercase medium" href="/stories/new">Submit a story</a>
            </header>
          </article>
          <article id="share-data" class="source-article">
            <header>
              <h2>Share data</h2>
              <h3>Global Forest Watch has an open data policy and commits to make our data, and that of our partners, open, discoverable, downloadable, and usable. We believe that open data enables the innovation, information sharing, analysis, and transparency required to support policies that better manage and sustain the world’s forests.</h3>
             <h3>Are we missing important data? Although we cannot host all data, we are always looking for new data sets that, when made publically accessible, support informed decisionmaking. Use the links below to view our existing data and contact us if you know of data that should be on Global Forest Watch.</h3>
              <a class="btn gray uppercase medium" href="/sources">View & download existing data</a>
              <a class="btn gray uppercase medium" href="mailto:gfw@wri.org">Email us</a>
            </header>
          </article>
          <article id="validate-data" class="source-article">
            <header>
              <h2>Validate data</h2>
              <h3>[Text coming soon]</h3>
              <p>[Text coming soon]</p>
              <p>[Text coming soon] <%= link_to 'Develop your own app', "#{getinvolved_path}/develop-your-own-app" %>.</p>
            </header>
            <div class="content">
              <section class="applications-section">
                <div class="inner">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <header>
                          <h2>Landsat Imagery Validation Application</h2>
                          <div class="icon"><svg class="icon"><use xlink:href="#shape-landsat"></use></svg></div>
                        </header>
                        <div class="content">
                          <p>Help make GFW data more reliable by identifying tree cover change in Landsat imagery</p>
                        </div>
                        <footer>
                          <span class="btn soon">coming soon</span>
                        </footer>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <header>
                          <h2>GFW Mobile Data Application </h2>
                          <div class="icon"><svg class="icon"><use xlink:href="#shape-lorem"></use></svg></div>
                        </header>
                        <div class="content">
                          <p>Identify forest clearing alerts in the field</p>
                        </div>
                        <footer>
                          <span class="btn soon">coming soon</span>
                        </footer>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="ribbon official">new</div>
                        <header>
                          <h2>Global Forest Watch: Sumatra campaign on Tomnod</h2>
                          <div class="icon"><svg class="icon"><use xlink:href="#shape-lorem"></use></svg></div>
                        </header>
                        <div class="content">
                          <p>Wildfires caused by illegal burning are raging across peat lands and forests on the island of Sumatra, Indonesia. Noxious clouds of smoke drift throughout nearby Indonesia, Malaysia and Singapore, creating record levels of air pollution and health hazards for millions of people. Help Global Forest Watch Fires track the illegal fires and preserve the health of people and forests in the region.</p>
                        </div>
                        <footer>
                          <a href="http://www.tomnod.com/" target="_blank" class="btn green medium">Launch App</a>
                        </footer>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </article>
          <article id="provide-feedback" class="source-article">
            <header>
              <h2>Provide Feedback</h2>
              <h3>Global Forest Watch is a user driven platform and your input is critical. Help us improve the website by completing the feedback form below or by signing up to become a official GFW tester.</p>
              <p>
                <%= form_tag({controller: "static", action: "feedback"}, method: "get", class: "nifty_form") do %>
                  <p>
                    <%= label_tag(:name, "Name") %>
                    <%= text_field_tag(:name) %>
                  </p>
                  <p>
                    <%= label_tag(:email, "Email") %>
                    <%= text_field_tag(:email) %>
                  </p>
                  <p>
                    <%= label_tag(:feedback, "Feedback") %>
                    <%= text_area_tag(:feedback) %>
                  </p>
                  <p>
                    <%= submit_tag "Send Email "%>
                  </p>
                <% end %>
              </p>
            </header>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
