<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </header>
      <ul class="row row2">
        <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank" class="btn white uppercase">Join the discussion</a></li>
        <li><%= link_to 'Submit a story', new_story_path, :class => 'btn white uppercase' %></li>
      </ul>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'Small Grants Fund', "#{getinvolved_path}/small-grants-fund", :"data-slug" => 'small-grants-fund', :"data-interesting" => 'explore_the_map, stories_on_the_map, download_the_data', :class => 'nav-item small-grants-fund' %></li>
          <li><%= link_to 'Develop your own app', "#{getinvolved_path}/develop-your-own-app", :"data-slug" => 'develop-your-own-app', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item develop-your-own-app' %></li>
          <li><%= link_to 'Submit a Story', "#{getinvolved_path}/submit-a-story", :"data-slug" => 'submit-a-story', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item submit-a-story' %></li>
          <li><%= link_to 'Share your data', "#{getinvolved_path}/share-your-data", :"data-slug" => 'share-your-data', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item share-your-data' %></li>
          <li><%= link_to 'Crowdsourcing Tools', "#{getinvolved_path}/crowdsourcing-tools", :"data-slug" => 'crowdsourcing-tools', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item crowdsourcing-tools' %></li>
          <li><%= link_to 'Provide Feedback', "#{getinvolved_path}/provide-feedback", :"data-slug" => 'provide-feedback', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item provide-feedback' %></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id='small-grants-fund' class="source-article">
            <header>
              <h2>Small Grants Fund</h2>
              <h3>The 2014 application period is now closed. Please check back next year for funding opportunities.</h3>
              <p>GFW has pledged $375,000 for grant-making in 2014 to fund innovative, on-the-ground use of the platform. The GFW Small Grants Fund, which offers grants ranging from 10,000 – 40,000 USD, funds civil society organizations to use GFW to improve forest management and rural livelihoods.</p>
              <a class="btn green medium" href='https://sites.google.com/site/gfwsgf/about' target='_blank'>Small Grants Fund</a>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>What we fund</h3>
                  <p>Through this new initiative, we hope to promote innovative, tangible uses of GFW in countries around the world. We are seeking applications for:</p>
                  <ul class='bullets'>
                    <li>Projects that extend the value of GFW information to forest-dependent communities, grassroots organizations and other local stakeholders in ways that positively impact their lives (e.g., helping impacted communities use GFW information to monitor local forest resources).</li>
                    <li>Projects that that use information in the GFW platform to conduct research or carry out advocacy to improve forest governance and law enforcement (e.g., through changes in laws, institutions, and/or practices).</li>
                    <li>Projects that provide new information to or validate existing information on GFW (e.g., creation of a new data layer, validating areas of tree cover loss).</li>
                    <li>Other innovative projects that use GFW to empower civil society to better manage forests and sustain or mobilize local communities.</li>
                  </ul>
                </li>
                <li>
                  <h3>Who can apply?</h3>
                  <p>The Small Grants Fund is intended for non-profit, civil society organizations with full-time, paid staff.  The fund is not intended for large, international NGOs or any for-profit establishments or government agencies.</p>
                  <p>Applicant eligibility will be further determined through completion of the pre-application, located on the Small Grants Fund website.</p>
                </li>
                <li>
                  <h3>Grant Disbursement</h3>
                  <p>Administered by WRI, the Small Grants Fund supports projects ranging from 10,000 USD to 40,000 USD with a completion date of no later than December 31, 2014. Funds will be dispersed upon signing of an agreement with the World Resources Institute (WRI) and grant recipients will be required to meet reporting requirements during the agreement period.</p>
                  <p>The amount of funding requested in an application will not affect funding decisions. However, WRI may not be able to support all activities or deliverables within an application.  In such cases, WRI may negotiate with successful applicants to select a smaller number of activities/deliverables for funding.</p>
                </li>
                <li>
                  <h3>How to apply</h3>
                  <p>Applications are accepted on a rolling basis. Organizations are encouraged to apply as soon as possible.</p>
                  <p><strong>Submit the pre-application.</strong> Visit the GFW Small Grants Fund website and click “APPLY NOW!” to submit the pre-application. The pre-application helps determine whether applicants meet the minimum requirements to receive funding from WRI. Applicants will be notified within two weeks whether or not they are eligible to apply for a small grant.</p>
                  <p><strong>Submit a full application.</strong> Eligible applicants will be asked to submit a full application, which will be included as an attachment to the acceptance email with instructions for submission. Applications will be reviewed by the Small Grants Fund board on a rolling basis and applicants will be notified within two to four weeks by email if their application is accepted or rejected. In some cases, the fund board may express interest in the application, but ask for additional information and/or clarity before offering funds.</p>
                  <p><strong>File Paperwork and Receive Funds.</strong> Accepted applicants will be notified of next steps, including the process for disbursement of funds.</p>
                </li>
                <li>
                  <h3>Important Dates</h3>
                  <p><strong>March 10, 2014:</strong> Application is open</p>
                  <p><strong>June 1, 2014:</strong> Deadline to submit pre-application</p>
                  <p><strong>June, 30, 2014:</strong> Deadline to submit full application</p>
                  <p><strong>December 31, 2014:</strong> Project completion deadline</p>
                </li>
              </ul>
            </div>
          </article>
          <article id="develop-your-own-app" class="source-article">
            <header>
              <h2>Develop your own app</h2>
              <h3>The resources on this page provide developers with the tools and information needed to create their own applications that harness Global Forest Watch data. [More text coming soon].</p>
            </header>
            <div class="content">
              <ul class="faq-list">
                  <h3>API - Rest API</h3>
                  <p>[Text coming soon].</p>
                  <a class="btn gray uppercase medium" href="https://github.com/wri/gfw-api" target="_blank">API Repository</a>
                </li>
                <li>
                  <h3>Code</h3>
                  <p>[Text coming soon].</p>
                  <a class="btn green uppercase medium" href="#">Download</a>
                </li>
                <li>
                  <h3>Data</h3>
                  <p>[Text coming soon, with link to Data Portal].</p>
                  </li>
                  <li>
                    <h3>Coming soon</h3>
                    <ul class='bullets'>
                    <li>Client library</li>
                    <li>Style guide</li>
                    <li>Seed fund</li>
                  </ul>
                </li>
                <li>
                  <h3>Useful links</h3>
            
                  <a class="btn green uppercase medium" href="https://github.com/Vizzuality/gfw" target="_blank">Website Repository</a>
                  <a class="btn gray uppercase medium" href="https://earthengine.google.org/" target="_blank">Google Earth Engine</a>
                  <a class="btn gray uppercase medium" href="#">ESRI's api info</a>
                </li>
              </ul>
           </div>
          </article>
          <article id="submit-a-story" class="source-article">
            <header>
              <h2>Submit a story</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn green uppercase medium" href="/stories/new">Submit a story</a>
            </header>
          </article>
          <article id="share-your-data" class="source-article">
            <header>
              <h2>Share your data</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn gray uppercase medium" href="http://data.gfw.opendata.arcgis.com/">Open data portal</a>
            </header>
          </article>
          <article id="crowdsourcing-tools" class="source-article">
            <header>
              <h2>Crowdsourcing Tools</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn gray uppercase medium" href="http://data.gfw.opendata.arcgis.com/">Landsat validation app</a>
              <a class="btn gray uppercase medium" href="https://opendatakit.org/" target="_blank">ODK tool</a>
              <p>Sed consectetur pharetra vulputate. Praesent id orci nibh. Suspendisse hendrerit tellus ante, eget molestie justo cursus sit amet. Morbi ac mi ac elit vestibulum semper finibus quis ligula. Aliquam erat volutpat. Donec pretium libero et quam cursus, a <%= link_to 'Develop your own app', "#{getinvolved_path}/develop-your-own-app" %>.</p>
            </header>
          </article>
          <article id="provide-feedback" class="source-article">
            <header>
              <h2>Provide Feedback</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn green uppercase medium" href="http://data.gfw.opendata.arcgis.com/">Send feedback</a>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>Changes that have been made because of feedback</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
