<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </header>
      <ul class="row row2">
        <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank" class="btn white uppercase">Join the discussion</a></li>
        <li><%= link_to 'Submit a story', new_story_path, :class => 'btn white uppercase' %></li>
      </ul>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'Small Grants Fund', "#{getinvolved_path}/small-grants-fund", :"data-slug" => 'small-grants-fund', :"data-interesting" => 'explore_the_map, stories_on_the_map, download_the_data', :class => 'nav-item small-grants-fund' %></li>
          <li><%= link_to 'Develop your own app', "#{getinvolved_path}/develop-your-own-app", :"data-slug" => 'develop-your-own-app', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item develop-your-own-app' %></li>
          <li><%= link_to 'Submit a Story', "#{getinvolved_path}/submit-a-story", :"data-slug" => 'submit-a-story', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item submit-a-story' %></li>
          <li><%= link_to 'Share your data', "#{getinvolved_path}/share-your-data", :"data-slug" => 'share-your-data', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item share-your-data' %></li>
          <li><%= link_to 'Crowdsourcing Tools', "#{getinvolved_path}/crowdsourcing-tools", :"data-slug" => 'crowdsourcing-tools', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item crowdsourcing-tools' %></li>
          <li><%= link_to 'Provide Feedback', "#{getinvolved_path}/provide-feedback", :"data-slug" => 'provide-feedback', :"data-interesting" => 'explore_the_map, keep_updated, download_the_data', :class => 'nav-item provide-feedback' %></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id='small-grants-fund' class="source-article">
            <header>
              <h3>Welcome to the Global Forest Watch Small Grants Fund!</h3>
              <p>Established in 2014, the Small Grants Fund seeks to promote broad uptake and innovative use of Global Forest Watch by civil society around the world. The SGF provides financial and technical support to empower civil society organizations to apply Global Forest Watch data and technology in support of their work to strengthen local forest management and conservation practices, conduct evidence-based advocacy and campaigning, and promote greater transparency in the forest sector.</p>
              <p><b>The 2015 application period is now open. Please read below for information on how to apply.</b></p>
            </header>
            <div class='content'>
              <ul class="faq-list">
                <li>
                  <h3>Eligibility</h3>
                  <p>The Small Grants Fund seeks applications for projects that use or improve Global Forest Watch by supporting the following areas of work:</p>
                  <ul class='bullets'>
                    <li>Monitoring of forest loss or forest fires to improve management practices, advocacy, and/or conservation using GFW</li>
                    <li>Evidence-based advocacy, campaigning, and/or educating using GFW and/or GFW data</li>
                    <li>Increasing forest transparency by (a) promoting disclosure of geospatial data (land use concessions, land rights, etc.) by companies, governments or communities, by (b) aggregating and surfacing existing forest data, or by (c) developing new geospatial data compatible with GFW</li>
                    <li>Evidence-based storytelling/journalism about forest issues using GFW or GFW data</li>
                    <li>Inspired, innovative applications of GFW that may fall outside of the aforementioned areas of work</li>
                  </ul>
                </li>
                <li>
                <p>Elibility is restricted to organizations that meet the following requirements:</p>
                <ul class='bullets'>
                    <li>Certified non-profit and non-governmental</li>
                    <li>Non-international, or implementing projects at a national or subnational-scale</li>
                    <li>Budget of greater than US $30,000</li>
                    <li>Computerized financial systems</li>
                    <li>Ability to fill out an organizational assessment document (containing questions regarding organization finances) in fluent English</li>
                  </ul>
                </li>
                <li>
                <p><b>Other considerations:</b> Although not required, projects that promote gender equity or benefit women in the forest sector will be given special consideration. Previous applicants are encouraged to apply.</p>
                <p>For more information regarding project or organization eligibility, please download the Guidelines for Prospective Applicants.  Consult the guidelines before applying.</p>
                </li>
                <li>
                  <h3>How to apply</h3>
                  <p>The application period for the 2015 cycle is now open. All applications must be submitted by <b>March 1, 2015.</b> The review process is not rolling; all applications will be reviewed after March 1 (see timeline below for more detail).</p>
                  <p>To apply, please click on the button below, which will take you to the online application. All applications must be submitted electronically to be considered.</p>
                  <a class="btn green medium" href='https://sites.google.com/site/gfwsgf/about' target='_blank'>Small Grants Fund</a>
                  </li>
                <li>
                  <h3>Timeline</h3>
                  <p><b>January 6</b>  Application period open</p>
                  <p><b>March 1</b>  Application submission deadline</p>
                  <p><b>March 16-27</b>  Shortlisted candidates notified</p>
                  <p><b>April 1</b>  Accepted candidates notified</p>
                  <p><b>May 1</b>  Projects initiated (all paperwork finalized)</p>
                  <p><b>December 31</b>  All projects completed</p>
                </li>
                <li>
                  <h3>Frequently asked questions</h3>
                  <p><b>I’m implementing a project in conjunction with a number of organizations. Can I apply on behalf of multiple organizations?</b></p>
                  <p>Unfortunately, funding can only be granted to one organization per application, although you may work with other partners to implement the project.</p>
                  <p><b>I’m seeking funding for a small component of a larger project. Can I apply?</b></p>
                  <p>Yes. The purpose of the fund is to promote uptake and innovative use of Global Forest Watch. However, you must articulate how GFW will be used for the relevant component of your project.</p>
                  <p><b>I won’t be able to finish the project by December 31, 2015. Can I apply?</b></p>
                  <p>Yes. However, in your application, you must describe the activities and outcomes that can be achieved in the time allotted, and how they tie into the larger project goal.</p>
                  <p><b>Can the application be filled out in languages other than English?</b></p>
                  <p>Unfortunately, we can only accept applications in English. However, we can provide some level of guidance in Spanish, Portuguese, Bahasa and in select other languages as needed. Please contact gfwfund@wri.org.</p>
                  <p><b>My project seeks funding to purchase equipment, seedlings, or other materials. Can I use the SGF award for this purpose?</b></p>
                  <p>No. Given the short term of projects, we cannot award funding for this purpose. However, a portion of funding requested may go towards equipment, such as portable internet sticks, but we typically request that this amount be below 5,000 USD.</p>
                  <p><b>I applied to the SGF last year, but was not accepted. Will my application be given special consideration?</b></p>
                  <p>No. All applications will be reviewed against the same criteria. However, we encourage previous applicants to apply.</p>
                  <p><b>I’m not sure what Global Forest Watch is. How can I determine whether this platform can be used for my project?</b></p>
                  <p>All applications must describe how GFW will play a critical role in the project. To find out more information about GFW, visit the about or how to pages. You can also view a summary of previous projects in the Guidelines for Prospective Applicants.</p>
                  <p><b>Can I apply as an individual, not as an organization?</b></p>
                  <p>No. Unfortunately, only organizations are eligible to apply. Please see the Guidelines for Prospective Applicants for more information.</p>
                  <p><b>I work for a large, international organization, but we’re implementing a project with a local partner. Can I still apply?</b></p>
                  <p>Yes. International organizations are eligible to apply if the proposed project is at the national or subnational level. In this case, organizations are encouraged to work with local partners.</p>
                  <p></p>
                  <p>Do you have a question that’s not on this list? Please consult the Guidelines for Prospective Applicants or email gfwfund@wri.org.</p>
                </li>
              </ul>
            </div>
          </article>
          <article id="develop-your-own-app" class="source-article">
            <header>
              <h2>Develop your own app</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>GFW Api documentation</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a class="btn gray uppercase medium" href="https://github.com/wri/gfw-api" target="_blank">API Repository</a>
                </li>
                <li>
                  <h3>Code for style</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a class="btn green uppercase medium" href="#">Download</a>
                </li>
                <li>
                  <h3>Client libraries</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a class="btn green uppercase medium" href="https://github.com/Vizzuality/gfw" target="_blank">Website Repository</a>
                  <a class="btn gray uppercase medium" href="https://earthengine.google.org/" target="_blank">Google Earth Engine</a>
                  <a class="btn gray uppercase medium" href="#">ESRI's api info</a>
                </li>
              </ul>
           </div>
          </article>
          <article id="submit-a-story" class="source-article">
            <header>
              <h2>Submit a story</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn green uppercase medium" href="/stories/new">Submit a story</a>
            </header>
          </article>
          <article id="share-your-data" class="source-article">
            <header>
              <h2>Share your data</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn gray uppercase medium" href="http://data.gfw.opendata.arcgis.com/">Open data portal</a>
            </header>
          </article>
          <article id="crowdsourcing-tools" class="source-article">
            <header>
              <h2>Crowdsourcing Tools</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn gray uppercase medium" href="http://data.gfw.opendata.arcgis.com/">Landsat validation app</a>
              <a class="btn gray uppercase medium" href="https://opendatakit.org/" target="_blank">ODK tool</a>
              <p>Sed consectetur pharetra vulputate. Praesent id orci nibh. Suspendisse hendrerit tellus ante, eget molestie justo cursus sit amet. Morbi ac mi ac elit vestibulum semper finibus quis ligula. Aliquam erat volutpat. Donec pretium libero et quam cursus, a <%= link_to 'Develop your own app', "#{getinvolved_path}/develop-your-own-app" %>.</p>
            </header>
          </article>
          <article id="provide-feedback" class="source-article">
            <header>
              <h2>Provide Feedback</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn green uppercase medium" href="http://data.gfw.opendata.arcgis.com/">Send feedback</a>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>Changes that have been made because of feedback</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
