<div id="loader-mobile" class="loader-mobile">
  <div class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
</div>
<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Global Forest Watch offers a wide range of content and capabilities to serve a variety of users and purposes. Whether you arrive at GFW with a clear purpose or are simply exploring different features, we can help you learn to use the platform.</h3>
      </header>

      <div class="player-howto" id="carrouselView">
        <div class="player-box">
          <div class="player-responsive">
            <div id="playerCarrousel" data-default="1tWmLmwNDWM" class="player"></div>
          </div>
        </div>
        <aside class="scroll-light">
          <ul class="scroll-light">
            <li><a href="#" class="btn-video visible" data-video="1tWmLmwNDWM"><div class="img"><img src="http://img.youtube.com/vi/1tWmLmwNDWM/hqdefault.jpg"></div><h4>Overview</h4></a></li>
            <li><a href="#" class="btn-video" data-video="YbXbNwiq89w"><div class="img"><img src="http://img.youtube.com/vi/YbXbNwiq89w/hqdefault.jpg"></div><h4>Visualize global data</h4></a></li>
            <li><a href="#" class="btn-video" data-video="04ULYfavAhk"><div class="img"><img src="http://img.youtube.com/vi/04ULYfavAhk/hqdefault.jpg"></div><h4>Visualize country data</h4></a></li>
            <li><a href="#" class="btn-video" data-video="q8wGUBLPvGU"><div class="img"><img src="http://img.youtube.com/vi/q8wGUBLPvGU/hqdefault.jpg"></div><h4>View forest statistics</h4></a></li>
            <li><a href="#" class="btn-video" data-video="2yTcTh6Rv8Q"><div class="img"><img src="http://img.youtube.com/vi/2yTcTh6Rv8Q/hqdefault.jpg"></div><h4>Analyze forest change</h4></a></li>
          </ul>
        </aside>
      </div>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <a id="back-btn" class="back-btn mobile-show" href="#"><svg><use xlink:href="#shape-fast-forward-left"></use></svg>How To</a>
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'Visualize data', "#{howto_path}/view-data", :"data-slug" => 'view-data', :"data-interesting" => 'contact_us, get_involved, provide_feedback', :class => 'nav-item view-data' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'View statistics', "#{howto_path}/view-statistics", :"data-slug" => 'view-statistics', :"data-interesting" => 'contact_us, get_involved, provide_feedback', :class => 'nav-item view-statistics' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Analyze forest change', "#{howto_path}/analyze-forest-change", :"data-slug" => 'analyze-forest-change', :"data-interesting" => 'contact_us, get_involved, provide_feedback', :class => 'nav-item analyze-forest-change' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Subscribe to alerts and user stories', "#{howto_path}/subscribe-to-alerts-and-user-stories", :"data-slug" => 'subscribe-to-alerts-and-user-stories', :"data-interesting" => 'contact_us, get_involved, provide_feedback', :class => 'nav-item subscribe-to-alerts-and-user-stories' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Submit a story', "#{howto_path}/submit-a-story", :"data-slug" => 'submit-a-story', :"data-interesting" => 'contact_us, get_involved, provide_feedback', :class => 'nav-item submit-a-story' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li class="no-transform"><%= link_to 'OPEN DATA PORTAL', "#{howto_path}/odp", :"data-slug" => 'odp', :"data-interesting" => 'contact_us, get_involved, provide_feedback', :class => 'nav-item odp' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li class="no-transform"><%= link_to 'FAQs', "#{howto_path}/faqs", :"data-slug" => 'faqs', :"data-interesting" => 'contact_us, get_involved, provide_feedback', :class => 'nav-item faqs' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id="view-data" class="source-article">
            <header>
              <h2 class='source_category_title'>Visualize data</h2>
              <p>This information pertains only to the GFW Interactive Map and country profiles and rankings. For more advanced forest fire and commodity visualizations, please visit <a href="http://fires.globalforestwatch.org/" target="_blank">GFW Fires</a> and <a href="http://commodities.globalforestwatch.org/" target="_blank">GFW Commodities</a>.</p>
            </header>
            <ul class='sources'>
              <li id="view-global-data" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Visualize global data</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <h3 class="overview_title">Visualize global data on the GFW Interactive Map</h3>

                    <p><strong>1.</strong>  Navigate to the <a href="/map" target="_blank">GFW Interactive Map</a>.</p>
                    <p><strong>2.</strong>  Available global data layers are organized by category across the top of the map. Click through the tabs to select the data layer(s) you want to display. Tree cover loss and gain are displayed by default.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image2.png') %></p>
                    <p><strong>3.</strong>  Click the information icon in the drop down menu to learn more about each data layer. This includes information such as data resolution, frequency, cautions, and a link to learn more or download the data set on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/" target="_blank">Open Data Portal</a>.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image4.png') %></p>
                    <p><strong>4.</strong>  View activated layers in the data legend on the left-hand side of the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image5.png') %></p>
                    <p>For data layers that cover a limited geographic region, you can turn on “Geographic coverage” in the data legend to see the geographic extent of the data layer on the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image6.png') %></p>
                    <p>For tree cover and tree cover loss data layers, you can adjust the tree canopy density of your data display and analysis by clicking on the highlighted percent canopy density within the legend.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image6_2.png') %></p>
                    <p><strong>5.</strong>  Zoom in and out, share your map view, hide the windows, search the Google base map, and refresh the page using the buttons located on the bottom left-hand side of the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image7.png') %></p>
                    <p><strong>6.</strong>  Change the base map to view data with a different map background.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image8.png') %></p>
                    <a class="btn green medium" href='/map' target='_blank'>GFW Interactive Map</a>
                    <a class="btn green medium" href='http://fires.globalforestwatch.org/' target='_blank'>GFW Fires</a>
                    <a class="btn green medium" href='http://commodities.globalforestwatch.org/' target='_blank'>GFW Commodities</a>
                    <h3 class="overview_title">Visualize data as a time series</h3>
                    <p>For most data layers under the Forest Change tab, the default view shows cumulative data points over the entire study period. However, most of these layers can also be viewed as a time series. The specific time intervals (e.g., annual, monthly, daily) vary for each data layer.</p>
                    <p><strong>1.</strong>  Select the Forest Change data layer you want to view as a time series.</p>
                    <p><strong>2.</strong>  On the bottom of the map, locate the timeline.</p>
                    <p><strong>3.</strong>  Some timelines allow you to animate the data over time or select a time interval. Press the play button on the left to view an animation of the entire time series or drag the ends of the timeline to select a specific period of time.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image9.png') %></p>
                    <p><strong>4.</strong>  For data layers with a simple timeline, select the period for which you would like to view data.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image10.png') %></p>
                    <a class="btn green medium" href='/map/3/15.00/27.00/ALL/grayscale/loss' target='_blank'>View UMD/Google Data</a>
                    <a class="btn green medium" href='/map/3/15.00/27.00/ALL/grayscale/forma' target='_blank'>View FORMA data</a>
                    <a class="btn green medium" href='/map/3/15.00/27.00/ALL/grayscale/imazon' target='_blank'>View Imazon Data</a>
                    <a class="btn green medium" href='/map/3/15.00/27.00/ALL/grayscale/modis' target='_blank'>View QUICC Data</a>
                    <h3 class="overview_title">Learn more about individual data points and polygons</h3>
                    <p>Some data layers allow you to click on individual data points and polygons (i.e., shapes) to view additional information. This feature applies to NASA active fires (within the Forest Change tab) and/or data within the Forest Use, Conservation, People, and Stories tabs.</p>
                    <p><strong>1.</strong>  Select a data layer, noting that this feature only applies to certain layers (see above).</p>
                    <p><strong>2.</strong>  Click on the data point or polygon you want to learn more about and an information window will appear. <i>Note: You can analyze Forest Change data within individual land-use concessions and protected areas by selecting the analysis button in the information window. Click the <a href="/howto/analyze-forest-change" target='_blank'>Analyze Forest Change</a> tab on this page for step-by-step guidance.</i></p>


                  </div>
                </div>
              </li>
              <li id="view-country-data" class='source-item last'>
                <div class='source_header'>
                  <strong class='source_title'>Visualize country data</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <h3 class="overview_title">Visualize country data on the GFW Interactive Map</h3>
                    <p>Global Forest Watch features both global and country data layers. While global layers, such as tree cover loss and protected areas, apply to the entire world or to a large (and transboundary) geographic region, country data layers apply only to a particular country. You can easily view both types of data together on the map.</p>
                    <p><strong>1.</strong> Navigate to the <a href="/countries" target="_blank">Country Profiles</a>.</p>
                    <p><strong>2.</strong> Using the window on the right-hand side of the map, select a country. The available data sets will then appear.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image11.png') %></p>
                    <p><strong>3.</strong> If no data is available, try selecting another country, view GFW’s global data layers, or suggest your own data set.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image12.png') %></p>
                    <p><strong>4.</strong> Click on the available country data layer you wish to visualize on the map. You can also turn the country layers on through the country tab above the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image13.png') %><%= image_tag('howto-screenshots/new_content/image14.png') %></p>
                    <p><strong>5.</strong> Click the information icons to learn more about each data layer. This includes information such as data resolution, frequency, cautions, and a link to learn more and download the data set on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/" target="_blank">Open Data Portal</a>.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image15.png') %></p>
                    <p><strong>6.</strong> Learn more about and download country data by clicking “Country data” or select “Country Profile” to view country statistics.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image14_2.png') %></p>
                    <p><strong>7.</strong> Change the base map to view data with a different map background.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image8.png') %></p>
                    <p><strong>8.</strong> Zoom in and out, share your map view, hide the windows, search the Google base map, and refresh the page using the buttons located on the bottom left-hand side of the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image7.png') %></p>
                    <p><strong>9.</strong> Clear your country selection by clicking the “x” within the right-hand window or on the country tab above the map.</p>
                  </div>
                </div>
              </li>
            </ul>
          </article>
          <article id="view-statistics" class="source-article">
            <header>
              <h2>View statistics</h2>
            </header>
            <ul class='sources'>
              <li id="view-country-ranking" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>View country ranking</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <h3 class="overview_title">View country rankings for tree cover and tree cover loss and gain</h3>
                    <p><strong>1.</strong> Navigate to the <a href="/countries/overview" target='_blank'>Country Rankings</a>.
                    <p><strong>2.</strong> Use the tabs to navigate through different ranking categories. Click the information icon to learn more about the graph and rankings.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image16.png') %></p>
                    <p><strong>3.</strong> Click on a country name in the ranking list to access the Country Profile.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image17.png') %></p>
                    <p><strong>4.</strong> Download a table of country statistics, adjust the tree cover canopy density of the data you are viewing, and share the graph using the options above the graph.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image18.png') %></p>
                    <a class="btn green medium" href='/countries/overview' target='_blank'>Country Rankings</a>
                  </div>
                </div>
              </li>
              <li id="view-country-statistics" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>View country statistics</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <h3 class="overview_title">View national and subnational forest statistics</h3>
                    <p><strong>1.</strong> Navigate to the <a href="/countries" target='_blank'>Country Profiles</a>.
                    <p><strong>2.</strong> Select a country or search for a country to view statistics and graphs related to tree cover loss and gain, forest type, economy, land tenure, and more.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image19.png') %></p>
                    <p><strong>3.</strong> Once you are on a Country Profile, view statistics and graphs for a subnational jurisdiction (e.g., province, district) using the “Select Jurisdiction” button located under the country name.<strong>Note:</strong> Only the statistics and graphs presented on the top portion of the Country Profile (header) can be refined to subnational jurisdictions.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image20.png') %></p>
                    <p><strong>4.</strong> For statistics and graphs presented in the header, use the options menu on the right to download the original data, download a table with country statistics, or adjust the minimum <a href="/howto/faqs?t=what-is-tree-cover-canopy-density-and-what-layers-allow-me-to-adjust-it">tree cover canopy density</a>.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image21.png') %></p>
                    <p><strong>5.</strong> Learn more about or share each statistic and graph by selecting the information or share icons, when available.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image23.png') %></p>
                    <p><strong>6.</strong> Scroll down to the bottom of the page to subscribe to tree clearing alerts for the country (where applicable), read relevant stories, and join the discussion.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image22.png') %></p>
                    <a class="btn green medium" href='/countries' target='_blank'>Country Profiles</a>
                  </div>
                </div>
              </li>
            </ul>
          </article>
          <article id="analyze-forest-change" class="source-article">
            <header>
              <h2>Analyze Forest Change</h2>
              <p>Choose a category below to learn how to analyze forest change in your area of interest.</p>
              <p>Looking for more advanced commodity or forest and land fire analysis? Visit <a href="http://commodities.globalforestwatch.org/" target='_blank'>GFW Commodities</a> or <a href="http://fires.globalforestwatch.org/" target='_blank'>GFW Fires</a>.</p>
            </header>
            <ul class='sources'>
              <li id="analyze-user-defined-area" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Analyze a user-defined area</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong> Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>.
                    <p><strong>2.</strong> Turn on the Forest Change data layer you wish to analyze (e.g., tree cover loss).</p>
                    <p><%= image_tag('howto-screenshots/new_content/image24.png') %></p>
                    <p><strong>3.</strong> Define the time period of your analysis by dragging the handles of the timeline or by selecting a time interval.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image25.png') %></p>
                    <p><strong>4.</strong> Select the analysis icon on the right-hand side of the map, and choose “Draw shape.”</p>
                    <p><%= image_tag('howto-screenshots/new_content/image26.png') %></p>
                    <p><strong>5.</strong> Select “Start drawing” and click with your mouse to draw a shape in the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image27.png') %></p>
                    <p><strong>6.</strong> Click “Analyze” in the right-hand window and the results will appear.</p>
                    <p><strong>7.</strong> If you want to adjust the time period or type of data you are analyzing simply drag the handles on the timeline or select a different time interval, or choose a different data layer under the Forest Use tab. Your results will update immediately based on your selection.</p>
                    <p><strong>8.</strong> You can then download the raw data on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/" target='_blank'>Open Data Portal</a>, discard your analysis or, if you are analyzing FORMA alerts, subscribe to alerts.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image28.png') %></p>

                    <a class="btn green medium" href='/map' target='_blank'>GFW Interactive Map</a><a href='http://commodities.globalforestwatch.org/' class="btn green medium uppercase">GFW Commodities</a><a href='http://fires.globalforestwatch.org/' class="btn green medium uppercase">GFW Fires</a>
                  </div>
                </div>
              </li>
              <li id="analyze-a-country-or-subnational-jurisdiction" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'> Analyze a country or subnational jurisdiction</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong> Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>.
                    <p><strong>2.</strong> Turn on the Forest Change data layer you wish to analyze (e.g., tree cover loss).</p>
                    <p><%= image_tag('howto-screenshots/new_content/image24.png') %></p>
                    <p><strong>3.</strong> Define the time period you wish to analyze by dragging the handles of the timeline or by selecting a time interval.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image25.png') %></p>
                    <p><strong>4.</strong> Select the analysis icon on the right-hand side of the map, and choose “Country or region.”</p>
                    <p><%= image_tag('howto-screenshots/new_content/image29.png') %></p>
                    <p><strong>5.</strong> Choose the country and/or region you would like to analze, and click “Analyze.” The results will then appear.</p>
                    <p><strong>6.</strong> If you want to adjust the time period or type of data you are analyzing simply drag the handles on the timeline or select a different time interval, or choose a different data layer under the Forest Use tab. Your results will update immediately based on your selection.</p>
                    <p><strong>7.</strong> You can then download the raw data on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/" target='_blank'>Open Data Portal</a>, discard your analysis or, if you are analyzing FORMA alerts, subscribe to alerts.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image28.png') %></p>
                    <p>NOTE: You can also analyze forest change within a country from the <a href="/countries">Country Profiles</a>. Once you arrive at the Country Profiles, select a country and, if desired, select a subnational jurisdiction (e.g., state, county, province) using the dropdown menu under the country name. Click “analyze on map” You will then be directed to the map and results will appear for an analysis of tree cover loss and gain.</p>

                    <a class="btn green medium" href='/map' target='_blank'>GFW Interactive Map</a><a href='http://commodities.globalforestwatch.org/' class="btn green medium uppercase">GFW Commodities</a><a href='http://fires.globalforestwatch.org/' class="btn green medium uppercase">GFW Fires</a>
                  </div>
                </div>
              </li>
              <li id="analyze-a-shape-on-the-map" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'> Analyze a shape on the map</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong> Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>.
                    <p><strong>2.</strong> Turn on the protected area layer or a forest use concession layer you want to analyze. The protected area layer is located under the Conservation tab, and the forest use concessions are located under the Forest Use tab.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image30.png') %></p>
                    <p><strong>3.</strong> Turn on the Forest Change data layer you wish to analyze (e.g., tree cover loss).</p>
                    <p><%= image_tag('howto-screenshots/new_content/image24.png') %></p>
                    <p><strong>4.</strong> Define the time period of your analysis by dragging the handles of the timeline or by selecting a time interval.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image25.png') %></p>
                    <p><strong>5.</strong> Select the individual protected area or concession you want to analyze, and select “Analyze.”</p>
                    <p><img id="data-tab-img" src="/assets/infowindow-example.gif"/></p>
                    <p><strong>6.</strong> If you want to adjust the time period or type of data you are analyzing simply drag the handles on the timeline or select a different time interval, or choose a different data layer under the Forest Use tab. Your results will update immediately based on your selection.</p>
                    <p><strong>7.</strong> You can then download the raw data on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/" target='_blank'>Open Data Portal</a>, discard your analysis or, if you are analyzing FORMA alerts, subscribe to alerts.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image28.png') %></p>
                  </div>
                </div>
              </li>
            </ul>
          </article>
          <article id="subscribe-to-alerts-and-user-stories" class="source-article">
            <header>
              <h2>Subscribe to forest change alerts and user stories</h2>
              <p>Read below to learn how to subscribe to forest change alerts and user stories for your area of interest. When you subscribe to alerts you will be notified of new forest change and user stories in the area you selected via monthly emails. Each email contains new activity detected by GFW’s <a class="mobile-friendly" href="http://data.globalforestwatch.org/datasets/39a527e300ff4146962a3c74ec476f64">FORMA</a> , <a href="http://www.terra-i.org/terra-i/data.html" target="_blank">Terra-i</a>, <a href="http://www.imazongeo.org.br/doc/downloads.php">SAD</a>, and <a class="mobile-friendly" href="http://data.globalforestwatch.org/datasets/e7bfe60d90ea4e5aa808eba4723ad3f8_0">QUICC</a> alert systems, in addition to any new <a href="/stayinformed/crowdsourced-stories">stories</a> submitted by users. Please be aware that not all alert systems may cover the area you selected.  To learn more about each system, click on the information icons that appear in the dropdown menu under Forest Change on the <a href="/map">interactive map</a>.</p>
            </header>
            <ul class='sources'>
              <li id="subscribe-to-a-user-defined-area" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Subscribe to a user-defined area</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong> Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>.
                    <p><strong>2.</strong> Select the subscription icon located on the right-hand side of the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image34.png') %></p>
                    <p><strong>3.</strong> Click “Get started” to define your area of interest.</p>
                    <p><strong>4.</strong> Select “Draw shape”.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image35.png') %></p>
                    <p><strong>5.</strong> Select “Start drawing” and click with your mouse to draw a shape in the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image37.png') %></p>
                    <p><strong>6.</strong> When you’ve completed your shape, click “Subscribe” and you will then be prompted to enter your email address.</p>
                    <p><strong>7.</strong> Enter your email address, and select “Subscribe.” </p>
                    <p><strong>8.</strong> Click on the link within the email you receive to confirm your subscription.</p>
                  </div>
                </div>
              </li>
              <li id="subscribe-to-a-country-or-subnational-jurisdiction" class="source-item">
                <div class='source_header'>
                  <strong class='source_title'>Subscribe to a country or subnational jurisdiction</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong> Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>.
                    <p><strong>2.</strong> Select the subscription icon located on the right-hand side of the map.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image34.png') %></p>
                    <p><strong>3.</strong> Click “Get started” to define your area of interest.</p>
                    <p><strong>4.</strong> Select “Country or region”.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image36.png') %></p>
                    <p><strong>5.</strong> Choose a country and/or region would like to subscribe to and click “Subscribe.” You will then be prompted to enter your email address.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image38.png') %></p>
                    <p><strong>6.</strong> Enter your email address, and select “Subscribe.” </p>
                    <p><strong>7.</strong> Click on the link within the email you receive to confirm your subscription.</p>

                    <p>NOTE: You can also subscribe to forest change alerts and user stories within a country from the <a href="/countries">Country Profiles</a>. Once you arrive at the Country Profiles, select a country and, if desired, select a subnational jurisdiction (e.g., state, county, province) using the dropdown menu under the country name. Using the right-hand menu, click “Subscribe to alerts.” You will then be prompted to enter your email address. Enter your email to receive monthly updates of forest change activity and user stories for the area you selected. </p>
                  </div>
                </div>
              </li>
              <li id="subscribe-to-a-data-shape-on-the-map" class="source-item">
                <div class='source_header'>
                  <strong class='source_title'>Subscribe to a data shape on the map</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong> Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>.
                    <p><strong>2.</strong> Turn on a data layer you wish to subscribe to on the map. You can subscribe to data shapes within most layers under the “Land Use,” “Conservation” and “People” tabs, in addition to those within all country specific data layers (see <a href="/howto/view-data?t=view-country-data">Visualizing country data</a>).</p>
                    <p><strong>3.</strong> Once the data layer is turned on, click on the individual shape you would like to subscribe to.</p>
                    <p><%= image_tag('howto-screenshots/new_content/image39.png') %></p>
                    <p><strong>4.</strong> Click “Subscribe” and you will then be prompted to enter your email address.</p>
                    <p><strong>5.</strong> Enter your email address, and select “Subscribe.” </p>
                    <p><strong>6.</strong> Click on the link within the email you receive to confirm your subscription.</p>
                  </div>
                </div>
              </li>
            </ul>
          </article>
          <article id="conduct-analysis-and-subscribe-to-alerts" class="source-article">
            <header>
              <h2>Subscribe to alerts</h2>
              <p>Choose a category below to learn how to conduct analysis or subscribe to alerts for an area of interest.</p>
              <p>You can define an area of interest on the map by using the drawing tool or selecting an existing polygon (such as a protected area).  Once you have defined an area of interest, you can calculate statistics about the area or subscribe to alerts. If you subscribe to alerts, you will be notified via email when a new tree cover loss alert has been detected, as often as every 30 days. Tree cover loss alerts come from the <a class="mobile-friendly" href="http://data.globalforestwatch.org/datasets/39a527e300ff4146962a3c74ec476f64" target="_blank">Forest Monitoring for Action (FORMA)</a> system, which monitors and detects possible tree cover disturbance within 500 × 500 meter pixels in the humid tropical forest biome.</p>
              <p>This information pertains only to the GFW Interactive Map and country profiles. Visit <a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a> or <a href='http://www.fires.globalforestwatch.org' target='_blank'>GFW Fires</a> for more advanced analysis of areas affected by fires or commodity production.</p>
            </header>
            <ul class='sources'>
              <li id="analyze-or-subscribe-to-alerts-for-a-user-defined-area" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>SUBSCRIBE TO ALERTS FOR A USER-DEFINED AREA</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong>  Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>.
                    <p><strong>2.</strong>  Turn on the Forest Change data layer you wish to analyze. If you are interested in subscribing to alerts, turn on the FORMA Alerts data layer (located under the Forest Change tab).</p>
                    <p><strong>3.</strong>  Define the time period you wish to analyze by dragging the handles of the timeline or by selecting a time interval. Disregard this step if you want to subscribe to alerts.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-14.png') %> </p>
                    <p><strong>4.</strong>  Select the analysis icon at the top of the map.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-15.png') %> </p>
                    <p><strong>5.</strong>  Draw a shape on the map and click “Done,” and the results will appear.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-16-AND-17.png') %> </p>
                    <p><strong>6.</strong> If you want to adjust the time period or type of data you are analyzing simply drag the handles on the timeline or select a different time interval, or choose a different data layer under the Forest Use tab. Your results will update immediately based on your selection. Note: FORMA alerts only apply to the humid tropical forest biome. You will not receive alerts for any area outside this biome. Turn on “Geographic coverage” to see the extent of the humid tropical forest biome.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-18.png') %> </p>
                    <p><strong>Interested in learning when new alerts occur? Follow the final steps below.</strong></p>
                    <p><strong>7.</strong>  Click the “mail” icon located at the bottom of the window. Not working? Be sure you have turned on the FORMA Alerts data layer (located under the Forest Change tab).</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-19.png') %> </p>
                    <p><strong>8.</strong>  Enter your email address to receive tree cover loss alerts for your user-defined area within the humid tropical forest biome.</p>
                    <p><strong>9.</strong>  Click the “trash” icon to discard your analysis.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-20.png') %> </p>
                    <a class="btn green medium" href="/map" target='_blank'>GFW Interactive Map</a>
                  </div>
                </div>
              </li>
              <li id="analyze-or-subscribe-to-alerts-for-a-land-use-concession-or-protected-area" class='source-item'>
                <div class='source_header'>
                  <strong class='source_title'>Subscribe to alerts for a land use concession or protected area</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong>  Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>. If you are interested in conducting a more in-depth analysis of specific commodities, visit <a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a> and follow the instructions provided.
                    <p><strong>2.</strong>  Turn on the protected area layer or a forest use concession layer you want to analyze. The protected area layer is located under the Conservation tab, and the forest use concessions are located under the Forest Use tab.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-21-AND-22.png') %> </p>
                    <p><strong>3.</strong>  Turn on the Forest Change data layer you wish to analyze. If you are interested in subscribing to alerts, turn on the FORMA Alerts data layer (located under the Forest Change tab).</p>
                    <p><strong>4.</strong>  Define the time period of your analysis by dragging the handles of the timeline or by selecting a time interval. Disregard this step if you want to subscribe to alerts.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-23.png') %> </p>
                    <p><strong>5.</strong>  Click on the individual protected area or concession you want to analyze, and select the analysis icon. The results will appear. </p>
                    <p><%= image_tag('howto-screenshots/Screenshot-24-AND-25.png') %> </p>
                    <p>Note: FORMA alerts only apply to the humid tropical forest biome. You will not receive alerts for any protected area or concession outside this biome.  Turn on “Geographic coverage” to see the extent of this biome.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-26.png') %> </p>
                    <p><strong>Interested in learning when new alerts occur? Follow the final steps below.</strong></p>
                    <p><strong>6.</strong>  Click the “mail” icon located at the bottom of the window. Not working? Be sure you have turned on the FORMA Alerts data set.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-27.png') %> </p>
                    <p><strong>7.</strong>  Enter your email address to receive tree cover loss alerts for the selected protected area or concession within the humid tropical forest biome.</p>
                    <p><strong>8.</strong>  Click the “trash” icon to discard your analysis.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-28.png') %> </p>
                    <a class="btn green medium" href="/map" target='_blank'>GFW Interactive Map</a>
                  </div>
                </div>
              </li>
              <li id="analyze-or-subscribe-to-alerts-for-a-country-or-subnational-jurisdiction" class='source-item'>
                <div class='source_header'>
                  <strong class='source_title'>SUBSCRIBE TO ALERTS FOR A COUNTRY OR SUBNATIONAL JURISDICTION</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong>  Enter the <a href="/countries" target='_blank'>country profiles</a> and select a country.</p>
                    <p><strong>2.</strong>  If desired, select a subnational jurisdiction (e.g., state, county, province) using the dropdown menu under the country name.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-29.png') %></p>
                    <p><strong>3.</strong>  Click “analyze on map.” You will then be directed to the map to perform an analysis using UMD/Google tree cover loss and gain.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-34.png') %></p>
                    <p><strong>4.</strong>  If you want to analyze a different data layer, select a new layer under the Forest Change tab. If you are interested in monitoring the area for tree clearings, turn on the FORMA Alerts data layer (located under Forest Change).  Note: Monitoring only applies to the humid tropical forest biome. You will not receive alerts for any country or region outside this area.  Turn on “Geographic coverage” to see the area you can monitor.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-30.png') %></p>
                    <p><strong>5.</strong>  Adjust the time period of your analysis by dragging the handles of the timeline or by selecting a time interval. Disregard this step if you want to monitor an area.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-31.png') %></p>
                    <p><strong>Interested in learning when new alerts occur? Follow the final steps below.</strong></p>
                    <p><strong>6.</strong>  Click the “mail” icon located at the bottom of the window. Not working? Be sure you have turned on the FORMA Alerts data set.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-32.png') %></p>
                    <p><strong>7.</strong>  Enter your email address to receive tree clearing alerts for the selected country or region.</p>
                    <p><strong>8.</strong>  Click the “trash” icon to discard your analysis.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-33.png') %></p>
                    <a href="/map" class="btn green medium uppercase">GFW Interactive Map</a>
                  </div>
                </div>
              </li>
              <li id="advanced-analysis-for-commodities-and-forest-fires" class='source-item last'>
                <div class='source_header'>
                  <strong class='source_title'>Advanced analysis for commodities and forest fires</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a> and <a href='http://www.fires.globalforestwatch.org' target='_blank'>GFW Fires</a> offer more advanced analysis capabilities for areas affected by commodity production and fires, respectively.</p>
                    <p>Visit GFW Commodities for analysis related to commodity production, such as analysis by oil palm concessions or a company group, and analysis of a custom area. Users can track clearance activity on areas such as peat and primary forests, and monitor deforestation-related risks.</p>
                    <a href='http://commodities.globalforestwatch.org/' class="btn green medium uppercase">GFW Commodities</a>
                    <p>Visit GFW Fires to monitor emerging fires, identify potential causes, and analyze impacts of fires on forests and people. For Indonesia, GFW Fires also provides free access to recent high-resolution imagery of suspected fires.</p>
                    <a href='http://fires.globalforestwatch.org/' class="btn green medium uppercase">GFW Fires</a>
                  </div>
                </div>
              </li>
              <li></li>
            </ul>
          </article>

          <article id="submit-a-story" class="source-article">
            <header>
              <h2>Submit a story</h2>
              <p>Do you have a story to share or do you want to report something you have seen on the ground? The GFW Interactive Map allows you to upload geotagged comments, photos, or videos to the GFW map for everyone to see.</p>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <p><strong>1.</strong>  Go to the Submit a Story page.</p>
                  <p><strong>2.</strong>  Enter your story title, location, and date. You can select the story location by dropping a pin on the embedded map.</p>
                  <p><strong>3.</strong>  Enter your story content in the Details box.</p>
                  <p><strong>4.</strong>  Upload a photo or video file to your story (optional). Maximum upload size is 5MB.</p>
                  <p><strong>5.</strong>  Click “Submit Story.”</p>
                  <p><strong>6.</strong>  See your story immediately by selecting the “user stories” layer on the GFW map.</p>
                  <a href="/stories/new" class="btn green medium uppercase">Submit a story</a>
                </li>
              </ul>
            </div>
          </article>

          <article id="faqs" class="source-article">
            <header>
              <h2>Frequently asked questions</h2>
            </header>
            <ul class='sources'>
              <li id="who-can-use-global-forest-watch" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Who can use Global Forest Watch?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>GFW aims to radically improve the availability, quality, and accessibility of forest data for everyone:</p>
                    <ul class='bullets'>
                      <li><strong>Governments</strong> can use GFW to detect illegal forest clearing and target forest law enforcement efforts.</li>
                      <li><strong>Companies</strong> •  Companies can monitor the impacts of commodity supply chains on forests and demonstrate compliance with sustainability commitments and certifications. Learn more at <a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a>.</li>
                      <li><strong>NGOs & civil society</strong> can identify deforestation hotspots and bolster their investigations, advocacy, and campaigns.</li>
                      <li><strong>Indigenous communities</strong> can monitor their territories and raise an alarm when their customary forests are threatened.</li>
                      <li><strong>Media</strong> can gather evidence, data, and graphics for reporting.</li>
                      <li><strong>Researchers</strong> can analyze forest trends on a local or global scale and better understand the causes of forest change.</li>
                      <li><strong>Concerned citizens everywhere</strong> can learn more about the state of forests and participate in forest monitoring. Students and educators can learn more about forests at local and global scales.</li>
                    </ul>
                    <p>GFW also brings together a dynamic community of partners with expertise in forest science, conservation, supply chain management, web development, citizen science, community outreach, and in-depth knowledge of priority forests around the world.</p>
                  </div>
                </div>
              </li>
              <li id="who-is-behind-global-forest-watch" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Who is behind Global Forest Watch?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>GFW is supported by a diverse range of partners that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. Visit the <%= link_to 'GFW About page', about_path %> for a full list of partners.</p>

                    <p>Interested in joining the GFW partnership? Email us <a href='mailto:gfw@wri.org'>here</a>.</p>
                  </div>
                </div>
              </li>
              <li id="why-do-forests-matter" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Why do forests matter?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Human society and the global economy are inextricably linked to forests. More than 1 billion people depend on forests for their livelihood. Forest ecosystems also play a critical role in stabilizing the climate; providing food, water, wood products, and vital medicines; and supporting much of the world’s biodiversity.</p>

                    <p>Despite recent efforts to combat harmful deforestation in some regions, forest ecosystems are still under threat. According to <a href='http://www.wri.org/our-work/project/forest-and-landscape-restoration' target='_blank'>WRI research</a>, 30% of potential global forest cover has been cleared, while another 20% has been degraded. Most remaining forests have been fragmented, leaving only about 15% of original forest cover intact.</p>

                    <p>Balancing the demand for natural resources with the need to preserve vital ecosystems requires robust data to help resource managers make good decisions. GFW can help by providing this information at a global scale.</p>
                  </div>
                </div>
              </li>
              <li id="what-updates-are-coming-down-the-road-for-gfw" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>What updates are coming down the road for GFW?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>You asked, and we listened. Here is how we are addressing user feedback to improve GFW.</p>
                    <ul class='bullets'>
                      <li>Additional “Forest Use” and “People” data sets, including concession boundaries, community land claims, and tenure rights</li>
                      <li>Additional local data, including projects, resources, and important places to watch</li>
                      <li>A plantations map for tropical regions</li>
                      <li>An expanded analysis and subscription tool that enables on-the-fly analysis of additional data layers and subscription to stories and other forest change data layers</li>
                      <li>Updated country profiles that include additional climate, carbon, and forest data</li>
                      <li>Better language translation and low-bandwith capabilities</li>
                      <li>Updated carbon density maps and estimates of emissions for forest loss and land-use change</li>
                      <li>A citizen-science platform for comparing and classifying satellite imagery of forests as well as an additional crowd-sourcing tool allowing direct upload of georeferenced information and photos from the field</li>
                      <li>And much more...</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li id="how-does-gfw-define-key-terms" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>How does GFW define key terms?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>Forest</strong></p>
                    <p>Various definitions exist for the term “forest,” and GFW does not aim to provide a consensus definition. Data sets hosted on GFW may define “forest” differently or pertain to different types of forest (primary, secondary, tree plantations, etc.). Through information found on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/">Open Data Portal</a>, we aim to be transparent about the assumptions and definitions feeding into each data set.</p>
                    <p>In our general writing, including the GFW blog, “forest” refers to a landscape with a high density of trees and value for biodiversity, carbon storage, and human use..</p>

                    <p><strong>Deforestation</strong></p>
                    <p>How one defines “deforestation” depends on how one defines “forest.” As noted above, various definitions of forest exist and GFW does not aim to provide a consensus view. Correspondingly, GFW does not provide a single definition for “deforestation.”</p>
                    <p>In general writing, GFW uses “deforestation” to refer to the removal of a significant number of trees from a landscape, typically in the context of human actions rather than natural events such as fires or disease. We generally refer to “gross deforestation” (the total amount of forest loss), rather than “net deforestation” (the total amount of forest loss minus the amount of forest gain), or clearly specify otherwise.</p>
                    <p>For more information on each data set, please visit our <a class="mobile-friendly" href="http://data.globalforestwatch.org/">Open Data Portal</a>.</p>

                    <p><strong>Tree cover</strong></p>
                    <p>Where found on the GFW website, “tree cover” refers to the biophysical presence of trees, which may be part of natural forests or tree plantations. The inclusion of all types of tree plantations in the “tree cover” definition notably distinguishes the term from some definitions of “forest.” Accordingly, “tree cover” and “forest” should not be used interchangeably. Different data sets further define “tree cover” with added parameters (see the <a class="mobile-friendly" href="http://data.globalforestwatch.org/">Open Data Portal</a> for details and distinctions).</p>

                    <p><strong>Tree cover loss</strong></p>
                    <p>“Tree cover loss” refers to the removal of trees, which may be within natural forests or tree plantations. Accordingly, “tree cover loss” does not necessarily equate to “deforestation” and can result from a variety of factors, including mechanical harvesting, fire, disease, or storm damage. Different data sets have additional parameters that must be met for the indication or alert of loss to appear on the GFW map (see examples below).</p>

                    <ul class='bullets'>
                      <li><strong>University of Maryland (UMD)/Google tree cover loss:</strong> Loss is defined as “stand replacement disturbance,” or the complete removal or mortality of tree cover canopy (of any canopy cover density) at the Landsat pixel scale (30 × 30 meters).</li>

                      <li><strong>FORMA alerts:</strong> Loss alerts are triggered by areas exhibiting a steep, persistent drop in vegetation intensity, indicating a high probability (equal to or greater than 50%) of the occurrence of tree cover loss. It is important to note that this alert-based system is not the same as an area measurement of tree cover loss.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li id="does-gfw-distinguish-tree-plantations-from-natural-forests" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Does GFW distinguish tree plantations from natural forests?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Tree plantations are not distinguished from natural forests in the case of several key data sets hosted on GFW (including 2000 tree cover, UMD/Google tree cover loss and gain, FORMA alerts, and QUICC alerts). Tree cover loss may include cases of tree plantations being harvested, and tree cover gain may include cases where natural forests are replaced with tree plantations.</p>

                    <p>It is nonetheless important to <a href='http://www.sciencemag.org/content/342/6160/805.full' target='_blank'>distinguish</a> between natural forests and tree plantations when considering conservation, carbon storage, and value to local communities. Natural forests have higher biodiversity, store more carbon, and are more often associated with the traditional livelihoods of forest-dependent communities. Accordingly, GFW and partners are developing a “plantation forests map” for the tropical regions to determine the location of plantations on a near-global scale. The map, developed through remote sensing methods, will be coming soon to GFW.</p>
                  </div>
                </div>
              </li>
               <li id="Can-I-compare-statistics-for-tree-cover-loss-and-gain-to-calculate-net-tree-cover-and-tree-cover-loss" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Can I compare statistics for tree cover, loss and gain to calculate “net” tree cover and tree cover loss?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Infographics on the <a href="/countries" target="_blank">Country Profiles and Rankings</a> and analysis on the <a href="/map" target="_blank">interactive map</a> allow you to view statistics for tree cover, loss, and gain, calculated using data sets from the University of Maryland/Google. Due to variation in research methodology and date of content, tree cover, loss, and gain data sets cannot be compared accurately against each other. Accordingly, “net” loss cannot be calculated by subtracting figures for tree cover gain from tree cover loss, and current (or post-2000) tree cover cannot be determined by subtracting figures for annual tree cover loss from year 2000 tree cover. For more information on these data sets, please visit the <a class="mobile-friendly" href="http://data.globalforestwatch.org/" target="_blank">Open Data Portal</a>.</p>
                  </div>
                </div>
              </li>
              <li id="do-gfw-data-reveal-the-quality-of-forest-management" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Do GFW data reveal the quality of forest management (e.g., sustainable versus unsustainable)? What about forest change from natural versus human causes?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>The forest change data displayed on GFW (such as UMD/Google tree cover loss and FORMA alerts) do not necessarily distinguish the quality of the forest management (e.g., sustainable or unsustainable), the legality (illegal or legal), or the cause (e.g., natural or human) of forest change events. For example, the forest change data available on GFW will include forest change from tree harvesting, fires, pests, and forest clearing for agriculture.</p>

                    <p>However, contextual data available on GFW can help users draw more informed conclusions about the nature and drivers of forest change events. For example, users can overlay forest change data over the protected areas layer to flag areas of potential concern. Or users can pull up satellite imagery base maps to look for “burnscars,” “blowdowns,” logging roads, and so on.</p>
                  </div>
                </div>
              </li>
              <li id="what-kinds-of-data-are-available-on-global-forest-watch" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>What kinds of data are available on Global Forest Watch?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>GFW seeks to bring together the most current, reliable, and robust data to monitor forest change around the world. GFW incorporates and integrates a wide range of data sets that can be overlaid and compared, including:</p>

                    <ul clasS='bullets'>
                      <li>Forest change data, such as global tree cover loss and gain data from the University of Maryland/Google, near real-time FORMA alerts for the humid tropics, SAD alerts for the Brazilian Amazon from Imazon, quarterly vegetation change data from NASA, and others</li>
                      <li>Forest cover data, including global tree cover data, intact forest landscapes, and pantropical carbon density</li>
                      <li>Forest fire data, from NASA’s Modis satellite (see <a href='http://www.fires.globalforestwatch.org' target='_blank'>GFW Fires</a>)</li>
                      <li>Forest use data, which includes contextual information, such as concession areas for natural resource extraction or agricultural production</li>
                      <li>Conservation data, such as global boundaries for protected areas and biodiversity hotspots</li>
                      <li>Qualitative and anecdotal data, such as user-submitted (submit one <%= link_to 'here', new_story_path %>)</li>
                      <li>People data, including community land boundaries and land tenure rights (coming soon)</li>
                    </ul>

                    <p>By monitoring changes tracked by these data sets over time, users can better understand drivers and patterns of forest loss worldwide.</p>

                    <p>See our <a class="mobile-friendly" href="http://data.globalforestwatch.org/">Open Data Portal</a> for more detail. To contribute or suggest data, please <a href='mailto:gfw@wri.com'>email</a> us.</p>
                  </div>
                </div>
              </li>
              <li id="where-do-the-data-come-from" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Where do the data come from?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>The data on GFW come from various sources. Most of the data are in the public domain and have been developed by governments, NGOs, research institutions, or companies. Note that the data come in different formats and vary in their accuracy, timeliness, and geographical extent. See GFW’s <a href="http://gfw-nav.herokuapp.com/about/data_policy">Data policy</a> for more details.</p>

                    <p>Some data are produced directly by WRI and our partners, such as FORMA alerts, Intact Forest Landscapes, and some forest use data. For more details, see the <a class="mobile-friendly" href="http://data.globalforestwatch.org/">Open Data Portal</a>.</p>
                  </div>
                </div>
              </li>
              <li id="do-you-have-these-data-sets-available-for-every-country" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Do you have these data sets available for every country?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>GFW aims to provide data with global coverage, but this isn’t always possible. The geographic coverage of each data set is described on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/">Open Data Portal</a>.</p>

                    <p>Data may have limited coverage for various reasons. GFW works to incorporate new data as quickly as possible as they are made available. If you know of a publicly available data set that we do not have, please <a href='mailto:gfw@wri.com'>contact us</a> to let us know.</p>
                  </div>
                </div>
              </li>
              <li id="how-accurate-are-the-data-displayed-on-global-forest-watch" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>How accurate are the data displayed on Global Forest Watch?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>The accuracy of the data displayed on GFW is variable. Methodologies and cautions for specific data sets are available on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/">Open Data Portal</a>.</p>

                    <p>GFW strives to include only the most accurate data whenever possible and to make the user aware of the risk of inaccuracies in the data. GFW is not responsible for data from other sources. See more about GFW’s approach to data in our <a href="http://gfw-nav.herokuapp.com/about/data_policy">Data policy</a>.</p>
                  </div>
                </div>
              </li>
              <li id="why-do-different-data-layers-contradict-each-other-or-not-overlap-exactly" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Why do different data layers contradict each other or not overlap exactly?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Different data sets measure different things and are derived using different methodologies. Such differences can lead to results that may manifest as contradictory layers on the GFW platform. In some cases, a lack of available high-quality data may cause a greater margin of error for certain data sets.</p>

                    <ul class='bullets'>
                      <li><p><strong>Intact Forest Landscapes vs. tree cover:</strong> These data sets measure different things. “Tree cover” shows all 30 × 30 meter areas that meet a minimum threshold of tree cover (25% canopy cover), whereas “Intact Forest Landscapes” only shows forests that show no significant signs of human activity (see the <a class="mobile-friendly" href="http://data.globalforestwatch.org/" target="_blank">Open data Portal</a> for specifics).</p>

                      <p>Users may find instances where tree cover does not fall within the boundaries of intact forest landscapes. This is because the Intact Forest Landscapes layer is based on MODIS (250 meter resolution satellite imagery), which is known to overestimate low tree cover densities, whereas the tree cover layer is based on Landsat (30 meter resolution satellite imagery). As a result, the tree cover layer may not show tree cover in an area that is covered by an intact forest landscape polygon.</p></li>
                      <li><p><strong>Google base map vs. boundary of country data sets:</strong> In some cases, country data sets do not line up with the Google base map and data may appear outside the country boundary. Not all country data sets are derived using the same base map and therefore there may be a slight degree of incongruence.</p></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li id="what-is-tree-cover-canopy-density-and-what-layers-allow-me-to-adjust-it" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>What is tree cover canopy (TCC) density and what layers allow me to adjust it?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Not all forests have the same footprint. Some forests are dense, like the tropical Amazon, with canopies that blanket almost every inch of ground for miles. Others forests are sparse, such as the savannah woodlands of North Africa where the canopies do not close or interlace. There are many shades in between. As a result, there is no global consensus on how much tree cover is needed to constitute a forest and it is important to be able to adjust the tree cover canopy density according to different user or country definitions of “forest.”</p>

                   <p>The minimum tree cover canopy density can only be adjusted within the UMD/Google tree cover and loss data sets. When these layers are activated in the map, you can adjust the minimum percentage of canopy density through the settings icon. This adjustment can also be made in other areas of the website where UMD/Google forest statistics are used, such as within the country profiles and rankings.</p>

                   <p>What do these percentages mean? Technically speaking, tree cover canopy density represents the estimated percent of a pixel that was covered by tree canopy in the year 2000, as determined from the analysis of satellite imagery. For the tree cover loss data, tree cover canopy density therefore corresponds to the density of tree cover before loss occurred. For example, if you select 25% as the minimum tree cover canopy density, you will only see tree cover loss pixels for which the original tree cover density was greater than 25%.</p>

                   <p>Note: Adjustments to the minimum TCC density only affect UMD tree cover loss and extent data layers. This feature does not pertain to UMD tree cover gain or to other GFW data layers or statistics. UMD tree cover gain is displayed with a set minimum TCC density greater than 50%. The minimum TCC density cannot be changed independently for loss and extent. A change made to one data layer will immediately take effect in the other.</p>

                </div>
              </li>
              <li id="i-am-familiar-with-a-particular-geographic-area-and-believe-your-data-set-is-inaccurate-what-can-i-do" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>I am familiar with a particular geographic area and believe your data set is inaccurate. What can I do?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>First, please make sure you understand the differences in the data layers and their respective methodologies.</p>

                    <p>If you still believe our data are inaccurate, please <a href='mailto:gfw@wri.com'>contact us</a> with a brief description of the location, data set in question, and observed issue. You can also <%= link_to 'submit a story', new_story_path %>, with photos or other details. Our team will flag the area for further investigation.</p>                  </div>
                </div>
              </li>
              <li id="how-do-i-cite-global-forest-watch-as-a-data-source" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>How do I cite Global Forest Watch as a data source?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Each data set has an individual citation, which can be found on the <a class="mobile-friendly" href="http://data.globalforestwatch.org/">Open Data Portal</a>. If you are referencing the source website or publication for a data set, please use the “Citation.”  If you are referencing the source website or publication for a data set, please use the “Citation.” If you are referencing a figure or number generated by GFW or data downloaded from the GFW website, please use the “Suggested citation for data as displayed on GFW.” For data that are displayed in their original form or when users are directed to the original source to download data, a suggested citation is not listed.</p>

                    <p>To cite the website or initiative overall, please use:</p>
                    <p>Global Forest Watch. 2014. World Resources Institute. Accessed on (date). <a href='http://www.globalforestwatch.org'>www.globalforestwatch.org</a>.</p>
                  </div>
                </div>
              </li>
              <li id="how-was-the-global-forest-watch-website-built" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>How was the Global Forest Watch website built?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>The Global Forest Watch website is an open source platform designed and built by <a href='http://www.vizzuality.com/' target='_blank'>Vizzuality</a>, in partnership with the <a href='http://www.wri.org/' target='_blank'>World Resources Institute</a>. Data are hosted on <a href='https://cartodb.com/' target='_blank'>CartoDB</a>, <a href='https://support.google.com/fusiontables/answer/2571232?hl=en' target='_blank'>Google Fusion Tables</a>, and <a href='https://earthengine.google.org/#intro' target='_blank'>Google Earth Engine</a>. Map visualizations are powered using CartoDB. The platform is designed for <a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails</a> and uses the Global Forest Watch API for data analysis, download, and subscription features. All code is available through our <a href='https://github.com/Vizzuality/gfw' target='_blank'>website repository</a> and <a href='https://github.com/wri/gfw-api' target='_blank'>API repository</a> on GitHub.</p>
                    <p>GFW applications are built by outside partners. Please visit the application website for more information about their development, design and data policy.</p>
                  </div>
                </div>
              </li>
              <li id="what-does-it-mean-that-global-forest-watch-is-in-beta" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>What does it mean that Global Forest Watch is in “beta”?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>While GFW is fully functional, we are still collecting user feedback to improve website features and functionality.</p>

                    <p>Establishing an effective web-based tool requires an iterative process of feedback and refinement. This is why your feedback is important to us. Please submit your feedback on the <a href="/getinvolved/provide-feedback" target='_blank'>Feedback page</a> to help us improve the site.</p>
                  </div>
                </div>
              </li>

              <li id="i-am-experiencing-difficulties-with-the-site-what-should-i-do" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>I am experiencing difficulties with the site. What should I do?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Please first ensure that you are using an appropriate web browser. We recommend using a recent version of <a href='https://www.google.com/intl/en/chrome/browser/' target='_blank'>Google Chrome</a>, <a href='http://www.mozilla.org/en-US/firefox/new/' target='_blank'>Mozilla Firefox</a>, <a href='http://www.apple.com/safari/' target='_blank'>Apple Safari</a>, or <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' target='_blank'>Internet Explorer</a>. We also recommend that you install <a href='http://get.adobe.com/flashplayer/' target='_blank'>Adobe Flash Player</a> before using the GFW website.</p>

                    <p>If errors persist when using a recommended browser, please contact us at <a href='mailto:gfw@wri.org'>gfw@wri.org</a> or <a href='https://github.com/vizzuality/gfw/issues?state=open' target='_blank'>submit an issue on GitHub</a>.</p>

                    <p>GFW is still in “beta,” which means that there may still be some minor issues and errors within the site. We are usually able to fix them in a timely manner. It is helpful if you send us a link to the page or data set you had open when you encountered the problem, and if you tell us which browser you are using. You can also view the <a href='http://stats.pingdom.com/me0q72oj01nt' target='_blank'>Global Forest Watch System Status</a> page to see if there are any portions of the website that are not working properly. If you want to give us general feedback or suggestions about new data or functionality, please visit the <a href="/getinvolved/provide-feedback" target='_blank'>Feedback page</a>.</p>
                  </div>
                </div>
              </li>
              <li id="whom-do-i-contact-with-questions-about-the-site" class='source-item last'>
                <div class='source_header'>
                  <strong class='source_title'>Whom do I contact with questions about the site?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Please email general inquiries to <a href='mailto:gfw@wri.org'>gfw@wri.org</a>, or visit the <a href="/about/contact-us" target='_blank'>Contact Us page</a> for other ways to get in touch.</p>

                    <p>For media inquiries, please contact James Anderson, Communications Officer, World Resources Institute (<a href='mailto:janderson@wri.org'>janderson@wri.org</a>, +1 (202) 729-7608).</p>

                    <p>Or, view a <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>list of staff</a> who work on Global Forest Watch. </p>
                  </div>
                </div>
              </li>
            </ul>
          </article>

          <article id="odp" class="source-article">
            <header>
              <h2 class='source_category_title'>Open Data Portal</h2>
            </header>
            <ul class='sources'>
              <li id="find-data-odp" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Find data in the Open Data Portal</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <h3 class="overview_title">There are four ways to find data in the ODP:</h3>
                    <p><strong>1. Search by keywords</strong>   Click “Search for open data” on the right-hand side of the homepage (below the map) and type in your <a href="http://doc.arcgis.com/en/open-data/consumer/find-data.htm#GUID-C151A7B7-F6C2-4DAB-B071-A59569D50E18">keywords</a>, then click “Enter” to see a list of results in the lower portion of the page.</p>
                    <p><%= image_tag('howto-screenshots/odp/image1.jpg') %></p>

                    <p><strong>2. Search by category</strong>  From the homepage, select a category of GFW data to view a list of related data sets.</p>
                    <p><%= image_tag('howto-screenshots/odp/image2.jpg') %></p>
                    <p><strong>3. Search by location</strong> Click “<a href="http://doc.arcgis.com/en/open-data/consumer/find-data.htm#ESRI_SECTION1_B9E443DF131F4820BD7848694A3CE74E">Search Within Map</a>” on the right-hand side of the homepage and zoom to your area of interest on the map. Then click “Search for open data” and click “Enter” to view all data sets that are available in the defined area, or enter keywords to filter the results even further.</p>
                    <p><%= image_tag('howto-screenshots/odp/image3.jpg') %></p>
                    <p>Additionally, you can select a country of interest from the “VIEW COUNTRY DATA” dropdown on the home-page to examine all data available for a particular country.</p>
                    <p><%= image_tag('howto-screenshots/odp/image4.png') %></p>
                    <p><strong>4. Find Related Content</strong>  Once you select a dataset, you can find thematically related content from the suggested “related <a href="http://doc.arcgis.com/en/open-data/consumer/find-data.htm#ESRI_SECTION1_4AD46F57135A4153B9BD6AF92E2186E9">datasets</a>” section at the bottom of a data set’s profile page.</p>
                    <p><%= image_tag('howto-screenshots/odp/image5_II.jpg') %></p>
                    <p>Similar content can also be found by clicking on a tag from each dataset’s profile page to prompt a new search based on that tag.</p>
                    <p><%= image_tag('howto-screenshots/odp/image16.jpg') %></p>
                  </div>
                </div>
              </li>
              <li id="download-odp-data" class='source-item'>
                <div class='source_header'>
                  <strong class='source_title'>Download Data</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>In the ODP you can <a href="http://doc.arcgis.com/en/open-data/consumer/access-data.htm">download data</a> with one-click and choose from multiple download formats such as .csv, .shp, KML, JPEG, PNG, TIFF, and API. The ODP makes it easy to quickly access GFW data and add them to your favorite tools including, but not limited to, ArcMap, ArcGIS Online, Google Earth, ERDAS Imagine, and Excel.</p>
                    <p>Once a search is executed, you can download a data set from the results page by selecting the “download” icon on the right-hand side of the results page. Larger and more detailed data sets will take longer to download.</p>
                    <p><%= image_tag('howto-screenshots/odp/image6.jpg') %></p>
                    <p>You can also select a data set from the results page to view its profile page. From a profile page you can select “DOWNLOAD DATASET” and choose your download format. The download drop-down will also provide an option to “Download Filtered Dataset,” determined by a map or attribute filter.</p>
                    <p><%= image_tag('howto-screenshots/odp/image7.jpg') %></p>
                  </div>
                </div>
              </li>
              <li id="explore-odp-data" class='source-item last'>
                <div class='source_header'>
                  <strong class='source_title'>Explore Data</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1. Explore data on the map</strong> Once you have selected a data set, a map will load at the top of its profile page where you can view the data features (e.g., logging concession polygons). Hover over each feature to learn more about it, or click on a feature to view a complete list of attributes.</p>
                    <p><%= image_tag('howto-screenshots/odp/image8.jpg') %></p>
                    <p>Using the menu on the bottom of the map, you can toggle between base map views, adjust the map size, zoom and search for geographic features.</p>
                    <p><%= image_tag('howto-screenshots/odp/image9.jpg') %></p>
                    <p><strong>2. Explore data details</strong> Key metadata for each data set is listed in the “Details” page in the ODP. Select “more” to view a summary of the data set, or learn about the data category under “About” by selecting the category name (e.g. “logging”).</p>
                    <p><%= image_tag('howto-screenshots/odp/image10.jpg') %></p>
                    <p><strong>3. Explore data tables</strong> Click the “Table” tab to preview a complete list of each data set’s attributes. You can <a href="http://doc.arcgis.com/en/open-data/consumer/explore-data.htm#ESRI_SECTION1_9A139DC2EF4A40DAA0363DF34EB81C66">filter or sort</a> the table by attribute field or location using the options on the right-hand side of the table. For example, if you want to view data only for specific logging companies, you could sort the table by the “company” field.</p>
                    <p><%= image_tag('howto-screenshots/odp/image11.jpg') %></p>
                    <p>To filter the data by location, select “Filter by Map View” from the right-hand side of the table. Using the map view, zoom in on an area of interest, and the data will dynamically filter in the map. In the example below, notice how the table is only displaying 12 of the 30,000 features.</p>
                    <p><%= image_tag('howto-screenshots/odp/image12.jpg') %></p>
                    <p><strong>4. Explore data charts</strong>  The <a href="http://doc.arcgis.com/en/open-data/consumer/chart-data.htm">charts</a> view provides a visually engaging way to understand GFW data. Select the attribute you want to display from the “Chart Table” drop-down menu, and stylize your chart with distinctive colors. Like the chart you made? You can embed the chart in a website by copying the iframe html code.</p>
                    <p><%= image_tag('howto-screenshots/odp/image13.jpg') %></p>
                  </div>
                </div>
              </li>
              <li id="download-raster-data" class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Download Raster Data</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Raster refers to a type of spatial data, which defines space by pixels, or equally sized cells arranged by rows and columns. Each pixel contains a single attribute value and its coordinate location. Pixel values correspond to real-world features such as the year tree cover was lost, or the percent of canopy cover in that location.</p>
                    <h3 class="overview_title">Steps to download raster data in the ODP:</h3>
                    <p><strong>1. Find and open a raster data set</strong> in the Open Data Portal, for example, <a href="data.globalforestwatch.org/datasets/93ecbfa0542c42fdaa8454fa42a6cc27">tree cover loss</a>.</p>
                    <p><strong>2.</strong> Since <strong>global data sets cannot be downloaded</strong> for the entire world, use the interactive web-map to zoom in on your area of interest. The extent of the web-map will determine the extent of your data, when downloaded.</p>
                    <p><%= image_tag('howto-screenshots/odp/image14.jpg') %></p>
                    <p><strong>3. Select "DOWNLOAD DATASET"</strong> and choose one of the data types under the “Download Filtered Dataset” section. The TIFF format is encoded with raster values and is spatially referenced so you can add it to a GIS.</p>
                    <p><%= image_tag('howto-screenshots/odp/image15.jpg') %></p>
                    <p><strong>4.</strong> Once you select a download format from the “DOWNLOAD DATASET” button, your download will begin. Download times may vary based on the size of your data request. Having trouble downloading a data set? <a href="mailto:astrong@wri.org">Let us know!</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
