<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Not sure how to use Global Forest Watch? Watch the overview video and click through the tabs of information below to learn more.</h3>
      </header>
      <div class="carrousel" id="carrouselView">
        <div class='carrousel-box'>
          <ul>
            <li id="site_overview" class='slide visible'>
                <iframe id='player1' width='860' height='484' src='//www.youtube.com/embed/s4HhoSbOgUc?enablejsapi=1' frameborder='0' allowfullscreen></iframe>  
            </li>
            <li id="map_tutorial" class='slide'>
                <iframe id='player2' width='860' height='484' src='//www.youtube.com/embed/VSn5N7cNiGg?enablejsapi=1' frameborder='0' allowfullscreen></iframe>
            </li>
          </ul>
        </div>        
        <ul class="row button-box">
          <li><a href="#" class="btn white uppercase btn-tab visible" data-tab="#site_overview">Gfw Tutorial | Overview</a></li>
          <li><a href="#" class="btn white uppercase btn-tab" data-tab="#map_tutorial">Gfw Tutorial | Map</a></li>
        </ul>
      </div>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>          
          <li><%= link_to 'General FAQs', "#{howto_path}/general_questions", :"data-slug" => 'general_questions', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item general_questions' %></li>
          <li><%= link_to 'Terminology FAQs', "#{howto_path}/terminology", :"data-slug" => 'terminology', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item terminology' %></li>
          <li><%= link_to 'Data FAQs', "#{howto_path}/data", :"data-slug" => 'data', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item data' %></li>
          <li><%= link_to 'Web Platform FAQs', "#{howto_path}/web_platform", :"data-slug" => 'web_platform', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item web_platform' %></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id="general_questions" class="source-article">
            <header>
              <h2>General</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <p>Global Forest Watch is an online platform offering a range of data and functionality to support governments, companies, civil society, and communities in their effort to reduce global deforestation and improve livelihoods. The confluence of data and technology is foundational to GFW, but user needs drive the functionality we provide.</p>  
<h3>Navigating the homepage</h3>
<p>GFW was designed to be both user-friendly and useful. When you first navigate to the homepage you will see many ways to get started and links to important pages. To begin, you can explore and analyze data on the GFW interactive map by clicking EXPLORE THE MAP or view simple country statistics and rankings by clicking COUNTRY PROFILES + RANKINGS. You can also start by visiting one of the GFW Applications, GFW Fires or GFW Commodities, find out how to develop your own application, or view the forthcoming applications.</p>
<p>From the homepage, you can also view recent activity—user submitted stories and blogposts, recent stories, and social media—and find out how you can keep updated and get involved. The homepage also features links to the data portal and the GFW blog, and a list of our core partners.</p>  
<p>Whether you arrive at GFW with a clear purpose or would just like to explore different features of the platform, the tabs on the left contain information to help you find your way.</p>

<p>Please note: if you are searching for information on specific GFW Applications, please visit the application website and navigate to the “HOW TO” page.</p>  
</h3>                  
                </li>
                </ul>                  
                </li>
              </ul>                 
            </div>
          </article>

          <article id="terminology" class="source-article">
            <header>
              <h2>Interactive Map</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>Viewing Data</h3>
                  <p>When you enter the GFW interactive map, UMD/Google tree cover loss and gain data layers are displayed by default. Using the tabs across the top of the map, you can view the range of available data, categorized by type, and find more information for each by clicking the “?” icon. Simply select a data layer to turn it on or off in the map. You can view currently displayed data layers in the summary window on the left-hand side of the page. For data layers restricted to a particular geographic region (e.g., FORMA alerts), this window also provides the option to turn on the “Geographic coverage.” This feature allows you to view the geographic extent of the particular data layer on the map.</p>  

<p><b>Try it out!</b> Under the “FOREST CHANGE” tab, select “FORMA alerts.” In the data window, turn on the geographic coverage. Now overlay the alerts with protected areas, which can be turned on in the “CONSERVATION” tab.</p>  

<p>A timeline can be found on the bottom of the map when a “FOREST CHANGE” layer is turned on, referred to as the “time slider.” The time slider allows you to view data over time and/or within a defined time interval. By default, each layer displays data from the entire study period (i.e., not restricted to a time interval). Some data layers (e.g., UMD/Google tree cover loss) allow you to view change over time by selecting the “play” icon on the time slider. For these layers, you can also drag the square ends of the time slider to view data for a defined time period. You can define the time interval displayed in other data layers by clicking on your desired timeframe.</p> 

<p><b>Try it out!</b> With UMD/Google tree cover loss turned on (the default data layer), press the “play” icon located on the time slider at the bottom of the map. Now try viewing data only since 2004 (hint: drag the handles of the time slider).</p> 

<p>Some data layers are more interactive on the map; you can click on individual shapes to see additional information. This feature applies to “NASA active fires,” and to data within “FOREST USE,” “CONSERVATION,” and “PEOPLE” tabs. Within some of these layers, you can also analyze data found under the “FOREST CHANGE” by individual data layer shapes. See below for more information.</p>
<p>[Insert screencast]</p>
                </li>
              </ul>
            </div>
          </article>

          <article id="data" class="source-article">
            <header>
              <h2>Analyzing Data</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  
          <article id="web_platform" class="source-article">
            <header>
              <h2>Web platform FAQs</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>How was the Global Forest Watch website built?</h3>
                  <p>The Global Forest Watch website is an open source platform designed and built by <a href='http://www.vizzuality.com/' target='_blank'>Vizzuality</a>, in partnership with the <a href='http://www.wri.org/' target='_blank'>World Resources Institute</a>. Data are hosted on <a href='https://cartodb.com/' target='_blank'>CartoDB</a>, <a href='https://support.google.com/fusiontables/answer/2571232?hl=en' target='_blank'>Google Fusion Tables</a>, and <a href='https://earthengine.google.org/#intro' target='_blank'>Google Earth Engine</a>. Map visualizations are powered using CartoDB. The platform is designed for <a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails</a> and uses the Global Forest Watch API for data analysis, download, and subscription features. All code is available through our <a href='https://github.com/Vizzuality/gfw' target='_blank'>website repository</a> and <a href='https://github.com/wri/gfw-api' target='_blank'>API repository</a> on GitHub.</p>
                </li>
                <li>
                  <h3>What does it mean that Global Forest Watch is in “beta”?</h3>
                  <p>While GFW is fully functional, we are still collecting user feedback to improve website features and functionality.</p>

                  <p>Establishing an effective web-based tool requires an iterative process of feedback and refinement. This is why your feedback is important to us. Please take our online <a href='https://www.surveymonkey.com/s/S6B53DT' target='_blank'>User Survey</a> to help us improve the site.</p>                  
                </li>
                <li>
                  <h3>I am experiencing difficulties with the site. What should I do?</h3>
                  <p>Please first ensure that you are using an appropriate web browser. We recommend using a recent version of <a href='https://www.google.com/intl/en/chrome/browser/' target='_blank'>Google Chrome</a>, <a href='http://www.mozilla.org/en-US/firefox/new/' target='_blank'>Mozilla Firefox</a>, <a href='http://www.apple.com/safari/' target='_blank'>Apple Safari</a>, or <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' target='_blank'>Internet Explorer</a>. We also recommend that you install <a href='http://get.adobe.com/flashplayer/' target='_blank'>Adobe Flash Player</a> before using the GFW website.</p>

                  <p>If errors persist when using a recommended browser, please contact us at <a href='mailto:gfw@wri.org'>gfw@wri.org</a> or <a href='https://github.com/vizzuality/gfw/issues?state=open' target='_blank'>submit an issue on GitHub</a>.</p>

                  <p>GFW is still in “beta,” which means that there may still be some minor issues and errors within the site. We are usually able to fix them in a timely manner. It is helpful if you send us a link to the page or data set you had open when you encountered the problem, and if you tell us which browser you are using. You can also view the <a href='http://stats.pingdom.com/me0q72oj01nt' target='_blank'>Global Forest Watch System Status</a> page to see if there are any portions of the website that are not working properly. If you want to give us general feedback or suggestions about new data or functionality, please use the <a href='https://www.surveymonkey.com/s/S6B53DT' target='_blank'>User Survey</a>.</p>                  
                </li>
                <li>
                  <h3>Whom do I contact with questions about the site?</h3>
                  <p>Please email general inquiries to <a href='mailto:gfw@wri.org'>gfw@wri.org</a>.</p>

                  <p>For media inquiries, please contact <strong>James Anderson</strong>, <em>Communications Officer, World Resources Institute</em> (<a href='mailto:janderson@wri.org'>janderson@wri.org</a>, +1 (202) 729-7608).</p>

                  <p>Or, view a <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>list of staff</a> who work on Global Forest Watch. </p>                  
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>      
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
