<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Global Forest Watch offers a wide range of content and capabilities to serve a variety of users and purposes. Whether you arrive at GFW with a clear purpose or are simply exploring different features, we can help you learn to use the platform.</h3>
      </header>
      <div class="carrousel" id="carrouselView">
        <div class='carrousel-box'>
          <ul>
            <li id="site_overview" class='slide visible'>
              <div id="playerCarrousel" data-default="s4HhoSbOgUc" class="player"></div>
            </li>
          </ul>
        </div>
        <ul class="row button-box">
          <li><a href="#" class="btn white uppercase btn-video visible" data-video="s4HhoSbOgUc">Gfw Tutorial | Overview</a></li>
          <li><a href="#" class="btn white uppercase btn-video" data-video="VSn5N7cNiGg">Gfw Tutorial | Map</a></li>
          <li><a href="#" class="btn white uppercase btn-video disabled" data-video="#map_tutorial">Country profiles & rankings</a></li>
        </ul>
      </div>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <a id="back-btn" class="back-btn mobile-show" href="#"><svg><use xlink:href="#shape-fast-forward-left"></use></svg>Back</a>
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'View data', "#{howto_path}/view-data", :"data-slug" => 'view-data', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item view-data' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Conduct analysis and subscribe to alerts', "#{howto_path}/conduct-analysis-and-subscribe-to-alerts", :"data-slug" => 'conduct-analysis-and-subscribe-to-alerts', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item conduct-analysis-and-subscribe-to-alerts' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'Submit a story', "#{howto_path}/submit-a-story", :"data-slug" => 'submit-a-story', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item submit-a-story' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li class="no-transform"><%= link_to 'FAQs', "#{howto_path}/faqs", :"data-slug" => 'faqs', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item faqs' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id="view-data" class="source-article">
            <header>
              <h2 class='source_category_title'>View data</h2>
              <p>This information pertains only to the GFW Interactive Map and Country profiles and rankings. For more advanced forest fire and commodity visualizations, please visit <a href="http://fires.globalforestwatch.org/" target="_blank">GFW Fires</a> and <a href="http://commodities.globalforestwatch.org/" target="_blank">GFW Commodities</a>.</p>
            </header>
            <ul class='sources'>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>View global data</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <h3 class="overview_title">Visualize data on the map</h3>

                    <p><strong>1.</strong>  Navigate to the <a href="/map" target="_blank">GFW Interactive Map</a></p>
                    <p><strong>2.</strong>  Using the tabs across the top of the map, select the data layers you want to display. UMD/Google tree cover loss and gain is displayed by default.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-1.png') %></p>
                    <p><strong>3.</strong>  Click the information icon in the drop down menu to learn more about each data layer. This includes information such as the origin of the data, resolution, frequency, cautions, and where you can download the original data set.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-2.png') %></p>
                    <p><strong>4.</strong>  View selected layers in the data summary window. For data layers restricted to a particular geographic region, you can turn on “Geographic coverage” in the data summary window to see the geographic extent of the particular data layer on the map.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-3.png') %></p>
                    <p><strong>5.</strong>  Share your map view, analyze data (see the Analyze and monitor data tab), or adjust the data settings using the buttons on the map.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-4.png') %></p>
                    <p><strong>6.</strong>  Change the base map to view data with a different map background.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-5.png') %></p>
                    <a class="btn green medium" href='/map' target='_blank'>GFW Interactive Map</a>
                    <a class="btn green medium" href='http://fires.globalforestwatch.org/' target='_blank'>GFW Fires</a>
                    <a class="btn green medium" href='http://commodities.globalforestwatch.org/' target='_blank'>GFW Commodities</a>
                    <h3 class="overview_title">Visualize data as a time series</h3>
                    <p>For most data layers under the Forest Change tab, the default view shows cumulative data points over the entire study period. However, most of these layers can also be viewed as a time series. The specific time intervals (e.g., annual, monthly, daily) vary for each data layer.</p>
                    <p><strong>1.</strong>  Select the Forest Change data layer you want to view as a time series.</p>
                    <p><strong>2.</strong>  On the bottom of the map, locate the timeline.</p>
                    <p><strong>3.</strong>  Some timelines allow you to animate the data over time or select a time interval. Press the play button on the left to view an animation of the entire time series or drag the ends of the timeline to select a specific period of time.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-6.png') %></p>
                    <p><strong>4.</strong>  For data layers with a simple timeline, select the period for which you would like to view data.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-7.png') %></p>
                    <a class="btn green medium" href='/map/3/15.00/27.00/ALL/grayscale/loss?begin=2001-01-01&end=2013-12-31&threshold=30' target='_blank'>View UMD/Google Data</a>
                    <a class="btn green medium" href='/map/3/15.00/27.00/ALL/grayscale/forma?begin=2006-01-01&end=2014-11-29' target='_blank'>View FORMA data</a>
                    <a class="btn green medium" href='/map/3/15.00/27.00/ALL/grayscale/imazon?begin=2008-01-01&end=2014-10-31' target='_blank'>View Imazon Data</a>
                    <a class="btn green medium" href='/map/3/15.00/27.00/ALL/grayscale/modis?begin=2014-07-01&end=2014-09-30' target='_blank'>View QUICC Data</a>
                    <h3 class="overview_title">Learn more about individual data points and polygons</h3>
                    <p>Some data layers allow you to click on individual data points and polygons (i.e., shapes) to view additional information. This feature applies to NASA active fires (within the Forest Change tab) and/or data within the Forest Use, Conservation, People, and Stories tabs.</p>
                    <p><strong>1.</strong>  Select a data layer, noting that this feature only applies to certain layers (see above).</p>
                    <p><strong>2.</strong>  Click on the data point or polygon you want to learn more about and an information window will appear. <i>Note: You can analyze Forest Change data within individual land-use concessions and protected areas by selecting the analysis icon in the information window. Click the Analyze and monitor tab on this page for step-by-step guidance.</i></p>
                    <p><%= image_tag('howto-screenshots/Screenshot-8.png') %></p>
                    <a class="btn green medium" href='/map' target='_blank'>GFW Interactive Map</a>
                    <p>Interested in conducting more detailed analyses of concessions related to specific commodities? Visit <a href="http://commodities.globalforestwatch.org/" target="_blank">GFW Commodities</a>.</p>
                  </div>
                </div>
              </li>
              <li class='source-item last'>
                <div class='source_header'>
                  <strong class='source_title'>View country data</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <h3 class="overview_title">View and download national and subnational statistics</h3>
                    <p><strong>1.</strong>  Navigate to the <a href="/countries" target="_blank">country profiles</a>.</p>
                    <p><strong>2.</strong>  Select a country or search for a country to view statistics and graphs related to tree cover loss and gain, forest type, economy, land tenure, and more.</p>
                    <p><strong>3.</strong>  See statistics and graphs for a subnational jurisdiction using the “Select Area” button located under the country name. <i>Note: Only the statistics and graphs presented on the top portion of the country profile can be refined to subnational jurisdictions.</i></p>
                    <p><%= image_tag('howto-screenshots/Screenshot-9.png') %></p>
                    <p><strong>4.</strong>  For statistics and graphs presented in the top portion of the country profile, use the options menu on the right to download the original data, download a table with country statistics, or adjust the minimum tree cover canopy density.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-10.png') %></p>
                    <p><strong>5.</strong>  Learn more about or share each statistic and graph by selecting the information or share icons, when available.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-11.png') %></p>

                    <a class="btn green medium" href='/countries' target='_blank'>Country profiles</a>
                    <h3 class="overview_title">View country rankings for tree cover, loss, and gain</h3>
                    <p><strong>1.</strong>  Navigate to <a href="/countries/overview" target="_blank">Country rankings</a>.</p>
                    <p><strong>2.</strong>  Use the tabs to navigate through different ranking categories.</p>
                    <p><strong>3.</strong>  Click on a country name in the ranking list to access the country profile.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-12.png') %></p>
                    <p><strong>4.</strong>  Select the Settings button to adjust the minimum tree cover canopy density.</p>
                    <p<strong>5.</strong>  Learn more about or share each graph by selecting the information or share icons.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-13.png') %></p>
                    <a class="btn green medium" href='/countries/overview' target='_blank'>Country profiles</a>
                  </div>
                </div>
              </li>
            </ul>
          </article>
          <article id="conduct-analysis-and-subscribe-to-alerts" class="source-article">
            <header>
              <h2>Conduct analysis and subscribe to alerts</h2>
              <p>Choose a category below to learn how to conduct analysis or subscribe to alerts for an area of interest.</p>
              <p>You can define an area of interest on the map by using the drawing tool or selecting an existing polygon (such as a protected area).  Once you have defined an area of interest, you can calculate statistics about the area or subscribe to alerts. If you subscribe to alerts, you will be notified via email when a new tree cover loss alert has been detected, as often as every 30 days. Tree cover loss alerts come from the Forest Monitoring for Action (FORMA) system, which monitors and detects possible tree cover disturbance within 500 × 500 meter pixels in the humid tropical forest biome. To learn more about FORMA, please visit the <a href="/sources" target='_blank'>Data page</a>.</p>
              <p>This information pertains only to the GFW Interactive Map and country profiles. Visit <a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a> or <a href='http://www.fires.globalforestwatch.org' target='_blank'>GFW Fires</a> for more advanced analysis of areas affected by fires or commodity production.</p>
            </header>
            <ul class='sources'>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>ANALYZE OR SUBSCRIBE TO ALERTS FOR A USER-DEFINED AREA</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>1.  Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>.
                    <p>2.  Turn on the Forest Change data layer you wish to analyze. If you are interested in subscribing to alerts, turn on the FORMA Alerts data layer (located under the Forest Change tab).</p>
                    <p>3.  Define the time period you wish to analyze by dragging the handles of the time slider or by selecting the time interval. Disregard this step if you want to subscribe to alerts.</p>
                    <p>[INSERT SCREENSHOT 14]</p>
                    <p>4.  Select the analysis icon at the top of the map.</p>
                    <p>[INSERT SCREENSHOT 15]</p>
                    <p>5.  Draw a shape on the map and click “Done,” and the results will appear.</p>
                    <p>[INSERT SCREENSHOT 16 AND 17]</p>
                    <p>Want to adjust the time period or type of data you are analyzing? Simply drag the handles on the timeline or select a different time interval, and choose a different data layer under the Forest Use tab. Your results will update immediately based on your selection.</p>
                    <p>Note: FORMA alerts only apply to the humid tropical forest biome. You will not receive alerts for any area outside this biome. Turn on “Geographic coverage” to see the extent of the humid tropical forest biome.</p>
                    <p>[INSERT SCREENSHOT 18]</p>
                    <p><strong>Interested in learning when new alerts occur? Follow the final steps below.</strong></p>
                    <p>7.  Click the “mail” icon located at the bottom of the window. Not working? Be sure you have turned on the FORMA Alerts data layer (located under the Forest Change tab).</p>
                    <p>[INSERT SCREENSHOT 19]</p>
                    <p>8.  Enter your email address to receive tree cover loss alerts for your user-defined area within the humid tropical forest biome.</p>
                    <p>9.  Click the “X” icon to discard your analysis.</p>
                    <p>[INSERT SCREENSHOT 20]</p>
                    <a class="btn green medium" href="/map" target='_blank'>GFW Interactive Map</a>
                  </div>
                </div>
              </li>
              <li class='source-item'>
                <div class='source_header'>
                  <strong class='source_title'>Subscribe to alerts for a land use concession or protected area</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>1.  Enter the <a href="/map" target='_blank'>GFW Interactive Map</a>. If you are interested in conducting a more in-depth analysis of specific commodities, visit <a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a> and follow the instructions provided.
                    <p>2.  Turn on the protected area layer or a forest use concession layer you want to analyze. The protected area layer is located under the Conservation tab, and the forest use concessions are located under the Forest Use tab.</p>
                    <p>[INSERT SCREENSHOT 21 AND 22]</p>
                    <p>3.  Turn on the Forest Change data layer you wish to analyze. If you are interested in subscribing to alerts, turn on the FORMA Alerts data layer (located under the Forest Change tab).</p>
                    <p>4.  Define the time period of your analysis by dragging the handles of the time slider or by selecting the time interval. Disregard this step if you want to subscribe to alerts.</p>
                    <p>[INSERT SCREENSHOT 23]</p>
                    <p>5.  Click on the individual protected area or concession you want to analyze, and select the analysis icon. The results will appear. </p>
                    <p>[INSERT SCREENSHOT 24 AND 25]</p>
                    <p>Note: FORMA alerts only apply to the humid tropical forest biome. You will not receive alerts for any protected area or concession outside this biome.  Turn on “Geographic coverage” to see the extent of this biome.</p>
                    <p>[INSERT SCREENSHOT 26]</p>
                    <p><strong>Interested in learning when new alerts occur? Follow the final steps below.</strong></p>
                    <p>6.  Click the “mail” icon located at the bottom of the window. Not working? Be sure you have turned on the FORMA Alerts data set.</p>
                    <p>[INSERT SCREENSHOT 27]</p>
                    <p>7.  Enter your email address to receive tree cover loss alerts for the selected protected area or concession within the humid tropical forest biome.</p>
                    <p>8.  Click the “X” icon to discard your analysis.</p>
                    <p>[INSERT SCREENSHOT 28]</p>
                    <a class="btn green medium" href="/map" target='_blank'>GFW Interactive Map</a>
                  </div>
                </div>
              </li>
              <li class='source-item'>
                <div class='source_header'>
                  <strong class='source_title'>ANALYZE OR MONITOR A COUNTRY OR SUBNATIONAL JURISDICTION</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>1.</strong>  Enter the <a href="/countries" target='_blank'>country profiles</a> and select a country.</p>
                    <p><strong>2.</strong>  If desired, select a subnational jurisdiction (e.g., state, county, province) using the dropdown menu under the country name.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-29.png') %></p>
                    <p><strong>3.</strong>  Click “analyze on map.” You will then be directed to the map to perform an analysis using UMD/Google tree cover loss and gain.</p>
                    <p><strong>4.</strong>  If you want to analyze a different data layer, select a new layer under the Forest Change tab. If you are interested in monitoring the area for tree clearings, turn on the FORMA Alerts data layer (located under Forest Change).  Note: Monitoring only applies to the humid tropical forest biome. You will not receive alerts for any country or region outside this area.  Turn on “Geographic coverage” to see the area you can monitor.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-30.png') %></p>
                    <p><strong>5.</strong>  Adjust the time period of your analysis by dragging the handles of the time slider or by selecting the time interval. Disregard this step if you want to monitor an area.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-31.png') %></p>
                    <p><strong>Interested in learning when new alerts occur? Follow the final steps below.</strong></p>
                    <p><strong>6.</strong>  Click the “mail” icon located at the bottom of the window. Not working? Be sure you have turned on the FORMA Alerts data set.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-32.png') %></p>
                    <p><strong>7.</strong>  Enter your email address to receive tree clearing alerts for the selected country or region.</p>
                    <p><strong>8.</strong>  Click the “trash” icon to discard your analysis.</p>
                    <p><%= image_tag('howto-screenshots/Screenshot-33.png') %></p>
                    <a href="/map" class="btn green medium uppercase">GFW Interactive Map</a>
                  </div>
                </div>
              </li>
              <li class='source-item last'>
                <div class='source_header'>
                  <strong class='source_title'>Advanced analysis for commodities and fires</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a> and <a href='http://www.fires.globalforestwatch.org' target='_blank'>GFW Fires</a> offer more advanced analysis capabilities for areas affected by commodity production and fires, respectively.</p>
                    <p>Visit GFW Commodities for analysis related to commodity production, such as analysis by oil palm concessions or a company group, and analysis of a custom area. Users can track clearance activity on areas such as peat and primary forests, and monitor deforestation-related risks.</p>
                    <a href='http://commodities.globalforestwatch.org/' class="btn green medium uppercase">GFW Commodities</a>
                    <p>Visit GFW Fires to monitor emerging fires, identify potential causes, and analyze impacts of fires on forests and people. For Indonesia, GFW Fires also provides free access to recent high-resolution imagery of suspected fires.</p>
                    <a href='http://fires.globalforestwatch.org/' class="btn green medium uppercase">GFW Fires</a>
                  </div>
                </div>
              </li>
              <li></li>
            </ul>
          </article>

          <article id="submit-a-story" class="source-article">
            <header>
              <h2>Submit a story</h2>
              <p>Do you have a story to share or do you want to report something you have seen on the ground? The GFW Interactive Map allows you to upload geotagged comments, photos, or videos to the GFW map for everyone to see.</p>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <p><strong>1.</strong>  Go to the Submit a Story page.</p>
                  <p><strong>2.</strong>  Enter your story title, location, and date. You can select the story location by dropping a pin on the embedded map.</p>
                  <p><strong>3.</strong>  Enter your story content in the Details box.</p>
                  <p><strong>4.</strong>  Upload a photo or video file to your story (optional). Maximum upload size is 5MB.</p>
                  <p><strong>5.</strong>  Click “Submit Story.”</p>
                  <p><strong>6.</strong>  See your story immediately by selecting the “user stories” layer on the GFW map.</p>
                  <a href="/stories/new" class="btn green medium uppercase">Submit a story</a>
                </li>
              </ul>
            </div>
          </article>

          <article id="faqs" class="source-article">
            <header>
              <h2>Frequently asked questions</h2>
            </header>
            <ul class='sources'>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Who can use Global Forest Watch?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>GFW aims to radically improve the availability, quality, and accessibility of forest data for everyone:</p>
                    <ul class='bullets'>
                      <li><strong>Governments</strong> can use GFW to detect illegal forest clearing and target forest law enforcement efforts.</li>
                      <li><strong>Companies</strong> can monitor the impacts of commodity supply chains on forests and demonstrate compliance with sustainability commitments and certifications. Learn more at <a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a>.</li>
                      <li><strong>NGOs & civil society</strong> can identify deforestation hotspots and bolster their investigations, advocacy, and campaigns.</li>
                      <li><strong>Indigenous communities</strong> can monitor their territories and raise an alarm when their customary forests are threatened.</li>
                      <li><strong>Media</strong> can gather evidence, data, and graphics for reporting.</li>
                      <li><strong>Researchers</strong> can analyze forest trends on a local or global scale and better understand the causes of forest change.</li>
                      <li><strong>Concerned citizens everywhere</strong> can learn more about the state of forests and participate in forest monitoring. Students and educators can learn more about forests at local and global scales.</li>
                    </ul>
                    <p>GFW also brings together a dynamic community of partners with expertise in forest science, conservation, supply chain management, web development, citizen science, community outreach, and in-depth knowledge of priority forests around the world.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Who is behind Global Forest Watch?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>GFW is supported by a diversity of partners that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. Visit the <%= link_to 'GFW About page', about_path %> for a full list of partners.</p>

                    <p>Interested in joining the GFW partnership? Email us <a href='mailto:gfw@wri.org'>here</a>.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Why do forests matter?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Human society and the global economy are inextricably linked to forests. More than 1 billion people depend on forests for their livelihoods. Forest ecosystems also play a critical role in stabilizing the climate; providing food, water, wood products, and vital medicines; and supporting much of the world’s biodiversity.</p>

                    <p>Despite recent efforts to combat harmful deforestation in some regions, forest ecosystems are still under threat. According to <a href='http://www.wri.org/our-work/project/forest-and-landscape-restoration' target='_blank'>WRI research</a>, 30% of potential global forest cover has been cleared, while another 20% has been degraded. Most remaining forests have been fragmented, leaving only about 15% of original forest cover intact.</p>

                    <p>Balancing the demand for natural resources with the need to preserve vital ecosystems requires robust data to help resource managers make good decisions. GFW can help by providing this information at a global scale.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>What updates are coming down the road for GFW?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>You asked, and we listened. Here is how we are addressing user feedback to improve GFW.</p>
                    <ul class='bullets'>
                      <li>Additional “Forest Use” and “People” data sets, including concession boundaries, community land claims, and tenure rights</li>
                      <li>Additional local data, including projects, resources, and important places to watch</li>
                      <li>A plantations map for tropical regions</li>
                      <li>A new homepage that allows users to more easily access relevant GFW features and data</li>
                      <li>An expanded analysis and subscription tool that enables on-the-fly analysis of additional data layers and subscription to stories and other forest change data layers</li>
                      <li>Updated country pages that include additional climate, carbon, and forest data</li>
                      <li>A new portal that allows users to easily navigate, search, and download all GFW data</li>
                      <li>Better language translation and low-bandwith capabilities</li>
                      <li>Updated carbon density maps and estimates of emissions for forest loss and land-use change</li>
                      <li>Mobile optimization for the GFW site</li>
                      <li>A citizen-science platform for comparing and classifying satellite imagery of forests as well as an additional crowd-sourcing tool allowing direct upload of georeferenced information and photos from the field</li>
                      <li>And much more...</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>How does GFW define key terms?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p><strong>Forest</strong></p>
                    <p>Various definitions exist for the term “forest,” and GFW does not aim to provide a consensus definition. Data sets hosted on GFW may define “forest” differently or pertain to different types of forest (primary, secondary, tree plantations, etc.). Through information found on the <%= link_to 'Data page', sources_path %>, we aim to be transparent about the assumptions and definitions feeding into each data set.</p>
                    <p>In our general writing, including the GFW blog, “forest” refers to a landscape with a high density of trees and value for biodiversity, carbon storage, and human use.</p>

                    <p><strong>Deforestation</strong></p>
                    <p>How one defines “deforestation” is dependent on how one defines “forest.” As noted above, various definitions of forest exist and GFW does not aim to provide a consensus view. Correspondingly, GFW does not provide a single definition for “deforestation.”</p>
                    <p>In general writing, GFW uses “deforestation” to refer to the removal of a significant number of trees from a landscape, typically in the context of human actions rather than natural events such as fires or disease. We generally refer to “gross” deforestation (the total amount of forest loss), rather than “net deforestation” (the total amount of forest loss minus the amount of forest gain), or clearly specify otherwise.</p>
                    <p>For more information on each data set, please visit our <%= link_to 'Data page', sources_path %>.</p>

                    <p><strong>Tree cover</strong></p>
                    <p>Where found on the GFW website, “tree cover” refers to the biophysical presence of trees, which may be part of natural forests or tree plantations. The inclusion of all types of tree plantations in the “tree cover” definition notably distinguishes the term from some definitions of “forest.” Accordingly, “tree cover” and “forest” should not be used interchangeably. Different data sets further define “tree cover” with added parameters (see the <%= link_to 'Data page', sources_path %> for details and distinctions).</p>

                    <p><strong>Tree cover loss</strong></p>
                    <p>“Tree cover loss” refers to the removal of trees, which may be within natural forests or tree plantations. Accordingly, “tree cover loss” does not necessarily equate to “deforestation” and can be due to a variety of factors, including mechanical harvesting, fire, disease, or storm damage. Different data sets have additional parameters that must be met for the indication or alert of loss to appear on the GFW map (see examples below).</p>

                    <ul class='bullets'>
                      <li><strong>UMD/Google tree cover loss:</strong> Loss is defined as “stand replacement disturbance,” or the complete removal or mortality of tree cover canopy (of any canopy cover density) at the Landsat pixel scale (30x30 meters).</li>

                      <li><strong>FORMA alerts:</strong> Loss alerts are triggered by areas exhibiting a steep, persistent drop in vegetation intensity, indicating a high probability (equal to or greater than 50%) of the occurrence of tree cover loss. It is important to note that this alert-based system is not the same as an area measurement of tree cover loss.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Does GFW distinguish tree plantations from natural forests?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Tree plantations are not distinguished from natural forests in the case of several key data sets hosted on GFW (including 2000 tree cover extent, UMD/Google tree cover loss and gain, FORMA alerts, and QUICC alerts). Tree cover loss may include cases of tree plantations being harvested, and tree cover gain may include cases where natural forests are replaced with tree plantations.</p>

                    <p>It is nonetheless important to <a href='http://www.sciencemag.org/content/342/6160/805.full' target='_blank'>distinguish</a> between natural forests and tree plantations when considering conservation, carbon storage, and value to local communities. Natural forests have higher biodiversity, store more carbon, and are more often associated with the traditional livelihoods of forest-dependent communities. Accordingly, GFW and partners are developing a “plantation forests map” for the tropical regions to determine the location of plantations on a near-global scale. The map, developed through remote sensing methods, will be coming soon to GFW.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Do GFW data reveal the quality of forest management (e.g., sustainable versus unsustainable)? What about forest change from natural versus human causes?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>The forest change data displayed on GFW (such as UMD/Google tree cover loss and FORMA alerts) do not necessarily distinguish the quality of the forest management (e.g., sustainable or unsustainable), the legality (illegal or legal), or the cause (e.g., natural or human) of forest change events. For example, the forest change data available on GFW will include forest change from tree harvesting, fires, pests, and forest clearing for agriculture.</p>

                    <p>However, contextual data available on GFW can help users draw more informed conclusions about the nature and drivers of forest change events. For example, users can overlay forest change data over the protected areas layer to flag areas of potential concern. Or users can pull up satellite imagery base maps to look for “burnscars,” “blowdowns,” logging roads, and so on.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>What kinds of data are available on Global Forest Watch?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>GFW seeks to bring together the most current, reliable, and robust data to monitor forest change around the world. GFW incorporates and integrates a wide range of data sets that can be overlaid and compared, including:</p>

                    <ul clasS='bullets'>
                      <li><strong>Forest change data</strong>, such as global tree cover loss and gain data from the University of Maryland/Google, near real-time FORMA alerts for the humid tropics, SAD alerts for the Brazilian Amazon from Imazon, quarterly vegetation change data from NASA, and others</li>
                      <li><strong>Forest cover data</strong>, including global tree cover extent data, intact forest landscapes, and pantropical carbon density</li>
                      <li><strong>Forest fire data</strong>, from NASA’s Modis satellite (see <a href='http://www.fires.globalforestwatch.org' target='_blank'>GFW Fires</a>)</li>
                      <li><strong>Forest use data</strong>, which includes contextual information, such as concession areas for natural resource extraction or agricultural production</li>
                      <li><strong>Conservation data</strong>, such as global boundaries for protected areas and biodiversity hotspots</li>
                      <li><strong>Qualitative and anecdotal data</strong>, such as user-submitted stories (submit one <%= link_to 'here', new_story_path %>)</li>
                      <li><strong>People data</strong>, including community land boundaries and land tenure rights (coming soon)</li>
                    </ul>

                    <p>By monitoring changes tracked by these data sets over time, users can better understand drivers and patterns of forest loss worldwide.</p>

                    <p>See our <%= link_to 'Data page', sources_path %> for more detail. To contribute or suggest data, please <a href='mailto:gfw@wri.com'>email</a> us.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Where do the data come from?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>The data on GFW come from various sources. Most of the data are in the public domain and have been developed by governments, NGOs, research institutions, or companies. Note that the data come in different formats and vary in their accuracy, timeliness, and geographical extent. See GFW’s <%= link_to 'Data policy', "#{sources_path}#data_policy" %> for more details.</p>

                    <p>Some data are produced directly by WRI and our partners, such as FORMA alerts, Intact Forest Landscapes, and some forest use data.</p>

                    <p>For more details, see the <%= link_to 'Data page', sources_path %>.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Do you have these data sets available for every country?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>GFW aims to provide data with global coverage, but this isn’t always possible. The geographic coverage of each data set is described on the <%= link_to 'Data page', sources_path %>.</p>

                    <p>Data may have limited coverage for various reasons. GFW works to incorporate new data as quickly as possible as they are made available. If you know of a publicly available data set that we do not have, please <a href='mailto:gfw@wri.com'>contact us</a> to let us know.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>How accurate are the data displayed on Global Forest Watch?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>The accuracy of the data displayed on GFW is variable. Methodologies and cautions for specific data sets are available on the <%= link_to 'Data page', sources_path %>.</p>

                    <p>GFW strives to include only the most accurate data whenever possible and to make the user aware of the risk of inaccuracies in the data. GFW is not responsible for data from other sources. See more about GFW’s approach to data in our <%= link_to 'Data policy', "#{sources_path}#data_policy" %>.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>Why do different data layers contradict each other or not overlap exactly?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Different data sets measure different things and are derived using different methodologies. Such differences can lead to results that may manifest as contradictory layers on the GFW platform. In some cases, a lack of available high-quality data may cause a greater margin of error for certain data sets.</p>

                    <ul class='bullets'>
                      <li><p><strong>Intact Forest Landscapes vs. tree cover extent:</strong> These data sets measure different things. Tree cover extent shows all 30 x 30 meter areas that meet a minimum threshold of tree cover (25% canopy cover), whereas Intact Forest Landscapes only show forests that show no significant signs of human activity (see the <%= link_to 'Data page', "#{sources_path}#forest_cover" %> for specifics).</p>

                      <p>Users may find instances where tree cover extent does not fall within the boundaries of intact forest landscapes. This is because the Intact Forest Landscapes layer is based on MODIS (250 meter resolution satellite imagery), which is known to overestimate low tree cover densities, whereas the tree cover extent layer is based on Landsat (30 meter resolution satellite imagery). As a result, the tree cover extent layer may not show tree cover in an area that is covered by an intact forest landscape polygon.</p></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>I am familiar with a particular geographic area and believe your data set is inaccurate. What can I do?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>First, please make sure you understand the differences in the data layers and their respective methodologies.</p>

                    <p>If you still believe our data are inaccurate, please <a href='mailto:gfw@wri.com'>contact us</a> with a brief description of the location, data set in question, and observed issue. You can also <%= link_to 'submit a story', new_story_path %>, with photos or other details. Our team will flag the area for further investigation.</p>                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>How do I cite Global Forest Watch as a data source?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Each data set has an individual citation, which can be found on the <%= link_to 'Data page', sources_path %>. If you are referencing the source website or publication for a data set, please use the “Citation.”  If you are referencing a figure or number generated by GFW or data downloaded from the GFW website, please use the “Suggested citation for data as displayed on GFW.”  For data that are displayed in their original form or when users are directed to the original source to download data, a suggested citation is not listed.</p>

                    <p>To cite the website or initiative overall, please use:</p>
                    <p>Global Forest Watch. 2014. World Resources Institute. Accessed on (date). <a href='http://www.globalforestwatch.org'>www.globalforestwatch.org</a>.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>How was the Global Forest Watch website built?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>The Global Forest Watch website is an open source platform designed and built by <a href='http://www.vizzuality.com/' target='_blank'>Vizzuality</a>, in partnership with the <a href='http://www.wri.org/' target='_blank'>World Resources Institute</a>. Data are hosted on <a href='https://cartodb.com/' target='_blank'>CartoDB</a>, <a href='https://support.google.com/fusiontables/answer/2571232?hl=en' target='_blank'>Google Fusion Tables</a>, and <a href='https://earthengine.google.org/#intro' target='_blank'>Google Earth Engine</a>. Map visualizations are powered using CartoDB. The platform is designed for <a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails</a> and uses the Global Forest Watch API for data analysis, download, and subscription features. All code is available through our <a href='https://github.com/Vizzuality/gfw' target='_blank'>website repository</a> and <a href='https://github.com/wri/gfw-api' target='_blank'>API repository</a> on GitHub.</p>
                    <p>GFW applications are built by outside partners. Please visit the application website for more information about their development, design and data policy.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>What does it mean that Global Forest Watch is in “beta”?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>While GFW is fully functional, we are still collecting user feedback to improve website features and functionality.</p>

                    <p>Establishing an effective web-based tool requires an iterative process of feedback and refinement. This is why your feedback is important to us. Please take our online <a href='https://www.surveymonkey.com/s/S6B53DT' target='_blank'>User Survey</a> to help us improve the site.</p>
                  </div>
                </div>
              </li>
              <li class='source-item first'>
                <div class='source_header'>
                  <strong class='source_title'>I am experiencing difficulties with the site. What should I do?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Please first ensure that you are using an appropriate web browser. We recommend using a recent version of <a href='https://www.google.com/intl/en/chrome/browser/' target='_blank'>Google Chrome</a>, <a href='http://www.mozilla.org/en-US/firefox/new/' target='_blank'>Mozilla Firefox</a>, <a href='http://www.apple.com/safari/' target='_blank'>Apple Safari</a>, or <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' target='_blank'>Internet Explorer</a>. We also recommend that you install <a href='http://get.adobe.com/flashplayer/' target='_blank'>Adobe Flash Player</a> before using the GFW website.</p>

                    <p>If errors persist when using a recommended browser, please contact us at <a href='mailto:gfw@wri.org'>gfw@wri.org</a> or <a href='https://github.com/vizzuality/gfw/issues?state=open' target='_blank'>submit an issue on GitHub</a>.</p>

                    <p>GFW is still in “beta,” which means that there may still be some minor issues and errors within the site. We are usually able to fix them in a timely manner. It is helpful if you send us a link to the page or data set you had open when you encountered the problem, and if you tell us which browser you are using. You can also view the <a href='http://stats.pingdom.com/me0q72oj01nt' target='_blank'>Global Forest Watch System Status</a> page to see if there are any portions of the website that are not working properly. If you want to give us general feedback or suggestions about new data or functionality, please use the <a href='https://www.surveymonkey.com/s/S6B53DT' target='_blank'>User Survey</a>.</p>
                  </div>
                </div>
              </li>
              <li class='source-item last'>
                <div class='source_header'>
                  <strong class='source_title'>Whom do I contact with questions about the site?</strong>
                  <i class='expand_arrow'></i>
                </div>
                <div class='source_body'>
                  <div class='source_summary'>
                    <p>Please email general inquiries to <a href='mailto:gfw@wri.org'>gfw@wri.org</a>.</p>

                    <p>For media inquiries, please contact <strong>James Anderson</strong>, <em>Communications Officer, World Resources Institute</em> (<a href='mailto:janderson@wri.org'>janderson@wri.org</a>, +1 (202) 729-7608).</p>

                    <p>Or, view a <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>list of staff</a> who work on Global Forest Watch. </p>
                  </div>
                </div>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
