<div class="narrow_column">
  <div class="header_block header_block_howto">
    <div class="header_block-body">
      <h1 class="header_block-title">How to</h1>
      <p class="header_block-description">Learn how to use the Global Forest Watch website here with our video tutorials, FAQs, and other materials.</p>

      <iframe width="860" height="484" src="//www.youtube.com/embed/5HH1qaBAQRA" frameborder="0" allowfullscreen></iframe>
    </div>

    <ul class="header_block-footer header_block_howto-footer">
      <li>
        <a href="#" class="site_overview selected">GFW site overview<i class="play"></i></a>
      </li>

      <li>
        <a href="#" class="map_tutorial">GFW map tutorial<i class="play"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="narrow_column">
  <div class="navigation_left">
    <ul>
      <li class="item_title"><i class="caret_down"></i></li>
      <li><a href="#general_questions" class="selected general_questions" data-slug="general_questions">General questions</a></li>
      <li><a href="#terminology" class="terminology" data-slug="terminology">Terminology</a></li>
      <li><a href="#data" class="data" data-slug="data">Data</a>  </li>
      <li><a href="#web_platform" class="web_platform" data-slug="web_platform">Web platform</a></li>
      <li><a href="#corporate" class="corporate" data-slug="corporate">GFW for businesses</a></li>
    </ul>
  </div>

  <div class="content_right">
    <article id="general_questions" class="selected">
      <h2 class="general_questions source_title">General questions</h2>
      <p>Forest clearing data measure forest cover loss or forest disturbance.</p>

      <h3>What is Global Forest Watch?</h3>

      <p>Global Forest Watch (GFW) is a partnership convened by the World Resources Institute that mobilizes satellite technology, open data, and human networks to monitor forests in near-real-time and promote better forest management. The GFW website aims to provide highly current, reliable, and actionable information about what is happening in forests around the world. GFW adheres to an <a href="https://github.com/Vizzuality/gfw">open source</a> and <%= link_to "open data", sources_path %> policy, providing access to data that are free for everyone and as easy as possible to use. GFW is intended for use by governments, companies, NGOs, researchers, communities, and others seeking to better manage forests and improve local livelihoods.</p>

      <h3>Who can use Global Forest Watch?</h3>
      <p>GFW aims to radically improve the availability, quality, and accessibility of forest data for everyone. For example:</p>

      <ul>
        <li><strong>Governments</strong> can use GFW to detect illegal forest clearing and target forest law enforcement efforts.</li>
        <li><strong>Companies</strong> can monitor the impacts of commodity supply chains on forests and demonstrate compliance with sustainability commitments and certifications.</li>
        <li><strong>NGOs</strong> can identify deforestation hotspots and bolster their investigations, advocacy, and campaigns.</li>
        <li><strong>Indigenous communities</strong> can monitor their territories and raise an alarm when their customary forests are threatened.</li>
        <li><strong>Media</strong> can gather evidence, data, and graphics for reporting.</li>
        <li><strong>Researchers</strong> can analyze forest trends on a local or global scale and better understand the causes of forest change.</li>
        <li><strong>Concerned citizens everywhere</strong> can learn more about the state of forests and participate in forest monitoring. Students and educators can learn more about forests at local and global scales.</li>
      </ul>
      <p>GFW also brings together a dynamic community of partners with expertise in forest science, conservation, supply chain management, web development, citizen science, community outreach, and in-depth knowledge of priority forests around the world.</p>

      <h3>Who is behind Global Forest Watch?</h3>
      <p>GFW is supported by a diversity of partners that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. Visit the <%= link_to "GFW about page", about_path %> for a full list of partners.</p>

      <p>Interested in joining the GFW partnership? Email us <a href="mailto:gfw@wri.com">here</a>.</p>

      <h3>Why do forests matter?</h3>
      <p>Human society and the global economy are inextricably linked to forests. More than 1 billion people depend on forests for their livelihoods. Forest ecosystems also play a critical role in stabilizing the climate; providing food, water, wood products, and vital medicines; and supporting much of the world’s biodiversity.</p>

      <p>Despite recent efforts to combat harmful deforestation in some regions, forest ecosystems are still under threat. According to <a href="http://www.wri.org/our-work/project/forest-and-landscape-restoration">WRI research</a>, 30 percent of potential global forest cover has been cleared, while another 20 percent has been degraded. Most remaining forests have been fragmented, leaving only about 15 percent of original forest cover intact.</p>

      <p>Balancing the demand for natural resources with the need to preserve vital ecosystems requires robust data to help resource managers make good decisions. GFW can help by providing this information at a global scale.</p>

      <h3>How do I use Global Forest Watch?</h3>
      <p>Please scroll up to the page above for a video tutorial and a full overview of GFW’s functionalities.</p>

      <h3>How can I participate?</h3>
      <p>You can promote sustainable forest management and improve forest transparency by contributing to GFW in the following ways:</p>

      <ul>
        <li><strong><%= link_to "Submit a story", new_story_path %></strong> about forest change.</li>
        <li><strong>Contribute or share data</strong> through GFW. Please send an email <a href="mailto:gfw@wri.com">here</a></li>
        <li><strong>Contribute open source code</strong> by submitting a Pull Request to our <a href="https://github.com/Vizzuality/gfw">website repository</a> or <a href="https://github.com/wri/gfw-api">API repository</a> on GitHub.</li>
        <li><strong>Suggest improvements</strong> by taking the “user challenge” and filling out our feedback survey <a href="https://www.surveymonkey.com/s/gfw2">here</a>.</li>
        <li><strong>Use Global Forest Watch</strong> and let us know how it has helped you, using our feedback survey <a href="https://www.surveymonkey.com/s/gfw2">here</a>.</li>
        <li><strong>Validate data by participating in citizen science</strong> (Coming soon) GFW will invite users to help classify satellite images and strengthen global forest change datasets.</li>
      </ul>
    </article>

    <article id="terminology">
      <h2 class="terminology source_title">Terminology</h2>

      <h3>How does Global Forest Watch define “forest”?</h3>
      <p>Various definitions exist for the term “forest”, and GFW does not aim to provide a consensus definition. The various datasets hosted on GFW may define “forest” differently or pertain to different types of forest. Through the information on the <%= link_to "Data page", sources_path %>, we aim to be transparent about the assumptions and definitions feeding into each dataset.</p>

      <p>See the next entry for GFW’s approach to tree plantations vs natural forests.</p>

      <p>Here are key examples of how a few GFW-hosted datasets define “forest”.</p>

      <ul>
        <li>The UMD Tree Cover Loss and Gain datasets define “forest” based on <a href="http://glcf.umd.edu/data/vcf/">MODIS Vegetation Continuous Fields</a>. Forest is further defined as areas where canopy cover exceeds 25%, with vegetation over 5 m tall.</li>

        <li>FORMA Alerts apply to areas considered “forest” within the humid tropical forest biome, as defined by <a href="http://www.pnas.org/content/105/27/9439.full#ref-1">Hansen et al.(2008)</a>, based on <a href="http://wolfweb.unr.edu/~ldyer/classes/396/olsonetal.pdf">WWF’s terrestrial ecoregions</a>. This layer, a composite of forest ecoregions, is available for viewing or downloading on <a hre="https://wri-01.cartodb.com/tables/ecoregions/map">CartoDB</a>.</li>

        <li><a href="http://www.intactforests.org/ ">Intact Forest Landscapes</a> (IFL) are defined as an unbroken expanse of natural ecosystems within the zone of current forest extent, showing no signs of significant human activity and large enough that all native biodiversity, including viable populations of wide-ranging species, could be maintained. Although all IFL are within the forest zone, some may contain extensive naturally tree-less areas, including grasslands, wetlands, lakes, alpine areas, and ice. Read more <a href="http://www.intactforests.org/">here</a>.</li>
      </ul>

      <p>In our general writing, including the GFW blog, “forest” refers to a landscape with a high density of trees and value for biodiversity, carbon storage, and human use.</p>

      <h3>Do you distinguish tree plantations from natural forests?</h3>
      <p>As noted above, the various datasets hosted on GFW may define “forest” differently.</p>

      <p>Tree plantations are not distinguished from natural forests in the case of several key datasets hosted on GFW (including 2000 Forest Cover Extent, UMD tree cover loss and gain, FORMA alerts, and QUICC alerts). Tree cover loss may include cases of plantation forests being harvested, and tree cover gain may include cases where natural forests are replaced with tree plantations</p>

      <p>It is nonetheless important to <a href="http://www.sciencemag.org/content/342/6160/805.full">distinguish</a> between natural forests and tree plantations when considering conservation value, carbon storage, and value to local communities. Natural forests have higher biodiversity, store more carbon, and are more often associated with the traditional livelihoods of forest-dependent communities.</p>

      <p>Global Forest Watch users may be able to use contextual data such as concession boundaries, protected areas, and satellite imagery basemaps  to help distinguish tree plantation from natural forests. Users are also encouraged to compare data available on GFW to other datasets that may help plantations for natural forests. GFW and partners are also currently developing “plantation forests map” for the tropical regions to determine the local of plantations on a near-global scale. The map, developed through remote sensing methods, will be coming soon to the GFW site</p>

      <h3>How do you define “deforestation” and related terms (e.g. “forest loss”, “forest clearing”, “tree cover loss”, and “tree cover loss alerts”?)</h3>

      <p>The various datasets hosted on GFW have different terminology for types of forest change, and may define these terms differently. GFW does not aim to provide a consensus definition. See our <%= link_to "Data page", sources_path %> for more detail.</p>

      <p>In general writing, GFW uses “forest loss”, “forest clearing”, “forest cover loss”, “forest degradation” and similar terms to refer to the removal of a significant number of trees from a landscape. This can be the result of human use of forest landscapes or natural events. These terms are generally “gross”, not “net”, as they do not take into account regrowth of forests.</p>

      <p>Note: We generally do not use the term “deforestation” in order to avoid confusion with technical definitions of this word used by different sectors.</p>

      <p>Datasets such as FORMA alerts, QUICC alerts, MODIS fire alerts, and SAD alerts are “forest cover? loss alerts.”</p>

      <p>Here are key examples of how a few GFW-hosted datasets define these terms.</p>

      <ul>
        <li>The UMD Tree Cover Loss datasets define “tree cover loss” as stand replacement disturbance, or the death of living trees within a 30 m X 30 m area. This definition only applies to areas where canopy cover exceeds 25%, with vegetation over 5 m tall.</li>

        <li>FORMA Alerts indicate areas of 500m X 500m where there is a high probability of tree cover loss. It is important to note that this alert-based system is not the same as an area measurement of tree cover loss.</li>
        <li>QUICC alerts measure significant changes in green vegetation cover.</li>
      </ul>

      <p>For more information on each dataset, please visit our <%= link_to "Data page", sources_path %>.</p>


      <h3>Do GFW data reveal to quality of forest management (e.g. sustainable vs. unsustainable)? What about forest change from natural vs. human causes?</h3>

      <p>GFW forest change data (such as UMD tree cover loss and FORMA alerts) do not necessarily distinguish the quality of the forest management (e.g. sustainable or unsustainable), the legality (illegal or legal), or the cause (e.g. natural or human) of the forest change events. For example, the forest change data available on GFW will include forest change from tree harvesting, fires, pests, and forest clearing for agriculture.</p>

      <p>However, contextual data available on GFW can help users draw more informed conclusions about the nature and drivers of forest change events. For example, users can overlay forest change data over the protected areas layer to flag areas of potential concern. Or users can pull up satellite imagery basemaps to look for “burnscars” “blowdowns”, logging roads, etc.</p>
    </article>

    <article id="data">
      <h2 class="general_questions source_title">General questions</h2>
      <p>Forest clearing data measure forest cover loss or forest disturbance.</p>

      <h3>What kinds of data are available on Global Forest Watch?</h3>
      <p>GFW seeks to bring together the most current, reliable, and robust data to monitor forest change around the world. GFW incorporates/integrates a wide range of datasets which can be overlaid and compared, including:</p>

      <ul>
        <li>Forest change data such as global forest change data from the University of Maryland, near-real-time FORMA alerts for the humid tropics, SAD alerts for the Brazilian Amazon from Imazon, quarterly vegetation change data from NASA, and others.</li>
        <li>Forest cover data including the extent of forest land in 2000, Intact Forest Landscapes, and Pan-tropical carbon density</li>
        <li>Forest use data, which includes contextual information such as concession areas for natural resource extraction or agricultural production</li>
        <li>Conservation data such as global boundaries for protected areas, biogeographical data on threatened species, and biodiversity hotspots.</li>
        <li>Qualitative and anecdotal data, such as user-submitted stories (submit one <%= link_to "here", new_story_path %>)
        People data, including community land boundaries and land tenure rights (coming soon)</li>
        <li>By monitoring changes tracked by these datasets over time, users can better understand drivers and patterns of forest loss worldwide.</li>
        <li>See our <%= link_to "Data page", sources_path %> for more detail. To contribute or suggest data, please <a href="mailto:gfw@wri.com">email</a> us.</li>
      </ul>
 
      <h3>Where do the data come from?</h3>
      <p>The data on GFW come from various sources. Most of the data are in the public domain and have been developed by governments, NGOs, research institutions or companies. Note that the data come in different formats and vary in terms of accuracy, timeliness, and geographical extent. See GFW’s <%= link_to "Data policy", sources_path %> for more details.</p>

      <p>Some data are produced directly by WRI and our partners, such as FORMA alerts, Intact Forest Landscapes, and some forest use data.</p>

      <p>For more details, see the <%= link_to "Data page", sources_path %>.</p>

      <h3>Do you have these datasets available for every country?</h3>
      <p>GFW aims to provide data with global coverage, but this isn’t always possible. The geographic coverage of each dataset is described on the <%= link_to "Data page", sources_path %>.</p>

      <p>Data may have limited coverage for various reasons. GFW works to incorporate new data as quickly as possible as they are made available. If you know of a publicly available dataset that we do not have, please <a href="mailto:gfw@wri.com">contact us</a> to let us know.</p>
  
      <h3>How accurate are the data displayed on Global Forest Watch?</h3>
      <p>The accuracy of the data displayed on GFW is variable. Methodologies and cautions for specific datasets are available on the Data page.</p>

      <p>GFW strives to include only the most accurate data whenever possible, and to make the user aware of the risk of inaccuracies in the data. GFW is not responsible for data from other sources. See more about GFW’s approach to data in our <%= link_to "Data policy", sources_path %>.</p>

      <h3>Why do different data layers contradict each other, or not overlap exactly?</h3>
      <p>Different datasets measure different things, and are derived using different methodologies. Such differences can lead to results which may be manifested as contradictory layers on the GFW platform. In some cases, a lack of available high-quality data may cause a greater margin of error for certain datasets.</p>

      <p>While no dataset is 100% accurate, comparing these multiple models can help users narrow down the drivers and impacts of forest change.</p>

      <p>For one example, the boundaries for protected areas on the Google grayscale base map do not always align with the protected areas from the World Database on Protected Areas (WDPA).</p>

      <p>In this case, the WDPA dataset only includes official protected areas – defined regions that are formally protected by law at the national level – whereas the base map includes recreational areas and other informal green spaces. Furthermore, the WDPA data is approved and reported by individual countries, while Google’s basemap is composed of data from a variety of sources. Therefore, the base map grayscale network of parks and protected areas is more expansive (and less defined) than that of the protected areas layer, causing visible incongruities between the two datasets.</p>

      <h3>I am familiar with a particular geographic area and believe your dataset is inaccurate. What can I do?</h3>
      <p>First, please make sure you understand the differences in the <%= link_to "data layers", sources_path %> and their respective methodologies.
       If you still believe our data are inaccurate, please <a href="mailto:gfw@wri.com">contact us</a> with a brief description of the location, dataset in question, and observed issue. Or <%= link_to "submit a story", new_story_path %>, with photos or other details. Our team will flag the area for further investigation.</p>
 
      <h3>How do I cite Global Forest Watch as a data source? </h3>
      <p>Each dataset has an individual citation, which can be found on the Data page. Please credit the original source of the data as instructed as well as the date accessed, as many of our data layers are updated frequently.</p>

      <p>To cite the website or initiative overall, please use:</p>
      <p>Global Forest Watch. (2014.) World Resources Institute. Accessed on (date). Available at <a href="http://www.globalforestwatch.org">www.globalforestwatch.org</a></p>
    </article>

    <article id="web_platform">
      <h2 class="general_questions source_title">General questions</h2>
      <p>Forest clearing data measure forest cover loss or forest disturbance.</p>

      <h3>How was the Global Forest Watch website built?</h3>
      <p>The Global Forest Watch website is an open source platform designed and built by <a href="http://www.vizzuality.com/">Vizzuality</a>, in partnership with the <a href="http://www.wri.org/">World Resources Institute</a>. Data are hosted on <a href="https://cartodb.com/">CartoDB</a>, <a href="https://support.google.com/fusiontables/answer/2571232?hl=en">Google Fusion Tables</a>, and <a href="https://earthengine.google.org/#intro">Google Earth Engine</a>. Map visualizations are powered using CartoDB. The platform is designed for <a href="http://rubyonrails.org/">Ruby on Rails</a> and uses the Global Forest Watch API for data analysis, download, and subscription features. All code is available through our <a href="https://github.com/Vizzuality/gfw">website repository</a> and <a href="https://github.com/wri/gfw-api">API repository</a> on GitHub.</p>

      <h3>What does it mean that Global Forest Watch is in “beta”?</h3>
      <p>While GFW is fully functional, we are still collecting user feedback to improve website features and functionality.</p>

      <p>Establishing an effective web-based tool requires an iterative process of feedback and refinement. This is why your feedback is important to us. Please take our online <a href="https://www.surveymonkey.com/s/gfw2">User Challenge</a> to help us improve the site.</p>
 
      <h3>I am experiencing difficulties with the site. What should I do?</h3>
      <p>Please first ensure that you are using an appropriate web browser. We recommend using a recent version of Google <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>, Mozilla <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, or Apple <a href="http://cait2.wri.org/feedback.html">Safari</a>. We highly discourage viewing Global Forest Watch in Internet Explorer due to problems with the map functionality.</p>

      <p>If errors persist when using a recommended browser, please contact us at <a href="mailto:gfw@wri.org">gfw@wri.org</a>.</p>

      <p>GFW is still in “beta”, which means that there may still be some minor issues and errors within the site. We are usually able to fix them in a timely manner. It is helpful if you send us a link to the page or dataset you had open when you encountered the problem, and tell us which browser you are using. If you want to give us general feedback or suggestions about new data or functionality, please use the <a href="http://cait2.wri.org/feedback.html">feedback form</a>.</p>

      <h3>What is the history of Global Forest Watch?</h3>
      <p>The original Global Forest Watch began in 1997 as an initiative to establish a global forest monitoring network around the world, convened by the <a href="http://www.wri.org/">World Resources Institute</a> and partners. The original GFW achieved many outcomes towards the conservation of large intact forest areas. Visit the <%= link_to "About page", about_path %> for the full story.</p>

      <p>Global Forest Watch was re-launched in 2014 with an expanded group of partners and powerful new monitoring capabilities. To learn more about how you can get involved in developing GFW, please take our online <a href="https://www.surveymonkey.com/s/gfw2">User Challenge</a>.</p>
 
      <h3>What features are coming down the road for GFW?</h3>
      <p>Here is a list of additional features that we are working to add to the GFW platform:</p>
      <ul>
        <li>On-the-fly analysis for sub-national administrative areas, concession areas, and protected areas (applicable to all “forest change” datasets)</li>

        <li>Additional “Forest Use” datasets, including concession boundaries for additional countries and commodities.</li>

        <li>Community land claims and tenure rights under the “People” tab</li>

        <li>A “plantation forests map” for the tropical regions</li>

        <li>An updated version of the “Intact Forests Landscapes” layer</li>

        <li>Updated carbon density maps and estimates of emissions for forest loss and land use change</li>

        <li>Mobile optimization for the GFW site</li>

        <li>A citizen-science platform for comparing and classifying satellite imagery of forests. Also an additional crowd-sourcing tool allowing direct upload of geo-referenced information and photos from the field.</li>

        <li>A specialized portal for corporate users </li>

        <li>And much more…</li>
      </ul>

      <h3>Who do I contact with questions about the site?</h3>
      <p>Please email general inquiries to <a href="gfw@wri.org">gfw@wri.org</a>.</p>

      <p>For media inquiries, please contact <strong>James Anderson</strong>, <em>Communications Officer, World Resources Institute</em> (<a href="mailto:janderson@wri.org">janderson@wri.org</a>, +1 (202) 729-7608).</p>

      <p>Or, view a <a href="http://www.wri.org/our-work/project/global-forest-watch">list of staff</a> who work on Global Forest Watch. </p>
    </article>

    <article id="corporate">
      <h2 class="corporate source_title">Global Forest Watch for businesses</h2>
      <p>Leading businesses and investors dependent on “forest risk commodities” such as palm oil, soy, beef, and pulp and paper, are recognizing the importance of forests for climate regulation, the provision of ecosystem services, biodiversity protection, and community livelihoods and have made commitments to end deforestation in their supply chains.</p>

      <p>The information generated by Global Forest Watch (GFW) – can support companies as they make business decisions that impact the future of forests.</p>

      <p>GFW is now open for beta testing to users around the world who want to see what is happening in forests in near-real-time. Building off of the core platform, we’re now engaging interested companies to develop a specialized portal geared for corporate users. We envision this platform enabling corporate users to:</p>

      <ul>
        <li>Communicate with customers about deforestation-free commodity production</li>

        <li>Verify that commodity suppliers are in compliance with deforestation-free sourcing policies</li>

        <li>Identify issues as they happen with monthly tree cover loss alerts</li>

        <li>Evaluate compliance with sustainability certification standards</li>

        <li>Assess supply chain risks</li>
      </ul>

      <p>Over the coming year, GFW will develop the corporate portal together with a core group of progressive corporate partners committed to supply chain transparency and ending commodity-driven deforestation. We’ll also establish a working group of interested companies who we’ll invite to test the site as it is developed and provide feedback.</p>

      <p>For more information or to join the conversation, contact: <strong>Elizabeth Baer</strong>, <em>Corporate Engagement Manager for Global Forest Watch</em>, World Resources Institute (<a href="ebaer@wri.org">ebaer@wri.org</a>, +1 (202) 729-7818).</p>

      <p>You can download a copy of GFW’s corporate partnerships policy here <em>(coming soon)</em>.</p>
    </article>
  </div>
</div>
