<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Not sure how to use Global Forest Watch? Use the information on this page to learn more.</h3>
      </header>
      <div class="carrousel" id="carrouselView">
        <div class='carrousel-box'>
          <ul>
            <li id="site_overview" class='slide visible'>
                <iframe id='player1' width='860' height='484' src='//www.youtube.com/embed/s4HhoSbOgUc?enablejsapi=1' frameborder='0' allowfullscreen></iframe>
            </li>
            <li id="map_tutorial" class='slide'>
                <iframe id='player2' width='860' height='484' src='//www.youtube.com/embed/VSn5N7cNiGg?enablejsapi=1' frameborder='0' allowfullscreen></iframe>
            </li>
          </ul>
        </div>
        <ul class="row button-box">
          <li><a href="#" class="btn white uppercase btn-tab visible" data-tab="#site_overview">Gfw Tutorial | Overview</a></li>
          <li><a href="#" class="btn white uppercase btn-tab" data-tab="#map_tutorial">Gfw Tutorial | Map</a></li>
        </ul>
      </div>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'General FAQs', "#{howto_path}/general_questions", :"data-slug" => 'general_questions', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item general_questions' %></li>
          <li><%= link_to 'Terminology FAQs', "#{howto_path}/terminology", :"data-slug" => 'terminology', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item terminology' %></li>
          <li><%= link_to 'Data FAQs', "#{howto_path}/data", :"data-slug" => 'data', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item data' %></li>
          <li><%= link_to 'Web Platform FAQs', "#{howto_path}/web_platform", :"data-slug" => 'web_platform', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item web_platform' %></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id="general_questions" class="source-article">
            <header>
              <h2>Overview</h2>
              <h3>How do I navigate the homepage?</h3>
                  <p>When you first navigate to the homepage you will see many ways to get started and links to important pages. To begin, you can explore and analyze data on the GFW interactive map by clicking "EXPLORE THE MAP" or view simple country statistics and rankings by clicking "COUNTRY PROFILES + RANKINGS." You can also start by visiting one of the GFW Applications, GFW Fires or GFW Commodities, find out how to develop your own application, or view the forthcoming applications.</p>
                  <p>From the homepage, you can also view recent activity—user submitted stories and blogposts, recent stories, and social media—and find out how you can keep updated and get involved. The homepage also features links to the data portal and the GFW blog, and a list of our core partners.</p>
                  <h3>How do I use GFW applications or build my own?</h3>
                  <p>Global Forest Watch is built upon a foundation of data and technology, from which many applications have emerged. Applications, such as GFW Commodities and GFW Fires, were created using GFW data to address specific objectives, such as risk management in commodity supply chains and forest and land fire monitoring.</p>
                  <p>If you want to learn how to use specific GFW Applications please visit the application website and navigate to the “HOW TO” page.</p>
                  <p>If you want to learn how to develop your own application please click the “GET INVOLVED” tab at the top of the page.</p>
                </li>
              </ul>
            </div>
          </article>

          <article id="terminology" class="source-article">
            <header>
              <h2>Interactive Map</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>Viewing data</h3>
                  <p>When you enter the GFW interactive map, UMD/Google tree cover loss and gain data layers are displayed by default. Using the tabs across the top of the map, you can view the range of available data, categorized by type, and find more information for each by clicking the “?” icon. Simply select a data layer to turn it on or off in the map. You can view currently displayed data layers in the summary window on the left-hand side of the page. For data layers restricted to a particular geographic region (e.g., FORMA alerts), this window also provides the option to turn on the “Geographic coverage.” This feature allows you to view the geographic extent of the particular data layer on the map.</p>

                  <p><strong>Try it out!</strong> Under the “FOREST CHANGE” tab, select “FORMA alerts.” In the data window, turn on the geographic coverage. Now overlay the alerts with protected areas, which can be turned on in the “CONSERVATION” tab.</p>

                  <p>A timeline can be found on the bottom of the map when a “FOREST CHANGE” layer is turned on, referred to as the “time slider.” The time slider allows you to view data over time and/or within a defined time interval. By default, each layer displays data from the entire study period (i.e., not restricted to a time interval). Some data layers (e.g., UMD/Google tree cover loss) allow you to view change over time by selecting the “play” icon on the time slider. For these layers, you can also drag the square ends of the time slider to view data for a defined time period. You can define the time interval displayed in other data layers by clicking on your desired timeframe.</p>

                  <p><strong>Try it out!</strong> With UMD/Google tree cover loss turned on (the default data layer), press the “play” icon located on the time slider at the bottom of the map. Now try viewing data only since 2004 (hint: drag the handles of the time slider).</p>

                  <p>Some data layers are more interactive on the map; you can click on individual shapes to see additional information. This feature applies to “NASA active fires,” and to data within “FOREST USE,” “CONSERVATION,” and “PEOPLE” tabs. Within some of these layers, you can also analyze data found under the “FOREST CHANGE” by individual data layer shapes. See below for more information.</p>
                  <p>[Insert screencast]</p>
                </li>
                <li>
                  <h3>Analyzing data</h3>
                  <p>The GFW interactive map enables basic analysis of data found under the “FOREST CHANGE” tab. There are two ways by which you can analyze these data layers on the map:</p>
                  <ul class='bullets'>
                    <li><strong>Hand drawn area.</strong> Once you have turned on a “FOREST CHANGE” layer you wish to analyze, select the “analysis” icon (which resembles a chart) located at the top of the map. You are now in draw mode and can create a polygon using your mouse. Connect the dots to make a shape, and then scroll to the bottom of the map and select “DONE” to analyze the area.</li>
                    <li><strong>Land concessions and protected areas.</strong> You can also analyze data layers under the “OREST CHANGE” tab by theboundaries of land-use concessions (e.g., logging concessions) and protected areas. To do so, turn on “FOREST CHANGE” layer you wish to analyze, and then activate the concession layer (concession are located under “FOREST USE”) or protected area layer, depending on what analysis you would like to conduct. Next, identify and select the particular hape of interest, which might be a specific lgging concession, oil palm plantation, or protected area. Once selected, a window will appear that contains the “analysis” icon in the top right corner. Click the icon to perform the analysis.</li>
                  </ul>
                  <p>When your area of interest is analyzed, a window displaying the results will appear on the right-hand side of the map. Depending on the type of data under “FOREST CHANGE” that you are analyzing, different information will appear, such as hectares of tree cover loss, number of alerts, or number of active fires. The window also indicates the time interval of the analysis, which can be adjusted using the time slider. As you adjust the time interval, the analysis results will update. The window also features a link to download the full data set. Once you are finished with the analysis, press the “trash” icon to discard it.</p>
                  <p>The near real-time FORMA alerts have an additional feature available through analysis: subscription. With this feature, you can subscribe to alerts for an area of interest and receive an email when a new tree clearing has been detected, on a monthly-basis. Once you have analyzed an area for the number of FORMA alerts, navigate to the “mail” icon in the analysis window (located next to the “trash” icon). Select the icon and enter your email address to subscribe to alerts. Please note: FORMA alerts are only available for the humid tropical forest biome (turn on “Geographic coverage” for more detail).</p>

                  <p><strong>Try it out!</strong> Navigate to the “FOREST CHANGE” tab and turn on the FORMA alerts data layer. Next, click the analysis icon located at the top of the map and draw a shape within the humid tropical forest biome (Not sure where that is? Turn on the “Geographic coverage” feature, located in the window on the left-hand side of the map). Once you have drawn a shape, click “DONE” to view the results.</p>
                  <p>Additional analysis functionality is available in other areas of the website. To analyze FOREST CHANGE data layers by country or subnational boundaries, please visit COUNTRY PROFILES AND RANKINGS. For more comprehensive analysis related to commodities or fires, please visit GFW Commodities or GFW Fires.</p>
                  <p>[Insert screencast]</p>
                </li>
                <li>
                  <h3>Sharing map views</h3>
                  <p>Maps can tell powerful stories. Through GFW, we make it possible to share compelling visuals and analyses for news articles, blog posts, and other outside sources. There are two options to share your current view (and analysis results, if applicable):</p>
                  <ul class='bullets'>
                  <li>Select the “share” icon located at the top of the map (near the “search” box). Next, choose whether you would like to share the map view by embedding HTML (ideal for websites) or by URL.</li>
                  <li>Simply copy and paste the URL from your browser, which will always take you to your current map view.</li>
                  </ul>
                </li>
                <li>
                  <h3>Adjusting map settings</h3>
                  <p>The interactive map offers simple settings to meet user needs.</p>
                  <p>By default, data is displayed on a basic black and white map which includes political boundaries, major geological features, and other key areas of interest. To change the base map, navigate to the “map” icon at the top of the map (near the “search” box). Once selected, you will see the range of base maps available, including those comprised of satellite imagery. Click “?” to find out more about each base map.</p>
                  <p>For two of GFW’s key data sets, UMD/Google tree cover extent and loss, we provide a setting that allows users to adjust the canopy density of tree cover data displayed on the map. You can adjust the canopy density depending on the national standards or ecosystem type in your area of interest. To access this feature (ONLY available for UMD/Google tree cover extent and loss) select the “settings” icon at the top of the map (near the “search” box). Using the slider at the bottom of the window, you can select to view data (and perform analysis) at canopy densities: >10%, >15%, >20%, >25%, >30%, >50%, and >75%.  The default tree cover canopy density is >30%. The canopy density selected will appear in the data window on the left-hand side of the map, and within the analysis window if you perform an analysis. If you select a canopy density other than the default, the “settings” icon will be highlighted green. For more information, click the “?” icon.</p>
                  <p><strong>Try it out!</strong> Enter the interactive map and turn off the UMD/Google tree cover gain layer. The map should now only show UMD/Google tree cover loss. Select the “settings” icon and adjust the canopy density to >70%. Notice how the data changes, especially in drier parts of the world.</p>
                  <p>[Insert screencast]</p>
                </li>
              </ul>
            </div>
          </article>

          <article id="data" class="source-article">
            <header>
              <h2>Country Profiles and Rankings</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                  <li>
                    <p>When you enter the country profiles and rankings, you can search for and select a country, or navigate to the rankings. By selecting a country, you can view national and subnational statistics and infographics, conduct analysis, and download data. The rankings include global graphs and country rankings for key factors, such as total tree cover loss 2001-2012.</p>
                  </li>
                  <li>
                    <h3>Country profiles</h3>
                    <p>Country profiles include national and subnational information from UMD/Google, a graph of FORMA alerts (where applicable), information from FAO’s Forest Resources Assessment, and other relevant data. They are also a portal for national and subnational data analysis and download and a place to upload stories and join a discussion.</p>
                    <p>At the top of the page, you will find a country overview of tree cover. To view this information at the subnational level, click “SELECT AREA” and define your area of interest. The tree cover statistics and infographic will change according to your selection. Using the menu available on the right-hand side, you can learn more, download the Raster data or a table of country statistics, analyze tree cover in this country (by national or subnational boundary), and adjust the tree cover canopy density setting.</p>
                    <ul class='bullets'>
                      <li><strong>Country Stats.</strong> Select “COUNTRY STATS” to download a CSV file containing UMD/Google tree cover extent, loss, and gain data for all subnational regions of the country. The data is listed for all years and tree cover canopy densities. </li>
                      <li><strong>Analyze.</strong> Once you determine your area of interest (entire country, the default, or a subnational region) select “ANALYZE” to calculate tree cover extent, loss, and gain statistics. This feature will take you to the map, where you can select a specific time period and make other adjustments to your analysis. See “Analyzing Data” under the “Interactive Map” tab on the left.</li>
                      <li><strong>Settings.</strong> For the UMD/Google statistics and infographic presented in the country pages, you can adjust the tree cover canopy density of the data to meet the national standard or ecosystem type in your area of interest. Once you select “SETTINGS,” use the slider at the bottom of the window to adjust the canopy density to one of the following densities: >10%, >15%, >20%, >25%, >30%, >50%, and >75%.  The default tree cover canopy density is >30%. If you select a canopy density other than the default, the “settings” icon will be highlighted green. For more information, click the “?” icon within the settings window. Please note: the analysis feature, accessed through the country pages, will reflect the canopy density you select.</li>
                    </ul>
                    <p><strong>Try it out!</strong> Visit a country and select a subnational region from the available dropdown menu. See how the statistics and infographic adjust when you define a new area. Next, adjust the tree cover canopy density setting to >70% by selecting “SETTINGS.” Again, notice how the figures change. Finally, click “ANALYZE,” which will take you to the map.</p>
                    <p>Other country information can be accessed by clicking on the categories of data (e.g., PEOPLE & ECONOMY) or by scrolling down. Click the “?” icon next to each infographic for more information. Select the “share” icon to share the infographic by embedding HTML or copying the URL.</p>
                    <p>For countries with coverage of FORMA alerts (visit the data page  for more information), you can scroll down the country profile and select “SUBSCRIBE TO ALERTS FOR THIS COUNTRY.” Once you enter your email address, you will receive an email when a new tree clearing has been detected, on a monthly-basis.</p>
                    <p>Some GFW data is relevant only to certain countries, such as land-use concession. Select “DOWNLOAD RELEVANT DATA SETS” within the country profile to view and download country-specific data from the Data Portal.</p>
                    <p>The bottom of the country profile features both blog and user stories and a discussion forum for the country. You can click to view user stories on the map, submit your own story, or read the relevant stories and blog posts. Below the stories, you can join the discussion by adding, replying or sharing a comment.</p>
                    <p>[Insert screencast]</p>
                  </li>
                  <li>
                    <h3>Rankings</h3>
                    <p>The rankings page features interactive graphs of global tree cover loss and gain and country rankings. The graphs and rankings are based on UMG/Google tree cover data and are organized according to five tabs: loss vs. gain, % loss vs. % gain, extent, loss relative to gain, and loss by climate domain. The graphs and ranks correspond to the selected tab. Drag your mouse over points in each graph to learn more information.</p>
                    <p>Similar to within the country profiles, you can use the “SETTINGS” feature located at the top of the page to adjust the tree cover canopy density of the data presented in the graphs and rankings. Once selected, use the slider at the bottom of the window to adjust the canopy density to one of the following densities: >10%, >15%, >20%, >25%, >30%, >50%, and >75%.  The default tree cover canopy density is >30%. If you select a canopy density other than the default, the “settings” icon will be highlighted green. For more information, click the “?” icon within the “settings” window.</p>
                    <p>For more information about each graph and list of rankings select the “?” near the top of the page. Select the “share” icon to share the infographic by embedding HTML or copying the URL.</p>
                    <p>Select “ALL COUNTRIES” to return to the country profile menu. You can also access individual country profiles by clicking on the name of a country within the rankings. Please note: the tree cover canopy density setting selected in this page will not be reflected in the country profiles.</p>
                  </li>
              </ul>
            </div>
          </article>

          <article id="web_platform" class="source-article">
            <header>
              <h2>Web platform FAQs</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>How was the Global Forest Watch website built?</h3>
                  <p>The Global Forest Watch website is an open source platform designed and built by <a href='http://www.vizzuality.com/' target='_blank'>Vizzuality</a>, in partnership with the <a href='http://www.wri.org/' target='_blank'>World Resources Institute</a>. Data are hosted on <a href='https://cartodb.com/' target='_blank'>CartoDB</a>, <a href='https://support.google.com/fusiontables/answer/2571232?hl=en' target='_blank'>Google Fusion Tables</a>, and <a href='https://earthengine.google.org/#intro' target='_blank'>Google Earth Engine</a>. Map visualizations are powered using CartoDB. The platform is designed for <a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails</a> and uses the Global Forest Watch API for data analysis, download, and subscription features. All code is available through our <a href='https://github.com/Vizzuality/gfw' target='_blank'>website repository</a> and <a href='https://github.com/wri/gfw-api' target='_blank'>API repository</a> on GitHub.</p>
                </li>
                <li>
                  <h3>What does it mean that Global Forest Watch is in “beta”?</h3>
                  <p>While GFW is fully functional, we are still collecting user feedback to improve website features and functionality.</p>

                  <p>Establishing an effective web-based tool requires an iterative process of feedback and refinement. This is why your feedback is important to us. Please take our online <a href='https://www.surveymonkey.com/s/S6B53DT' target='_blank'>User Survey</a> to help us improve the site.</p>
                </li>
                <li>
                  <h3>I am experiencing difficulties with the site. What should I do?</h3>
                  <p>Please first ensure that you are using an appropriate web browser. We recommend using a recent version of <a href='https://www.google.com/intl/en/chrome/browser/' target='_blank'>Google Chrome</a>, <a href='http://www.mozilla.org/en-US/firefox/new/' target='_blank'>Mozilla Firefox</a>, <a href='http://www.apple.com/safari/' target='_blank'>Apple Safari</a>, or <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' target='_blank'>Internet Explorer</a>. We also recommend that you install <a href='http://get.adobe.com/flashplayer/' target='_blank'>Adobe Flash Player</a> before using the GFW website.</p>

                  <p>If errors persist when using a recommended browser, please contact us at <a href='mailto:gfw@wri.org'>gfw@wri.org</a> or <a href='https://github.com/vizzuality/gfw/issues?state=open' target='_blank'>submit an issue on GitHub</a>.</p>

                  <p>GFW is still in “beta,” which means that there may still be some minor issues and errors within the site. We are usually able to fix them in a timely manner. It is helpful if you send us a link to the page or data set you had open when you encountered the problem, and if you tell us which browser you are using. You can also view the <a href='http://stats.pingdom.com/me0q72oj01nt' target='_blank'>Global Forest Watch System Status</a> page to see if there are any portions of the website that are not working properly. If you want to give us general feedback or suggestions about new data or functionality, please use the <a href='https://www.surveymonkey.com/s/S6B53DT' target='_blank'>User Survey</a>.</p>
                </li>
                <li>
                  <h3>Whom do I contact with questions about the site?</h3>
                  <p>Please email general inquiries to <a href='mailto:gfw@wri.org'>gfw@wri.org</a>.</p>

                  <p>For media inquiries, please contact <strong>James Anderson</strong>, <em>Communications Officer, World Resources Institute</em> (<a href='mailto:janderson@wri.org'>janderson@wri.org</a>, +1 (202) 729-7608).</p>

                  <p>Or, view a <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>list of staff</a> who work on Global Forest Watch. </p>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
