<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Global Forest Watch offers a wide range of capabilities that are designed to be both useful and user-friendly. Whether you arrive at GFW with a clear purpose or are simply exploring different features, this page contains information to help you learn how to use the platform.</h3>
      </header>
      <div class="carrousel" id="carrouselView">
        <div class='carrousel-box'>
          <ul>
            <li id="site_overview" class='slide visible'>
                <iframe id='player1' width='860' height='484' src='//www.youtube.com/embed/s4HhoSbOgUc?enablejsapi=1' frameborder='0' allowfullscreen></iframe>
            </li>
            <li id="map_tutorial" class='slide'>
                <iframe id='player2' width='860' height='484' src='//www.youtube.com/embed/VSn5N7cNiGg?enablejsapi=1' frameborder='0' allowfullscreen></iframe>
            </li>
          </ul>
        </div>
        <ul class="row button-box">
          <li><a href="#" class="btn white uppercase btn-tab visible" data-tab="#site_overview">Gfw Tutorial | Overview</a></li>
          <li><a href="#" class="btn white uppercase btn-tab" data-tab="#map_tutorial">Gfw Tutorial | Map</a></li>
          <li><a href="#" class="btn white uppercase btn-tab disabled" data-tab="#map_tutorial">Country profiles & rankings</a></li>
        </ul>
      </div>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'Overview', "#{howto_path}/overview", :"data-slug" => 'overview', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item overview' %></li>
          <li><%= link_to 'Interactive Map', "#{howto_path}/interactive-map", :"data-slug" => 'interactive-map', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item interactive-map' %></li>
          <li><%= link_to 'Country Profiles & Rankings', "#{howto_path}/country-profiles-rankings", :"data-slug" => 'country-profiles-rankings', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item country-profiles-rankings' %></li>
          <li><%= link_to 'FAQs', "#{howto_path}/faqs", :"data-slug" => 'faqs', :"data-interesting" => 'fires_howto, commodities_howto, coming_soon', :class => 'nav-item faqs' %></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id="overview" class="source-article">
            <header>
              <h2>Getting started</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>How do I navigate the homepage?</h3>
                  <p>When you first navigate to the homepage you will see many ways to get started and links to important pages. To begin, you can explore and analyze data on the GFW interactive map by clicking "EXPLORE THE MAP" or view simple country statistics and rankings by clicking "COUNTRY PROFILES + RANKINGS." You can also start by visiting one of the GFW Applications, GFW Fires or GFW Commodities, find out how to develop your own application, or view the forthcoming applications.</p>
                  <p>From the homepage, you can also view recent activity—user submitted stories and blogposts, recent stories, and social media—and find out how you can keep updated and get involved. The homepage also features links to the data portal and the GFW blog, and a list of our core partners.</p>
                </li>
                <li>
                  <h3>How do I use GFW applications or build my own?</h3>
                  <p>Global Forest Watch is built upon a foundation of data and technology, from which many applications have emerged. Applications, such as GFW Commodities and GFW Fires, were created using GFW data to address specific objectives, such as risk management in commodity supply chains and forest and land fire monitoring.</p>
                  <p>If you want to learn how to use specific GFW Applications please visit the application website and navigate to the “HOW TO” page.</p>
                  <p>If you want to learn how to develop your own application please click the “GET INVOLVED” tab at the top of the page.</p>                  
                </li>
              </ul>
            </div>
          </article>

          <article id="interactive-map" class="source-article">
            <header>
              <h2>Interactive Map</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                <li>
                  <h3>Viewing data</h3>
                  <p>When you enter the GFW interactive map, UMD/Google tree cover loss and gain data layers are displayed by default. Using the tabs across the top of the map, you can view the range of available data, categorized by type, and find more information for each by clicking the “?” icon. Simply select a data layer to turn it on or off in the map. You can view currently displayed data layers in the summary window on the left-hand side of the page. For data layers restricted to a particular geographic region (e.g., FORMA alerts), this window also provides the option to turn on the “Geographic coverage.” This feature allows you to view the geographic extent of the particular data layer on the map.</p>

                  <p><strong>Try it out!</strong> Under the “FOREST CHANGE” tab, select “FORMA alerts.” In the data window, turn on the geographic coverage. Now overlay the alerts with protected areas, which can be turned on in the “CONSERVATION” tab.</p>

                  <p>A timeline can be found on the bottom of the map when a “FOREST CHANGE” layer is turned on, referred to as the “time slider.” The time slider allows you to view data over time and/or within a defined time interval. By default, each layer displays data from the entire study period (i.e., not restricted to a time interval). Some data layers (e.g., UMD/Google tree cover loss) allow you to view change over time by selecting the “play” icon on the time slider. For these layers, you can also drag the square ends of the time slider to view data for a defined time period. You can define the time interval displayed in other data layers by clicking on your desired timeframe.</p>

                  <p><strong>Try it out!</strong> With UMD/Google tree cover loss turned on (the default data layer), press the “play” icon located on the time slider at the bottom of the map. Now try viewing data only since 2004 (hint: drag the handles of the time slider).</p>

                  <p>Some data layers are more interactive on the map; you can click on individual shapes to see additional information. This feature applies to “NASA active fires,” and to data within “FOREST USE,” “CONSERVATION,” and “PEOPLE” tabs. Within some of these layers, you can also analyze data found under the “FOREST CHANGE” by individual data layer shapes. See below for more information.</p>
                </li>
                <li>
                  <h3>Analyzing data</h3>
                  <p>The GFW interactive map enables basic analysis of data found under the “FOREST CHANGE” tab. There are two ways by which you can analyze these data layers on the map:</p>
                  <ul class='bullets'>
                    <li><strong>Hand drawn area.</strong> Once you have turned on a “FOREST CHANGE” layer you wish to analyze, select the “analysis” icon (which resembles a chart) located at the top of the map. You are now in draw mode and can create a polygon using your mouse. Connect the dots to make a shape, and then scroll to the bottom of the map and select “DONE” to analyze the area.</li>
                    <li><strong>Land concessions and protected areas.</strong> You can also analyze data layers under the “OREST CHANGE” tab by theboundaries of land-use concessions (e.g., logging concessions) and protected areas. To do so, turn on “FOREST CHANGE” layer you wish to analyze, and then activate the concession layer (concession are located under “FOREST USE”) or protected area layer, depending on what analysis you would like to conduct. Next, identify and select the particular hape of interest, which might be a specific lgging concession, oil palm plantation, or protected area. Once selected, a window will appear that contains the “analysis” icon in the top right corner. Click the icon to perform the analysis.</li>
                  </ul>
                  <p>When your area of interest is analyzed, a window displaying the results will appear on the right-hand side of the map. Depending on the type of data under “FOREST CHANGE” that you are analyzing, different information will appear, such as hectares of tree cover loss, number of alerts, or number of active fires. The window also indicates the time interval of the analysis, which can be adjusted using the time slider. As you adjust the time interval, the analysis results will update. The window also features a link to download the full data set. Once you are finished with the analysis, press the “trash” icon to discard it.</p>
                  <p>The near real-time FORMA alerts have an additional feature available through analysis: subscription. With this feature, you can subscribe to alerts for an area of interest and receive an email when a new tree clearing has been detected, on a monthly-basis. Once you have analyzed an area for the number of FORMA alerts, navigate to the “mail” icon in the analysis window (located next to the “trash” icon). Select the icon and enter your email address to subscribe to alerts. Please note: FORMA alerts are only available for the humid tropical forest biome (turn on “Geographic coverage” for more detail).</p>

                  <p><strong>Try it out!</strong> Navigate to the “FOREST CHANGE” tab and turn on the FORMA alerts data layer. Next, click the analysis icon located at the top of the map and draw a shape within the humid tropical forest biome (Not sure where that is? Turn on the “Geographic coverage” feature, located in the window on the left-hand side of the map). Once you have drawn a shape, click “DONE” to view the results.</p>
                  <p>Additional analysis functionality is available in other areas of the website. To analyze FOREST CHANGE data layers by country or subnational boundaries, please visit COUNTRY PROFILES AND RANKINGS. For more comprehensive analysis related to commodities or fires, please visit GFW Commodities or GFW Fires.</p>
                </li>
                <li>
                  <h3>Sharing map views</h3>
                  <p>Maps can tell powerful stories. Through GFW, we make it possible to share compelling visuals and analyses for news articles, blog posts, and other outside sources. There are two options to share your current view (and analysis results, if applicable):</p>
                  <ul class='bullets'>
                  <li>Select the “share” icon located at the top of the map (near the “search” box). Next, choose whether you would like to share the map view by embedding HTML (ideal for websites) or by URL.</li>
                  <li>Simply copy and paste the URL from your browser, which will always take you to your current map view.</li>
                  </ul>
                </li>
                <li>
                  <h3>Adjusting map settings</h3>
                  <p>The interactive map offers simple settings to meet user needs.</p>
                  <p>By default, data is displayed on a basic black and white map which includes political boundaries, major geological features, and other key areas of interest. To change the base map, navigate to the “map” icon at the top of the map (near the “search” box). Once selected, you will see the range of base maps available, including those comprised of satellite imagery. Click “?” to find out more about each base map.</p>
                  <p>For two of GFW’s key data sets, UMD/Google tree cover extent and loss, we provide a setting that allows users to adjust the canopy density of tree cover data displayed on the map. You can adjust the canopy density depending on the national standards or ecosystem type in your area of interest. To access this feature (ONLY available for UMD/Google tree cover extent and loss) select the “settings” icon at the top of the map (near the “search” box). Using the slider at the bottom of the window, you can select to view data (and perform analysis) at canopy densities: >10%, >15%, >20%, >25%, >30%, >50%, and >75%.  The default tree cover canopy density is >30%. The canopy density selected will appear in the data window on the left-hand side of the map, and within the analysis window if you perform an analysis. If you select a canopy density other than the default, the “settings” icon will be highlighted green. For more information, click the “?” icon.</p>
                  <p><strong>Try it out!</strong> Enter the interactive map and turn off the UMD/Google tree cover gain layer. The map should now only show UMD/Google tree cover loss. Select the “settings” icon and adjust the canopy density to >70%. Notice how the data changes, especially in drier parts of the world.</p>
                </li>
              </ul>
            </div>
          </article>

          <article id="country-profiles-rankings" class="source-article">
            <header>
              <h2>Country Profiles & Rankings</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
                  <li>
                    <p>When you enter the country profiles and rankings, you can search for and select a country, or navigate to the rankings. By selecting a country, you can view national and subnational statistics and infographics, conduct analysis, and download data. The rankings include global graphs and country rankings for key factors, such as total tree cover loss 2001-2012.</p>
                  </li>
                  <li>
                    <h3>Country profiles</h3>
                    <p>Country profiles include national and subnational information from UMD/Google, a graph of FORMA alerts (where applicable), information from FAO’s Forest Resources Assessment, and other relevant data. They are also a portal for national and subnational data analysis and download and a place to upload stories and join a discussion.</p>
                    <p>At the top of the page, you will find a country overview of tree cover. To view this information at the subnational level, click “SELECT AREA” and define your area of interest. The tree cover statistics and infographic will change according to your selection. Using the menu available on the right-hand side, you can learn more, download the Raster data or a table of country statistics, analyze tree cover in this country (by national or subnational boundary), and adjust the tree cover canopy density setting.</p>
                    <ul class='bullets'>
                      <li><strong>Country Stats.</strong> Select “COUNTRY STATS” to download a CSV file containing UMD/Google tree cover extent, loss, and gain data for all subnational regions of the country. The data is listed for all years and tree cover canopy densities. </li>
                      <li><strong>Analyze.</strong> Once you determine your area of interest (entire country, the default, or a subnational region) select “ANALYZE” to calculate tree cover extent, loss, and gain statistics. This feature will take you to the map, where you can select a specific time period and make other adjustments to your analysis. See “Analyzing Data” under the “Interactive Map” tab on the left.</li>
                      <li><strong>Settings.</strong> For the UMD/Google statistics and infographic presented in the country pages, you can adjust the tree cover canopy density of the data to meet the national standard or ecosystem type in your area of interest. Once you select “SETTINGS,” use the slider at the bottom of the window to adjust the canopy density to one of the following densities: >10%, >15%, >20%, >25%, >30%, >50%, and >75%.  The default tree cover canopy density is >30%. If you select a canopy density other than the default, the “settings” icon will be highlighted green. For more information, click the “?” icon within the settings window. Please note: the analysis feature, accessed through the country pages, will reflect the canopy density you select.</li>
                    </ul>
                    <p><strong>Try it out!</strong> Visit a country and select a subnational region from the available dropdown menu. See how the statistics and infographic adjust when you define a new area. Next, adjust the tree cover canopy density setting to >70% by selecting “SETTINGS.” Again, notice how the figures change. Finally, click “ANALYZE,” which will take you to the map.</p>
                    <p>Other country information can be accessed by clicking on the categories of data (e.g., PEOPLE & ECONOMY) or by scrolling down. Click the “?” icon next to each infographic for more information. Select the “share” icon to share the infographic by embedding HTML or copying the URL.</p>
                    <p>For countries with coverage of FORMA alerts (visit the data page  for more information), you can scroll down the country profile and select “SUBSCRIBE TO ALERTS FOR THIS COUNTRY.” Once you enter your email address, you will receive an email when a new tree clearing has been detected, on a monthly-basis.</p>
                    <p>Some GFW data is relevant only to certain countries, such as land-use concession. Select “DOWNLOAD RELEVANT DATA SETS” within the country profile to view and download country-specific data from the Data Portal.</p>
                    <p>The bottom of the country profile features both blog and user stories and a discussion forum for the country. You can click to view user stories on the map, submit your own story, or read the relevant stories and blog posts. Below the stories, you can join the discussion by adding, replying or sharing a comment.</p>
                  </li>
                  <li>
                    <h3>Rankings</h3>
                    <p>The rankings page features interactive graphs of global tree cover loss and gain and country rankings. The graphs and rankings are based on UMG/Google tree cover data and are organized according to five tabs: loss vs. gain, % loss vs. % gain, extent, loss relative to gain, and loss by climate domain. The graphs and ranks correspond to the selected tab. Drag your mouse over points in each graph to learn more information.</p>
                    <p>Similar to within the country profiles, you can use the “SETTINGS” feature located at the top of the page to adjust the tree cover canopy density of the data presented in the graphs and rankings. Once selected, use the slider at the bottom of the window to adjust the canopy density to one of the following densities: >10%, >15%, >20%, >25%, >30%, >50%, and >75%.  The default tree cover canopy density is >30%. If you select a canopy density other than the default, the “settings” icon will be highlighted green. For more information, click the “?” icon within the “settings” window.</p>
                    <p>For more information about each graph and list of rankings select the “?” near the top of the page. Select the “share” icon to share the infographic by embedding HTML or copying the URL.</p>
                    <p>Select “ALL COUNTRIES” to return to the country profile menu. You can also access individual country profiles by clicking on the name of a country within the rankings. Please note: the tree cover canopy density setting selected in this page will not be reflected in the country profiles.</p>
                  </li>
              </ul>
            </div>
          </article>

          <article id="faqs" class="source-article">
            <header>
              <h2>Frequently asked questions</h2>
            </header>
            <div class="content">
              <ul class="faq-list">
              <li>
                  <h3>Who can use Global Forest Watch?</h3>
                  <p>GFW aims to radically improve the availability, quality, and accessibility of forest data for everyone:</p>                  
                  <ul class='bullets'>
                    <li><strong>Governments</strong> can use GFW to detect illegal forest clearing and target forest law enforcement efforts.</li>
                    <li><strong>Companies</strong> can monitor the impacts of commodity supply chains on forests and demonstrate compliance with sustainability commitments and certifications. Learn more at <a href='http://www.commodities.globalforestwatch.org' target='_blank'>GFW Commodities</a>.</li>
                    <li><strong>NGOs & civil society</strong> can identify deforestation hotspots and bolster their investigations, advocacy, and campaigns.</li>
                    <li><strong>Indigenous communities</strong> can monitor their territories and raise an alarm when their customary forests are threatened.</li>
                    <li><strong>Media</strong> can gather evidence, data, and graphics for reporting.</li>
                    <li><strong>Researchers</strong> can analyze forest trends on a local or global scale and better understand the causes of forest change.</li>
                    <li><strong>Concerned citizens everywhere</strong> can learn more about the state of forests and participate in forest monitoring. Students and educators can learn more about forests at local and global scales.</li>
                  </ul>
                  <p>GFW also brings together a dynamic community of partners with expertise in forest science, conservation, supply chain management, web development, citizen science, community outreach, and in-depth knowledge of priority forests around the world.</p>
                </li>
                <li>
                  <h3>Who is behind Global Forest Watch?</h3>
                  <p>GFW is supported by a diversity of partners that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. Visit the <%= link_to 'GFW About page', about_path %> for a full list of partners.</p>

                  <p>Interested in joining the GFW partnership? Email us <a href='mailto:gfw@wri.org'>here</a>.</p>                  
                </li>
                <li>
                  <h3>Why do forests matter?</h3>
                  <p>Human society and the global economy are inextricably linked to forests. More than 1 billion people depend on forests for their livelihoods. Forest ecosystems also play a critical role in stabilizing the climate; providing food, water, wood products, and vital medicines; and supporting much of the world’s biodiversity.</p>

                  <p>Despite recent efforts to combat harmful deforestation in some regions, forest ecosystems are still under threat. According to <a href='http://www.wri.org/our-work/project/forest-and-landscape-restoration' target='_blank'>WRI research</a>, 30% of potential global forest cover has been cleared, while another 20% has been degraded. Most remaining forests have been fragmented, leaving only about 15% of original forest cover intact.</p>

                  <p>Balancing the demand for natural resources with the need to preserve vital ecosystems requires robust data to help resource managers make good decisions. GFW can help by providing this information at a global scale.</p> 
                  </li>
                <li>
                  <h3>What updates are coming down the road for GFW?</h3>
                  <p>You asked, and we listened. Here is how we are addressing user feedback to improve GFW.</p>

                  <ul class='bullets'>
                    <li>Additional “Forest Use” and “People” data sets, including concession boundaries, community land claims, and tenure rights</li>
                    <li>Additional local data, including projects, resources, and important places to watch</li>
                    <li>A plantations map for tropical regions</li>
                    <li>A new homepage that allows users to more easily access relevant GFW features and data</li>
                    <li>An expanded analysis and subscription tool that enables on-the-fly analysis of additional data layers and subscription to stories and other forest change data layers</li>
                    <li>Updated country pages that include additional climate, carbon, and forest data</li>
                    <li>A new portal that allows users to easily navigate, search, and download all GFW data</li>
                    <li>Better language translation and low-bandwith capabilities</li>
                    <li>Updated carbon density maps and estimates of emissions for forest loss and land-use change</li>
                    <li>Mobile optimization for the GFW site</li>
                    <li>A citizen-science platform for comparing and classifying satellite imagery of forests as well as an additional crowd-sourcing tool allowing direct upload of georeferenced information and photos from the field</li>
                    <li>And much more...</li>
                  </ul>                  
                </li>
                <li>
                  <h3>How does GFW define key terms?</h3>
                  <p><strong>Forest</strong></p>
                  <p>Various definitions exist for the term “forest,” and GFW does not aim to provide a consensus definition. Data sets hosted on GFW may define “forest” differently or pertain to different types of forest (primary, secondary, tree plantations, etc.). Through information found on the <%= link_to 'Data page', sources_path %>, we aim to be transparent about the assumptions and definitions feeding into each data set.</p>
                  <p>In our general writing, including the GFW blog, “forest” refers to a landscape with a high density of trees and value for biodiversity, carbon storage, and human use.</p>

                  <p><strong>Deforestation</strong></p>
                  <p>How one defines “deforestation” is dependent on how one defines “forest.” As noted above, various definitions of forest exist and GFW does not aim to provide a consensus view. Correspondingly, GFW does not provide a single definition for “deforestation.”</p>
                  <p>In general writing, GFW uses “deforestation” to refer to the removal of a significant number of trees from a landscape, typically in the context of human actions rather than natural events such as fires or disease. We generally refer to “gross” deforestation (the total amount of forest loss), rather than “net deforestation” (the total amount of forest loss minus the amount of forest gain), or clearly specify otherwise.</p>
                  <p>For more information on each data set, please visit our <%= link_to 'Data page', sources_path %>.</p>

                  <p><strong>Tree cover</strong></p>                  
                  <p>Where found on the GFW website, “tree cover” refers to the biophysical presence of trees, which may be part of natural forests or tree plantations. The inclusion of all types of tree plantations in the “tree cover” definition notably distinguishes the term from some definitions of “forest.” Accordingly, “tree cover” and “forest” should not be used interchangeably. Different data sets further define “tree cover” with added parameters (see the <%= link_to 'Data page', sources_path %> for details and distinctions).</p>
                 
                  <p><strong>Tree cover loss</strong></p>
                  <p>“Tree cover loss” refers to the removal of trees, which may be within natural forests or tree plantations. Accordingly, “tree cover loss” does not necessarily equate to “deforestation” and can be due to a variety of factors, including mechanical harvesting, fire, disease, or storm damage. Different data sets have additional parameters that must be met for the indication or alert of loss to appear on the GFW map (see examples below).</p>
                  
                  <ul class='bullets'>
                    <li><strong>UMD/Google tree cover loss:</strong> Loss is defined as “stand replacement disturbance,” or the complete removal or mortality of tree cover canopy (of any canopy cover density) at the Landsat pixel scale (30x30 meters).</li>

                    <li><strong>FORMA alerts:</strong> Loss alerts are triggered by areas exhibiting a steep, persistent drop in vegetation intensity, indicating a high probability (equal to or greater than 50%) of the occurrence of tree cover loss. It is important to note that this alert-based system is not the same as an area measurement of tree cover loss.</li>
                  </ul>
                </li>
                </li>
                <li>
                  <h3>Does GFW distinguish tree plantations from natural forests?</h3>

                  <p>Tree plantations are not distinguished from natural forests in the case of several key data sets hosted on GFW (including 2000 tree cover extent, UMD/Google tree cover loss and gain, FORMA alerts, and QUICC alerts). Tree cover loss may include cases of tree plantations being harvested, and tree cover gain may include cases where natural forests are replaced with tree plantations.</p>

                  <p>It is nonetheless important to <a href='http://www.sciencemag.org/content/342/6160/805.full' target='_blank'>distinguish</a> between natural forests and tree plantations when considering conservation, carbon storage, and value to local communities. Natural forests have higher biodiversity, store more carbon, and are more often associated with the traditional livelihoods of forest-dependent communities. Accordingly, GFW and partners are developing a “plantation forests map” for the tropical regions to determine the location of plantations on a near-global scale. The map, developed through remote sensing methods, will be coming soon to GFW.</p>
                  
                </li>
                <li>
                  <h3>Do GFW data reveal the quality of forest management (e.g., sustainable versus unsustainable)? What about forest change from natural versus human causes?</h3>

                  <p>The forest change data displayed on GFW (such as UMD/Google tree cover loss and FORMA alerts) do not necessarily distinguish the quality of the forest management (e.g., sustainable or unsustainable), the legality (illegal or legal), or the cause (e.g., natural or human) of forest change events. For example, the forest change data available on GFW will include forest change from tree harvesting, fires, pests, and forest clearing for agriculture.</p>

                  <p>However, contextual data available on GFW can help users draw more informed conclusions about the nature and drivers of forest change events. For example, users can overlay forest change data over the protected areas layer to flag areas of potential concern. Or users can pull up satellite imagery base maps to look for “burnscars,” “blowdowns,” logging roads, and so on.</p>                  
                </li>
                
                <li>
                  <h3>What kinds of data are available on Global Forest Watch?</h3>
                  <p>GFW seeks to bring together the most current, reliable, and robust data to monitor forest change around the world. GFW incorporates and integrates a wide range of data sets that can be overlaid and compared, including:</p>

                  <ul clasS='bullets'>
                    <li><strong>Forest change data</strong>, such as global tree cover loss and gain data from the University of Maryland/Google, near real-time FORMA alerts for the humid tropics, SAD alerts for the Brazilian Amazon from Imazon, quarterly vegetation change data from NASA, and others</li>
                    <li><strong>Forest cover data</strong>, including global tree cover extent data, intact forest landscapes, and pantropical carbon density</li>
                    <li><strong>Forest fire data</strong>, from NASA’s Modis satellite (see <a href='http://www.fires.globalforestwatch.org' target='_blank'>GFW Fires</a>)</li>
                    <li><strong>Forest use data</strong>, which includes contextual information, such as concession areas for natural resource extraction or agricultural production</li>
                    <li><strong>Conservation data</strong>, such as global boundaries for protected areas and biodiversity hotspots</li>
                    <li><strong>Qualitative and anecdotal data</strong>, such as user-submitted stories (submit one <%= link_to 'here', new_story_path %>)</li>
                    <li><strong>People data</strong>, including community land boundaries and land tenure rights (coming soon)</li>
                  </ul>

                  <p>By monitoring changes tracked by these data sets over time, users can better understand drivers and patterns of forest loss worldwide.</p>

                  <p>See our <%= link_to 'Data page', sources_path %> for more detail. To contribute or suggest data, please <a href='mailto:gfw@wri.com'>email</a> us.</p>
                </li>
                </li>
                
                <li>
                  <h3>Where do the data come from?</h3>
                  <p>The data on GFW come from various sources. Most of the data are in the public domain and have been developed by governments, NGOs, research institutions, or companies. Note that the data come in different formats and vary in their accuracy, timeliness, and geographical extent. See GFW’s <%= link_to 'Data policy', "#{sources_path}#data_policy" %> for more details.</p>

                  <p>Some data are produced directly by WRI and our partners, such as FORMA alerts, Intact Forest Landscapes, and some forest use data.</p>

                  <p>For more details, see the <%= link_to 'Data page', sources_path %>.</p>                  
                </li>
                <li>
                  <h3>Do you have these data sets available for every country?</h3>
                  <p>GFW aims to provide data with global coverage, but this isn’t always possible. The geographic coverage of each data set is described on the <%= link_to 'Data page', sources_path %>.</p>

                  <p>Data may have limited coverage for various reasons. GFW works to incorporate new data as quickly as possible as they are made available. If you know of a publicly available data set that we do not have, please <a href='mailto:gfw@wri.com'>contact us</a> to let us know.</p>
                </li>
                <li>
                  <h3>How accurate are the data displayed on Global Forest Watch?</h3>
                  <p>The accuracy of the data displayed on GFW is variable. Methodologies and cautions for specific data sets are available on the <%= link_to 'Data page', sources_path %>.</p>

                  <p>GFW strives to include only the most accurate data whenever possible and to make the user aware of the risk of inaccuracies in the data. GFW is not responsible for data from other sources. See more about GFW’s approach to data in our <%= link_to 'Data policy', "#{sources_path}#data_policy" %>.</p>
                </li>
                <li>
                  <h3>Why do different data layers contradict each other or not overlap exactly?</h3>
                  <p>Different data sets measure different things and are derived using different methodologies. Such differences can lead to results that may manifest as contradictory layers on the GFW platform. In some cases, a lack of available high-quality data may cause a greater margin of error for certain data sets.</p>

                  <ul class='bullets'>
                    <li><p><strong>Intact Forest Landscapes vs. tree cover extent:</strong> These data sets measure different things. Tree cover extent shows all 30 x 30 meter areas that meet a minimum threshold of tree cover (25% canopy cover), whereas Intact Forest Landscapes only show forests that show no significant signs of human activity (see the <%= link_to 'Data page', "#{sources_path}#forest_cover" %> for specifics).</p>

                    <p>Users may find instances where tree cover extent does not fall within the boundaries of intact forest landscapes. This is because the Intact Forest Landscapes layer is based on MODIS (250 meter resolution satellite imagery), which is known to overestimate low tree cover densities, whereas the tree cover extent layer is based on Landsat (30 meter resolution satellite imagery). As a result, the tree cover extent layer may not show tree cover in an area that is covered by an intact forest landscape polygon.</p></li>
                  </ul>
                </li>
                <li>
                  <h3>I am familiar with a particular geographic area and believe your data set is inaccurate. What can I do?</h3>
                  <p>First, please make sure you understand the differences in the data layers and their respective methodologies.</p>

                  <p>If you still believe our data are inaccurate, please <a href='mailto:gfw@wri.com'>contact us</a> with a brief description of the location, data set in question, and observed issue. You can also <%= link_to 'submit a story', new_story_path %>, with photos or other details. Our team will flag the area for further investigation.</p>                  
                </li>
                <li>
                  <h3>How do I cite Global Forest Watch as a data source?</h3>
                  <p>Each data set has an individual citation, which can be found on the <%= link_to 'Data page', sources_path %>. If you are referencing the source website or publication for a data set, please use the “Citation.”  If you are referencing a figure or number generated by GFW or data downloaded from the GFW website, please use the “Suggested citation for data as displayed on GFW.”  For data that are displayed in their original form or when users are directed to the original source to download data, a suggested citation is not listed.</p>

                  <p>To cite the website or initiative overall, please use:</p>
                  <p>Global Forest Watch. 2014. World Resources Institute. Accessed on (date). <a href='http://www.globalforestwatch.org'>www.globalforestwatch.org</a>.</p>                  
                </li>
                <li>
                  <h3>How was the Global Forest Watch website built?</h3>
                  <p>The Global Forest Watch website is an open source platform designed and built by <a href='http://www.vizzuality.com/' target='_blank'>Vizzuality</a>, in partnership with the <a href='http://www.wri.org/' target='_blank'>World Resources Institute</a>. Data are hosted on <a href='https://cartodb.com/' target='_blank'>CartoDB</a>, <a href='https://support.google.com/fusiontables/answer/2571232?hl=en' target='_blank'>Google Fusion Tables</a>, and <a href='https://earthengine.google.org/#intro' target='_blank'>Google Earth Engine</a>. Map visualizations are powered using CartoDB. The platform is designed for <a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails</a> and uses the Global Forest Watch API for data analysis, download, and subscription features. All code is available through our <a href='https://github.com/Vizzuality/gfw' target='_blank'>website repository</a> and <a href='https://github.com/wri/gfw-api' target='_blank'>API repository</a> on GitHub.</p>
                  <p>GFW applications are built by outside partners. Please visit the application website for more information about their development, design and data policy.</p>
                </li>
                <li>
                  <h3>What does it mean that Global Forest Watch is in “beta”?</h3>
                  <p>While GFW is fully functional, we are still collecting user feedback to improve website features and functionality.</p>

                  <p>Establishing an effective web-based tool requires an iterative process of feedback and refinement. This is why your feedback is important to us. Please take our online <a href='https://www.surveymonkey.com/s/S6B53DT' target='_blank'>User Survey</a> to help us improve the site.</p>
                </li>
                <li>
                  <h3>I am experiencing difficulties with the site. What should I do?</h3>
                  <p>Please first ensure that you are using an appropriate web browser. We recommend using a recent version of <a href='https://www.google.com/intl/en/chrome/browser/' target='_blank'>Google Chrome</a>, <a href='http://www.mozilla.org/en-US/firefox/new/' target='_blank'>Mozilla Firefox</a>, <a href='http://www.apple.com/safari/' target='_blank'>Apple Safari</a>, or <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' target='_blank'>Internet Explorer</a>. We also recommend that you install <a href='http://get.adobe.com/flashplayer/' target='_blank'>Adobe Flash Player</a> before using the GFW website.</p>

                  <p>If errors persist when using a recommended browser, please contact us at <a href='mailto:gfw@wri.org'>gfw@wri.org</a> or <a href='https://github.com/vizzuality/gfw/issues?state=open' target='_blank'>submit an issue on GitHub</a>.</p>

                  <p>GFW is still in “beta,” which means that there may still be some minor issues and errors within the site. We are usually able to fix them in a timely manner. It is helpful if you send us a link to the page or data set you had open when you encountered the problem, and if you tell us which browser you are using. You can also view the <a href='http://stats.pingdom.com/me0q72oj01nt' target='_blank'>Global Forest Watch System Status</a> page to see if there are any portions of the website that are not working properly. If you want to give us general feedback or suggestions about new data or functionality, please use the <a href='https://www.surveymonkey.com/s/S6B53DT' target='_blank'>User Survey</a>.</p>
                </li>
                <li>
                  <h3>Whom do I contact with questions about the site?</h3>
                  <p>Please email general inquiries to <a href='mailto:gfw@wri.org'>gfw@wri.org</a>.</p>

                  <p>For media inquiries, please contact <strong>James Anderson</strong>, <em>Communications Officer, World Resources Institute</em> (<a href='mailto:janderson@wri.org'>janderson@wri.org</a>, +1 (202) 729-7608).</p>

                  <p>Or, view a <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>list of staff</a> who work on Global Forest Watch. </p>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
