<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Text coming soon.</h3>
        <p>Text coming soon.</p>
      </header>
      <ul class="row row3">
        <li><a href="http://blog.globalforestwatch.org/" class="btn white uppercase">GFW Blog</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank" class="btn white uppercase">Discussion Forum</a></li>
        <li><a href="#" class="btn white uppercase">Sign up for newsletter</a></li>
      </ul>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'Crowdsourced stories', "#{keepupdated_path}/crowdsourced-stories", :"data-slug" => 'crowdsourced-stories', :"data-interesting" => 'stories_on_the_map, mongabay_stories, ejn_stories', :class => 'nav-item crowdsourced-stories' %></li>
          <li><%= link_to 'Receive Alerts', "#{keepupdated_path}/receive-alerts", :"data-slug" => 'receive-alerts', :"data-interesting" => 'explore_the_map, develop_your_own_app, submit_a_story', :class => 'nav-item receive-alerts' %></li>
          <li><%= link_to 'Publications', "#{keepupdated_path}/publications", :"data-slug" => 'publications', :"data-interesting" => 'explore_the_map, download_the_data, get_involved', :class => 'nav-item publications' %></li>
          <li><%= link_to 'Sign up for newsletter', "#{keepupdated_path}/newsletter", :"data-slug" => 'newsletter', :"data-interesting" => 'explore_the_map, download_the_data, get_involved', :class => 'nav-item newsletter' %></li>
          <li><%= link_to 'Coming Soon', "#{keepupdated_path}/coming-soon", :"data-slug" => 'coming-soon', :"data-interesting" => 'explore_the_map, download_the_data, get_involved', :class => 'nav-item coming-soon'%></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <div id="sources-spinner" class="spinner start"><svg><use xlink:href="#shape-spinner"></use></svg></div>
          <article id="crowdsourced-stories" class="source-article">
            <header>
              <h2>Crowdsourced stories</h2>
              <h3>Crowdsourced stories are submitted by GFW users to report what is happening in forest on the ground</h3>
              <%= link_to 'Submit your story', new_story_path, :class => "btn green medium uppercase"%>
            </header>
            <div class="content">
              <div class="stories-box">
                <ul>
                  <% @visible.each do |story| %>
                    <li>
                      <a href="<%= story_path(story['id']) %>">
                        <figure><div class="bg" style="background-image: url(<%= story_image_or_map(story['media'], "#{story['lat']}, #{story['lng']}") %>)"></div></figure>
                        <article class="info">
                          <h4><%= story['title'] %></h4>
                          <p><%= truncate(story['details'], :length => 295) %></p>
                          <button class="btn gray medium">More</button>
                        </article>
                      </a>
                    </li>
                  <% end %>
                </ul>
                <div class="section-footer">
                  <% if @page  > 1 %>
                    <%= link_to previous_page_keep(@page), :class => "previous_stories" do %>
                      <span class="text">
                        <span class="icon"></span>
                        Previous Stories
                      </span>
                    <% end %>
                  <% end %>
                  <% unless last_page? %>
                    <%= link_to next_page_keep(@page), :class => "next_stories" do %>
                      <span class="text">
                        Next Stories
                        <span class="icon"></span>
                      </span>
                    <% end %>
                  <% end %>

                </div>
              </div>
            </div>
          </article>
          <article id="receive-alerts" class="source-article">
            <header>
              <h2>Receive Alerts</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
            </header>
            <div class="content">
              <ul class="alert-list">
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#" class="btn light2 medium uppercase">Launch page</a>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#" class="btn light2 medium uppercase">Launch page</a>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#" class="btn light2 medium uppercase">Launch page</a>
                </li>
              </ul>
            </div>
          </article>
          <article id="publications" class="source-article">
            <header>
              <h2>Publications</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
            </header>
            <div class="content">
              <ul class="publications-list">
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">Read more...</a></p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">Read more...</a></p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">Read more...</a></p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">Read more...</a></p>
                </li>
                <li>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">Read more...</a></p>
                </li>
              </ul>
            </div>
          </article>
          <article id="newsletter" class="source-article">
            <header>
              <h2>Sign up for Newsletter</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <%= link_to 'Subscribe', 'http://www.wri.org/global-forest-watch-stay-informed', :class => "btn green medium uppercase", :target => '_blank'%>
            </header>
          </article>
          <article id="coming-soon" class="source-article">
            <header>
              <h2>Coming Soon</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
            </header>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>
<section id="interestingView" class="interesting-section"></section>
