<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Global Forest Watch hosts a wealth of data relating to forests. Some data have been developed by WRI or by GFW partner organizations. Other data are in the public domain and have been developed by governments, NGOs, and companies.</h3>
        <p>The data vary in accuracy, resolution, frequency of update, and geographic coverage. The summaries below include links to further information such as methods and technical documents. Full download of the data sets is available for most sources.</p>        
      </header>
      <ul class="row row3">
        <li><a href="#" class="btn dark uppercase">GFW Blog</a></li>
        <li><a href="#" class="btn dark uppercase">Discussion Forum</a></li>
        <li><a href="#" class="btn dark uppercase">Sign up for newsletter</a></li>
      </ul>
    </div>
</section>

<section id="sidebarNavView" class="content-static">
  <div class="inner">
    <div class="row">
      <aside>
        <ul>
          <li><%= link_to 'Keep Updated', "#{keepupdated_path}/intro", :"data-slug" => 'intro', :class => 'nav-item' %></li>
          <li><%= link_to 'Crowdsourced stories', "#{keepupdated_path}/crowdsourced-stories", :"data-slug" => 'crowdsourced-stories', :class => 'nav-item' %></li>
          <li><%= link_to 'Receive Alerts', "#{keepupdated_path}/receive-alerts", :"data-slug" => 'receive-alerts', :class => 'nav-item' %></li>
          <li><%= link_to 'Publications', "#{keepupdated_path}/publications", :"data-slug" => 'publications', :class => 'nav-item' %></li>
        </ul>
      </aside>
      <div class="sources-box">
        <div class="sources-content">
          <article id="intro" class="source-article">
            <header>
              <h2>Intro</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </header>
          </article>
          <article id="crowdsourced-stories" class="source-article">
            <header>
              <h2>Crowdsourced stories</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </header>
          </article>
          <article id="receive-alerts" class="source-article">
            <header>
              <h2>Receive Alerts</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </header>
          </article>
          <article id="publications" class="source-article">
            <header>
              <h2>Publications</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </header>
          </article>
        </div>
      </div>      
    </div>
  </div>
</section>