<div class="modal is-active">
  <div class="modal-backdrop"></div>
  <div class="modal-window">
    <a href="#" class="modal-close">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
    </a>
    <div class="modal-wrapper">
      <header>
        <h2>Delete this {{type}}</h2>
        <h3>{{#if model.name}}{{model.name}},{{/if}} {{model.createdAt}}</h3>
      </header>

      <div class="modal-content">
        <h3>
          This will delete the {{type}} from {{model.from}}. Are you
          sure?
        </h3>

        <div class="delete-button-container">
          <a href="#" class="btn gray uppercase" id="cancel-delete">Cancel</a>
          <a href="#" class="btn red uppercase" id="confirm-delete">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
