<a href="#" class="btn red little map-selection-delete js-map-selection-delete">
  Delete selection
</a>

{{#if this.name}}
  <h2>{{this.name}}</h2>
{{/if}}
<ul>
  {{#if this.local_name}}
    <li>
      <h4>Local name:</h4>
      <p>{{this.local_name}}</p>
    </li>
  {{/if}}
  {{#if this.desig_eng}}
    <li>
      <h4>Legal designation:</h4>
      <p>{{this.desig_eng}}</p>
    </li>
  {{/if}}

  {{#if this.ebaname}}
    <li>
      <h4>Name:</h4>
      <p><a href="http://{{this.factsheet}}" target="_blank">{{this.ebaname}}</a></p>
    </li>
  {{/if}}
  {{#if this.project_id}}
    <li>
      <h4>Project ID:</h4>
      <p>{{this.project_id}}</p>
    </li>
  {{/if}}

  {{#if this.id}}
    <li>
      <h4>ID:</h4>
      <p>{{this.id}}</p>
    </li>
  {{/if}}
  {{#if this.description}}
    <li>
      <h4 class="no-float">Description:</h4>
      <p class="no-float">{{this.description}}</p>
    </li>
  {{/if}}
  {{#if this.type}}
    <li>
      <h4>Type:</h4>
      <p>{{this.type}}</p>
    </li>
  {{/if}}
  {{#if this.dates}}
    <li>
      <h4>Loss alert date:</h4>
      <p>{{this.dates}}</p>
    </li>
  {{/if}}
  {{#if this.mineral}}
    <li>
      <h4>Mineral:</h4>
      <p>{{this.mineral}}</p>
    </li>
  {{/if}}
  {{#if this.status}}
    <li>
      <h4>Status:</h4>
      <p>{{this.status}}</p>
    </li>
  {{/if}}
  {{#if this.capacity}}
    <li>
      <h4>Capacity:</h4>
      <p>{{this.capacity}} MW</p>
    </li>
  {{/if}}
  {{#if this.basin_name}}
    <li>
      <h4>Basin:</h4>
      <p>{{this.basin_name}}</p>
    </li>
  {{/if}}
  {{#if this.rivers}}
    <li>
      <h4>River:</h4>
      <p>{{this.rivers}}</p>
    </li>
  {{/if}}
  {{#if this.company}}
    <li>
      <h4>Company:</h4>
      <p>{{this.company}}</p>
    </li>
  {{/if}}
  {{#if this.permit_num}}
    <li>
      <h4>Permit Num:</h4>
      <p>{{this.permit_num}}</p>
    </li>
  {{/if}}
  {{#if this.permit_date}}
    <li>
      <h4>Permit Date:</h4>
      <p>{{this.permit_date}}</p>
    </li>
  {{/if}}
  {{#if this.substance}}
    <li>
      <h4>Substance:</h4>
      <p>{{this.substance}}</p>
    </li>
  {{/if}}
  {{#if this.project_pr}}
    <li>
      <h4>Project Proponent :</h4>
      <p><a href="{{this.proponent_}}" target="_blank">{{this.project_pr}}</a></p>
    </li>
  {{/if}}
  {{#if this.country}}
    <li>
      <h4>Country:</h4>
      <p>{{this.country}}</p>
    </li>
  {{/if}}
  {{#if this.nat_origin}}
    <li>
      <h4>Nat Origin:</h4>
      <p>{{this.nat_origin}}</p>
    </li>
  {{/if}}
  {{#if this.estimated_}}
    <li>
      <h4>Estimated Annual Carbon Emission Reduction (Tons of CO<sub>2</sub> equivalent):</h4>
      <p>{{this.estimated_}}</p>
    </li>
  {{/if}}
  {{#if this.additional}}
    <li>
      <h4>Additional certifications:</h4>
      <p>{{this.additional}}</p>
    </li>
  {{/if}}
  {{#if this.zone}}
    <li>
      <h4>Zone:</h4>
      <p>{{this.zone}}</p>
    </li>
  {{/if}}
  {{#if this.area_hectares}}
    <li>
      <h4>Area hectares:</h4>
      <p>{{this.area_hectares}}</p>
    </li>
  {{/if}}
  {{#if this.national_legal_term}}
    <li>
      <h4>National Legal Term:</h4>
      <p>{{this.national_legal_term}}</p>
    </li>
  {{/if}}
  {{#if this.legal_recognition}}
    <li>
      <h4>Legal recognition:</h4>
      <p>{{this.legal_recognition}}</p>
    </li>
  {{/if}}
  {{#if this.category}}
    <li>
      <h4>Category:</h4>
      <p>{{this.category}}</p>
    </li>
  {{/if}}
  {{#if this.latitude}}
    <li>
      <h4>Latitude:</h4>
      <p>{{this.latitude}}</p>
    </li>
  {{/if}}
  {{#if this.longitude}}
    <li>
      <h4>Longitude:</h4>
      <p>{{this.longitude}}</p>
    </li>
  {{/if}}
  {{#if this.brightness}}
    <li>
      <h4>Brightness:</h4>
      <p>{{this.brightness}}</p>
    </li>
  {{/if}}
  {{#if this.confidence}}
    <li>
      <h4>Confidence:</h4>
      <p>{{this.confidence}}</p>
    </li>
  {{/if}}
  {{#if this.developer_en}}
    <li>
      <h4>Developer:</h4>
      <p>{{this.developer_en}}</p>
    </li>
  {{/if}}
  {{#if this.inv_intent}}
    <li>
      <h4>Investment intention:</h4>
      <p>{{this.inv_intent}}</p>
    </li>
  {{/if}}
  {{#if this.contracting_authority}}
    <li>
      <h4>Contracting authority:</h4>
      <p>{{this.contracting_authority}}</p>
    </li>
  {{/if}}
  {{#if this.contract_date}}
    <li>
      <h4>Contract date:</h4>
      <p>{{this.contract_date}}</p>
    </li>
  {{/if}}
  {{#if this.contract_duration}}
    <li>
      <h4>Contract duration:</h4>
      <p>{{this.contract_duration}} years</p>
    </li>
  {{/if}}
  {{#if this.original_size_h}}
    <li>
      <h4>Original size ha:</h4>
      <p>{{this.original_size_h}}</p>
    </li>
  {{/if}}
  {{#if this.adjustment_classification}}
    <li>
      <h4>Adjustment:</h4>
      <p>{{this.adjustment_classification}}</p>
    </li>
  {{/if}}
  {{#if this.acq_date}}
    <li>
      <h4>Acquisition date:</h4>
      <p>{{this.acq_date}}</p>
    </li>
  {{/if}}
  {{#if this.year}}
    <li>
      <h4>Year:</h4>
      <p>{{this.year}}</p>
    </li>
  {{/if}}
  {{#if this.iucn_cat}}
    <li>
      <h4>IUCN Category:</h4>
      <p>{{this.iucn_cat}}</p>
    </li>
  {{/if}}
  {{#if this.year_created}}
    <li>
      <h4>Year created:</h4>
      <p>{{this.year_created}}</p>
    </li>
  {{/if}}
  {{#if this.date_created}}
    <li>
      <h4>Date of creation:</h4>
      <p>{{this.date_created}}</p>
    </li>
  {{/if}}
  {{#if this.date_create}}
    <li>
      <h4>Date:</h4>
      <p>{{this.date_create}}</p>
    </li>
  {{/if}}
  {{#if this.acq_time}}
    <li>
      <h4>Acquisition time:</h4>
      <p>{{this.acq_time}}</p>
    </li>
  {{/if}}
  {{#if this.realm}}
    <li>
      <h4>Biogeographical Realm:</h4>
      <p>{{this.realm}}</p>
    </li>
  {{/if}}
  {{#if this.biome}}
    <li>
      <h4>Biome:</h4>
      <p>{{this.biome}}</p>
    </li>
  {{/if}}
  {{#if this.doc_status}}
    <li>
      <h4>Status:</h4>
      <p>{{this.doc_status}}</p>
    </li>
  {{/if}}
  {{#if this.source}}
    <li>
      <h4>Source:</h4>
      <p>{{this.source}}</p>
    </li>
  {{/if}}
  {{#if this.mapid}}
    <li>
      <h4>ID:</h4>
      <p>{{this.mapid}}</p>
    </li>
  {{/if}}
  {{#if this.eco_num}}
    <li>
      <h4>ECO Number:</h4>
      <p>{{this.eco_num}}</p>
    </li>
  {{/if}}
  {{#if this.eco_id}}
    <li>
      <h4>ECO ID:</h4>
      <p>{{this.eco_id}}</p>
    </li>
  {{/if}}
  {{#if this.title_holder}}
    <li>
      <h4>Title Holder:</h4>
      <p>{{this.title_holder}}</p>
    </li>
  {{/if}}
  {{#if this.province}}
    <li>
      <h4>Province:</h4>
      <p>{{this.province}}</p>
    </li>
  {{/if}}
  {{#if this.department}}
    <li>
      <h4>Department:</h4>
      <p>{{this.department}}</p>
    </li>
  {{/if}}
  {{#if this.contract}}
    <li>
      <h4>Contract:</h4>
      <p>{{this.contract}}</p>
    </li>
  {{/if}}
  {{#if this.supervision}}
    <li>
      <h4>Supervision:</h4>
      <p>{{this.supervision}}</p>
    </li>
  {{/if}}
  {{#if this.ebaaltmin}}
    <li>
      <h4>Min elevation:</h4>
      <p>{{this.ebaaltmin}}</p>
    </li>
  {{/if}}
  {{#if this.ebaaltmax}}
    <li>
      <h4>Max elevation:</h4>
      <p>{{this.ebaaltmax}}</p>
    </li>
  {{/if}}
  {{#if this.species}}
    <li>
      <h4>Species:</h4>
      <p>{{this.species}}</p>
    </li>
  {{/if}}
  {{#if this.esmthldr}}
    <li>
      <h4>Easement Holder:</h4>
      <p>{{this.esmthldr}}</p>
    </li>
  {{/if}}
  {{#if this.eholdtyp}}
    <li>
      <h4>Easement Holder Type:</h4>
      <p>{{this.eholdtyp}}</p>
    </li>
  {{/if}}
  {{#if this.owner}}
    <li>
      <h4>Owner:</h4>
      <p>{{this.owner}}</p>
    </li>
  {{/if}}
  {{#if this.owntype}}
    <li>
      <h4>Landowner Type:</h4>
      <p>{{this.owntype}}</p>
    </li>
  {{/if}}
  {{#if this.purpose}}
    <li>
      <h4>Conservation Purpose:</h4>
      <p>{{this.purpose}}</p>
    </li>
  {{/if}}
  {{#if this.pubaccess}}
    <li>
      <h4>Public Access:</h4>
      <p>{{this.pubaccess}}</p>
    </li>
  {{/if}}
  {{#if this.duration}}
    <li>
      <h4>Duration:</h4>
      <p>{{this.duration}}</p>
    </li>
  {{/if}}
  {{#if this.state}}
    <li>
      <h4>State:</h4>
      <p>{{this.state}}</p>
    </li>
  {{/if}}
  {{#if this.rep_acres}}
    <li>
      <h4>Reported Area:</h4>
      <p>{{this.rep_acres}} acres</p>
    </li>
  {{/if}}
  {{#if this.gis_acres}}
    <li>
      <h4>GIS Area:</h4>
      <p>{{this.gis_acres}} acres</p>
    </li>
  {{/if}}
  {{#if this.datapvdr}}
    <li>
      <h4>Data Provider:</h4>
      <p>{{this.datapvdr}}</p>
    </li>
  {{/if}}
  {{#if this.dataagg}}
    <li>
      <h4>Data Aggregator:</h4>
      <p>{{this.dataagg}}</p>
    </li>
  {{/if}}
  {{#if this.doc_legal}}
    <li>
      <h4>Legal documentation:</h4>
      <p>{{this.doc_legal}}</p>
    </li>
  {{/if}}
  {{#if this.region}}
    <li>
      <h4>Region:</h4>
      <p>{{this.region}}</p>
    </li>
  {{/if}}
  {{#if this.type_text}}
    <li>
      <h4>Plantation type:</h4>
      <p>{{this.type_text}}</p>
    </li>
  {{/if}}
  {{#if this.spec_simp}}
    <li>
      <h4>Species:</h4>
      <p>{{this.spec_simp}}</p>
    </li>
  {{/if}}
  {{#if this.percent}}
    <li>
      <h4>Percent plantation coverage:</h4>
      <p>{{this.percent}}</p>
    </li>
  {{/if}}
  {{#if this.area_ha}}
    <li>
      <h4>Area HA:</h4>
      <p>{{this.area_ha}}</p>
    </li>
  {{/if}}
  {{#if this.acquired}}
    <li>
      <h4>Acquisition date:</h4>
      <p>{{this.acquired}}</p>
    </li>
  {{/if}}
  {{#if this.platform}}
    <li>
      <h4>Platform:</h4>
      <p>{{this.platform}}</p>
    </li>
  {{/if}}
  {{#if this.sensor_platform}}
    <li>
      <h4>Sensor platform:</h4>
      <p>{{this.sensor_platform}}</p>
    </li>
  {{/if}}
  {{#if this.cloud_coverage}}
    <li>
      <h4>Cloud coverage:</h4>
      <p>{{this.cloud_coverage}}%</p>
    </li>
  {{/if}}
  {{#if this.alerts_last_semester}}
    <li>
      <h4 style="width: 100%">Glad alerts in the last six months:</h4>
      <p style="width:200px;height:100px;" id="graphSlope"></p>
    </li>
  {{/if}}
  {{#if this.slope_semester}}
    <li>
      <h4>Glad alerts slope trend for last six months:</h4>
      <p id="slopeTotal">{{this.slope_semester}}</p>
    </li>
  {{/if}}
  {{#if this.validity}}
    <li>
      <h4>Validity:</h4>
      <p>{{this.validity}}</p>
    </li>
  {{/if}}
  {{#if this.avg_score}}
    <li>
      <h4>Average score:</h4>
      <p>{{this.avg_score}}</p>
    </li>
  {{/if}}
  {{#if this.total_alerts}}
    <li>
      <h4>Total alerts:</h4>
      <p>{{this.total_alerts}}</p>
    </li>
  {{/if}}
  {{#if this.tipo}}
    <li>
      <h4>Tipo:</h4>
      <p>{{this.tipo}}</p>
    </li>
  {{/if}}
  {{#if this.tipo_solic}}
    <li>
      <h4>Applicant type:</h4>
      <p>{{this.tipo_solic}}</p>
    </li>
  {{/if}}
  {{#if this.ano}}
    <li>
      <h4>Year:</h4>
      <p>{{this.ano}}</p>
    </li>
  {{/if}}
  {{#if this.floresta}}
    <li>
      <h4>National Forest:</h4>
      <p>{{this.floresta}}</p>
    </li>
  {{/if}}
  {{#if this.umf}}
    <li>
      <h4>UMF:</h4>
      <p>{{this.umf}}</p>
    </li>
  {{/if}}
  {{#if this.fmu_number}}
    <li>
      <h4>Title:</h4>
      <p>{{this.fmu_number}}</p>
    </li>
  {{/if}}
  {{#if this.licensee}}
    <li>
      <h4>Licensee:</h4>
      <p>{{this.licensee}}</p>
    </li>
  {{/if}}
  {{#if this.volume_m3}}
    <li>
      <h4>Timber harvest 2014 (m3):</h4>
      <p>{{this.volume_m3}}</p>
    </li>
  {{/if}}
  {{#if this.certif}}
    <li>
      <h4>Certification:</h4>
      <p>{{this.certif}}</p>
    </li>
  {{/if}}
  {{#if this.license_no}}
    <li>
      <h4>License No:</h4>
      <p>{{this.license_no}}</p>
    </li>
  {{/if}}
  {{#if this.timber_src}}
    <li>
      <h4>Timber Source:</h4>
      <p>{{this.timber_src}}</p>
    </li>
  {{/if}}
</ul>
