<td>
  {{#unless confirmed}}
  <div class="subscription-unconfirmed">
    <a href="{{confirmationUrl}}">
      <svg class="icon" width="16px" height="16px">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-warning"></use>
      </svg>
    </a>

    <span class="tooltipmap bottom">
      Subscription has not been confirmed, click here to resend the
      confirmation email
    </span>
  </div>
  {{/unless}}

  <h4 class="btn-edit-name-subscription">
    {{#if name}}
      {{name}}
    {{else}}
      <em>Unnamed Subscription</em>
    {{/if}}
  </h4>

  {{#each topics}}
    <ul class="metadata-list">
      <li>
        <span class="metadata-title">Data set:</span>
        <span class="metadata-info">{{title}}</span>
      </li>

      <li>
        <span class="metadata-title">Date of subscription:</span>
        <span class="metadata-info">{{../createdAt}} UTC</span>
      </li>
      
      <li>
        <span class="metadata-title">Language:</span>
        <span class="metadata-info">
          <select data-placeholder="Select language" class="chosen-select default notranslate" id="select-language-subscription">
            <option value="en">English</option>
            <option value="pt">Portuguese</option>
          </select>
        </span>
      </li>
    </ul>
  {{/each}}
</td>

<td>
  <svg><use xlink:href="#icon-h-map"></use></svg>
  <span><a href="{{viewOnMapURL}}" target="_blank" class="btn-view-on-map-subscription">View on Map</a></span>
</td>

<td>
  <svg><use xlink:href="#icon-analysis-remove"></use></svg>
  <a href="#" class="btn-delete-subscription">Delete</a>
</td>

