<td>
  {{#unless confirmed}}
  <div class="subscription-unconfirmed">
    <a href="{{confirmationUrl}}">
      <svg class="icon" width="16px" height="16px">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-warning"></use>
      </svg>
    </a>

    <span class="tooltipmap bottom">
      Subscription has not been confirmed, click here to resend the
      confirmation email
    </span>
  </div>
  {{/unless}}

  <h4>
    {{#if name}}
      {{name}}
    {{else}}
      <em>Unnamed Subscription</em>
    {{/if}}
  </h4>

  <ul class="metadata">
    <li>
      Data set:
      <span class="dataset">{{topics}}</span>
    </li>
    <li>Date of subscription: {{createdAt}} UTC</li>
    <li>Language:
      <span id="subscriptionLanguage">{{language}}</span>
      <select data-placeholder="Select language" class="chosen-select default notranslate" id="subscriptionLanguageSelector">
        <option value="EN">English</option>
        <option value="PT">Portuguese</option>
      </select>
    </li>
  </ul>
</td>

<td>
  <svg><use xlink:href="#icon-h-map"></use></svg>
  <span><a href="{{viewOnMapURL}}" target="_blank" class="view-on-map">View on Map</a></span>
</td>

<td>
  <svg><use xlink:href="#icon-analysis-remove"></use></svg>
  <a href="#" class="subscriptions-delete-item">Delete</a>
</td>

