<header class="header">
  <div class="title">
    {{#unless this.confirmed}}
    <div class="subscription-unconfirmed">
      <a href="{{this.confirmationUrl}}">
        <svg class="icon" width="16px" height="16px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-warning"></use>
        </svg>
      </a>

      <span class="tooltipmap">Subscription has not been confirmed, click here to resend the confirmation email</span>
    </div>
    {{/unless}}

    <h4 class="btn-edit-name-subscription">
      {{#if this.name}}
        {{this.name}}
      {{else}}
        <em>Unnamed Subscription</em>
      {{/if}}
    </h4>

  </div>

  <div class="actions">
    <button class="btn-delete-subscription">
      <svg><use xlink:href="#icon-analysis-remove"></use></svg>
      Delete
    </button>
  </div>
</header>

<ul class="metadata-list">
  <li>
    <span class="metadata-title">Date of subscription:</span>
    <span class="metadata-info">{{this.createdAt}} UTC</span>
  </li>

  <li>
    <span class="metadata-title">Language:</span>
    <span class="metadata-info">
      <select data-placeholder="Select language" class="chosen-select default notranslate" id="select-language-subscription">
        {{#each languages}}
          <option value="{{@key}}">{{this}}</option>
        {{/each}}
      </select>
    </span>
  </li>
</ul>

<div class="dataset-list">
  <h4>Data sets:</h4>
  <table>
    <tbody>
    {{#each topics}}
      <tr class="dataset-item">
        <td><span>{{title}}</span></td>
        <td>
          <a class="btn-dataset" target="_blank" href="{{viewOnMapUrl}}">
            <svg class="icon" width="16px" height="16px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-world"></use>
            </svg>
            <span class="tooltipmap">View on map</span>
          </a>
        </td>
        {{#if ../topicsDelete}}
          <td>
            <a class="btn-dataset btn-dataset-remove" data-dataset="{{slug}}">
              <svg class="icon" width="16px" height="16px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-analysis-remove"></use>
              </svg>
              <span class="tooltipmap">Delete</span>
            </a>
          </td>
        {{/if}}
      </tr>
    {{/each}}
      <tr>
        <td>
          <button class="btn green little medium btn-dataset-subscription">Edit data sets</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{{!-- <td>


  {{#each topics}}
    <ul class="metadata-list">
      <li>
        <span class="metadata-title">Data set:</span>
        <span class="metadata-info">{{title}}</span>
      </li>

      <li>
        <span class="metadata-title">Date of subscription:</span>
        <span class="metadata-info">{{../createdAt}} UTC</span>
      </li>

      <li>
        <span class="metadata-title">Language:</span>
        <span class="metadata-info">
          <select data-placeholder="Select language" class="chosen-select default notranslate" id="select-language-subscription">
            <option value="en">English</option>
            <option value="pt">Portuguese</option>
          </select>
        </span>
      </li>
    </ul>
  {{/each}}
</td>

<td>
  <svg><use xlink:href="#icon-h-map"></use></svg>
  <span><a href="{{viewOnMapURL}}" target="_blank" class="btn-view-on-map-subscription">View on Map</a></span>
</td> --}}
