<h2>Your profile information</h2>
<p>
  This information is optional but it will help us learning how you use
  Global Forest Watch and how to improve it.
</p>

<form method="POST" action="{{action}}">
  <label>name</label>
  <input type="text" placeholder="Your name" name="name" value="{{user.name}}">

  <label>email</label>
  <input type="email" placeholder="Your email" name="email" value="{{user.email}}">

  <label>organization / profession / job title</label>
  <input type="text" placeholder="Your organization / profession / job title" name="job" value="{{user.job}}">

  <label class="m-sel-container">sector
    <input placeholder="Your sector" name="sector" value="{{user.sector}}">
  </label>

  <label class="m-sel-container">primary responsibility
    <input name="responsibility" placeholder="Your primary responsibilities" value="{{user.responsibilities}}">
  </label>

  <label class="m-sel-container">location
    <input name="country" placeholder="Your country" value="{{user.country}}">
    <input name="state" placeholder="State/department/province" value="{{user.state}}">
  </label>

  <input type="text" placeholder="City">

  <label class="m-sel-container">gender
    <select name="gender"><option>Male</option><option>Female</option></select>
  </label>

  <label class="m-sel-container">how do you use or plan to use global forest watch?
    <input name="use" placeholder="" value="{{use}}">
  </label>

  <div class="m-improve-gfw">
    <p>
      Interested in testing new features and helping to improve Global
      Forest Watch? Sign up to become an official tester!
    </p>

    <span>
      <label><input type="radio" name="sign_up" value="yes" />Yes, sign me up</label>
      <label><input type="radio" name="sign_up" value="no" />No thanks</label>
    </span>
  </div>

  <div class="m-buttons">
    {{#if user.email}}
      <a id="submit" class="btn green uppercase">submit</a>
    {{else}}
      <a id="submit" class="btn green uppercase">continue</a>
      <a id="skip" class="btn gray uppercase">skip</a>
    {{/if}}
  </div>
</form>
