<header>
  <div class="c-default-header">
    <div id="headerGfw"></div>
    <div class="row">
      <div class="small-12 columns">
        <div class="c-default-header__content">
          <h1><a href="/">Global Forest Watch</a></h1>
          <ul class="c-default-header-navigation">
            <li><%= link_to 'MAP', '/map' %></li>
            <li><%= link_to 'COUNTRIES', '/countries' %></li>
            <li>
              <span>LEARN</span>
              <ul class="c-default-header-dropdown">
                <li><%= link_to 'Blog', 'http://blog.globalforestwatch.org' %></li>
                <li><%= link_to 'Crowdsourced stories', '/stories' %></li>
                <li><%= link_to 'Newsletter', '/?show_newsletter=true' %></li>
                <li><%= link_to 'How to use GFW', '/howto' %></li>
              </ul>
            </li>
            <li>
              <span>GET INVOLVED</span>
              <ul class="c-default-header-dropdown">
                <li><%= link_to 'Develop your own app', '/developers-corner' %></li>
                <li><%= link_to 'Submit a story', '/stories/new' %></li>
                <li><%= link_to 'Join the discussion', 'https://groups.google.com/forum/#!forum/globalforestwatch' %></li>
                <li><%= link_to 'Apply to the Small Grants Fund', '/small-grants-fund' %></li>
                <li><%= link_to 'Provide feedback', '/getinvolved/provide-feedback' %></li>
                <li><%= link_to 'Add data to GFW', '/contribute-data' %></li>
                <li><%= link_to 'Receive forest loss alerts', '/my_gfw/subscriptions/new' %></li>
              </ul>
            </li>
            <li>
              <span>ABOUT</span>
              <ul class="c-default-header-dropdown">
                <li><%= link_to 'About GFW', '/about/about-gfw' %></li>
                <li><%= link_to 'The GFW partnership', '/about/the-gfw-partnership' %></li>
                <li><%= link_to 'Videos', '/about/videos' %></li>
                <li><%= link_to 'Awards & testimonials', '/about/awards_and_testimonials' %></li>
                <li><%= link_to 'Data policy', '/about/data_policy' %></li>
                <li><%= link_to 'Contact us & feedback', '/about/contact_us' %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
