<div class="country-header">
  <div class="inner">
    <!--  colored header -->
    <div class="country-header-inner">
      <div class="country-title">
        <h1><%= @country['name'] %></h1>
        <div class="country-selector">
          <select id="areaSelector">
            <option>Select area</option>
          </select>
          <div class="selector-remove">✕</div>
          <div class="selector-arrow"></div>
        </div>
        <!--  indepth message -->
        <% if @country['indepth'].present? %>
            <p class="country-indepth__bubble"><a href="<%= @country['indepth'] %>" target="_blank">GFW in <%= @country['name'] %></a></p>
        <% end %>
      </div>

      <div class="country-details">
        <div class="country-preview">
          <div class="mobile-scroll"></div>
          <div class="map" id="countryMap"></div>
          <div class="tree-numbers">
            <div class="tree-cover">
              <h4>Tree cover (2000)</h4>
                <span class="amount"><!--<%= extent_to_human(@country['extent'], format: '%n') %>--></span>
                <span class="unit"><%= extent_to_human(@country['extent'], format: '%u', shortUnit: true) %></span>
            </div>
            <div class="total-area">
              <h4>Percent Tree Cover (2000)</h4>
              <span class="amount"></span>
              <span class="unit">%</span>
            </div>
          </div>
          <div class="loss-gain-graph ghost">
            <h4>LOSS AND GAIN (2001 - 2012)</h4>
            <div class='graph' id="lossGainGraph"></div>
            <div class='graph-amount'></div>
            <div class='graph-date'></div>
            <div class='coming-soon'><span>Not yet available for this country</span></div>
          </div>
        </div>
        <div class="country-sidenav">
          <ul>
            <li class="share-container">
            </li>
            <li>
              <a href="#" data-source="umd_tree_loss_gain_infographics" class="info">
                Info
                <!-- <span class="sidenav-icon country-icons-info_grey"></span> -->
                <span class="sidenav-icon">
                  <svg class="circle">
                    <use xlink:href="#shape-info"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a href='http://www.earthenginepartners.appspot.com/science-2013-global-forest/download.html' target='_blank'>
                Download data
                <!-- <span class="sidenav-icon country-icons-download_grey"></span> -->
                <span class="sidenav-icon">
                  <svg>
                    <use xlink:href="#shape-download-18"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a href="https://wri-01.cartodb.com/api/v2/sql?q=SELECT iso as country_code,id1 as region_code, country,region, year, thresh as min_percent_canopy_density, loss as loss_ha, loss_perc as loss_percent, extent as extent_ha, extent_perc as extent_percent, gain as gain_ha, gain_perc as gain_percent from umd_subnat where iso='<%=@country['iso']%>'&format=csv&filename='<%=@country['iso']%>'">
                country stats
                <!-- <span class="sidenav-icon country-icons-download_grey"></span> -->
                <span class="sidenav-icon">
                  <svg>
                    <use xlink:href="#shape-download-18"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a href='<%= map_coords %>/grayscale/loss,forestgain?begin=2001-01-01&end=2013-12-30&threshold=' class='action analyze_from_country' target="_blank" id="url_analysis">
                Analyze on map
                <!-- <span class="sidenav-icon country-icons-chart_grey"></span> -->
                <span class="sidenav-icon">
                  <svg>
                    <use xlink:href="#shape-graph"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a href="#" class="umd_options_control" data-tip="Change UMD layer intensity">
                tree cover canopy settings
                <!-- <span class="sidenav-icon country-icons-settings_engine"></span> -->
                <span class="sidenav-icon ">
                  <svg>
                    <use xlink:href="#shape-settings"></use>
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
