<% content_for :header do %>
  <h1><a href="/">Global Forest Watch</a></h1>
  <nav id="nav-mobile">
    <form class="mobile-show" action="/search">
      <svg class="icon"><use xlink:href="#shape-search"></use></svg>
      <input type="text" name="query" id="search-input" placeholder="Search">
    </form>
    <div id="google_translate_element_box2"></div>
    <ul>
      <li>
        <a href="/countries">Country Profiles</a>
      </li>
      <li>
        <a href="/countries/overview">Country Rankings</a>
      </li>
    </ul>
  </nav>  
<% end %>


<% content_for :js do %>
  <%= render "countries_templates" %>
<% end %>

<div class="inner">
  <h2>country profiles</h2>
  <a href="/countries/overview" class="btn gray countries-rankings-btn">country rankings</a>
</div>
<div class="inner countries-list-title">
  <h3>select a country</h3>
</div>
<div class="inner">
  <div class="search-countries-box">
    <input id="searchCountry" type="text" placeholder="Type country name"/>
  </div>
</div>

<ul class="countries_list_index inner">
  <% @countries.each do |c| %>
    <% if c['enabled'] %>
      <li id="<%= c['iso'] %>" class="country">
        <a class="country-href" href="<%= country_path(id: c['iso']) %>">
          <span class="country-content">
            <h3 class="country-name <%= c['name'].length > 14 ? ' small' : '' %>"><%= c['name'] %></h3>
          </span>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<section class="section interesting">
  <div class="inner">
    <h2 class="section-title">You may find this interesting</h2>

    <ul class="country-interesting-links">
      <li>
        <h3>Data Portal</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p>
          <a href="#" class="btn-rdn btn-rdn-dark">Read More</a>
        </p>
      </li>

      <li>
        <h3>Global Map</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p>
          <a href="#" class="btn-rdn btn-rdn-dark">Read More</a>
        </p>
      </li>

      <li>
        <h3>Get Involved</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p>
          <a href="#" class="btn-rdn btn-rdn-dark">Read More</a>
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- <p class="disclaimer inner">The Global Forest Watch country pages include only countries and territories that meet a minimum threshold of tree cover extent. Country lists and map boundaries do not imply any opinion on the part of Global Forest Watch or partners concerning the legal status or delineation of any country or territory.
</p>
 -->
