<% content_for :header do %>
  <h1 class="header-title big"><%=t 'countries.index.title' %></h1>
<% end %>

<% content_for :js do %>
  <%= render "countries_templates" %>
<% end %>

<div class="inner">
  <a href="<%= countries_overview_path %>" title="Explore worldwide data in the global overview">
    <div class="countries_block">
      <h2 class="header-title">Explore worldwide data in the <span>global overview</span></h2>
    </div>
  </a>
</div>

<div class="inner">
  <div class="search-countries-box">
    <input id="searchCountry" type="text" placeholder="Type country name"/>    
  </div>
</div>

<ul class="countries_list inner">
  <% @countries.each do |c| %>
    <% if c['enabled'] %>
      <li id="<%= c['iso'] %>" class="country">
        <a class="country-href" href="<%= country_path(id: c['iso']) %>">
          <span class="country-content">
            <h3 class="country-name <%= c['name'].length > 14 ? ' small' : '' %>"><%= c['name'] %></h3>
          </span>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<p class="disclaimer inner">The Global Forest Watch country pages include only countries and territories that meet a minimum threshold of tree cover extent. Country lists and map boundaries do not imply any opinion on the part of Global Forest Watch or partners concerning the legal status or delineation of any country or territory.
</p>
