<% content_for :js do %>
  <script>
    var countries = <%= @countries.to_json.html_safe %>;

    $(function() {
      cdb.init(function() {
        window.countries_overview = new gfw.ui.view.CountriesOverview();
      });
    });
  </script>
<% end %>

<%= render 'shared/overview' %>

<div id='sources' class='sources'>
  <h2 class='source_category_title'>Countries overview</h2>

  <ul class='sources'>
    <li id='total_loss'>
      <div class='source_body'>
        <p><strong class='source_title'>Loss vs. Gain</strong></p>
        <p>The graph and rankings below were created using tree cover, loss, and gain data from the University of Maryland. For more information on this dataset, please visit the <%= link_to 'Data page', sources_path %>.</p>

        <p>This graph shows global tree cover loss per year in hectares, from 2001 through 2012, with annualized tree cover gain. Tree cover gain is represented as a single horizontal line, indicating the average tree cover gain for the period of 2001-2012 as annual figures for gain are unavailable.</p>

        <p>The rankings below list all countries from greatest to least tree cover loss for the period of 2001-2012. The infographs within the rankings show tree cover loss per year and the dotted line represents annualized tree cover gain 2001-2012.</p>
      </div>
    </li>

    <li id='percent_loss'>
      <div class='source_body'>
        <p><strong class='source_title'>% Loss vs. % Gain</strong></p>

        <p>The graph and rankings below were created using tree cover, loss, and gain data from the University of Maryland. For more information on this dataset, please visit the <%= link_to 'Data page', sources_path %>.</p>

        <p>This graph shows the rate of tree cover loss per year, relative to 2000 tree cover extent (of greater than 25% canopy cover density), with annualized percent of tree cover gain for the period of 2001-2012. Tree cover gain is represented as a single horizontal line, indicating the average percent of tree cover gain for the period of 2001-2012, as annual tree cover gain data is unavailable.</p>

        <p>The rankings below list all countries from greatest to least percent (or rate of) tree cover loss, for the period of 2001-2012, relative to 2000 tree cover extent. The infographs within the rankings show the percent of tree cover loss per year and the dotted line represents the annualized percent of tree cover gain 2001-2012.</p>
      </div>
    </li>

    <li id='total_extent'>
      <div class='source_body'>
        <p><strong class='source_title'>Tree Cover Extent</strong></p>

        <p>The graph and rankings below were created using tree cover, loss, and gain data from the University of Maryland. For more information on this dataset, please visit the data page <%= link_to 'Data page', sources_path %>.</p>

        <p>This graph shows the extent of global tree cover (of greater than 25% canopy cover density) and loss per year in hectares from 2001 to 2012. Figures for tree cover extent do not include tree cover gain from 2001-2012.</p>

        <p>The rankings below list all countries from greatest to least tree cover extent, for the period of 2001-2012. The infographs within the rankings show tree cover extent per year (left) and tree cover loss per year (right).
      </div>
    </li>

    <li id='ratio'>
      <div class='source_body'>
        <p><strong class='source_title'>Cover Loss relative to Cover Gain</strong></p>

        <p>The graph and rankings below were created using tree cover, loss, and gain data from the University of Maryland. For more information on this dataset, please visit the <%= link_to 'Data page', sources_path %>.</p>

        <p>This scatterplot shows total tree cover gain relative to total tree cover loss for the period 2001-2012, with 2000 tree cover extent represented by bubble size (e.g., countries with greater 2000 forest extent are represented with larger bubbles).</p>

        <p>The rankings below list all countries from greatest to least ratio of tree cover gain to loss (loss/gain), for the period of 2001-2012. Large numbers (and all numbers >1) indicate a greater degree of tree cover loss, relative to gain, whereas small numbers (all numbers <1) indicate a greater degree of tree cover gain, relative to loss.</p>
      </div>
    </li>

    <li id='domains'>
      <div class='source_body'>
        <p><strong class='source_title'>Cover Loss by Climate Domain</strong></p>

        <p>The graph and rankings below were created using tree cover, loss, and gain data from the University of Maryland. For more information on this dataset, please visit the data page <%= link_to 'Data page', sources_path %>.</p>

        <p>This infograph shows total tree cover loss per year by climate domain from 2001-2012, with loss represented by bubble size (e.g., domains with greater tree cover loss are represented by larger bubbles).</p>

        <ul class='bullets'>
          <li><strong>Boreal Domain</strong> consists of boreal coniferous forest, boreal mountain system, boreal tundra woodland</li>
          <li><strong>Subtropical Domain</strong> consists of subtropical dry forest, subtropical humid forest, subtropical mountain system, subtropical steppe, subtropical desert,</li>
          <li><strong>Temperate Domain</strong> consists of temperate mountain system, temperate oceanic forest, temperate continental forest, temperate desert, temperate steppe,</li>
          <li><strong>Tropical Domain</strong> consists of tropical shrubland, tropical dry forest, tropical desert, tropical moist deciduous forest, tropical mountain system</li>
        </ul>

        <p>The rankings below list climate domains from greatest to least tree cover loss for the period of 2001-2012.</p>
      </div>
    </li>
  </ul>
</div>
