<%
  content_for :title do
    @country.name
  end
%>

<% content_for :download do %>
  <div class="download">
    <div class="inner">
      <%= content_tag :h1, (raw t('layouts.application.footer.download.title', :url => "#")) %>
      <%= content_tag :p, (raw t('layouts.application.footer.download.data_html', :url => "#")) %>
    </div>
  </div>
<% end %>

<div id="country">

  <div class="graph">
    <img src="" alt="" />
  </div>

  <!--<div class="count">
    <h1><%= number_with_delimiter @country.alerts_count %></h1>
    <p>Forest clearing alerts in the last 15 days</p>
  </div>-->

  <div class="details">
    <div class="inner">

      <div class="circles" style="margin-left:-50px">
        <%= image_tag 'tmp/circles.png' %>
      </div>

      <div class="alerts">
        <h4><%= t('.detail.alerts.title') %></h4>
        <ul>
          <% @country.last_alerts.each do |alert| %>
            <li>
            <span class="date"><%= l alert[:date].to_date, :format => :custom %></span>
            <span class="time"><%= l alert[:date].to_time, :format => :custom %></span>
            <span class="count"><%= alert[:count] %> Alerts</span>
            </li>
          <% end %>
        </ul>
        <%= link_to (content_tag :span, t('.detail.alerts.subscribe')), {}, :class => "btn hollow" %>
      </div>

      <div class="description">
        <h4><%= t('.detail.description.title') %></h4>
        <%= simple_format truncate(@country.description, :length => 400) %>
        <%= link_to (content_tag :span, t('.detail.description.read_more')) + (content_tag :div, "", :class => "icon wikipedia") , "#", :class => "btn with-icon hollow" %>
      </div>
    </div>
  </div>

  <div class="blog-links">
    <div class="inner">
      <h3><%= t('.blog_posts.title') %></h3>

      <ul>
        <% @blog_posts.each do |post| %>
          <li>
          <h2><%= link_to post.title, post_path(:id => 1) %></h2>
          <%= simple_format truncate(post.body.strip, :length => 255, :omission => "... #{link_to t('.blog_posts.more'), post_path(:id => 1) }") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
