<% content_for :title do %>
  <%= @country.name.titleize %>

  <script type="text/javascript">
    var countryCode = "<%= @country.iso %>";
    var countryKeyword = "<%= @country.name.downcase %>";
  </script>
<% end %>

<div id="country">

  <div class="details">
    <div class="inner">

      <div class="graphs" data-load="graphs">
        <div class="circle lines ghost chart">
          <a href="#" class="info" data-source="semi_monthly"><span>i</span></a>
          <div class="title"><span></span></div>
          <div class="subtitle"><span></span></div>
          <div class="graph-amount"></div>
          <div class="date"></div>
          <div class="coming_soon">Not yet available for this country</div>
          <!-- TODO: replace with actual data -->
          <a href="/assets/gfw_analysis.zip" class="action"></a>
        </div>
        <!-- TODO: remove ghost when we have data -->
        <div class="circle forest_loss ghost chart">
          <a href="#" class="info" data-source="forest_loss"><span>i</span></a>
          <div class="graph-title">Forest Cover Loss</div>
          <div class="graph-subtitle"><a href="#" class="forma_dropdown-link">Data options</a></div>
          <div class="forma_dropdown-menu">
            <ul>
              <li><a href="#" class="forma_dropdown-loss" data-slug="hansen_forest_extent">Forest Cover Loss</a></li>
              <li><a href="#" class="forma_dropdown-extent" data-slug="hansen_forest_loss">Forest Cover Extent</a></li>
              <li><a href="#" class="forma_dropdown-gain" data-slug="hansen_forest_gain">Loss vs Gain</a></li>
            </ul>
          </div>
          <div class="graph-amount"></div>
          <div class="graph-date"></div>
          <div class="coming_soon">Not yet available for this country</div>
          <div class="frame"><div class="frame_bkg"></div></div>
          <a href="#" class="action"></a>
        </div>
        <div class="chart circle country" style="background: url(<%= static_map(@country.coords, '299x299', 4) %>) no-repeat;">
          <a class="mask" href="<%= @country.map_coord %>/<%= @country.iso %>"></a>
          <a href="#" class="info" data-source="semi_monthly"><span>i</span></a>
          <a href="<%= @country.map_coord %>/<%= @country.iso %>" class="action"></a>
        </div>
      </div>
    </div>

    <section class="state" data-menu="state">
      <% if @country.indepth.present? %>
        <div class="indepth">
          <p><strong>Global Forest Watch</strong> has done in-depth work in this country. Find more information <%= link_to "here", @country.indepth %>.</p>
        </div>
      <% end %>

      <div class="country-menu">
        <ul class="country-menu-inner">
          <li class="selected state">
            <a href="#state" data-slug="state"><%= t('.country_menu.state') %></a>
          </li>
          <li class="people">
            <a href="#people" data-slug="people"><%= t('.country_menu.people') %></a>
          </li>
          <li class="laws">
            <a href="#tenure" data-slug="laws"><%= t('.country_menu.tenure') %></a>
          </li>
          <li class="climate">
            <a href="#climate" data-slug="climate"><%= t('.country_menu.climate') %></a>
          </li>
          <li class="conventions">
            <a href="#conventions" data-slug="conventions"><%= t('.country_menu.conventions') %></a>
          </li>
        </ul>
      </div>

      <div class="inner">
        <div id="<%= "country#{@country.iso}" %>" class="country-path"></div>
        <h2><%= @country.name.titleize %> is covered by <span><%= @country.forest_extent/1000.00 %> million hectares of forest.</span><a href="#" class="info"><i data-source="forest_extent"></i></a></h2>

        <h3>The type of forest in this country is... <a href="#" class="info"><i data-source="forest_type"></i></a></h3>
        <div class="line-graph"></div>
        <div class="legend-graph">
          <p class="one">Primary</p>
          <p class="two">Regenerated</p>
          <p class="three">Planted</p>
        </div>
      </div>
    </section>

    <section class="people" data-menu="people">
      <div class="inner">
        <h3>Gross value add for Argentina's forest sector <a href="#" class="info"><i data-source="gross_value"></i></a></h3>
        <h2>The forest sector contributed <span>$<%= @country.gross_value/1000000.00 %> million</span> to the economy in 2006, which is approximately <span><%= @country.gdp_percent_fixed %>% of the GDP</span></h2>

        <ul class="employment block">
          <li>
            <h3>Employment in forest sector <a href="#" class="info"><i data-source="employment"></i></a></h3>
            <h2><%= @country.employment %> <span>thousand people</span></h2>

            <div class="man-list">
              <% @country.employment.times do |i| %>
                <%= image_tag 'countries/man.png' %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="laws" data-menu="laws">
      <div class="inner">
        <div class="tenure">
          <h3>Forest tenure <a href="#" class="info"><i data-source="forest_tenure"></i></a></h3>
          <div class="line-graph"></div>
          <div class="legend-graph"></div>
        </div>

        <div class="legislation">
          <h3>Forest legislation <a href="#" class="info"><i data-source="forest_legislation"></i></a></h3>
          <ul>
            <% if @country.national_policy_link.present? %>
              <li><%= link_to @country.national_policy_title.present? ? @country.national_policy_title : "National Forest Policy", @country.national_policy_link %></li>
            <% end %>
          </ul>

          <a href="mailto:gfw@wri.org" class="people-link">Are we missing a link?</a>
        </div>
      </div>
    </section>

    <section class="climate" data-menu="climate">
      <div class="inner">
        <ul>
          <li>
            <h3>Carbon stocks <a href="#" class="info"><i data-source="carbon_stocks"></i></a></h3>
            <h2>This country has <span><%= @country.carbon_stocks %> million<br />tonnes of CO2</span> in living forest biomass.</h2>
          </li>

          <li class="last">
            <h3><a href="#" class="info"><i class="dark" data-source="co2_emissions"></i></a> CO2 emissions</h3>
            <% if @country.emissions_noland.present? && @country.emissions_land.present? %>
              <% emissions = 100 * @country.emissions_noland / @country.emissions_land %>

              <% if emissions <= 100 %>
                <h2>According to FAO data, in 2010 <span><%= number_to_percentage(emissions, precision: 2) %> of GHG emissions</span> in this country came from changes to forest land.</h2>
              <% else %>
                <h2>According to FAO data, in 2010 changes to forest land sequestered <span><%= number_to_percentage(emissions-100, precision: 2) %> of this country’s GHG emissions.</span></h2>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </section>

    <section class="conventions" data-menu="conventions">
      <div class="inner">
        <h3>Conventions</h3>

        <ul>
          <% conventions = ['cbd', 'unfccc', 'kyoto', 'unccd', 'itta', 'cites', 'ramsar', 'world_heritage', 'nlbi', 'ilo'] %>
          <% conventions.each do |convention| %>
            <% if @country.send("convention_#{convention}").present? %>
              <li class="<%= convention %>"><%= t('.conventions.'+convention+'_title_html') %> <a href="#" class="info"><i data-source="<%= "conventions_#{convention}" %>"></i></a> <span><%= @country.send("convention_#{convention}") %></span></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </section>

    <% if @country.ministry_link.present? || @country.external_links.present? %>
      <section class="external-links">
        <div class="inner">
          <h3>External links</h3>

          <ul>
            <% if @country.ministry_link.present? %>
              <li><a href="<%= @country.ministry_link %>" target="_blank"><%= t('.ministry_link') %></a></li>
            <% end %>

            <% if @country.external_links.present? %>
              <% @country.external_links.split(', ').each do |link| %>
                <li><%= link %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </section>
    <% end %>

    <section class="download-links">
      <ul class="inner">
        <li><a href="<%= @country.map_coord %>/<%= @country.iso %>">Subscribe to alerts for this country</a></li>
        <% if @country.dataset_link %>
          <li><%= link_to "Download relevant datasets", sources_path %></li>
        <% else %>
          <li><span>No datasets for this country</span></li>
        <% end %>
      </ul>
    </section>
  </div>

  <div class="blog-links">
    <div class="inner">
      <h3><%= t('.blog_posts.title', :country => @country.name ) %></h3>

      <ul>
        <li class="first"></li>

        <li class="story">
          <% if @country.related_story.present? %>
          <a href="<%= story_path(@country.related_story[0].id) %>">
            <%= image_tag(story_image_or_map(@country.related_story[0].thumbnail_url, @country.related_story[0].coords)) %>
            <div class="gradient"></div>
            <div class="frame"></div>
            <div class="title">
              <span><%= @country.related_story[0].title %></span>
              <strong>Read more</strong>
            </div>
          </a>
          <% else %>
          <a href="<%= new_story_path %>" class="nostory">
            <div class="gradient"></div>
            <div class="frame"></div>
            <div class="title">
              <span>No stories for this country yet.</span>
              <strong>Add one.</strong>
            </div>
          </a>
          <% end %>
        </li>
  
        <li class="last"></li>
      </ul>
    </div>
  </div>

  <div class="comments">
    <div class="inner">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'gfw20'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
</div>

<div id="sources" class="sources">
  <%= render 'common/countries' %>
</div>

