<%
  content_for :title do
    @country.name
  end
%>

<div id="country">

  <div class="graph">
    <img src="" alt="" />
  </div>

  <div class="count">
    <h1><%= number_with_delimiter @country.alerts_count %></h1>
    <p>Forest clearing alerts in the last 15 days</p>
  </div>

  <div id="map_container">
    <div id="map" class="map">
      <img src="" alt="" />
      <a id="explore" href=""></a>
    </div>
  </div>

  <div id="details">

    <div class="alerts">
      <h4><%= t('.detail.alerts.title') %></h4>
      <ul>
        <% @country.last_alerts.each do |alert| %>
          <li>
          <span class="date"><%= l alert.to_date, :format => :custom %></span>
          <span class="time"><%= l alert.to_time, :format => :custom %></span>
          </li>
        <% end %>
      </ul>
      <%= link_to t('.detail.alerts.subscribe') %>
    </div>)

    <div class="description">
      <%= simple_format truncate(@country.description, :length => 255) %>
      <%= link_to t('.detail.description.read_more') %>
    </div>

  </div>

  <div class="blog_posts">
    <h3><%= t('.blog_posts.title') %></h3>
    <ul>
      <% @blog_posts.each do |post| %>
        <li>
        <h5><%= post.title %></h5>
        <%= simple_format truncate(post.body.strip, :length => 255, :omission => "... #{link_to t('.blog_posts.more')}") %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
