<% content_for :title do %>
  <h1 class="header-title big"><%= @country['name'] %></h1>
<% end %>

<% content_for :js do %>
  <script>
    $(function() {
      cdb.init(function() {
        window.countries_show = new gfw.ui.view.CountriesShow({
          iso: "<%= @country['iso'] %>"
        });
      });
    });
  </script>
<% end %>

<section class='section country_graphs'>
  <div class='inner'>
    <ul class='columns'>
      <li class='column three graph forma ghost'>
        <a href='#' class='info' data-source='forma'><span>i</span></a>
        <div class='graph-title'>FORMA Alerts</div>
        <div class='graph-subtitle'><span>Humid Tropics</span></div>
        <div class='graph-amount'></div>
        <div class='graph-date'></div>
        <div class='coming_soon'>Not yet available for this country</div>
        <div class='frame'><div class='frame_bkg'></div></div>
        <a href='#' class='action disabled forma_dropdown-link' title='This chart of FORMA alerts only displays data from the humid tropics, which may or may not cover the extent of this country.'></a>
        <div class='forma_dropdown-menu'>
          <ul>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.svg?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>SVG</a></li>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.geojson?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>GeoJSON</a></li>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.shp?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>SHP</a></li>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.kml?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>KML</a></li>
            <li><a href='//<%= "#{ENV['GFW_API_HOST']}/datasets/forma.csv?begin=2006-01-01&end=#{Time.now.strftime('%Y-%m-%d')}&iso=#{@country['iso']}" %>'>CSV</a></li>
          </ul>
        </div>
        <div class='graph-action-subtitle'></div>
        <div class='graph-action-subtitle'>Download</div>
      </li>

      <li class='column three graph forest_loss ghost'>
        <a href='#' class='info' data-source='umd_tree_loss_gain'><span>i</span></a>
        <div class='graph-title'>UMD Tree Cover</div>
        <div class='graph-subtitle'><a href='#' class='hansen_dropdown-link'>Loss</a></div>
        <div class='hansen_dropdown-menu'>
          <ul>
            <li><a href='#' data-slug='countries_loss'>Loss</a></li>
            <li><a href='#' data-slug='countries_extent'>Extent</a></li>
            <li><a href='#' data-slug='countries_gain'>Loss vs. Gain</a></li>
          </ul>
        </div>
        <div class='graph-amount'></div>
        <div class='graph-date'></div>
        <div class='coming_soon'>Not yet available for this country</div>
        <div class='frame'><div class='frame_bkg'></div></div>
        <a href='#' class='action disabled' title='Download coming soon'></a>
        <div class='graph-action-subtitle'>Download coming soon</div>
      </li>

      <% map_coords = "#{map_path}/5/#{@country['lat'].round(2)}/#{@country['lng'].round(2)}/#{@country['iso']}" %>
      <li class='column three graph map'>
        <a href='<%= map_coords %>' class='info' data-source='forest_map'><span>i</span></a>
        <a href='<%= map_coords %>'>
          <div class='frame'>
            <%= image_tag static_map("#{@country['lat']}, #{@country['lng']}", '266x266', 4), :alt => @country['name'] %>
          </div>
        </a>
        <a href='<%= map_coords %>' class='action' title='Analyze forest change'></a>
        <div class='graph-action-subtitle'>Analyze</div>
      </li>
    </ul>
  </div>
</section>

<% if @country['indepth'].present? %>
<section class='bar-container'>
  <div class='country_indepth bar-inner'>
    <p class='inner'><strong>Global Forest Watch</strong> does in-depth work in this country. Find more information <%= link_to 'here', @country['indepth'] %>.</p>
  </div>
</section>
<% end %>

<section class='bar-container'>
  <nav class='country_menu bar-inner'>
    <div class='inner'>
      <ul>
        <li><a href='#state' data-scroll-nav='0'>State of the Forest</a></li>
        <li><a href='#people' data-scroll-nav='1'>People & Economy</a></li>
        <li><a href='#tenure' data-scroll-nav='2'>Tenure & Laws</a></li>
        <li><a href='#climate' data-scroll-nav='3'>Climate Change</a></li>
        <li><a href='#conventions' data-scroll-nav='4'>Conventions</a></li>
      </ul>
    </div>
  </nav>
</section>

<section class='section country_state' data-scroll-index='0'>
  <div class='inner'>
    <div id="<%= @country['iso'] %>" class='country-path'></div>

    <% extent = (@country['extent'].to_i < 1000000) ? "#{number_with_delimiter((@country['extent']).round(1))} thousand ": "#{number_with_delimiter((@country['extent']/1000000).round(1))} million" %>

    <h2 class='section-title country_state-title'><%= "#{@country['name'].titleize} has <span>#{extent}</span> hectares of trees.".html_safe %><a href='#' class='info' data-source='extent'><i></i></a></h2>

    <div class='forest_type'>
      <h3 class='section-subtitle'><a href='#' class='info' data-source='forest_type'><i></i></a>The type of forest in this country is...</h3>
      <div class='line-graph'></div>
    </div>
  </div>
</section>

<section class='section country_people' data-scroll-index='1'>
  <div class='inner'>
    <div class='gross_value <%= 'narrow' if @country['employment'].present? && @country['employment'] > 0 && @country['employment'] < 25 %>'>
      <h3 class='section-subtitle'><a href='#' class='info' data-source='gross_value'><i></i></a>Economic value of <%= @country['name'].titleize %>'s forestry sector</h3>

      <% gva = (@country['gva'].to_i < 1000000) ? "#{number_with_delimiter((@country['gva']).round(1))} thousand ": "#{number_with_delimiter((@country['gva']/1000000).round(1))} million" %>

      <% gva_percent = (@country['gva_percent'] < 0.1) ? number_to_percentage(@country['gva_percent'], precision: 2) : number_to_percentage(@country['gva_percent'], precision: 1) %>

      <h2 class='section-title'><%= "The forestry sector contributed <span>USD #{gva}</span> to the economy in 2006, which is approximately <span>#{gva_percent} of the GDP.</span>".html_safe %></h2>
    </div>

    <% employees = @country['employment'] %>

    <% if employees.present? && employees > 0 %>
      <ul class='employment <%= employees < 25 ? 'short' : '' %>'>
        <li>
          <h3 class='section-subtitle'><a href='#' class='info' data-source='employment'><i></i></a>Employment</h3>

          <% if employees < 1000 %>
            <h2 class='section-title'><div><%= employees %></div> <span>thousand people are directly employed by the forestry sector</span></h2>
          <% else %>
            <h2 class='section-title'><div><%= (employees/1000.00).round(2) %></div> <span>million people are directly employed by the forestry sector</span></h2>
          <% end %>

          <% employees = employees < 100 ? employees : 100 %>
          <div class='man_list'>
            <% employees.times do |i| %>
              <%= image_tag 'countries/man.png' %>
            <% end %>

            <%= '...' if employees == 100 %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</section>

<section class='section country_laws' data-scroll-index='2'>
  <div class='inner forest_tenure'>
    <h3 class='section-subtitle'><a href='#' class='info' data-source='forest_tenure'><i></i></a> Forest tenure</h3>
    <div class='line-graph'></div>
  </div>

  <div class='inner'>
    <h3 class='section-subtitle'><a href='#' class='info' data-source='forest_legislation'><i></i></a>Forest policy and legislation</h3>
    <ul>
      <% if @country['national_policy_link'].present? %>
        <li><%= link_to @country['national_policy_title'].present? ? @country['national_policy_title'] : 'National Forest Policy', @country['national_policy_link'] %></li>
      <% end %>
    </ul>

    <a href='mailto:gfw@wri.org' class='people-link'>Are we missing a link?</a>
  </div>
</section>

<section class='section country_climate' data-scroll-index='3'>
  <div class='inner'>
    <ul>
      <% if @country['carbon_stocks'].present? && @country['carbon_stocks'] != 0 %>
        <li class='<%= 'wide' unless @country['emissions'].present? && @country['emissions'] != 0 %>'>
          <h3 class='section-subtitle'><a href='#' class='info' data-source='carbon_stocks'><i></i></a> Carbon stocks</h3>
          <h2 class='section-title'>This country has <span><%= number_with_delimiter(@country['carbon_stocks']) %> million<br />metric tons of carbon stocks</span> in living forest biomass.</h2>
        </li>
      <% end %>

      <% if @country['emissions'].present? && @country['emissions'] != 0 %>
        <li class='<%= 'wide' unless @country['carbon_stocks'].present? && @country['carbon_stocks'] != 0 %> last'>
          <h3 class='section-subtitle'><a href='#' class='info' data-source='emissions'><i class='dark'></i></a> GHG emissions</h3>

          <% precission = (@country['emissions'].abs.to_i < 0.1) ? 2 : 1 %>

          <% if @country['emissions'] > 0 %>
            <h2 class='section-title'>According to FAO data, <span><%= number_to_percentage(@country['emissions'], precision: precission) %> of GHG emissions</span> in this country came from land-use change and forestry in 2010.</h2>
          <% else %>
            <h2 class='section-title'>According to FAO data, land-use change and forestry sequestered <span><%= number_to_percentage(@country['emissions'].abs, precision: precission) %> of this country’s GHG emissions</span> in 2010.</h2>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<section class='section country_conventions' data-scroll-index='4'>
  <div class='inner'>
    <h3 class='section-subtitle'><a href='#' class='info' data-source='conventions'><i></i></a>Conventions</h3>

    <% conventions = ['cbd', 'unfccc', 'kyoto', 'unccd', 'itta', 'cites', 'ramsar', 'world_heritage', 'nlbi', 'ilo'] %>

    <ul>
      <% conventions.each do |convention| %>
        <% if @country["convention_#{convention}"].present? %>
          <li class='<%= convention %>'><%= t('.conventions.'+convention+'_title_html') %>
            <span><%= @country["convention_#{convention}"] %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>

<% if @country['ministry_link'].present? || @country['external_links'].present? %>
  <section class='section country_external_links'>
    <div class='inner'>
      <h3 class='section-subtitle'>External links</h3>

      <ul>
        <% if @country['ministry_link'].present? %>
          <li><a href='<%= @country['ministry_link'] %>' target='_blank'><%= t('.ministry_link') %></a></li>
        <% end %>

        <% if @country['external_links'].present? %>
          <% JSON.parse(@country['external_links']).each do |link| %>
            <li><%= link_to link['title'], link['url'] %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>

<section class='section country_download_links'>
  <div class='inner'>
    <ul>
      <li><a href='<%= map_coords %>'>Subscribe to alerts for this country</a></li>
      <% if @country['dataset_link'] %>
        <li><%= link_to 'Download relevant datasets', sources_path %></li>
      <% else %>
        <li><span>No datasets for this country</span></li>
      <% end %>
    </ul>
  </div>
</section>

<section class='section section_dark country_blog'>
  <div class='inner'>
    <h2 class='section-title'><%= t('.country_blog.title', :country => @country['name'].titleize) %></h2>

    <ul class='columns'>
      <li class='column three first'>
        <% unless @blog_story.nil? %>
          <strong class='column-title'>Blog stories</strong>
          <h3 class='story-title'><%= truncate(@blog_story['title'], :length => 35) %></h3>
          <p class='story-content'><%= truncate(@blog_story['description'].gsub('[&#8230;]', ''), :length => 300) %> <%= link_to('more', @blog_story['link'], :target => '_blank') %></p>
          <p>Read more blog stories <a href='<%= "http://blog.globalforestwatch.org/?tag=#{@country['name'].downcase.gsub(' ', '_')}" %>'>here</a></p>
        <% end %>
      </li>

      <li class='column three round <%= @country['related_story'].present? ? '' : 'no_story' %>'>
        <strong class='column-title'>User stories</strong>
        <% if @country['related_story'].present? %>
          <a href='<%= story_path(@country['related_story']['id']) %>'>
            <%= image_tag story_image_or_map(@country['related_story']['thumbnail_url'], @country['related_story']['coordinates']), :alt => story['title'] %>
            <div class='gradient'></div>
            <div class='frame'></div>
            <div class='title'>
              <strong><%= @country['related_story']['title'] %></strong>
              <span><%= t('.home_stories.featured.read_more') %></span>
            </div>
          </a>
        <% else %>
          <a href='<%= new_story_path %>' class='nostory'>
            <div class='gradient'></div>
            <div class='frame'></div>
            <div class='title'>
              <strong>No stories for this country yet.</strong>
              <span>Add one</span>
            </div>
          </a>
        <% end %>
        <p>See more on the <%= link_to 'map', "#{map_path}/3/15.00/27.00/ALL/580", :class => 'inline' %></p>
      </li>

      <li class='column three last'>
        <% if @mongabay_story.present? %>
          <strong class='column-title'>Mongabay stories</strong>
          <h3 class='story-title'><%= truncate(@mongabay_story[0]['title'], :length => 35) %></h3>
          <p class='story-content'><%= truncate(@mongabay_story[0]['description'], :length => 300) %> <%= link_to('more', @mongabay_story[0]['loc'], :target => '_blank') %></p>
          <p>See more on the <%= link_to 'map', "#{map_path}/3/15.00/27.00/ALL/586" %></p>
        <% end %>
      </li>
    </ul>
  </div>
</section>

<section class='section country_comments'>
  <div class='inner'>
    <div id='disqus_thread'></div>
    <script type='text/javascript'>
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gfw20'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href='http://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript>
  </div>
</section>

<div id='sources' class='sources'>
  <%= render 'shared/countries' %>
  <%= render 'shared/sources' %>
</div>
