{{!-- BACKDROP --}}
<div class="modal-backdrop"></div>
{{!-- WINDOW --}}
<div class="modal-window">
  <a href="#" class="modal-close">
    <svg><use xlink:href="#shape-close"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark {{#if footer}}has-footer{{/if}}">
    <div class="modal-content">
      <div class='modal-source'>

        <h2 class='modal-title'>{{{title}}}</h2>
        {{#if subtitle}}<h3 class="modal-subtitle">{{{subtitle}}}</h3>{{/if}}

        <div class="modal-table">
          {{#if function}}
            <dl class='modal-row'>
              <dt>Function</dt>
              <dd>
                {{{function}}}
                {{#if translated_function}}
                  <div class="is-italic">
                    {{{translated_function}}}
                  </div>
                {{/if}}
              </dd>
            </dl>
          {{/if}}
          {{#if resolution}}
            <dl class='modal-row'>
              <dt>RESOLUTION / SCALE</dt>
              <dd>{{{resolution}}}</dd>
            </dl>
          {{/if}}
          {{#if geographic_coverage}}
            <dl class='modal-row'>
              <dt>Geographic coverage</dt>
              <dd>{{{geographic_coverage}}}</dd>
            </dl>
          {{/if}}
          {{#if source}}
            <dl class='modal-row'>
              <dt>Source</dt>
              <dd>{{{source}}}</dd>
            </dl>
          {{/if}}
          {{#if frequency_of_updates}}
            <dl class='modal-row'>
              <dt>Frequency of updates</dt>
              <dd>{{{frequency_of_updates}}}</dd>
            </dl>
          {{/if}}
          {{#if date_of_content}}
            <dl class='modal-row'>
              <dt>Date of content</dt>
              <dd>{{{date_of_content}}}</dd>
            </dl>
          {{/if}}
          {{#if cautions}}
            <dl class='modal-row'>
              <dt>Cautions</dt>
              <dd>{{{cautions}}}</dd>
            </dl>
          {{/if}}
          {{#if license}}
            <dl class='modal-row'>
              <dt>License</dt>
              <dd>{{{license}}}</dd>
            </dl>
          {{/if}}
        </div>

        {{#if overview}}
          <div class="modal-overview">
            <h3>Overview</h3>
            {{{overview}}}
          </div>
        {{/if}}

        {{#if translated_overview}}
          <div class="modal-overview is-italic">
            <h3>Descripción</h3>
            {{{translated_overview}}}
          </div>
        {{/if}}

        {{#if citation}}
          <div class="modal-credits">
            <h3>Citation:</h3>
            {{{citation}}}
          </div>
        {{/if}}

        {{#if learn_more}}
          <div class="modal-overview">
            <div class="m-btncontainer is-center">
              <a class="btn gray uppercase" href="{{learn_more}}" target="_blank">Learn more</a>
            </div>
          </div>
        {{/if}}

      </div>
    </div>
    {{#if footer}}
      <div class="modal-footer">
        <div class="m-btncontainer is-center">
          {{#if download_data}}
            <a href="{{download_data}}" target="_blank" class="btn little green uppercase download-mobile-link">Download data</a>
          {{/if}}
          {{#if open_in_arcgis}}
            <a href="{{open_in_arcgis}}" target="_blank" class="btn little green uppercase download-mobile-link">Open in ArcGIS</a>
          {{/if}}
          {{#if open_in_carto}}
            <a href="{{open_in_carto}}" target="_blank" class="btn little green uppercase download-mobile-link">Open in Cartodb</a>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
