<div class='source-item'>
  <div class='source_header'>
    <strong class='source_title'>{{{title}}}</strong>
    <i class='expand_arrow'></i>
    <em class='source_description'>(We don't receive it from the API)</em>
  </div>

  <div class='source_body'>

    <div class='source_table'>
      <dl class='sources_row'>
        <dt>Function</dt>
        <dd>{{{function_}}}</dd>
      </dl>
      <dl class='sources_row even'>
        <dt>RESOLUTION / SCALE</dt>
        <dd>{{{resolution}}}</dd>
      </dl>
      <dl class='sources_row'>
        <dt>Geographic coverage</dt>
        <dd>{{{geographic_coverage}}}</dd>
      </dl>
      <dl class='sources_row even'>
        <dt>Source data</dt>
        <dd>{{{source}}} I'm not entirely sure if this field is correct</dd>
      </dl>
      <dl class='sources_row'>
        <dt>Frequency of updates</dt>
        <dd>{{{frequency_of_updates}}}</dd>
      </dl>
      <dl class='sources_row even'>
        <dt>Date of content</dt>
        <dd>{{{date_of_content}}}</dd>
      </dl>
      <dl class='sources_row'>
        <dt>Tree cover canopy density</dt>
        <dd>(We don't receive it from the API)</dd>
      </dl>
      <dl class='sources_row even'>
        <dt>Cautions</dt>
        <dd>{{{cautions}}}</dd>
      </dl>
    </div>

    <div class='source_summary'>
      <h3 class='overview_title'>Overview</h3>
      {{{overview}}}
      <div class="credits">
        <strong>Citation:</strong>
        {{{citation}}}
      </div>
      <p class='read_more hidden'>
        (We don't receive it from the API)
        {{!-- <em><%= link_to 'Learn more or download data', "http://earthenginepartners.appspot.com/science-2013-global-forest/download_v1.2.html", :class => 'download-mobile-link' %></em> --}}
      </p>
    </div>
  </div>
</div>
