<%
  outcomes = [
    {
      "img" => "",
      "paragraph" => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id posuere diam, accumsan.",
      "url" => ""
    },
    {
      "img" => "",
      "paragraph" => "Morbi mauris tortor, sodales vitae ultrices vel, ultricies at mi. In quis quam in nisl lacinia.",
      "url" => ""
    },
    {
      "img" => "",
      "paragraph" => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id posuere diam, accumsan.",
      "url" => ""
    },
    {
      "img" => "",
      "paragraph" => "Morbi mauris tortor, sodales vitae ultrices vel, ultricies at mi. In quis quam in nisl lacinia.",
      "url" => ""
    }
  ]
%>

<div class="c-about-outcomes">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-about-outcomes__title text -title-xs -color-3">OUTCOMES AND TESTIMONIALS</div>
      <div class="slider js_slider">
        <div class="frame js_frame">
          <ul class="slides js_slides">
            <% outcomes.each_with_index do |item, index| %>
              <li class="slide js_slide <% if index == 0 %>active<% end %>">
                <div class="c-about-outcomes-item">
                  <div class="c-about-outcomes-item__image"></div>
                  <div class="c-about-outcomes-item__paragraph text -paragraph -color-2"><%= item['paragraph'] %></div>
                  <div class="c-about-outcomes-item__button">
                    <%= render 'shared/buttons/regular', text: 'READ MORE', color: 'green', url: item['url'] %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="c-about-outcomes__arrow-button -left -hidden js_slide_prev">
            <%= render 'shared/buttons/arrow', orientation: 'left' %>
          </div>
          <div class="c-about-outcomes__arrow-button -right js_slide_next">
            <%= render 'shared/buttons/arrow', orientation: 'right' %>
          </div>
        </div>
        <div class="c-about-outcomes__slider-dots js_slider_dots">
          <%= render 'shared/slider_dots', count: outcomes.size, color: 'green' %>
        </div>
      </div>
    </div>
  </div>
</div>
