<%= content_for :head do %>
  <%= render 'shared/icons' %>
  <%= controller_stylesheet_link_tag %>
<% end %>

<%= requirejs_include_tag 'about' %>
<%= render 'shared/js_config' %>
<%= render 'shared/icons/svg_icons_about' %>
<%= render 'shared/icons/svg_icons_social' %>
<div id="about-page"></div>
