<div class="widget-box mod-legend">
  <div class="widget-toggle"></div>
  <div class="widget-content">

    <div class="widget-closed">
      <span class="layers-count">{{layersLength}}</span> layers
    </div>

    <div class="widget-opened">
      <ul class="categories">
        {{#each categories}}
          <li class="category">
            {{#each this}}
              {{#if @first}}
                <span class="category-name" style="color: {{this.category_color}};">{{this.category_name}}</span>
              {{/if}}
            {{/each}}
            <ul class="layers">
              {{#each this}}
                <li class="layer">
                  <span class="layer-name">
                    <i class="circle" style="color:{{this.title_color}};"></i>{{this.title}}
                    {{#if this.source}}
                    <a href='#' data-source='{{this.source}}' class='source'></a>
                    {{/if}}
                  </span>
                  {{#if this.detailsTpl}}
                    {{{this.detailsTpl}}}
                  {{/if}}
                  {{#if this.sublayer}}
                    <div class="layer-sublayer" data-sublayer="{{this.sublayer}}">
                      <span class="onoffswitch"><span></span></span>
                      <div class="sublayer-title">Geographic coverage</div>
                    </div>
                  {{/if}}
                </li> {{!-- /layer --}}
              {{/each}}
            </ul>  {{!-- /layers --}}
          </li> {{!-- /category --}}
        {{/each}}
      </ul> {{!-- /categories --}}
    </div>
  </div>
</div>
