<ul class="categories">
  {{#each categories}}
    <li class="category {{#if this.closed}}closed{{/if}}">
      {{#each this}}
        {{#if @first}}
          <span data-category_slug="{{this.category_slug}}" class="category-name" style="color: {{this.category_color}}; border-color: {{this.category_color}};">
            {{this.category_name}}
            <em>({{../../layers_length}})</em>
          </span>
        {{/if}}
      {{/each}}
      <ul class="layers {{#if this.closed}}closed{{/if}}">
        {{#each this}}
          <li class="layer">
            <span class="layer-name">
              <i class="circle" style="color:{{this.title_color}};"></i>{{this.title}}
              {{#if this.source}}
              <a href='#' data-source='{{this.source}}' class='source'></a>
              {{/if}}
            </span>
            {{#if this.detailsTpl}}
              {{{this.detailsTpl}}}
            {{/if}}
            {{#if this.sublayer}}
              <div class="layer-sublayer" data-sublayer="{{this.sublayer}}">
                <span class="onoffswitch"><span></span></span>
                <div class="sublayer-title">Geographic coverage</div>
              </div>
            {{/if}}
          </li> {{!-- /layer --}}
        {{/each}}
      </ul>  {{!-- /layers --}}
    </li> {{!-- /category --}}
  {{/each}}
</ul> {{!-- /categories --}}
