{{!-- BACKDROP --}}
<div class="modal-backdrop"></div>
{{!-- WINDOW --}}
<div class="modal-window">
  <a href="#" class="modal-close">
    <svg><use xlink:href="#shape-close"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark -no-scroll">
    <div class="modal-content -compact">
      <div id="modal-loader-subcribe" class="m-spinner">
        <div class="spinner-box">
          <div class="icon"></div>
        </div>
      </div>

      <div class="modal-subscribe">
        {{#if loggedIn}}
          <div class="steps current">
            <header>
              <h2>Forest change alerts</h2>
            </header>
            <p>Select the forest change alerts you would like to receive</p>
            <div id="subscription-datasets"></div>
          </div>
        {{else}}
          <div class="steps current">
            <header>
              <h2>You need to be logged in to save your subscriptions</h2>
              <h3>
                Log in is required so you can return to Global Forest Watch
                to view, manage, and delete your subscriptions.
                Questions? <a class="contact-link" href="mailto:gfw@wri.org">Contact us</a>.
              </h3>
            </header>

            <ul class="subscription-authentication">
              <li>
                <a href="{{this.apiHost}}/auth/twitter?applications=gfw" class="-twitter">
                  <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
                  Log in with Twitter
                </a>
              </li>

              <li>
                <a href="{{this.apiHost}}/auth/facebook?applications=gfw" class="-facebook">
                  <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
                  Log in with Facebook
                </a>
              </li>

              <li>
                <a href="{{this.apiHost}}/auth/google?applications=gfw" class="-google">
                  <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-googleplus"></use></svg>
                  Log in with Google
                </a>
              </li>
            </ul>
          </div>
        {{/if}}

        <div class="steps">
          <header>
            <h2>Subscribe to alerts</h2>
            <p>
              {{#if dataset}}
                Enter your email below to receive an email notification when
                there are new <strong>{{dataset}}</strong> available for this area.
              {{else}}
                Enter your email below to subscribe to this area.
              {{/if}}
            </p>
          </header>

            <ul class="m-tabs">
              <div class="tabs">
                <div class="tab">
                  <input type="radio" name="tabs" id="tab1" checked />
                  <label for="tab1" tabindex="0">E-mail</label>
                  <div id="tab-content1" class="tab-content">
                    <input class="field" type="email" id="subscriptionEmail" placeholder="Enter your email" value="{{email}}">
                  </div>
                </div>
                <div class="tab">
                  <input type="radio" name="tabs" id="tab2" />
                  <label for="tab2">URL (Webhook) <a href="#" class="source" data-source="webhook_description"><svg><use xlink:href="#shape-info"></use></svg></a></label>
                  <div id="tab-content2" class="tab-content">
                    <input class="field" type="text" id="subscriptionUrl" placeholder="Enter your url" value="{{url}}">
                    <p>
                      <a href="#" class="source" data-static="true" data-source="webhook">Preview of payload</a>
                      <a href="#" class="js-test-webhook test-webhook">
                        <span class="webhook-text">Test webhook</span>
                        <span class="webhook-loader"></span>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </ul>
            <div class="m-btncontainer is-space-between">
              <button class="btn medium green uppercase js-subscribe-back">Back</button>
              <button class="btn medium green uppercase" id="showName">Next</button>
            </div>
        </div>

        <div class="steps">
          <header>
            <h2>Name your subscription</h2>
          </header>

          <div class="field -default -medium">
            <label for="name">Name *</label>
            <input type="text" id="subscriptionName" placeholder="Area name">
          </div>

          <div class="field -default -little">
            <label for="subscriptionLanguage">Receive alert emails in...</label>
            <div class="m-select">
              <select data-placeholder="Select language" class="chosen-select default notranslate" id="subscriptionLanguage">
                {{#each languages}}
                  <option value="{{key}}" {{selected}}>{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="m-btncontainer is-space-between">
            <button class="btn medium green uppercase js-subscribe-back">Back</button>
            <button class="btn medium green uppercase" id="subscribe">Save</button>
          </div>
        </div>

        <div class="steps">
          <header>
            <h2>Subscription saved</h2>
          </header>

          <div class="successful"></div>

          <p>
            This subscription has been added to your profile. <strong>Please
            check your email and click on the link to confirm your
            subscription.</strong> Visit your
            <a href="/my_gfw/subscriptions">saved subscriptions<a/> to manage
            them.
          </p>
          <div class="m-btncontainer is-center">
            <a href="/contribute-data" target="_blank" class="btn medium gray uppercase">Add this data to the map</a>
            <button class="btn medium green uppercase" id="returnToMap">Return to map</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
