<% countries = [

  { :title => "Brazil", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months" },
  { :title => "Cameroon", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months" },
  { :title => "Malasya", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months" },
  { :title => "India", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months" },
  { :title => "Indonesia", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months" },
  { :title => "Angola", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Bolivia", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Congo", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Guyana", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Ivory Coast", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Kenya", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Laos", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Nepal", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Paraguay", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Peru", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Venezuela", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled },
  { :title => "Vietnam", :amount => "19,312", :caption => "Forest Clearing Alerts in the last 6 months", :class => :disabled }

] %>

<div id="countries">
  <% countries.each do |country| %>
    <div class="country <%= country[:title].downcase.gsub(" ", "_") %> <%= country[:class] %>">
      <% if country[:class] != :disabled %>
        <a href="/countries/show">
        <% end %>
        <div class="icon"></div>
        <div class="content"><h4><%= country[:title] %></h4> <strong><%= country[:amount] %></strong> <%= country[:caption] %></div>
        <% if country[:class] != "disabled" %>
        </a>
      <% end %>
    </div>
  <% end %>
  <div class="select"></div>
</div>
