<div class="inner">
  <ul class="filters hidden">
    <li class="concessions">

    <div class="icon"></div>
    <%= link_to t('.map.filters.concessions') %>
    <div class="line"></div>

    </li><li class="protected-areas">

    <div class="icon"></div>
    <%= link_to t('.map.filters.protected_areas') %>
    <div class="line"></div>

    </li><li class="intact-forest">

    <div class="icon"></div>
    <%= link_to t('.map.filters.intact_forest') %>
    <div class="line"></div>

    </li><li class="mining">

    <div class="icon"></div>
    <%= link_to t('.map.filters.mining') %>
    <div class="line"></div>

    </li><li class="forest-cover">

    <div class="icon"></div>
    <%= link_to t('.map.filters.forest_cover') %>
    <div class="line"></div>

    </li><li class="forest">

    <div class="icon"></div>
    <%= link_to t('.map.filters.forest') %>
    <div class="line"></div>

    </li><li class="fire">

    <div class="icon"></div>
    <%= link_to t('.map.filters.fire') %>
    <div class="line"></div>

    </li><li class="carbon">

    <div class="icon"></div>
    <%= link_to t('.map.filters.carbon') %>
    <div class="line"></div>

    </li><li class="biodiversity">

    <div class="icon"></div>
    <%= link_to t('.map.filters.biodiversity') %>
    <div class="line"></div>

    <%= link_to t('.concessions') %>
    <div class="icon"></div><div class="line"></div>

    </li><li class="protected-areas">

    <%= link_to t('.protected_areas') %>
    <div class="icon"></div><div class="line"></div>

    </li><li class="intact-forest">

    <%= link_to t('.intact_forest') %>
    <div class="icon"></div><div class="line"></div>

    </li><li class="mining">

    <%= link_to t('.mining') %>
    <div class="icon"></div><div class="line"></div>

    </li><li class="forest-cover">

    <%= link_to t('.forest_cover') %>
    <div class="icon"></div><div class="line"></div>

    </li><li class="forest">

    <%= link_to t('.forest') %>
    <div class="icon"></div><div class="line"></div>

    </li><li class="fire">

    <%= link_to t('.fire') %>
    <div class="icon"></div><div class="line"></div>

    </li><li class="carbon">

    <%= link_to t('.carbon') %>
    <div class="icon"></div><div class="line"></div>

    </li><li class="biodiversity">

    <%= link_to t('.biodiversity') %>
    <div class="icon"></div><div class="line"></div>

    </li>
  </ul>
</div>
