<div class="filters hidden">
  <div class="inner">
    <ul>
      <li class="concessions">
      <div class="icon"></div>
      <%= link_to t('.map.filters.concessions') %>
      <div class="line"></div>
      <div class="box"></div>
      </li>

      <li class="protected-areas">
      <div class="icon"></div>
      <%= link_to t('.map.filters.protected_areas') %>
      <div class="line"></div>
      </li>

      <li class="intact-forest">
      <div class="icon"></div>
      <%= link_to t('.map.filters.intact_forest') %>
      <div class="line"></div>
      </li>

      <li class="mining">
      <div class="icon"></div>
      <%= link_to t('.map.filters.mining') %>
      <div class="line"></div>
      </li>

      <li class="forest-cover">
      <div class="icon"></div>
      <%= link_to t('.map.filters.forest_cover') %>
      <div class="line"></div>
      </li>

      <li class="forest">
      <div class="icon"></div>
      <%= link_to t('.map.filters.forest') %>
      <div class="line"></div>
      </li>

      <li class="fire">
      <div class="icon"></div>
      <%= link_to t('.map.filters.fire') %>
      <div class="line"></div>
      </li>

      <li class="carbon">
      <div class="icon"></div>
      <%= link_to t('.map.filters.carbon') %>
      <div class="line"></div>
      </li>


      <!-- Extra -->

      <li class="forest">
      <div class="icon"></div>
      <%= link_to t('.map.filters.forest') %>
      <div class="line"></div>
      </li>

      <li class="fire">
      <div class="icon"></div>
      <%= link_to t('.map.filters.fire') %>
      <div class="line"></div>
      </li>

      <li class="carbon">
      <div class="icon"></div>
      <%= link_to t('.map.filters.carbon') %>
      <div class="line"></div>
      </li>

      <li class="forest">
      <div class="icon"></div>
      <%= link_to t('.map.filters.forest') %>
      <div class="line"></div>
      </li>

      <li class="fire">
      <div class="icon"></div>
      <%= link_to t('.map.filters.fire') %>
      <div class="line"></div>
      </li>

      <li class="carbon">
      <div class="icon"></div>
      <%= link_to t('.map.filters.carbon') %>
      <div class="line"></div>
      </li>
      <li class="forest">
      <div class="icon"></div>
      <%= link_to t('.map.filters.forest') %>
      <div class="line"></div>
      </li>

      <li class="fire">
      <div class="icon"></div>
      <%= link_to t('.map.filters.fire') %>
      <div class="line"></div>
      </li>

      <li class="carbon">
      <div class="icon"></div>
      <%= link_to t('.map.filters.carbon') %>
      <div class="line"></div>
      </li>

      <li class="forest">
      <div class="icon"></div>
      <%= link_to t('.map.filters.forest') %>
      <div class="line"></div>
      </li>

      <li class="fire">
      <div class="icon"></div>
      <%= link_to t('.map.filters.fire') %>
      <div class="line"></div>
      </li>

      <li class="carbon">
      <div class="icon"></div>
      <%= link_to t('.map.filters.carbon') %>
      <div class="line"></div>
      </li>
    </ul>
  </div>


  <a href="#" class="advance"></a>
  <div class="white-shadow"></div>
</div>
