<footer>

<div class="links">
  
  <div class="inner">

    <div class="global_share">
      <p>Spread the word. <strong>Share Global Forest Watch.</strong></p>
      
      <div class="share_buttons">
        <div id="fb-root"></div>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-href="<%= "#{request.protocol}#{request.host}" %>" data-show-faces="false"></div>
        <a href="http://twitter.com/share" target="_blank" class="twitter-share-button" data-url="<%= "#{request.protocol}#{request.host}" %>" data-text="Global Forest Watch 2.0 · ">Tweet</a>
      </div>

    </div>

    <div class="partners">
      <p>A partnership of</p>
      <%= link_to "", 'http://www.wri.org', :class => 'wri' %>
      <%= link_to "", 'http://earthengine.google.org/', :class => 'google' %>
      <%= link_to "", 'http://www.cgdev.org/', :class => 'cfgd' %>
      <%= link_to "", 'http://www.geog.umd.edu/', :class => 'university_maryland' %>
      <%= link_to "", 'http://www.imazon.org.br/pagina-inicial-en?set_language=en&cl=en', :class => 'imazon' %>
      <%= link_to "", 'http://www.unep.org/', :class => 'unep' %>
      <%= link_to "", 'http://www.esri.com/', :class => 'esri' %>
    </div>

    <div class="wri">
      <p>A strategic initiative of</p>
      <%= link_to "", 'http://www.wri.org', :class => 'wri' %>
      <address>
        10 G Street NE Suite 800, Washington, DC 20002, USA<br/>
        <br/>
        Phone +1 (202) 729-7600<br/>
        Fax +1 (202) 729-7610
      </address>
    </div>

  </div>
</div>
</footer>