<script src="http://wri.org/wri-global-nav/wri-nav.js"></script>

<header>

<div class="top">

  <a id="feedback" href="https://www.surveymonkey.com/s/gfw2" target="_blank">Take the user survey</a>

  <div class="top_bar"></div>

  <span class="header_separator"></span>

  <div class="inner">
    <a href="/" class="logo">Global Forest Watch</a>
  </div>
</div>


<div class="inner">

  <hgroup>
    <h1 class="title"><%= yield :title %></h1>
    <h1 class="splash_title"><%= yield :splash_title %></h1>
  </hgroup>

  <%= yield :inner_header %>

  <% if controller_name == "home" %>

  <ul class="big_numbers">
    <li>
      <span class="number"><%= number_with_delimiter @alerts_count %></span>
      <p>alerts in the past year</p>
    </li>
    <li class="last">
      <span class="number"><%= @featured.count %></span>
      <p>new forest stories</p>
    </li>
  </ul>

  <% end %>

  <%= render "common/nav" %>


</div>

</header>
