<header>
<div class="top">
  <div class="inner">
    <%= link_to "", '', :class => :logo %>
    <%= link_to t('layouts.application.header.other_wri_sites'), {}, :class => :selector %>
  </div>
</div>
<div class="inner">
  <hgroup>
  <%= content_tag :h2, (link_to 'Global Forest Watch 2.0') %>
  <h1><%= yield :title %></h1>
  </hgroup>
  <%= render "common/nav" %>
</div>
</header>
