<div id="map-container">
  <div class="draw hidden">
    <%= link_to t('.draw_area'), '#', :class => 'draw-area' %>
    <%= form_for :area, :url => areas_path, :html => { :method => :post, :class => 'save-area' } do |f| %>
      <%= f.hidden_field :the_geom %>
      <%= f.email_field :email, :placeholder => 'Email' %>
      <%= f.submit t('.save_area') %>
    <% end -%>
  </div>

  <div id="viewfinder"></div>
  <div id="zoom_controls"></div>
  <div class="coordinates map_coordinates"></div>
  <div id="map" class="map"></div>
</div>
