<div id="map-container">
  <div class="draw hidden">
    <%= link_to t('.draw_area'), '#', :class => 'draw-area' %>
    <%= form_for :area, :url => areas_path, :html => { :method => :post, :class => 'save-area' } do |f| %>
      <%= f.hidden_field :the_geom %>
      <%= f.email_field :email, :placeholder => 'Email' %>
      <%= f.submit t('.save_area') %>
    <% end -%>
  </div>

  <div id="zoom_controls"></div>
  <div id="map" class="map"></div>

  <div class="cartodb-logo" style="position:absolute; bottom:0; left:65px; display:block; border:none; z-index:1000000;">
    <a href="http://www.cartodb.com" target="_blank">
      <img width="71" height="29" src="http://cartodb.s3.amazonaws.com/static/new_logo.png" style="position:absolute; bottom:8px; left:8px; display:block; width:71px!important; height:29px!important; border:none; outline:none;" alt="CartoDB" title="CartoDB">
    </a>
  </div>
</div>
