<div id="map-container">

  <%= render "common/filters" %>

  <div class="timeline hidden">
    <div class="inner">
      <ul class="years">
        <li><a href="#">2006</a></li>
        <li><a href="#">2007</a></li>
        <li><a href="#">2008</a></li>
        <li><a href="#">2009</a></li>
        <li><a href="#">2010</a></li>
        <li><a href="#">2011</a></li>
        <li><a href="#">2012</a></li>
        <li class="disabled"><a href="#">2013</a></li>
      </ul>

      <div class="constraint_handler">
        <div class="handle">
          <a href="#" class="play"></a>
          <div><strong>JAN</strong> 2006</div>
        </div>
      </div>

    </div>
  </div>

  <div class="draw hidden">
    <%= link_to t('.draw_area'), '#', :class => 'draw-area' %>
    <%= form_for :area, :url => areas_path, :html => {:method => :post, :class => 'save-area'} do |f| %>
      <%= f.hidden_field :the_geom %>
      <%= f.email_field :email, :placeholder => 'Email' %>
      <%= f.submit t('.save_area') %>
    <% end -%>
  </div>

  <div id="type_controls">
    <a class="left selected terrain" href="#"><span>Map</span></a>
    <a class="right satellite" href="#"><span>Satellite</span></a>
  </div>

  <div id="zoom_controls"></div>
  <div id="map" class="map"></div>
</div>
