<nav>
<%= link_to 'Global Forest Watch 2.0' %>
<ul>
  <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.home'))), "#", :class => :selected %></li>
  <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.countries'))) %></li>
  <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.map'))) %></li>
  <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.blog'))) %></li>
  <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.data_sources'))) %></li>
  <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.about'))) %></li>
</ul>
</nav>
