<div class="more_stories">
  <div class="inner">
    <h1>Stories reported by users</h1>
    <p>
    <%= link_to('Browse user stories in our map', map_path) %> or <%= link_to('submit yours', new_story_path) %>. People are a key factor in forest clearing detection.
    </p>

    <ul>
      <% @stories.each do |story| %>
        <li>
        <%= link_to image_tag(story_image_or_map(story.thumbnail_url, story.coords)), story_path(story.id), :class => :frame %>
        <%= show_exclamation?(story) %>

        <div class="infowindow">
          <strong><%= link_to truncate(story.title, :length => 20, :length => 25), story_path(story.id) %></strong>
          <span>Submitted by <%= story.your_name %></span>
          <div class="tip"></div>
        </div>

        </li>
      <% end %>
    </ul>

    <hr />

    <%= link_to (content_tag :span, 'Submit your story'), new_story_path, :class => "btn green darker_glow" %>

  </div>
</div>
