<%= render 'layouts/svg_icons' %>
<%= render 'shared/svg_icons_map' %>

<header class="embed-header">
  <h1><a href="http://www.globalforestwatch.org/" target="_blank">Global Forest Watch</a></h1>
</header>

<div class="layout-content">
  <%= render 'shared/map' %>
</div>

<div id="sources" class='sources notranslate is-hidden'>
  <%= render 'shared/sources_map' %>
</div>

<%= render "shared/js_footer" %>

<script>
  if (! !!window.gfw) {
    var gfw = window.gfw = {
      config: {
        GFW_API_HOST: "<%= ENV['GFW_API_HOST'] %>",
        GFW_MOBILE: 1000
      },
      cacheVersion: "<%= ENV['CACHE_VERSION'] %>",
      layer_spec: "<%= ENV['LAYER_SPEC'] %>"
    };
  }
</script>
