<header class="embed-header">
  <h1><a href="http://www.globalforestwatch.org/" target="_blank">Global Forest Watch</a></h1>
</header>

<% content_for :head do %>
  <%= render 'shared/google_carto' %>
  <!-- render react app pack -->
  <%= render 'shared/leaflet' %>
  <%= javascript_entrypoint_pack_tag 'map' %>
  <% if @is_production %>
    <%= stylesheet_entrypoint_pack_tag 'map' %>
  <% end %>
<% end %>

<% content_for :header do %>
  <div class="layout-header-bottom" id="layers-options">
  	<div class="inner">
      <nav id="layers-menu" class="layers-menu"></nav>
  	</div>
  </div>
  <div class="layout-share-mobile">
    <a href="#" class="share-link" data-hideembed="1"><svg><use xlink:href="#shape-share"></use></svg></a>
    <% if content_for?(:headerMobile) %>
      <%= yield :headerMobile %>
    <% end %>
  </div>
<% end %>

<%= render 'shared/map' %>
<%= render 'shared/modal' %>
<%= render 'shared/notifications' %>

<div id="app-root"></div>

<%= render 'shared/icons/svg_icons_map' %>
<%= render 'shared/icons/svg_icons_applications' %>
<%= render 'shared/icons/svg_icons_layers' %>
<%= render 'shared/icons/svg_icons_country' %>

<div class="backdrop"></div>

<div id="sources" class='sources notranslate is-hidden'>
  <%= render 'shared/sources_map' %>
</div>

<div id="footerFixed" class="footer-fixed">
  <div class="footer-fixed-container">
    <%= render "shared/footer_landing" %>
  </div>
</div>
<div class="mini-modal download-modal"></div>

<script src="//www.google-analytics.com/cx/api.js"></script>
<%= render "shared/js_footer" %>
