<% content_for :header do %>
  <h1><a href="/">Global Forest Watch</a></h1>

  <nav id="nav-mobile">
    <form class="mobile-show" action="/search">
      <svg class="icon"><use xlink:href="#shape-search"></use></svg>
      <input type="text" name="query" id="search-input" placeholder="Search GFW website">
    </form>
    <div id="google_translate_element_box2"></div>
    <div id="mobileMenu"></div>
  </nav>
  <nav class="layers-menu">
    
  </nav>


<% end %>

<%= render 'layouts/svg_icons' %>

<%#= render "shared/notice" %>
<%= render "shared/header_landing" %>

<div class="layout-content">
  <%= render 'shared/map' %>
</div>

<div id="sources" class='sources notranslate is-hidden'>
  <%= render 'shared/sources_map' %>
</div>
<%= render 'sources_infowindow' %>

<div id="footerFixed" class="footer-fixed">
  <div class="footer-fixed-container">
    <%= render "shared/footer_landing" %>
  </div>
</div>

