<% content_for :header do %>
  <h1><a href="/">Global Forest Watch</a></h1>

  <nav class="layers-menu"></nav>
<% end %>

<%= render 'layouts/svg_icons' %>

<%#= render "shared/notice" %>
<%= render "shared/header_landing" %>

<div class="layout-content">
  <%= render 'shared/map' %>
</div>

<div id="sources" class='sources notranslate is-hidden'>
  <%= render 'shared/sources_map' %>
</div>
<%= render 'sources_infowindow' %>
