<% content_for :header do %>
  <h1><a href="/">Global Forest Watch</a></h1>

  <nav id="layers-menu" class="layers-menu">

  </nav>


<% end %>

<%= render 'shared/svg_icons' %>
<%= render 'shared/svg_icons_map' %>
<%= render 'shared/svg_icons_applications' %>
<%= render 'shared/svg_icons_layers' %>
<%= render 'shared/svg_icons_country' %>

<%#= render "shared/notice" %>
<%= render "shared/header_landing" %>

<div class="layout-content">
  <%= render 'shared/map' %>
</div>

<div id="sources" class='sources notranslate is-hidden'>
  <%= render 'shared/sources_map' %>
</div>

<div id="footerFixed" class="footer-fixed">
  <div class="footer-fixed-container">
    <%= render "shared/footer_landing" %>
  </div>
</div>
<div class="mini-modal download-modal"></div>
