<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Global Forest Watch</title>
  <meta name="description" content="Global Forest Watch (GFW) is a partnership that provides the most current, reliable, and actionable information about what is happening in forests worldwide.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">

  <!-- TODO: metas -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="DC.title" content="">
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:type" content="Visualization"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>

  <meta name="google-translate-customization" content="a45cf8584243ba0e-f48b15cdb6a3ab9b-gd8c738d3a7ff42de-11"></meta>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= controller_stylesheet_link_tag %>
  <%= javascript_include_tag "modernizr-2.6.2.min" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name} #{action_name}" %>">
  <header class="header">
    <div class="inner">
      <a href="/" class="header-logo">Global Forest Watch</a>

      <nav class="navbar">
        <div id="google_translate_element"></div>

        <ul>
          <% paths = {
            "home" => root_path,
            "map" => map_path,
            "countries" => countries_path,
            "stories" => stories_path,
            "blog" => "http://blog.globalforestwatch.org",
            "data" => sources_path,
            "howto" => howto_path,
            "about" => about_path
          } %>

          <% %w(home map countries stories blog data howto about).each do |option| %>
            <% path = paths[option]
              option_class = request.path == path ? 'selected' : ''
              option_class = "selected" if (
                                            action_name == 'show' ||
                                            action_name == 'edit' ||
                                            action_name == 'index'
                                           ) && controller_name == 'countries' && option == 'countries' # exception
              option_class = "selected" if controller_name == 'stories' && option == 'stories' # exception
              option_class = "#{option_class} #{option}"
              option_class = "#{option_class} ajax" if (
                                                        controller_name == 'home' &&
                                                        (option == 'home' || option == 'map')
                                                       )
            %>

            <li><%= link_to (content_tag(:span, t('header.nav.' + option ))), path, :class => option_class %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="header_separator"></div>

    <div class="header-inner inner">
      <h1 class="header-title"><%= yield :title %></h1>

      <% if controller_name == 'home' %>
        <ul class="big_numbers">
          <li>
            <span class="number"><%= number_with_delimiter @alerts_count %></span>
            <p>alerts in the past year</p>
          </li>

          <li class="last">
            <span class="number"><%= @stories_count %></span>
            <p>new forest stories</p>
          </li>
        </ul>
      <% end %>

      <%= yield :inner_header %>
    </div>

    <%= yield :filters %>
  </header>

  <div class="content">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

  <div class="backdrop white_backdrop"></div>

  <%= render 'shared/js_templates' %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= controller_javascript_include_tag %>
  <%= yield :js %>
  <%= render 'shared/js_footer' %>
  <!-- translate -->
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,es,fr,id,pt,ru,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
