<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/favicons' %>

    <%= yield :head %>

    <!-- custom -->
    <link rel="canonical" href="<%= request.original_url %>" />
    <script src="https://cdn.optimizely.com/js/7988050790.js"></script>
    <%= render 'shared/gfw_assets' %>
    <%= render 'shared/cache_keys' %>
    <%= render 'shared/track' %>
    <%= render 'shared/leaflet' %>
    <%= render 'shared/google_carto' %>
    <%= javascript_entrypoint_pack_tag 'app' %>
    <% if @is_production %>
      <%= stylesheet_entrypoint_pack_tag 'app' %>
    <% end %>

  </head>
  <body>
    <div id="headerGfw"></div>
      <%= yield %>
    <div id="footerGfw"></div>
  </body>
</html>
