<!DOCTYPE html>
<html>
  <head>
    <title>Gfw</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false&language=<%= I18n.locale %>">
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "common/header" %>
    <div id="content">
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
