<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/favicons' %>

    <!-- render react app pack -->
    <%= render 'shared/tracking' %>
    <%= javascript_entrypoint_pack_tag 'app' %>
    <% if @is_production %>
      <%= stylesheet_entrypoint_pack_tag 'app' %>
    <% end %>

    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
