<!DOCTYPE html>
<!--[if lt IE 10]>      <html class="no-js lt-ie10"> <![endif]-->
<!--[if IE 10]>         <html class="no-js ie10"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= t(".title") %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">

  <!-- TODO: metas -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="DC.title" content="">
  <meta name="google-translate-customization" content="a45cf8584243ba0e-f48b15cdb6a3ab9b-gd8c738d3a7ff42de-11">
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/> 
  <meta property="og:type" content="Visualization"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "modernizr-2.6.2.min" %>
  <%= csrf_meta_tags %>

  <link rel="icon" type="image/png" href="<%= image_path 'favicon_32x32.ico' %>" />

  <% if(ENV["RAILS_ENV"] === 'production') %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1981881-32', 'gfw-beta.org');
      ga('send', 'pageview');
    </script>
  <% end %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <%= render "common/header" %>

  <%= yield :filters %>

  <div id="content">
    <%= yield %>

    <div class="splash">
      <div class="inner">
        <p>IMPORTANT NOTICE: The <strong>Global Forest Watch</strong> beta site will launch in February!  Due to the volume of changes underway, the <strong>GFW</strong> development site is closed until launch.

        <p>If you would like to receive details about the launch event or be notified when the <strong>GFW</strong> beta site goes live, send us an email to <a href="mailto:gfw@wri.org">gfw@wri.org</a>.

        <p>For media inquiries, please contact <strong>James Anderson</strong>, <em>Communications Officer, World Resources Institute</em> (<a href="mailto:janderson@wri.org">janderson@wri.org</a>, +1 (202) 729-7608).

        <p>Global Forest Watch is a new initiative that mobilizes satellite technology, open data, and human networks to monitor forests in near-real-time and support better management. It provides the most current, reliable, and spatially explicit information about what is happening in forests around the world. <strong>GFW</strong> is intended for use by governments, companies, NGOs, researchers, communities, and others seeking to better manage forests and improve local livelihoods.</p>
      </div>
    </div>
  </div>

  <%= render "common/footer" %>
  <%= render "common/js_templates" %>

  <div class="backdrop white_backdrop"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&language=<%= I18n.locale %>"></script>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript">
    var ua = $.browser;
    var userAgent = navigator.userAgent.toLowerCase();

    $.browser.chrome = /chrome/.test(navigator.userAgent.toLowerCase());

    if($.browser.chrome){
      var userAgent = userAgent.substring(userAgent.indexOf('chrome/') +7);
      ua.version = userAgent.substring(0,userAgent.indexOf('.'));
      ua.safari = false;
    }

    if((ua.msie && ua.version<10)
      || (ua.mozilla && parseFloat(ua.version.slice(0,3)) < 12)
      || (ua.safari && parseFloat(ua.version.slice(0,3)) < 534)
      || (ua.opera && parseFloat(ua.version.slice(0,3)) < 11)
      || (ua.chrome && ua.version<19)) {
      window.location.href = '/notsupportedbrowser';
    }
  </script>

  <%= yield :js %>

  <script type="text/javascript">
    <% if request.path.split("/")[1] === "map" %>
      var showMap = true;
    <% else %>
      var showMap = false;
    <% end %>
  </script>

  <!-- social -->
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>
</html>
