<!DOCTYPE html>
<html>
  <head>
    <title>Global Forest Watch 2.0</title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=<%= I18n.locale %>"></script>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.controller_name %>"<%= raw ' onload="initialize()"' if controller_name == 'maps' or controller_name == 'home' %>>
    <%= render "common/header" %>

    <div id="content">
      <%= yield %>
      <%= render "common/share" %>
    </div>

    <%= render "common/footer" %>
    <%= yield :js %>
    <%= javascript_include_tag "application" %>

    <script type="text/javascript">
      <% if request.path.split("/")[1] == "map" %>
  var showMap = true;
      <% else %>
  var showMap = false; 
     <% end %>
   </script>
 </body>
</html>
