<!DOCTYPE html>
<html>
  <head>
    <title>Gfw</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>

    <%= link_to image_tag(''), '', :id => 'logo' %>

    <%= link_to t('layouts.application.header.other_wri_sites') %>

    <nav>
    <%= link_to 'Global Forest Watch 2.0' %>
    <ul>
      <li><%= link_to t('layouts.application.header.nav.home') %>> </li>
      <li><%= link_to t('layouts.application.header.nav.countries') %>> </li>
      <li><%= link_to t('layouts.application.header.nav.map') %>> </li>
      <li><%= link_to t('layouts.application.header.nav.blog') %>> </li>
      <li><%= link_to t('layouts.application.header.nav.data_sources') %>> </li>
      <li><%= link_to t('layouts.application.header.nav.about') %>> </li>
    </ul>
    </nav>

    <h1><%= yield :title %></h1>

    </header>

    <div id="content">
      <%= yield %>
    </div>

    <footer>

    <div class="download">
      <p>
      <%= t('layouts.application.footer.download.interested_html') %>
      </p>
      <p>
      <%= t('layouts.application.footer.download.data_html') %>
      </p>
    </div>

    <div class="links">
      <%= link_to image_tag(''), '', :id => 'google' %>
      <%= link_to image_tag(''), '', :id => 'cfgd' %>
      <%= link_to image_tag(''), '', :id => 'university_maryland' %>
      <%= link_to image_tag(''), '', :id => 'imazon' %>
      <div class="wri">
        <%= link_to image_tag(''), '', :id => 'wri' %>
        <div class="address">
          <p>10 G Street NE Suite 800, Washington, DC 20002,</p>
          <p>USA / Phone +1 (202) 729-7600 / Fax +1 (202) 729-7610</p>
        </div>
      </div>
    </div>
    </footer>
  </body>
</html>
