<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".title") %></title>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&language=<%= I18n.locale %>"></script>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %>"<%= raw ' onload="initialize()"' if %w(maps home).include?(controller_name) %>>
    <%= render "common/header" %>

    <div id="content">
      <%= yield %>
      <%= render "common/share" %>
    </div>

    <%= render "common/footer" %>
    <%= javascript_include_tag "application" %>
    <%= yield :js %>

    <script type="text/javascript">
      <% if request.path.split("/")[1] == "map" %>
  var showMap = true;
      <% else %>
  var showMap = false;
     <% end %>
   </script>
 </body>
</html>
