<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= @title %> | Global Forest Watch</title>
    <meta name="description" content="<%= @desc %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Map,cartodb,Global,Forest,Watch,monitoring,real-time">
    <meta name="author" content="Simbiótica">

    <meta name="DC.title" content="<%= @title %> | Global Forest Watch">
    <meta property="og:title" content="<%= @title %> | Global Forest Watch">
    <meta property="og:description" content="<%= @desc %>">
    <meta property="og:type" content="Visualization">
    <meta property="og:url" content="http://www.globalforestwatch.org/">

    <meta name="google-translate-customization" content="af2414ea962843fc-f48b15cdb6a3ab9b-gd8c738d3a7ff42de-1a">

    <%= favicon_link_tag 'favicon.ico' %>

    <%# stylesheet_link_tag "application", :media => "all" %>
    <%= controller_stylesheet_link_tag %>
    <%# yield :css %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= "is-#{controller_name}-page is-#{action_name}-action" %>">

    <%= render "shared/notice" %>
    <%= render "shared/header" %>

    <div class="content">
      <%= yield %>
    </div>

    <!--
    <div id="sources" class='sources notranslate'>
      <%# render 'shared/sources' %>
    </div>
    -->
    <%# render 'shared/sources_infowindow' %>

    <%= render 'shared/footer' %>
    <%# render 'shared/js_templates' %>

    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places&sensor=false"></script>
    <script src="//libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>-->
    <%# javascript_include_tag 'application' %>
    <%# controller_javascript_include_tag %>
    <%# yield :js %>
    <%# render 'shared/js_footer' %>

    <% if Rails.env.production? %>
      <!-- Google analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= ENV["ANALYTICS_PROPERTY_ID"] %>', 'globalforestwatch.org');
        ga('send', 'pageview');
      </script>
    <% end %>

    <!-- Google translate -->
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,es,fr,id,pt,ru,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: '<%= ENV["ANALYTICS_PROPERTY_ID"] %>'}, 'google_translate_element');
      }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </body>
</html>
