<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/favicons' %>

    <!-- render react app pack -->
    <%= render 'shared/leaflet' %>
    <%= javascript_entrypoint_pack_tag 'app' %>

    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
