<!DOCTYPE html>
<!--[if lt IE 10]>      <html class="no-js lt-ie10"> <![endif]-->
<!--[if IE 10]>         <html class="no-js ie10"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Global Forest Watch</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">

  <!-- TODO: metas -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="DC.title" content="">
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:type" content="Visualization"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>

  <meta name="google-translate-customization" content="a45cf8584243ba0e-f48b15cdb6a3ab9b-gd8c738d3a7ff42de-11"></meta>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= controller_stylesheet_link_tag %>
  <%= javascript_include_tag "modernizr-2.6.2.min" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name} #{action_name}" %>">
  <header class="header">
    <div class="inner">
      <a href="/" class="header-logo">Global Forest Watch</a>

      <nav class="navbar">
        <div id="google_translate_element"></div>

        <ul>
          <% paths = {
            "home" => "http://www.globalforestwatch.org",
            "map" => "http://www.globalforestwatch.org/map",
            "countries" => countries_path,
            "stories" => stories_path,
            "blog" => "http://blog.globalforestwatch.org",
            "data" => sources_path,
            "howto" => howto_path,
            "about" => about_path
          } %>

          <% %w(home map countries stories blog data howto about).each do |option| %>
            <% path = paths[option]
              option_class = request.path == path ? 'selected' : ''
              option_class = "selected" if (
                                            action_name == 'show' ||
                                            action_name == 'edit' ||
                                            action_name == 'index'
                                           ) && controller_name == 'countries' && option == 'countries' # exception
              option_class = "selected" if controller_name == 'stories' && option == 'stories' # exception
              option_class = "#{option_class} #{option}"
              option_class = "#{option_class} ajax" if (
                                                        controller_name == 'home' &&
                                                        (option == 'home' || option == 'map')
                                                       )
            %>

            <li><%= link_to (content_tag(:span, t('header.nav.' + option ))), path, :class => option_class %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="header_separator"></div>

    <div class="header-inner inner">
      <h1 class="header-title"><%= yield :title %></h1>

      <% if controller_name == 'home' %>
        <ul class="big_numbers">
          <li>
            <span class="number"><%= number_with_delimiter @alerts_count %></span>
            <p>alerts in the past year</p>
          </li>

          <li class="last">
            <span class="number"><%= @stories_count %></span>
            <p>new forest stories</p>
          </li>
        </ul>
      <% end %>

      <%= yield :inner_header %>
    </div>

    <%= yield :filters %>
  </header>

  <div class="content">
    <%= yield %>
  </div>

  <footer class="site-footer">
    <div class="site-info inner">
      <div class="footer-share">
        <p>Spread the word. <strong>Share Global Forest Watch.</strong></p>

        <div class="share_buttons">
          <div id="fb-root"></div>
          <a href="http://twitter.com/share" target="_blank" class="twitter-share-button" data-url="http://www.globalforestwatch.org/" data-text="Global Forest Watch">Tweet</a>
          <div class="g-plusone" data-size="medium" data-href="http://www.globalforestwatch.org/"></div>
          <div class="fb-like" data-href="http://www.globalforestwatch.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>

      <div class="footer-address">
        <p>A partnership convened by</p>
        <a href="http://www.wri.org" class="footer-logo wri" target="_blank"></a>
        <address>
          10 G Street NE Suite 800, Washington, DC 20002, USA<br>
          <br>
          Phone +1 (202) 729-7600<br>
          Fax +1 (202) 729-7610
          Email <a href="mailto:gfw@wri.org">gfw@wri.org</a>
        </address>
      </div>

      <div class="footer-logos">
        <p>Partners</p>
        <a href="http://earthengine.google.org/" class="footer-logo google" target="_blank"></a>
        <a href="http://www.esri.com/" class="footer-logo esri" target="_blank"></a>
        <a href="http://www.geog.umd.edu/" class="footer-logo universitymaryland" target="_blank"></a>
        <a href="http://www.unep.org/" class="footer-logo unep" target="_blank"></a>
        <a href="http://www.imazon.org.br/pagina-inicial-en?set_language=en&amp;cl=en" class="footer-logo imazon" target="_blank"></a>
        <a href="http://www.cgdev.org/" class="footer-logo cfgd" target="_blank"></a>
        <a href="http://osfac.net/index.php?lang=en" class="footer-logo osfac" target="_blank"></a>
        <a href="http://globalforestwatch.ca/" class="footer-logo gfwca last" target="_blank"></a>
        <a href="http://www.scanex.ru/ru/index.html" class="footer-logo scanex" target="_blank"></a>
        <a href="http://www.transparentworld.ru/ru/" class="footer-logo twrus" target="_blank"></a>
        <a href="http://www.regjeringen.no/en/dep/md.html?id=668" class="footer-logo norwegian" target="_blank"></a>
        <a href="http://www.usaid.gov/climate/tfa2020" class="footer-logo usaid" target="_blank"></a>
        <a href="http://www.thegef.org/gef/" class="footer-logo gef" target="_blank"></a>
        <a href="http://www.gov.uk/government/organisations/department-for-international-development" class="footer-logo ukaid" target="_blank"></a>
        <a href="http://www.tiliafund.org/" class="footer-logo tilia" target="_blank"></a>
      </div>
    </div>
  </footer>

  <%= render 'shared/js_templates' %>
  <div class="backdrop white_backdrop"></div>

  <a class="feedback-link" href="https://www.surveymonkey.com/s/gfw2" target="_blank">Take the user survey</a>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= controller_javascript_include_tag %>
  <%= yield :js %>

  <!-- wri -->
  <script src="http://wri.org/wri-global-nav/wri-nav.js"></script>

  <!-- analytics -->
  <% if(ENV["RAILS_ENV"] == 'production') %>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-1981881-32');ga('send','www.globalforestwatch.org');
    </script>
  <% end %>

  <!-- translate -->
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,es,fr,id,pt,ru,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <!-- social -->
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
</body>
</html>
