<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/links' %>

    <%= stylesheet_link_tag controller_name, :media => 'all' %>

    <%= render 'shared/gfw_assets', page: controller_name %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/tracking' %>
    <%= render 'shared/favicons' %>

    <%= yield :head %>
    <%= yield :js %>
  </head>
  <body class="<%= "is-#{controller_name}-page is-#{action_name}-action" %>">
    <%= render "shared/header_landing" %>
    <%= yield %>
    <%= render 'shared/footer_landing' %>

    <%= render 'shared/icons/svg_icons' %>

    <%= requirejs_include_tag controller_name %>
  </body>
</html>
