<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".title") %></title>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&language=<%= I18n.locale %>"></script>
    <link rel="icon"type="image/png" href="<%= image_path 'favicon_32x32.ico' %>" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>"<%= raw ' onload="loadGFW()"' unless %w(maps home).include?(controller_name) or (action_name == "index" and controller_name == "countries") %><%= raw ' onload="initialize()"' if %w(maps home).include?(controller_name) %>>
    <%= render "common/header" %>

    <div id="content">
      <%= yield %>
      <%= render "common/share" %>
    </div>

    <%= render "common/subscribe" %>
    <%= render "common/analysis" %>

    <%= yield :filters %>

    <%= render "common/footer" %>
    <%= render "common/js_templates" %>
    <%= javascript_include_tag "application" %>

    <%= yield :js %>

    <script type="text/javascript">
      <% if request.path.split("/")[1] == "map" %>
        var showMap = true;
      <% else %>
        var showMap = false;
      <% end %>
    </script>
  </body>
</html>
