<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SEO -->
    <title><%= title(@actual_path) %></title>
    <meta name="keywords" content="<%= @keywords %>">
    <meta name="author" content="World Resources Institute">
    <meta name="description" content='<%= description(@actual_path) %>' />
    <meta name="twitter:creator" content="@globalforests" />
    <meta name="twitter:description" content='<%= description(@actual_path) %>' />
    <meta name="twitter:image:src" content='<%= image_src(@actual_path) %>' />
    <meta property="og:description" content='<%= description(@actual_path) %>' />
    <meta property="og:title" content='<%= title(@actual_path) %>' />
    <meta property="og:type" content="website" />
    <meta property="og:image" content='<%= image_src(@actual_path) %>'>
    <meta property="og:url" content='<%= asset_url(@actual_path) %>' />

    <link rel="canonical" href="<%= request.original_url %>" />

    <meta name="google-translate-customization" content="95a31ce28e08eaf2-a31ff49177f3ed6f-g9553d70b9ef10300-15"></meta>
    <meta name="google-site-verification" content="xx82D6cZ40Hvf-TT9jkhfsVi11yIeShPcK0zcc7m7ak" />

    <%= csrf_meta_tags %>
    <%= render 'shared/icons' %>

    <%= yield :js %>
    <script src="https://cdn.optimizely.com/js/7988050790.js"></script>

    <%= javascript_pack_tag 'country' %>
    <%= stylesheet_pack_tag 'country' %>
  </head>
  <body>
    <%= render 'shared/google_v3_30_carto' %>
    <%= render 'shared/track' %>
    <%= yield %>
    <div id="footerGfw"></div>
  </body>
</html>
