<!DOCTYPE html>
<html>
  <head>
    <title>Gfw</title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=<%= I18n.locale %>"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body onload="prettyPrint()"; class="<%= controller.controller_name %>">
    <div id="content">
      <%= yield %>
    </div>
    <%= yield :js %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "demo" %>
    <%= javascript_include_tag "prettify" %>
  </body>
</html>
