<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
<head>
  <%= render 'shared/meta' %>
  <%= render 'shared/links' %>
  <%= render 'shared/track' %>
  <%= render 'shared/favicons' %>

  <%= stylesheet_link_tag controller_name, :media => 'all' %>
  <%= yield :css %>
  <style>
    body {
      border: 0;
      overflow: hidden;
    }

    .footer {
      margin: 0;
      padding: 20px;
      background: #FFF;
      color: #999;
      border-top: 1px solid #CCC;
      z-index: 100;
      position: relative;
      z-index: 300;
    }
    .footer a{
      margin: 0 auto;
      display: block;
      max-width: 300px;
    }
    .show_graph_source {
      font-size: 10px;
      position: absolute;
      bottom: 100%;
      left: 0;
      padding: 4px;
      color: #FFF;
    }

    .left { float: left; }
    .right { float: right; }
  </style>

  <%= javascript_include_tag 'modernizr-2.6.2.min' %>
  <%= render 'shared/js_config' %>
</head>
<body class='<%= "#{controller_name} #{action_name}" %>'>
  <%= yield :title %>

  <%= yield %>

  <footer class="footer">
    <div class="show_graph_source">Source: Hansen/UMD/Google/USGS/NASA</div>
  <% if @country %>
    <a class="btn green uppercase full-width" href="http://globalforestwatch.org/country/<%= @country['iso']%>" target="_blank">View on GFW</a>
  <% else %>
    <a class="btn green uppercase full-width" href="http://globalforestwatch.org/countries/overview%>" target="_blank">View on GFW</a>
  <% end %>
  </footer>
  <div class="backdrop"></div>
  <%= render 'shared/js_templates' %>

  <%= render 'shared/google_carto' %>
  <%= requirejs_include_tag "countries" %>
  <%= render 'shared/js_footer' %>
</body>
</html>
