<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Global Forest Watch</title>

  <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,300' rel='stylesheet' type='text/css'>


  <meta name='description' content='Global Forest Watch (GFW) is a partnership that provides the most current, reliable, and actionable information about what is happening in forests worldwide.'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='robots' content='noindex'>
  <meta name="google-site-verification" content="xx82D6cZ40Hvf-TT9jkhfsVi11yIeShPcK0zcc7m7ak" />
  <%= favicon_link_tag 'favicon.ico' %>

  <%= controller_stylesheet_link_tag %>
  <%= yield :css %>
  <style>
    body {
      border: 0;
      overflow: hidden;
    }

    .footer {
      right: 0; bottom: 0; left: 0;
      margin: 0;
      padding: 0 7px;
      background: #FFF;
      font: normal 11px "Helvetica", Arial;
      color: #999;
      border-top: 1px solid #CCC;
      line-height: 29px;
      z-index: 100;
    }
    .footer a{
      color: #9FBA2B;
    }
    .footer a:hover{
      color: #BAE458;
    }

    .left { float: left; }
    .right { float: right; }
  </style>

  <%= javascript_include_tag 'modernizr-2.6.2.min' %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller_name} #{action_name}" %>'>
  <%= yield :title %>

  <%= yield %>

  <footer class="footer">
    <%= link_to 'www.globalforestwatch.org', root_path, :target => '_blank', :class=> 'left' %>
    <p class="right">
      <% if (!request.original_url.include?("&begin") && !request.original_url.include?("&date")) %>
        Time range:
        <% if (request.original_url.include?("/loss")) %>
          Jan 2000, Jan 2013 (loss layer).
        <% elsif (request.original_url.include?("/forma")) %>
          Jan 2006, Dec 2014.
        <% elsif (request.original_url.include?("/imazon")) %>
          2007, 2014.
        <% elsif (request.original_url.include?("/modis")) %>
          Oct-Dec 2013.
        <% elsif (request.original_url.include?("/fires")) %>
          Last 8 days.
        <% end %>
      <% end %>
    </p>
    <p class="right">
      <%= link_to 'Explore this map', (request.original_url.sub! 'embed/', ''), :target => '_blank' %>. Find out what is happening in forests right now.
    </p>
  </footer>
  <div class="backdrop"></div>
  <%= render 'shared/js_templates' %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing,geometry&sensor=false"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <%= requirejs_include_tag "countries" %>
  <%= render 'shared/js_footer' %>
</body>
</html>
