<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Global Forest Watch</title>
  <meta name='description' content='Global Forest Watch (GFW) is a partnership that provides the most current, reliable, and actionable information about what is happening in forests worldwide.'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='robots' content='noindex'>

  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "countries" %>
  <style>
    body { border: 0; }
    .overview_graph { margin: 0; }
    .overview_graph__title,
    .countries_list { display: none; }
  </style>
  <%= javascript_include_tag 'modernizr-2.6.2.min' %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller_name} #{action_name}" %>'>
  <%= yield %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "iframe" %>
  <%= yield :js %>
</body>
</html>