<!DOCTYPE html>
<!--[if lt IE 10]>      <html class="no-js lt-ie10"> <![endif]-->
<!--[if IE 10]>         <html class="no-js ie10"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= yield :filters %></title>
  <!-- title>Oops, your browser isn't supported</title -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "modernizr-2.6.2.min" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>