<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Global Forest Watch</title>
  <meta name='description' content='Global Forest Watch (GFW) is a partnership that provides the most current, reliable, and actionable information about what is happening in forests worldwide.'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='robots' content='noindex'>

  <meta name="google-translate-customization" content="af2414ea962843fc-f48b15cdb6a3ab9b-gd8c738d3a7ff42de-1a"></meta>
  <meta name="google-site-verification" content="xx82D6cZ40Hvf-TT9jkhfsVi11yIeShPcK0zcc7m7ak" />
  <%= favicon_link_tag 'favicon.ico' %>

  <%# stylesheet_link_tag 'application', :media => 'all' %>
  <%= stylesheet_link_tag 'static' %>
  <%= javascript_include_tag 'modernizr-2.6.2.min' %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller_name} #{action_name}" %>'>
  <header class='header'>
    <div class='inner'>
      <a href='/' class='header-logo'>Global Forest Watch</a>

      <nav class='navbar'><ul>
        <% if action_name == 'old' || action_name == 'accept_terms' %>
          <div id="google_translate_element"></div>
        <% else %>
          <li><%= link_to (content_tag(:span, 'Back to the home page')), root_path %></li>
        <% end %>
      </ul></nav>
    </div>

    <div class='header_separator'></div>

    <div class='header-inner inner'>
      <%= yield :title %>
    </div>
  </header>

  <div class='content'>
    <section class='map-container'>
      <div id='map' class='map'></div>
    </section>

    <div class='inner container-inner<%= action_name == "old" ? " not_supported" : "" %>'>
      <%= yield %>
    </div>
  </div>

  <%= render 'shared/footer' %>

  <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=false' ></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'old' %>
  <%= yield :js %>
  <%= render 'shared/js_footer' %>
</body>
</html>
