<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/favicons' %>

    <%= yield :head %>

    <!-- custom -->
    <link rel="canonical" href="<%= request.original_url %>" />
    <script src="https://cdn.optimizely.com/js/7988050790.js"></script>
    <%= render 'shared/cache_keys' %>
    <%= render 'shared/track' %>
    <%= render 'shared/leaflet' %>
    <%= javascript_entrypoint_pack_tag 'app' %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
