{{#if stories}}
  {{#each stories}}
    <li>
      <a href="{{this.link}}">
        {{#if this.map}}
          <figure><div class="bg" style="background-image: url({{this.map}})"></div></figure>
        {{else}}
          <figure><div class="bg {{this.avatar}}"></div></figure>
        {{/if}}
        <article class="info">
          <h4>{{this.title}}</h4>
          <p>{{this.description}}</p>
          <button class="btn gray medium">More</button>
        </article>
      </a>
    </li>
  {{/each}}
{{/if}}
